<h1>2. fáza - predspracovanie dát</h1>

In [259]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

import re

In [260]:
def splitPersonalInfo(dataO):
    temp = dataO['personal_info'].str.split("\r\r\n|--|\\|", expand = True)
    dataO['ethn'] = temp[0]
    dataO['state'] = temp[1]
    dataO['edu'] = temp[2]
    dataO['status'] = temp[3]
    dataO['fam_memb'] = temp[4] 
    dataO.drop(['personal_info'], axis = 1, inplace = True)

In [261]:
def fusionDuplicates(datasetO):
    duplicat = datasetO[datasetO['name'].duplicated(keep=False)]
    duplicat = duplicat.sort_values('name')
    duplicat = duplicat.reset_index(drop=True)
    
    for i, row in duplicat.iterrows():
        if(i%2==1):
            duplicat = duplicat.drop(i)
            continue
        for j, value in row.items():
            dupValue = duplicat.loc[i+1,j]
            if(pd.isna(value)):
                duplicat.loc[i,j]=dupValue
    datasetO.drop_duplicates(subset='name',keep=False,inplace=True)
    result = datasetO.append(duplicat, ignore_index=True)
    return(result)

In [262]:
def correctValuesO(dataset):
    for col in dataset.columns:
        if(dataset[col].dtype != np.object):
           continue
        dataset[col] = dataset[col].str.replace('_','-')
        dataset[col] = dataset[col].replace(to_replace = r'.*\?.*', value = np.nan, regex = True)
        dataset[col] = dataset[col].replace(to_replace = r'[Nn][Aa][Nn]', value = np.nan, regex = True)
        dataset[col] = dataset[col].replace(['T','F'], ['t', 'f'])
        dataset[col] = dataset[col].replace(to_replace = r'[Tt][Rr][Uu][Ee]', value = 't', regex = True)
        dataset[col] = dataset[col].replace(to_replace = r'[Ff][Aa][Ll][Ss][Ee]', value = 'f', regex = True)

def correctDates(series):
    s = series.str.split("-", expand = True)
    x = 0
    while(x<len(series)):
#        print(str(x)+" "+s.iloc[x])
        if(re.match(r'^[0-9][0-9]-[0-9][0-9]-[0-9][0-9]$', series.loc[x])):
            if(s.iloc[x][0][:1]=='0'):
                series.loc[x] = "20"+s.iloc[x][0]+"-"+s.iloc[x][1]+"-"+s.iloc[x][2][0:2]
            else:
                series.loc[x] = "19"+s.iloc[x][0]+"-"+s.iloc[x][1]+"-"+s.iloc[x][2][0:2]
#            x += 1
#            continue
         #if(len(s.iloc[x][2])>2):
         #   series.loc[x] = s.iloc[x][0]+"-"+s.iloc[x][1]+"-"+s.iloc[x][2][:2]
        if(re.match(r'^[0-9][0-9]-[0-9][0-9]-[0-9][0-9][0-9][0-9]$', series.loc[x])):
            y = s.iloc[x][0]
            s.iloc[x][0] = s.iloc[x][2]
            s.iloc[x][2] = y
            series.loc[x] = s.iloc[x][0]+"-"+s.iloc[x][1]+"-"+s.iloc[x][2][0:2]
        if(len(series.loc[x])>10):
            series.loc[x] = series.loc[x][0:10]
        x += 1
        
def correctValuesP(dataset):
    for col in dataset.columns:
        if(dataset[col].dtype != np.object):
           continue
        dataset[col] = dataset[col].str.replace('/','-')    
    correctDates(dataset["date_of_birth"])

In [263]:
def fusionDatasets(dataset1, dataset2):
    newDS = dataset1.merge(dataset2, on='name',how ='left')
    newDS = newDS.drop(columns=['name', 'address_x', 'address_y'])
    return newDS

In [264]:
dataP = pd.read_csv("personal_train.csv", index_col=0)
dataO = pd.read_csv("other_train.csv", index_col=0)

In [265]:
splitPersonalInfo(dataO)

In [266]:
dataP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3933 entries, 0 to 3932
Data columns (total 5 columns):
name             3933 non-null object
address          3933 non-null object
age              3933 non-null int64
sex              3933 non-null object
date_of_birth    3933 non-null object
dtypes: int64(1), object(4)
memory usage: 184.4+ KB

In [267]:
dataO.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3983 entries, 0 to 3982
Data columns (total 25 columns):
name                3983 non-null object
address             3983 non-null object
kurtosis_oxygen     3709 non-null object
occupation          3974 non-null object
pregnant            3967 non-null object
education-num       3964 non-null float64
skewness_glucose    3970 non-null float64
mean_glucose        3573 non-null float64
std_oxygen          3967 non-null float64
capital-gain        3970 non-null float64
skewness_oxygen     3969 non-null float64
kurtosis_glucose    3965 non-null float64
fnlwgt              3974 non-null float64
class               3972 non-null float64
std_glucose         3964 non-null float64
income              3967 non-null object
mean_oxygen         3971 non-null float64
hours-per-week      3969 non-null float64
capital-loss        3971 non-null float64
workclass           3961 non-null object
ethn                3968 non-null object
state               3968 non-null object
edu                 3968 non-null object
status              3968 non-null object
fam_memb            3968 non-null object
dtypes: float64(13), object(12)
memory usage: 809.0+ KB

In [268]:
len(dataO.name.unique())

3933

In [269]:
namesO = dataO["name"].unique().sort()

In [270]:
namesP = dataP["name"].unique().sort()

In [271]:
np.array_equal(namesO, namesP)

True

In [272]:
dataO.head()

,name,address,kurtosis_oxygen,occupation,pregnant,education-num,skewness_glucose,mean_glucose,std_oxygen,capital-gain,...,income,mean_oxygen,hours-per-week,capital-loss,workclass,ethn,state,edu,status,fam_memb
0,Daniel Love,"126 Ramirez Roads\r\nNew Jayville, IL 18861",10.58036423,Sales,f,9.0,3.158830,85.859375,14.121127,0.0,...,>50K,1.857860,40.0,1902.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
1,Roy Paradis,"01168 Stark Pine Apt. 583\r\nDavidville, IN 32044",3.713364594,Craft-repair,f,9.0,1.234184,91.679688,36.946291,0.0,...,<=50K,10.001672,40.0,2002.0,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
2,Charles Chen,"09482 Horne Lakes Apt. 373\r\nEast Brian, TN 2...",6.478064004,Handlers-cleaners,f,9.0,1.872355,89.960938,22.646980,0.0,...,<=50K,4.134615,48.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3,Chester Holmes,"720 Harris Turnpike Suite 732\r\nEast Sierra, ...",??,Sales,f,10.0,0.395583,NaN,14.001759,0.0,...,>50K,1.849498,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
4,James Ayala,Unit 3230 Box 9523\r\nDPO AA 55810,NaN,Transport-moving,f,9.0,0.493384,94.593750,29.361953,0.0,...,<=50K,5.739130,40.0,0.0,Private,Amer-Indian-Eskimo,United-States,HS-grad,Married-civ-spouse,Husband

In [273]:
    dataOtypes = dataO["kurtosis_oxygen"].str.isdecimal()

In [274]:
dataOtypes.shape

(3983,)

In [275]:
dataOtypes.head()

0    False
1    False
2    False
3    False
4      NaN
Name: kurtosis_oxygen, dtype: object

In [276]:
duplNames = dataO[dataO['name'].duplicated(keep=False)]
duplNames.sort_values('name')

,name,address,kurtosis_oxygen,occupation,pregnant,education-num,skewness_glucose,mean_glucose,std_oxygen,capital-gain,...,income,mean_oxygen,hours-per-week,capital-loss,workclass,ethn,state,edu,status,fam_memb
3718,Andrew Lawson,57159 Christopher Throughway Apt. 388\r\nWest ...,10.56049223,NaN,f,NaN,2.486716,87.585938,16.756233,0.0,...,>50K,2.035117,40.0,0.0,NaN,White,United-States,Bachelors,Married-civ-spouse,Husband
1298,Andrew Lawson,57159 Christopher Throughway Apt. 388\r\nWest ...,10.56049223,Sales,f,13.0,2.486716,87.585938,16.756233,NaN,...,NaN,2.035117,40.0,0.0,Private,White,United-States,Bachelors,Married-civ-spouse,Husband
3402,Andrew Olmstead,"519 Christopher Loop Suite 282\r\nRachelside, ...",6.9289193560000015,Craft-repair,f,9.0,0.548669,NaN,26.559749,0.0,...,<=50K,4.382943,52.0,0.0,NaN,White,United-States,HS-grad,Married-civ-spouse,Husband
281,Andrew Olmstead,"519 Christopher Loop Suite 282\r\nRachelside, ...",6.9289193560000015,NaN,f,NaN,0.548669,NaN,26.559749,0.0,...,<=50K,4.382943,52.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3851,Antonio Bailey,"29028 Bowman Parkways\r\nKerrview, FL 57851",0.368701087,Sales,f,6.0,10.093518,57.312500,79.734804,0.0,...,<=50K,96.128763,40.0,NaN,Self-emp-inc,White,Canada,10th,Widowed,Unmarried
2222,Antonio Bailey,"29028 Bowman Parkways\r\nKerrview, FL 57851",0.368701087,Sales,NaN,NaN,10.093518,57.312500,79.734804,NaN,...,<=50K,NaN,40.0,0.0,Self-emp-inc,White,Canada,10th,Widowed,Unmarried
2606,Antonio Rowan,"016 Jacob Tunnel Apt. 031\r\nAmandabury, CA 37683",??,Handlers-cleaners,f,9.0,0.208850,128.968750,15.056887,0.0,...,NaN,1.887960,45.0,0.0,Private,NaN,NaN,NaN,NaN,NaN
1987,Antonio Rowan,"016 Jacob Tunnel Apt. 031\r\nAmandabury, CA 37683",??,Handlers-cleaners,NaN,9.0,0.208850,128.968750,15.056887,0.0,...,<=50K,1.887960,45.0,0.0,Private,Black,United-States,HS-grad,Separated,Unmarried
3947,Ben Nelson,"45315 Obrien Inlet\r\nCynthiaport, OH 63603",22.14937084,Transport-moving,f,9.0,1.137467,92.804688,9.089983,0.0,...,>50K,0.511706,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
956,Ben Nelson,"45315 Obrien Inlet\r\nCynthiaport, OH 63603",22.14937084,Transport-moving,f,9.0,NaN,NaN,NaN,0.0,...,>50K,0.511706,40.0,0.0,Private,NaN,NaN,NaN,NaN,NaN
3274,Charles Pollack,"5703 Wilson Union Apt. 105\r\nStevenhaven, NJ ...",2.3511303530000003,Exec-managerial,t,11.0,1.789749,105.523438,55.529609,0.0,...,NaN,23.042642,NaN,0.0,Private,White,United-States,Assoc-voc,Divorced,Unmarried
3024,Charles Pollack,"5703 Wilson Union Apt. 105\r\nStevenhaven, NJ ...",2.3511303530000003,Exec-managerial,t,NaN,1.789749,105.523438,55.529609,0.0,...,NaN,23.042642,45.0,0.0,Private,White,United-States,Assoc-voc,Divorced,Unmarried
918,Craig Solomon,"PSC 7142, Box 7999\r\nAPO AA 51659",9.046560192000001,Sales,f,10.0,0.191146,NaN,15.941463,NaN,...,<=50K,NaN,22.0,0.0,NaN,White,United-States,Some-college,Never-married,Own-child
6,Craig Solomon,"PSC 7142, Box 7999\r\nAPO AA 51659",9.046560192000001,Sales,f,10.0,0.191146,NaN,15.941463,0.0,...,<=50K,2.176421,NaN,0.0,Private,White,United-States,Some-college,Never-married,Own-child
2340,David Arebalo,"0519 Cassie Orchard\r\nNew John, TX 71955",1.28418567,Exec-managerial,f,10.0,-0.201500,124.132812,80.684349,NaN,...,>50K,45.673077,50.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
1791,David Arebalo,"0519 Cassie Orchard\r\nNew John, TX 71955",1.28418567,Exec-managerial,f,NaN,-0.201500,124.132812,80.684349,0.0,...,NaN,45.673077,NaN,NaN,Private,White,United-States,Some-college,Married-civ-spouse,Husband
636,David Jones,"2455 Richardson Forks\r\nNorth Seanside, AL 57677",8.815196362,Prof-specialty,NaN,14.0,0.069518,139.898438,18.166055,0.0,...,<=50K,NaN,40.0,0.0,Local-gov,White,United-States,Masters,Married-civ-spouse,Husband
1813,David Jones,"2455 Richardson Forks\r\nNorth Seanside, AL 57677",8.815196362,Prof-specialty,f,14.0,0.069518,139.898438,18.166055,0.0,...,<=50K,2.482441,NaN,0.0,Local-gov,White,United-States,Masters,Married-civ-spouse,Husband
3878,David Short,"42574 Sutton Parkway\r\nPedromouth, OH 97593",NaN,Prof-specialty,f,14.0,30.428177,31.601562,62.868452,0.0,...,>50K,33.494983,30.0,0.0,Self-emp-not-inc,White,?,Masters,Married-civ-spouse,Husband
477,David Short,"42574 Sutton Parkway\r\nPedromouth, OH 97593",NaN,Prof-specialty,NaN,14.0,30.428177,31.601562,62.868452,0.0,...,>50K,33.494983,30.0,NaN,Self-emp-not-inc,NaN,NaN,NaN,NaN,NaN
3241,Donald Doyle,"48674 Sherry Alley Suite 529\r\nWest Nicholas,...",NaN,Sales,FALSE,NaN,NaN,111.320312,20.223886,0.0,...,NaN,2.982441,40.0,0.0,Private,NaN,NaN,NaN,NaN,NaN
174,Donald Doyle,"48674 Sherry Alley Suite 529\r\nWest Nicholas,...",NaN,Sales,FALSE,9.0,0.121351,111.320312,20.223886,0.0,...,<=50K,2.982441,40.0,NaN,Private,White,United-States,HS-grad,Never-married,Other-relative
514,Doyle Jenkins,"51959 Hawkins Stravenue\r\nWest Randy, MD 64351",2.961762332,Exec-managerial,f,13.0,0.021654,108.421875,55.631299,0.0,...,NaN,17.905518,40.0,0.0,Private,Asian-Pac-Islander,Philippines,Bachelors,Never-married,Not-in-family
2984,Doyle Jenkins,"51959 Hawkins Stravenue\r\nWest Randy, MD 64351",2.961762332,Exec-managerial,f,13.0,0.021654,108.421875,55.631299,0.0,...,<=50K,17.905518,NaN,0.0,Private,Asian-Pac-Islander,Philippines,Bachelors,Never-married,Not-in-family
2540,George Gilpatrick,"2906 Mitchell Crest Apt. 568\r\nHollyton, OH 4...",15.88535622,Farming-fishing,f,9.0,-0.544716,127.703125,12.709748,0.0,...,<=50K,1.107860,NaN,0.0,Local-gov,White,United-States,HS-grad,Never-married,Own-child
1277,George Gilpatrick,"2906 Mitchell Crest Apt. 568\r\nHollyton, OH 4...",15.88535622,Farming-fishing,NaN,9.0,-0.544716,127.703125,12.709748,0.0,...,<=50K,1.107860,20.0,NaN,Local-gov,NaN,NaN,NaN,NaN,NaN
3204,George Smith,"69758 Barnett Canyon Apt. 635\r\nVirginialand,...",8.108129205,Transport-moving,NaN,NaN,NaN,NaN,18.566882,0.0,...,<=50K,2.998328,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
2779,George Smith,"69758 Barnett Canyon Apt. 635\r\nVirginialand,...",8.108129205,Transport-moving,f,9.0,-0.034614,114.664062,18.566882,0.0,...,<=50K,2.998328,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
294,Gordon Funderburk,Unit 9139 Box 5625\r\nDPO AP 85541,4.847933096,Exec-managerial,f,9.0,-0.699649,NaN,34.186123,0.0,...,<=50K,7.177258,40.0,0.0,Local-gov,White,United-States,HS-grad,Widowed,Not-in-family
3010,Gordon Funderburk,Unit 9139 Box 5625\r\nDPO AP 85541,4.847933096,Exec-managerial,f,9.0,-0.699649,NaN,NaN,0.0,...,<=50K,NaN,40.0,0.0,NaN,White,United-States,HS-grad,Widowed,Not-in-family
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2267,Mike Murdock,"842 Scott Road\r\nWest Michael, ND 69887",NaN,Sales,NaN,13.0,-0.265510,136.914062,20.745736,NaN,...,NaN,3.691472,35.0,0.0,Private,Black,United-States,Bachelors,Never-married,Unmarried
2201,Mike Murdock,"842 Scott Road\r\nWest Michael, ND 69887",NaN,Sales,f,13.0,-0.265510,136.914062,20.745736,0.0,...,>50K,NaN,35.0,0.0,NaN,Black,United-States,Bachelors,Never-married,Unmarried
2976,Mike Rm,"8317 Sarah Streets Apt. 987\r\nWrighttown, NY ...",12.28357567,Transport-moving,f,5.0,-0.463015,117.078125,14.469198,0.0,...,>50K,1.468227,70.0,0.0,Self-emp-not-inc,White,United-States,9th,Married-civ-spouse,Husband
1554,Mike Rm,"8317 Sarah Streets Apt. 987\r\nWrighttown, NY ...",NaN,Transport-moving,f,NaN,NaN,NaN,14.469198,0.0,...,>50K,1.468227,NaN,0.0,Self-emp-not-inc,White,United-States,9th,Married-civ-spouse,Husband
3634,Paul Ladd,USNS Townsend\r\nFPO AE 97197,6.062392209,Sales,f,9.0,2.179898,94.218750,29.733092,NaN,...,NaN,5.266722,25.0,NaN,NaN,White,United-States,HS-grad,Never-married,Own-child
84,Paul Ladd,USNS Townsend\r\nFPO AE 97197,6.062392209,Sales,f,9.0,2.179898,94.218750,29.733092,0.0,...,<=50K,5.266722,25.0,0.0,Private,White,United-States,HS-grad,Never-married,Own-child
3441,Randall Mellett,"941 Woods Walks Suite 315\r\nNorth Andrealand,...",6.773794869,Sales,f,NaN,-0.104047,127.546875,NaN,NaN,...,<=50K,4.233278,45.0,0.0,Private,NaN,NaN,NaN,NaN,NaN
124,Randall Mellett,"941 Woods Walks Suite 315\r\nNorth Andrealand,...",6.773794869,Sales,f,10.0,-0.104047,127.546875,25.401128,0.0,...,<=50K,4.233278,45.0,0.0,Private,White,United-States,Some-college,Never-married,Not-in-family
1856,Raymond Goode,"0705 Heather Mountain\r\nFloresmouth, FL 91113",8.074870162,Craft_repair,f,NaN,NaN,NaN,NaN,0.0,...,<=50K,NaN,32.0,0.0,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
3162,Raymond Goode,"0705 Heather Mountain\r\nFloresmouth, FL 91113",8.074870162,Craft_repair,f,9.0,1.290224,89.437500,18.902544,0.0,...,<=50K,2.625418,32.0,0.0,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
826,Robert Lackey,"94782 Ortega Summit\r\nNew Andrewmouth, MN 99751",8.466196457999999,Other-service,f,9.0,NaN,NaN,17.515368,0.0,...,<=50K,2.780936,25.0,0.0,Private,White,United-States,HS-grad,Never-married,Other-relative
3785,Robert Lackey,"94782 Ortega Summit\r\nNew Andrewmouth, MN 99751",8.466196457999999,Other-service,f,9.0,0.492993,NaN,NaN,0.0,...,<=50K,2.780936,25.0,0.0,NaN,White,United-States,HS-grad,Never-married,Other-relative
1961,Russell Coleman,"PSC 1977, Box 7638\r\nAPO AE 29246",0.48443973,Sales,f,13.0,13.105819,17.023438,66.372428,0.0,...,<=50K,95.912207,NaN,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
1874,Russell Coleman,"PSC 1977, Box 7638\r\nAPO AE 29246",0.48443973,Sales,f,13.0,13.105819,NaN,NaN,0.0,...,<=50K,95.912207,40.0,NaN,Private,White,United-States,Bachelors,Never-married,Not-in-family
2159,Salvador Donnell,"287 Jessica Springs Apt. 923\r\nSantanaton, ND...",7.151723994,Prof-specialty,FALSE,NaN,0.108239,115.875000,22.170373,0.0,...,>50K,3.521739,42.0,0.0,Private,White,United-States,Masters,Married-civ-spouse,Husband
1241,Salvador Donnell,"287 Jessica Springs Apt. 923\r\nSantanaton, ND...",7.151723994,NaN,FALSE,14.0,0.108239,115.875000,NaN,NaN,...,>50K,3.521739,42.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2978,Steven Jacobs,"84245 Williamson Trail\r\nEast Pamelaside, AL ...",6.633057813,Prof-specialty,NaN,14.0,1.477925,88.710938,NaN,0.0,...,<=50K,NaN,50.0,0.0,NaN,White,United-States,Masters,Married-civ-spouse,Husband
1921,Steven Jacobs,"84245 Williamson Trail\r\nEast Pamelaside, AL ...",6.633057813,Prof-specialty,f,14.0,1.477925,88.710938,25.308950,0.0,...,<=50K,4.444816,50.0,0.0,State-gov,White,United-States,Masters,Married-civ-spouse,Husband
2999,Tim Price,"4811 Raymond Locks Suite 069\r\nEast Michael, ...",15.36988913,Prof-specialty,NaN,13.0,NaN,125.625000,11.701942,NaN,...,>50K,1.147993,40.0,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
3077,Tim Price,"4811 Raymond Locks Suite 069\r\nEast Michael, ...",15.36988913,Prof-specialty,t,13.0,-0.191658,125.625000,NaN,0.0,...,>50K,1.147993,40.0,NaN,Private,White,United-States,Bachelors,Never-married,Not-in-family
2818,Virgil Selman,66909 Frederick Path Apt. 504\r\nPort Jennifer...,NaN,Sales,f,7.0,-0.025640,NaN,10.809350,0.0,...,<=50K,NaN,15.0,0.0,Private,White,United-States,11th,Never-married,Own-child
3480,Virgil Selman,66909 Frederick Path Apt. 504\r\nPort Jennifer...,NaN,Sales,f,7.0,-0.025640,111.601562,10.809350,0.0,...,<=50K,1.607860,15.0,0.0,Private,White,United-States,11th,Never-married,Own-child
2474,William Glover,"655 Cody River Suite 554\r\nNorth Colton, DC 2...",NaN,Sales,f,9.0,-0.172403,138.429688,12.075740,0.0,...,<=50K,1.458194,40.0,0.0,NaN,White,United-States,HS-grad,Married-civ-spouse,Husband
2372,William Glover,"655 Cody River Suite 554\r\nNorth Colton, DC 2...",12.39898059,NaN,f,9.0,-0.172403,138.429688,12.075740,0.0,...,<=50K,1.458194,40.0,0.0,NaN,White,United-States,HS-grad,Married-civ-spouse,Husband
2423,William Hicks,"66744 Tiffany Shores Apt. 950\r\nNew Timothy, ...",2.45648463,Prof-specialty,f,14.0,31.058851,33.226562,57.705184,NaN,...,<=50K,26.705686,40.0,0.0,Federal-gov,White,United-States,Masters,Married-civ-spouse,Husband
1683,William Hicks,"66744 Tiffany Shores Apt. 950\r\nNew Timothy, ...",NaN,Prof-specialty,f,NaN,31.058851,33.226562,57.705184,0.0,...,<=50K,26.705686,40.0,0.0,NaN,White,United-States,Masters,Married-civ-spouse,Husband
2575,William Joecks,"089 Sherry Hollow Suite 058\r\nBrianberg, CT 0...",NaN,Other-service,f,NaN,-0.220297,117.601562,83.396249,0.0,...,<=50K,NaN,15.0,0.0,Private,White,United-States,11th,Never-married,Own-child
2280,William Joecks,"089 Sherry Hollow Suite 058\r\nBrianberg, CT 0...",??,Other-service,f,7.0,-0.220297,117.601562,83.396249,0.0,...,<=50K,79.782609,NaN,0.0,Private,White,United-States,11th,Never-married,Own-child
2259,William Stone,"535 Cabrera Wall Apt. 927\r\nEast David, TX 70904",NaN,Adm-clerical,f,9.0,-0.391453,118.609375,NaN,0.0,...,NaN,6.880435,35.0,0.0,Local-gov,Black,United-States,HS-grad,Divorced,Unmarried
1236,William Stone,"535 Cabrera Wall Apt. 927\r\nEast David, TX 70904",NaN,Adm-clerical,f,NaN,-0.391453,118.609375,31.452809,0.0,...,<=50K,6.880435,35.0,0.0,NaN,Black,United-States,HS-grad,Divorced,Unmarried

Po vypísani duplicitných mien sme zistili, že zlúčením týchto duplikátov vieme vyplniť chýbajúce hodnoty. Zároveň hodnoty, ktoré majú oba duplikáty sú rovnaké.

In [277]:
dataO=fusionDuplicates(dataO)
dataO

,name,address,kurtosis_oxygen,occupation,pregnant,education-num,skewness_glucose,mean_glucose,std_oxygen,capital-gain,...,income,mean_oxygen,hours-per-week,capital-loss,workclass,ethn,state,edu,status,fam_memb
0,Daniel Love,"126 Ramirez Roads\r\nNew Jayville, IL 18861",10.58036423,Sales,f,9.0,3.158830,85.859375,14.121127,0.0,...,>50K,1.857860,40.0,1902.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
1,Roy Paradis,"01168 Stark Pine Apt. 583\r\nDavidville, IN 32044",3.713364594,Craft-repair,f,9.0,1.234184,91.679688,36.946291,0.0,...,<=50K,10.001672,40.0,2002.0,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
2,Charles Chen,"09482 Horne Lakes Apt. 373\r\nEast Brian, TN 2...",6.478064004,Handlers-cleaners,f,9.0,1.872355,89.960938,22.646980,0.0,...,<=50K,4.134615,48.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3,Chester Holmes,"720 Harris Turnpike Suite 732\r\nEast Sierra, ...",??,Sales,f,10.0,0.395583,NaN,14.001759,0.0,...,>50K,1.849498,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
4,James Ayala,Unit 3230 Box 9523\r\nDPO AA 55810,NaN,Transport-moving,f,9.0,0.493384,94.593750,29.361953,0.0,...,<=50K,5.739130,40.0,0.0,Private,Amer-Indian-Eskimo,United-States,HS-grad,Married-civ-spouse,Husband
5,Todd Flanagan,"2167 Wells Shoals Apt. 264\r\nEast Brianshire,...",6.384963147000001,?,f,9.0,-0.303185,125.742188,29.664529,0.0,...,<=50K,4.951505,15.0,0.0,?,White,United-States,HS-grad,Married-civ-spouse,Own-child
6,James Huffman,"535 Michael Squares\r\nNorth Sara, ID 61368",8.938092965,Sales,f,10.0,0.091356,145.835938,19.440728,0.0,...,<=50K,2.637124,50.0,0.0,Private,White,United-States,Some-college,Divorced,Not-in-family
7,Gary Prentice,"055 Nolan Club\r\nWest Bryanton, UT 15308",5.155939859,?,f,12.0,0.046797,138.179688,31.576347,0.0,...,<=50K,6.330268,1.0,0.0,?,White,United-States,Assoc-acdm,Divorced,Unmarried
8,Rodger Riis,7719 Frances Drives Apt. 525\r\nWest Brandonst...,2.436555082,Sales,f,10.0,-0.797075,129.976562,56.661158,0.0,...,<=50K,22.038462,35.0,0.0,Self-emp-inc,White,United-States,Some-college,Never-married,Own-child
9,Robert Cabiness,"70838 Robbins Camp Suite 853\r\nJacobville, SC...",14.38934822,Sales,f,9.0,1.035747,107.578125,11.797305,0.0,...,<=50K,1.002508,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Own-child
10,John Brehmer,"019 Donna Mountains\r\nAlyssaside, NC 78687",8.508906253,Adm-clerical,f,9.0,-0.362887,125.406250,19.298961,0.0,...,<=50K,3.076087,40.0,0.0,Federal-gov,Black,United-States,HS-grad,Separated,Unmarried
11,William West,"692 Tiffany Cape Suite 776\r\nNew Stacey, OK 9...",10.30903207,Exec-managerial,f,10.0,0.095533,117.390625,15.481005,0.0,...,>50K,2.125418,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
12,Thomas Rathburn,"708 Rodgers Streets Suite 909\r\nVanessamouth,...",8.620895914,Craft-repair,f,9.0,-0.685681,NaN,19.802528,0.0,...,<=50K,2.981605,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
13,Steven Welch,4017 Christopher Fort Suite 454\r\nHurleyville...,6.241462914,Craft-repair,f,9.0,0.440195,125.382812,33.316921,0.0,...,<=50K,5.237458,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
14,Leon Fleming,"2351 Brian Route Suite 878\r\nPort Richard, SC...",-0.219283809,Craft-repair,f,10.0,19.330374,35.664062,85.581283,0.0,...,>50K,126.169732,40.0,0.0,Private,White,United-States,Some-college,Divorced,Not-in-family
15,Jake Pearce,"1633 Sanders Club\r\nSouth Timothymouth, LA 30038",8.520990655,Farming-fishing,f,10.0,1.590114,110.226562,17.170471,0.0,...,<=50K,2.513378,40.0,0.0,State-gov,White,United-States,Some-college,Never-married,Own-child
16,Carl Nelson,"680 Higgins Square\r\nSharonborough, NJ 01147",10.64449998,Other-service,f,10.0,1.617376,83.812500,14.760813,0.0,...,<=50K,1.977425,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
17,Brian Murphrey,"7682 Cantu Glen\r\nMonroebury, NH 02629",3.870762606,Handlers-cleaners,f,9.0,0.867397,131.656250,40.512098,0.0,...,<=50K,10.780100,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Not-in-family
18,Brian Orozco,"699 Powell Gardens Apt. 171\r\nSloanland, HI 6...",7.919433455,Prof-specialty,F,13.0,-0.026361,136.648438,16.939515,0.0,...,<=50K,3.082776,50.0,0.0,Private,White,United-States,Bachelors,Divorced,Not-in-family
19,Julian Davis,75930 Jonathan Passage Suite 688\r\nPort Jamie...,5.560734251,Other-service,f,10.0,-0.174616,129.171875,34.033077,0.0,...,<=50K,6.186455,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
20,John Davenport,802 Christian Course Apt. 645\r\nPort Dominiqu...,9.858380523,Sales,f,9.0,2.022478,83.937500,15.002609,0.0,...,<=50K,2.117057,50.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Wife
21,Oscar Reynolds,"776 Guerrero Lock\r\nLake Erin, NY 53271",12.38519299,Tech-support,f,13.0,22.614915,39.843750,11.812581,0.0,...,>50K,1.905518,40.0,0.0,Private,Asian-Pac-Islander,India,Bachelors,Married-civ-spouse,Husband
22,Louis Stallworth,"476 Kevin Tunnel\r\nJenniferton, VT 33302",12.14303861,Craft-repair,f,9.0,0.250451,117.242188,12.032379,0.0,...,<=50K,1.759197,40.0,0.0,Private,White,United-States,HS-grad,Divorced,Own-child
23,Harold Hiles,"40820 Susan Shore\r\nCoryville, KS 28888",7.012918477,Craft-repair,f,7.0,0.003438,144.554688,27.775424,0.0,...,<=50K,4.556856,36.0,0.0,Self-emp-not-inc,White,United-States,11th,Married-civ-spouse,Husband
24,David Lopez,"420 Jensen Place\r\nPort Kyletown, KS 65788",8.02251786,Prof-specialty,f,10.0,0.410473,95.882812,18.127732,0.0,...,<=50K,2.973244,40.0,0.0,Private,White,United-States,Some-college,Divorced,Unmarried
25,Kenneth Weatherholt,6644 Marshall Mountains Suite 928\r\nWest Susa...,-0.074639079,Exec-managerial,FALSE,9.0,0.092750,112.406250,85.955181,0.0,...,<=50K,90.637124,40.0,0.0,Federal-gov,Black,United-States,HS-grad,Separated,Not-in-family
26,Corey Rose,"48053 Jeremiah Estate\r\nJeremychester, TN 50588",4.62701081,Adm-clerical,t,10.0,-0.326696,115.906250,33.779169,0.0,...,<=50K,7.519231,37.0,0.0,Private,Black,United-States,Some-college,Divorced,Unmarried
27,Arthur Crandall,806 Matthews River Suite 584\r\nPort Heidiside...,0.978638555,Exec-managerial,f,11.0,26.289988,52.687500,80.095947,0.0,...,>50K,61.021739,45.0,0.0,Private,White,United-States,Assoc-voc,Divorced,Not-in-family
28,Jesse Simpson,"6825 Lopez Crest Suite 574\r\nLake Sarah, CO 6...",8.265676186,Craft-repair,f,9.0,-0.585491,125.687500,19.353314,0.0,...,<=50K,2.720736,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Not-in-family
29,Rene Kershner,"1010 Miles Shore Suite 346\r\nWest Edward, NH ...",7.6771816039999985,Sales,f,9.0,-0.614574,124.039062,19.800855,0.0,...,<=50K,2.897157,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3903,Joseph Palumbo,"14921 Johnson Stravenue\r\nNorth David, KS 12153",1.582775516,Prof-specialty,FALSE,14.0,38.426350,28.195312,68.162797,0.0,...,>50K,50.848662,NaN,0.0,Local-gov,White,United-States,Masters,Married-civ-spouse,Husband
3904,Joseph Perez,"023 Cook Bypass Apt. 625\r\nNorth Anna, FL 05626",8.272507037999999,Machine_op_inspct,f,10.0,0.079527,NaN,18.194276,0.0,...,<=50K,2.710702,40.0,0.0,Private,Asian-Pac-Islander,Philippines,Some-college,Married-civ-spouse,Husband
3905,Joseph Williams,"6558 Smith Park Apt. 719\r\nLake Johnmouth, DE...",15.23249089,Craft-repair,F,10.0,0.581744,NaN,11.739069,15024.0,...,>50K,0.939799,40.0,0.0,Private,Black,United-States,Some-college,Married-civ-spouse,Husband
3906,Juan Thurber,"655 Rosales Camp Suite 191\r\nDavisview, WV 49205",0.243013429,Prof-specialty,f,14.0,27.574659,31.109375,66.434844,0.0,...,>50K,115.192308,40.0,0.0,Federal-gov,White,?,Masters,Married-civ-spouse,Husband
3907,Kenneth Burr,"61596 Danielle Trafficway\r\nSouth Ryan, ND 49582",NaN,Prof-specialty,f,14.0,1.259574,116.226562,28.590406,0.0,...,>50K,5.403846,40.0,0.0,Self-emp-not-inc,White,United-States,Masters,Married-civ-spouse,Husband
3908,Kenneth Zamora,"9086 Becker Streets\r\nNew Michaelbury, MA 54353",2.325276941,Transport-moving,f,9.0,0.519678,110.664062,58.577725,15831.0,...,>50K,22.954013,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Not-in-family
3909,Kevin Bell,"793 Erika Springs Suite 802\r\nLake Donnaview,...",5.726569838,Adm_clerical,f,9.0,4.056839,83.148438,30.577686,0.0,...,<=50K,6.010033,40.0,0.0,NaN,White,United-States,HS-grad,Never-married,Own-child
3910,Leslie Pack,"77641 Brian Camp\r\nSouth Amberville, IA 89230",-1.529820477,Machine-op-inspct,f,8.0,1.953768,184.296875,77.547235,0.0,...,<=50K,174.563545,45.0,0.0,Private,White,United-States,12th,Never-married,Not-in-family
3911,Lonnie Fuhrman,"77622 Bright Station\r\nMorrismouth, MO 52269",NaN,Other-service,f,9.0,31.808962,NaN,55.135775,0.0,...,<=50K,34.369565,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Other-relative
3912,Louis Lochrico,"358 Reed Springs\r\nEast Stevenport, NC 86309",8.034997045,Prof-specialty,f,15.0,0.022226,111.148438,19.402824,99999.0,...,>50K,3.151338,40.0,0.0,Self-emp-inc,White,United-States,Prof-school,Married-civ-spouse,Husband
3913,Luis Salcedo,"7232 Mcconnell Prairie\r\nEdwardsmouth, MN 55917",-1.019263452,?,f,13.0,35.287238,8.226562,62.914859,6767.0,...,<=50K,184.525920,20.0,0.0,?,White,United-States,Bachelors,Married-civ-spouse,Husband
3914,Malcolm Rotz,"545 Marshall Rapid\r\nEast Stephanieborough, M...",16.1071543,Machine-op-inspct,f,9.0,0.635848,110.484375,11.280522,0.0,...,<=50K,0.829431,40.0,0.0,Private,White,United-States,HS-grad,Divorced,Unmarried
3915,Manuel Dupre,"216 Elliott Squares\r\nLake Breannaborough, MD...",NaN,Sales,f,12.0,2.231021,90.500000,13.174810,0.0,...,>50K,2.298495,38.0,0.0,Self-emp-inc,NaN,NaN,NaN,NaN,NaN
3916,Marcel Ross,33418 Trevino Stravenue Apt. 225\r\nWest Nicho...,11.32787187,Craft-repair,f,10.0,2.259311,99.328125,15.775832,0.0,...,<=50K,1.601171,40.0,0.0,Self-emp-not-inc,White,United-States,Some-college,Divorced,Unmarried
3917,Mark Macklin,4932 Lauren Mission Suite 711\r\nSouth Danielp...,NaN,Adm-clerical,f,13.0,-0.117095,123.773438,21.805846,0.0,...,<=50K,3.596154,40.0,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
3918,Mike Murdock,"842 Scott Road\r\nWest Michael, ND 69887",NaN,Sales,f,13.0,-0.265510,136.914062,20.745736,0.0,...,>50K,3.691472,35.0,0.0,Private,Black,United-States,Bachelors,Never-married,Unmarried
3919,Mike Rm,"8317 Sarah Streets Apt. 987\r\nWrighttown, NY ...",12.28357567,Transport-moving,f,5.0,-0.463015,117.078125,14.469198,0.0,...,>50K,1.468227,70.0,0.0,Self-emp-not-inc,White,United-States,9th,Married-civ-spouse,Husband
3920,Paul Ladd,USNS Townsend\r\nFPO AE 97197,6.062392209,Sales,f,9.0,2.179898,94.218750,29.733092,0.0,...,<=50K,5.266722,25.0,0.0,Private,White,United-States,HS-grad,Never-married,Own-child
3921,Randall Mellett,"941 Woods Walks Suite 315\r\nNorth Andrealand,...",6.773794869,Sales,f,10.0,-0.104047,127.546875,25.401128,0.0,...,<=50K,4.233278,45.0,0.0,Private,White,United-States,Some-college,Never-married,Not-in-family
3922,Raymond Goode,"0705 Heather Mountain\r\nFloresmouth, FL 91113",8.074870162,Craft_repair,f,9.0,1.290224,89.437500,18.902544,0.0,...,<=50K,2.625418,32.0,0.0,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
3923,Robert Lackey,"94782 Ortega Summit\r\nNew Andrewmouth, MN 99751",8.466196457999999,Other-service,f,9.0,0.492993,NaN,17.515368,0.0,...,<=50K,2.780936,25.0,0.0,Private,White,United-States,HS-grad,Never-married,Other-relative
3924,Russell Coleman,"PSC 1977, Box 7638\r\nAPO AE 29246",0.48443973,Sales,f,13.0,13.105819,17.023438,66.372428,0.0,...,<=50K,95.912207,40.0,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
3925,Salvador Donnell,"287 Jessica Springs Apt. 923\r\nSantanaton, ND...",7.151723994,Prof-specialty,FALSE,14.0,0.108239,115.875000,22.170373,0.0,...,>50K,3.521739,42.0,0.0,Private,White,United-States,Masters,Married-civ-spouse,Husband
3926,Steven Jacobs,"84245 Williamson Trail\r\nEast Pamelaside, AL ...",6.633057813,Prof-specialty,f,14.0,1.477925,88.710938,25.308950,0.0,...,<=50K,4.444816,50.0,0.0,State-gov,White,United-States,Masters,Married-civ-spouse,Husband
3927,Tim Price,"4811 Raymond Locks Suite 069\r\nEast Michael, ...",15.36988913,Prof-specialty,t,13.0,-0.191658,125.625000,11.701942,0.0,...,>50K,1.147993,40.0,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
3928,Virgil Selman,66909 Frederick Path Apt. 504\r\nPort Jennifer...,NaN,Sales,f,7.0,-0.025640,111.601562,10.809350,0.0,...,<=50K,1.607860,15.0,0.0,Private,White,United-States,11th,Never-married,Own-child
3929,William Glover,"655 Cody River Suite 554\r\nNorth Colton, DC 2...",12.39898059,Sales,f,9.0,-0.172403,138.429688,12.075740,0.0,...,<=50K,1.458194,40.0,0.0,NaN,White,United-States,HS-grad,Married-civ-spouse,Husband
3930,William Hicks,"66744 Tiffany Shores Apt. 950\r\nNew Timothy, ...",2.45648463,Prof-specialty,f,14.0,31.058851,33.226562,57.705184,0.0,...,<=50K,26.705686,40.0,0.0,Federal-gov,White,United-States,Masters,Married-civ-spouse,Husband
3931,William Joecks,"089 Sherry Hollow Suite 058\r\nBrianberg, CT 0...",??,Other-service,f,7.0,-0.220297,117.601562,83.396249,0.0,...,<=50K,79.782609,15.0,0.0,Private,White,United-States,11th,Never-married,Own-child
3932,William Stone,"535 Cabrera Wall Apt. 927\r\nEast David, TX 70904",NaN,Adm-clerical,f,9.0,-0.391453,118.609375,31.452809,0.0,...,<=50K,6.880435,35.0,0.0,Local-gov,Black,United-States,HS-grad,Divorced,Unmarried

In [278]:
dataO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933 entries, 0 to 3932
Data columns (total 25 columns):
name                3933 non-null object
address             3933 non-null object
kurtosis_oxygen     3677 non-null object
occupation          3933 non-null object
pregnant            3933 non-null object
education-num       3933 non-null float64
skewness_glucose    3933 non-null float64
mean_glucose        3539 non-null float64
std_oxygen          3933 non-null float64
capital-gain        3933 non-null float64
skewness_oxygen     3933 non-null float64
kurtosis_glucose    3933 non-null float64
fnlwgt              3933 non-null float64
class               3933 non-null float64
std_glucose         3932 non-null float64
income              3932 non-null object
mean_oxygen         3933 non-null float64
hours-per-week      3932 non-null float64
capital-loss        3933 non-null float64
workclass           3931 non-null object
ethn                3932 non-null object
state               3932 non-null object
edu                 3932 non-null object
status              3932 non-null object
fam_memb            3932 non-null object
dtypes: float64(13), object(12)
memory usage: 768.2+ KB

In [279]:
dataO[dataO.isnull().any(axis=1)]

,name,address,kurtosis_oxygen,occupation,pregnant,education-num,skewness_glucose,mean_glucose,std_oxygen,capital-gain,...,income,mean_oxygen,hours-per-week,capital-loss,workclass,ethn,state,edu,status,fam_memb
3,Chester Holmes,"720 Harris Turnpike Suite 732\r\nEast Sierra, ...",??,Sales,f,10.0,0.395583,NaN,14.001759,0.0,...,>50K,1.849498,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
4,James Ayala,Unit 3230 Box 9523\r\nDPO AA 55810,NaN,Transport-moving,f,9.0,0.493384,94.593750,29.361953,0.0,...,<=50K,5.739130,40.0,0.0,Private,Amer-Indian-Eskimo,United-States,HS-grad,Married-civ-spouse,Husband
12,Thomas Rathburn,"708 Rodgers Streets Suite 909\r\nVanessamouth,...",8.620895914,Craft-repair,f,9.0,-0.685681,NaN,19.802528,0.0,...,<=50K,2.981605,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
30,Patrick Cortez,"96216 Prince Prairie\r\nSouth Ryantown, IL 02827",7.1463000810000015,Exec-managerial,f,14.0,-0.036529,NaN,25.228435,0.0,...,<=50K,3.768395,45.0,0.0,Local-gov,White,United-States,Masters,Married-civ-spouse,Husband
56,Bobby Alicea,"787 Edwards Groves\r\nNew Melissaville, VT 70198",9.805805146,Exec-managerial,f,13.0,0.137797,NaN,18.641943,0.0,...,>50K,2.074415,40.0,0.0,Private,White,United-States,Bachelors,Married-civ-spouse,Husband
63,Kendrick Presha,9027 Odom Turnpike Suite 930\r\nLake Mariebury...,NaN,Other-service,f,7.0,2.432726,90.304688,12.879898,0.0,...,<=50K,2.207358,15.0,0.0,Private,White,United-States,11th,Never-married,Own-child
68,Fredrick Jack,"610 Griffith Causeway Apt. 479\r\nMatthewside,...",NaN,Machine-op-inspct,f,9.0,38.708198,7.796875,55.704857,0.0,...,<=50K,109.125418,20.0,0.0,Private,White,United-States,HS-grad,Never-married,Own-child
71,James Bonner,"09320 Smith Trace Apt. 263\r\nAllenfort, MI 15391",NaN,Machine-op-inspct,f,10.0,-0.551288,119.960938,12.605750,0.0,...,<=50K,1.769231,45.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
75,Mark Barrera,"18561 Scott Orchard Apt. 325\r\nDavismouth, MT...",9.233192137,Handlers-cleaners,f,9.0,0.146675,NaN,14.620565,0.0,...,<=50K,2.423913,20.0,0.0,Private,White,United-States,HS-grad,Divorced,Own-child
76,Thomas Bohler,"0168 Linda Pine Suite 684\r\nSouth Adamside, A...",??,Prof-specialty,FALSE,12.0,0.476484,NaN,14.197757,0.0,...,<=50K,1.751672,36.0,0.0,State-gov,Asian-Pac-Islander,United-States,Assoc-acdm,Divorced,Unmarried
77,Paul Rodriguez,"221 Combs Shores\r\nShelleyville, ND 98552",2.35103641,Adm-clerical,f,10.0,-0.931859,NaN,51.516759,0.0,...,<=50K,20.328595,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
95,Jonathan Spears,698 Cody Prairie Suite 415\r\nPort Jenniferche...,NaN,Other-service,f,8.0,-0.076444,119.789062,15.024700,0.0,...,<=50K,1.765050,20.0,0.0,Private,White,United-States,12th,Never-married,Own-child
98,Federico Hoobler,"725 Gina Views Suite 261\r\nNew Shawnmouth, ID...",NaN,Exec-managerial,f,14.0,-0.265377,132.390625,52.760554,0.0,...,>50K,15.480769,35.0,0.0,Private,White,United-States,Masters,Married-civ-spouse,Husband
114,James Eells,"9949 David Fields Suite 552\r\nLindaview, NM 6...",0.416348214,Sales,f,13.0,37.836804,NaN,69.737153,0.0,...,<=50K,87.148829,40.0,0.0,Private,Black,United-States,Bachelors,Never-married,Not-in-family
115,Thomas Jones,"029 Chang Grove Apt. 096\r\nJoycebury, NY 44576",12.43719156,Exec_managerial,f,14.0,0.036179,NaN,12.478568,15024.0,...,>50K,1.279264,50.0,0.0,Self-emp-inc,White,United-States,Masters,Married-civ-spouse,Husband
117,Edwin Richard,"1450 Maria Meadow Suite 436\r\nJasonmouth, LA ...",10.83494618,Prof-specialty,f,11.0,0.091127,NaN,14.716581,0.0,...,<=50K,1.949833,35.0,0.0,Local-gov,Black,United-States,Assoc-voc,Separated,Unmarried
121,Jeff Clemens,"6764 Jensen Fork Apt. 780\r\nDeckermouth, OR 9...",0.271929916,Handlers-cleaners,f,9.0,27.798855,NaN,67.635692,0.0,...,<=50K,115.087793,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
158,William Audirsch,USNV Shannon\r\nFPO AE 72271,NaN,Prof_specialty,f,11.0,0.025450,142.820312,37.817406,0.0,...,<=50K,10.031773,35.0,0.0,Self-emp-not-inc,White,United-States,Assoc-voc,Divorced,Not-in-family
167,Albert Menefee,"992 Hanson Shore\r\nJamesmouth, OR 19553",8.901882518999999,Adm-clerical,f,13.0,0.198871,NaN,18.286275,0.0,...,<=50K,2.367057,35.0,0.0,Private,White,United-States,Bachelors,Never-married,Own-child
183,Irwin Micale,"5166 Brady Walks\r\nEast Stacey, SD 44467",13.06534094,?,f,10.0,-0.315000,NaN,12.475082,0.0,...,<=50K,1.244147,24.0,0.0,?,White,Canada,Some-college,Never-married,Own-child
185,Anthony Widell,027 Robertson Cliffs Suite 493\r\nWest Katelyn...,6.743182537999999,Sales,f,13.0,0.602061,NaN,24.736350,15024.0,...,>50K,4.510870,55.0,0.0,Self-emp-not-inc,White,United-States,Bachelors,Married-civ-spouse,Husband
187,Kent Mcgrew,"5798 Stephanie Green\r\nWoodwardbury, DE 59169",NaN,?,F,10.0,-0.325158,124.710938,94.282096,0.0,...,<=50K,111.006689,3.0,0.0,?,Amer-Indian-Eskimo,United-States,Some-college,Widowed,Not-in-family
204,King Valentin,"63159 Scott River\r\nSouth Beverly, IL 94155",5.390038887,Prof-specialty,f,15.0,0.550780,NaN,29.216770,0.0,...,>50K,5.918896,90.0,2415.0,Private,White,United-States,Prof-school,Married-civ-spouse,Husband
206,William Snyder,"935 Patricia Underpass\r\nHardyberg, MA 64743",1.49597623,Farming-fishing,f,9.0,34.001238,NaN,77.787280,0.0,...,<=50K,46.620401,40.0,0.0,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
208,Jermaine Kuns,"04888 Rachel Mission\r\nNorth Gwendolyn, MI 19925",NaN,Exec-managerial,f,13.0,2.462325,83.062500,13.631787,0.0,...,<=50K,0.964047,40.0,0.0,State-gov,Asian-Pac-Islander,United-States,Bachelors,Divorced,Not-in-family
223,Dennis Stith,"73282 Jacob Pines Suite 356\r\nRickytown, NV 7...",5.701894315,Prof-specialty,F,13.0,-0.493655,NaN,25.696600,0.0,...,<=50K,5.312709,50.0,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
225,Dusty Lochrico,"78283 Oliver Hills Apt. 730\r\nMichaelaside, C...",NaN,Craft-repair,F,10.0,-0.175453,123.804688,10.581796,0.0,...,<=50K,1.276756,40.0,0.0,Self-emp-not-inc,White,United-States,Some-college,Married-civ-spouse,Husband
232,James Scott,"496 Rachel Divide Apt. 374\r\nTeresaview, NC 2...",NaN,Prof-specialty,f,9.0,29.275675,NaN,62.688760,0.0,...,>50K,41.974916,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
233,Dwight Lee,"9453 Fischer Brook\r\nPaulside, TN 81428",3.608318452,Prof-specialty,f,14.0,0.016703,NaN,41.445156,0.0,...,>50K,11.919732,40.0,0.0,Self-emp-not-inc,White,United-States,Masters,Never-married,Not-in-family
247,Efrain Miller,"71734 Jordan Manor\r\nHarrisville, NV 14987",NaN,Adm_clerical,f,10.0,1.406224,105.648438,12.676619,0.0,...,<=50K,1.244983,50.0,0.0,Self-emp-not-inc,White,United-States,Some-college,Divorced,Unmarried
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3823,Stephen Harris,"60752 Kimberly Squares\r\nTanyafort, LA 55055",10.62791588,Prof-specialty,f,13.0,-0.295055,NaN,13.578381,0.0,...,<=50K,1.978261,40.0,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
3828,Edward Ross,"9419 Cathy Unions\r\nAllisonborough, ID 72266",NaN,Sales,f,9.0,6.045175,NaN,60.055317,0.0,...,<=50K,30.042642,45.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3830,Vernon Godwin,"9638 Mario Ford Suite 929\r\nNorth Paulfurt, M...",7.125129693,Prof-specialty,f,16.0,-0.244318,NaN,20.374390,0.0,...,>50K,3.454013,36.0,0.0,Private,White,United-States,Doctorate,Never-married,Not-in-family
3841,Todd Haynes,"970 Huang Cape\r\nPort Danielmouth, IL 19130",13.10583628,Sales,f,9.0,-0.393823,NaN,11.602918,0.0,...,<=50K,1.290970,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Own-child
3856,Edward Wilson,"01757 Melissa Forest\r\nNorth David, MD 54561",9.055379919,Adm-clerical,f,10.0,0.263672,NaN,15.611687,0.0,...,<=50K,2.658863,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
3858,Peter Mcguiness,"328 Rogers Rapids Suite 326\r\nLeemouth, KS 70161",NaN,Craft-repair,f,13.0,8.129110,75.273438,61.752185,0.0,...,>50K,25.410535,58.0,0.0,Private,White,United-States,Bachelors,Married-civ-spouse,Husband
3865,Edward Hess,"60152 Hancock Rest Apt. 479\r\nChungfurt, DE 8...",NaN,Handlers-cleaners,f,9.0,-0.041647,132.164062,17.521491,0.0,...,>50K,2.808528,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3877,Jesse Maria,"7862 Morales Inlet Suite 744\r\nSouth Maria, O...",??,Protective-serv,f,13.0,0.163764,NaN,22.678437,0.0,...,>50K,4.207358,40.0,0.0,Local-gov,White,United-States,Bachelors,Married-civ-spouse,Husband
3878,Aaron Gregg,"10883 Williams Locks Suite 821\r\nEast Carmen,...",9.997709483,Machine-op-inspct,f,9.0,0.824933,NaN,16.012031,0.0,...,<=50K,2.088629,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Not-in-family
3881,William Lamay,"330 Mary Locks Apt. 162\r\nNew Kylietown, ME 5...",8.975832521000001,Other-service,f,9.0,0.285097,NaN,19.340066,0.0,...,<=50K,2.869565,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Own-child
3884,Andrew Olmstead,"519 Christopher Loop Suite 282\r\nRachelside, ...",6.9289193560000015,Craft-repair,f,9.0,0.548669,NaN,26.559749,0.0,...,<=50K,4.382943,52.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3888,Charles Pollack,"5703 Wilson Union Apt. 105\r\nStevenhaven, NJ ...",2.3511303530000003,Exec-managerial,t,11.0,1.789749,105.523438,55.529609,0.0,...,NaN,23.042642,45.0,0.0,Private,White,United-States,Assoc-voc,Divorced,Unmarried
3889,Craig Solomon,"PSC 7142, Box 7999\r\nAPO AA 51659",9.046560192000001,Sales,f,10.0,0.191146,NaN,15.941463,0.0,...,<=50K,2.176421,22.0,0.0,Private,White,United-States,Some-college,Never-married,Own-child
3892,David Short,"42574 Sutton Parkway\r\nPedromouth, OH 97593",NaN,Prof-specialty,f,14.0,30.428177,31.601562,62.868452,0.0,...,>50K,33.494983,30.0,0.0,Self-emp-not-inc,White,?,Masters,Married-civ-spouse,Husband
3893,Donald Doyle,"48674 Sherry Alley Suite 529\r\nWest Nicholas,...",NaN,Sales,FALSE,9.0,0.121351,111.320312,20.223886,0.0,...,<=50K,2.982441,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Other-relative
3897,Gordon Funderburk,Unit 9139 Box 5625\r\nDPO AP 85541,4.847933096,Exec-managerial,f,9.0,-0.699649,NaN,34.186123,0.0,...,<=50K,7.177258,40.0,0.0,Local-gov,White,United-States,HS-grad,Widowed,Not-in-family
3900,James Barwick,USNV Potter\r\nFPO AP 27132,NaN,Sales,f,10.0,2.078418,108.273438,19.496749,0.0,...,>50K,3.723244,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
3903,Joseph Palumbo,"14921 Johnson Stravenue\r\nNorth David, KS 12153",1.582775516,Prof-specialty,FALSE,14.0,38.426350,28.195312,68.162797,0.0,...,>50K,50.848662,NaN,0.0,Local-gov,White,United-States,Masters,Married-civ-spouse,Husband
3904,Joseph Perez,"023 Cook Bypass Apt. 625\r\nNorth Anna, FL 05626",8.272507037999999,Machine_op_inspct,f,10.0,0.079527,NaN,18.194276,0.0,...,<=50K,2.710702,40.0,0.0,Private,Asian-Pac-Islander,Philippines,Some-college,Married-civ-spouse,Husband
3905,Joseph Williams,"6558 Smith Park Apt. 719\r\nLake Johnmouth, DE...",15.23249089,Craft-repair,F,10.0,0.581744,NaN,11.739069,15024.0,...,>50K,0.939799,40.0,0.0,Private,Black,United-States,Some-college,Married-civ-spouse,Husband
3907,Kenneth Burr,"61596 Danielle Trafficway\r\nSouth Ryan, ND 49582",NaN,Prof-specialty,f,14.0,1.259574,116.226562,28.590406,0.0,...,>50K,5.403846,40.0,0.0,Self-emp-not-inc,White,United-States,Masters,Married-civ-spouse,Husband
3909,Kevin Bell,"793 Erika Springs Suite 802\r\nLake Donnaview,...",5.726569838,Adm_clerical,f,9.0,4.056839,83.148438,30.577686,0.0,...,<=50K,6.010033,40.0,0.0,NaN,White,United-States,HS-grad,Never-married,Own-child
3911,Lonnie Fuhrman,"77622 Bright Station\r\nMorrismouth, MO 52269",NaN,Other-service,f,9.0,31.808962,NaN,55.135775,0.0,...,<=50K,34.369565,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Other-relative
3915,Manuel Dupre,"216 Elliott Squares\r\nLake Breannaborough, MD...",NaN,Sales,f,12.0,2.231021,90.500000,13.174810,0.0,...,>50K,2.298495,38.0,0.0,Self-emp-inc,NaN,NaN,NaN,NaN,NaN
3917,Mark Macklin,4932 Lauren Mission Suite 711\r\nSouth Danielp...,NaN,Adm-clerical,f,13.0,-0.117095,123.773438,21.805846,0.0,...,<=50K,3.596154,40.0,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
3918,Mike Murdock,"842 Scott Road\r\nWest Michael, ND 69887",NaN,Sales,f,13.0,-0.265510,136.914062,20.745736,0.0,...,>50K,3.691472,35.0,0.0,Private,Black,United-States,Bachelors,Never-married,Unmarried
3923,Robert Lackey,"94782 Ortega Summit\r\nNew Andrewmouth, MN 99751",8.466196457999999,Other-service,f,9.0,0.492993,NaN,17.515368,0.0,...,<=50K,2.780936,25.0,0.0,Private,White,United-States,HS-grad,Never-married,Other-relative
3928,Virgil Selman,66909 Frederick Path Apt. 504\r\nPort Jennifer...,NaN,Sales,f,7.0,-0.025640,111.601562,10.809350,0.0,...,<=50K,1.607860,15.0,0.0,Private,White,United-States,11th,Never-married,Own-child
3929,William Glover,"655 Cody River Suite 554\r\nNorth Colton, DC 2...",12.39898059,Sales,f,9.0,-0.172403,138.429688,12.075740,0.0,...,<=50K,1.458194,40.0,0.0,NaN,White,United-States,HS-grad,Married-civ-spouse,Husband
3932,William Stone,"535 Cabrera Wall Apt. 927\r\nEast David, TX 70904",NaN,Adm-clerical,f,9.0,-0.391453,118.609375,31.452809,0.0,...,<=50K,6.880435,35.0,0.0,Local-gov,Black,United-States,HS-grad,Divorced,Unmarried

In [280]:
replaced = dataO.replace(to_replace=r'^[0-9,\-].*[0-9]$',value='number',regex=True)
replaced.select_dtypes(include='object')

,name,address,kurtosis_oxygen,occupation,pregnant,income,workclass,ethn,state,edu,status,fam_memb
0,Daniel Love,"126 Ramirez Roads\r\nNew Jayville, IL 18861",number,Sales,f,>50K,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
1,Roy Paradis,"01168 Stark Pine Apt. 583\r\nDavidville, IN 32044",number,Craft-repair,f,<=50K,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
2,Charles Chen,"09482 Horne Lakes Apt. 373\r\nEast Brian, TN 2...",number,Handlers-cleaners,f,<=50K,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3,Chester Holmes,"720 Harris Turnpike Suite 732\r\nEast Sierra, ...",??,Sales,f,>50K,Private,White,United-States,Some-college,Married-civ-spouse,Husband
4,James Ayala,Unit 3230 Box 9523\r\nDPO AA 55810,NaN,Transport-moving,f,<=50K,Private,Amer-Indian-Eskimo,United-States,HS-grad,Married-civ-spouse,Husband
5,Todd Flanagan,"2167 Wells Shoals Apt. 264\r\nEast Brianshire,...",number,?,f,<=50K,?,White,United-States,HS-grad,Married-civ-spouse,Own-child
6,James Huffman,"535 Michael Squares\r\nNorth Sara, ID 61368",number,Sales,f,<=50K,Private,White,United-States,Some-college,Divorced,Not-in-family
7,Gary Prentice,"055 Nolan Club\r\nWest Bryanton, UT 15308",number,?,f,<=50K,?,White,United-States,Assoc-acdm,Divorced,Unmarried
8,Rodger Riis,7719 Frances Drives Apt. 525\r\nWest Brandonst...,number,Sales,f,<=50K,Self-emp-inc,White,United-States,Some-college,Never-married,Own-child
9,Robert Cabiness,"70838 Robbins Camp Suite 853\r\nJacobville, SC...",number,Sales,f,<=50K,Private,White,United-States,HS-grad,Never-married,Own-child
10,John Brehmer,"019 Donna Mountains\r\nAlyssaside, NC 78687",number,Adm-clerical,f,<=50K,Federal-gov,Black,United-States,HS-grad,Separated,Unmarried
11,William West,"692 Tiffany Cape Suite 776\r\nNew Stacey, OK 9...",number,Exec-managerial,f,>50K,Private,White,United-States,Some-college,Married-civ-spouse,Husband
12,Thomas Rathburn,"708 Rodgers Streets Suite 909\r\nVanessamouth,...",number,Craft-repair,f,<=50K,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
13,Steven Welch,4017 Christopher Fort Suite 454\r\nHurleyville...,number,Craft-repair,f,<=50K,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
14,Leon Fleming,"2351 Brian Route Suite 878\r\nPort Richard, SC...",number,Craft-repair,f,>50K,Private,White,United-States,Some-college,Divorced,Not-in-family
15,Jake Pearce,"1633 Sanders Club\r\nSouth Timothymouth, LA 30038",number,Farming-fishing,f,<=50K,State-gov,White,United-States,Some-college,Never-married,Own-child
16,Carl Nelson,"680 Higgins Square\r\nSharonborough, NJ 01147",number,Other-service,f,<=50K,Private,White,United-States,Some-college,Married-civ-spouse,Husband
17,Brian Murphrey,"7682 Cantu Glen\r\nMonroebury, NH 02629",number,Handlers-cleaners,f,<=50K,Private,White,United-States,HS-grad,Never-married,Not-in-family
18,Brian Orozco,"699 Powell Gardens Apt. 171\r\nSloanland, HI 6...",number,Prof-specialty,F,<=50K,Private,White,United-States,Bachelors,Divorced,Not-in-family
19,Julian Davis,75930 Jonathan Passage Suite 688\r\nPort Jamie...,number,Other-service,f,<=50K,Private,White,United-States,Some-college,Married-civ-spouse,Husband
20,John Davenport,802 Christian Course Apt. 645\r\nPort Dominiqu...,number,Sales,f,<=50K,Private,White,United-States,HS-grad,Married-civ-spouse,Wife
21,Oscar Reynolds,"776 Guerrero Lock\r\nLake Erin, NY 53271",number,Tech-support,f,>50K,Private,Asian-Pac-Islander,India,Bachelors,Married-civ-spouse,Husband
22,Louis Stallworth,"476 Kevin Tunnel\r\nJenniferton, VT 33302",number,Craft-repair,f,<=50K,Private,White,United-States,HS-grad,Divorced,Own-child
23,Harold Hiles,"40820 Susan Shore\r\nCoryville, KS 28888",number,Craft-repair,f,<=50K,Self-emp-not-inc,White,United-States,11th,Married-civ-spouse,Husband
24,David Lopez,"420 Jensen Place\r\nPort Kyletown, KS 65788",number,Prof-specialty,f,<=50K,Private,White,United-States,Some-college,Divorced,Unmarried
25,Kenneth Weatherholt,6644 Marshall Mountains Suite 928\r\nWest Susa...,number,Exec-managerial,FALSE,<=50K,Federal-gov,Black,United-States,HS-grad,Separated,Not-in-family
26,Corey Rose,"48053 Jeremiah Estate\r\nJeremychester, TN 50588",number,Adm-clerical,t,<=50K,Private,Black,United-States,Some-college,Divorced,Unmarried
27,Arthur Crandall,806 Matthews River Suite 584\r\nPort Heidiside...,number,Exec-managerial,f,>50K,Private,White,United-States,Assoc-voc,Divorced,Not-in-family
28,Jesse Simpson,"6825 Lopez Crest Suite 574\r\nLake Sarah, CO 6...",number,Craft-repair,f,<=50K,Private,White,United-States,HS-grad,Never-married,Not-in-family
29,Rene Kershner,"1010 Miles Shore Suite 346\r\nWest Edward, NH ...",number,Sales,f,<=50K,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
...,...,...,...,...,...,...,...,...,...,...,...,...
3903,Joseph Palumbo,"14921 Johnson Stravenue\r\nNorth David, KS 12153",number,Prof-specialty,FALSE,>50K,Local-gov,White,United-States,Masters,Married-civ-spouse,Husband
3904,Joseph Perez,"023 Cook Bypass Apt. 625\r\nNorth Anna, FL 05626",number,Machine_op_inspct,f,<=50K,Private,Asian-Pac-Islander,Philippines,Some-college,Married-civ-spouse,Husband
3905,Joseph Williams,"6558 Smith Park Apt. 719\r\nLake Johnmouth, DE...",number,Craft-repair,F,>50K,Private,Black,United-States,Some-college,Married-civ-spouse,Husband
3906,Juan Thurber,"655 Rosales Camp Suite 191\r\nDavisview, WV 49205",number,Prof-specialty,f,>50K,Federal-gov,White,?,Masters,Married-civ-spouse,Husband
3907,Kenneth Burr,"61596 Danielle Trafficway\r\nSouth Ryan, ND 49582",NaN,Prof-specialty,f,>50K,Self-emp-not-inc,White,United-States,Masters,Married-civ-spouse,Husband
3908,Kenneth Zamora,"9086 Becker Streets\r\nNew Michaelbury, MA 54353",number,Transport-moving,f,>50K,Private,White,United-States,HS-grad,Never-married,Not-in-family
3909,Kevin Bell,"793 Erika Springs Suite 802\r\nLake Donnaview,...",number,Adm_clerical,f,<=50K,NaN,White,United-States,HS-grad,Never-married,Own-child
3910,Leslie Pack,"77641 Brian Camp\r\nSouth Amberville, IA 89230",number,Machine-op-inspct,f,<=50K,Private,White,United-States,12th,Never-married,Not-in-family
3911,Lonnie Fuhrman,"77622 Bright Station\r\nMorrismouth, MO 52269",NaN,Other-service,f,<=50K,Private,White,United-States,HS-grad,Never-married,Other-relative
3912,Louis Lochrico,"358 Reed Springs\r\nEast Stevenport, NC 86309",number,Prof-specialty,f,>50K,Self-emp-inc,White,United-States,Prof-school,Married-civ-spouse,Husband
3913,Luis Salcedo,"7232 Mcconnell Prairie\r\nEdwardsmouth, MN 55917",number,?,f,<=50K,?,White,United-States,Bachelors,Married-civ-spouse,Husband
3914,Malcolm Rotz,"545 Marshall Rapid\r\nEast Stephanieborough, M...",number,Machine-op-inspct,f,<=50K,Private,White,United-States,HS-grad,Divorced,Unmarried
3915,Manuel Dupre,"216 Elliott Squares\r\nLake Breannaborough, MD...",NaN,Sales,f,>50K,Self-emp-inc,NaN,NaN,NaN,NaN,NaN
3916,Marcel Ross,33418 Trevino Stravenue Apt. 225\r\nWest Nicho...,number,Craft-repair,f,<=50K,Self-emp-not-inc,White,United-States,Some-college,Divorced,Unmarried
3917,Mark Macklin,4932 Lauren Mission Suite 711\r\nSouth Danielp...,NaN,Adm-clerical,f,<=50K,Private,White,United-States,Bachelors,Never-married,Not-in-family
3918,Mike Murdock,"842 Scott Road\r\nWest Michael, ND 69887",NaN,Sales,f,>50K,Private,Black,United-States,Bachelors,Never-married,Unmarried
3919,Mike Rm,"8317 Sarah Streets Apt. 987\r\nWrighttown, NY ...",number,Transport-moving,f,>50K,Self-emp-not-inc,White,United-States,9th,Married-civ-spouse,Husband
3920,Paul Ladd,USNS Townsend\r\nFPO AE 97197,number,Sales,f,<=50K,Private,White,United-States,HS-grad,Never-married,Own-child
3921,Randall Mellett,"941 Woods Walks Suite 315\r\nNorth Andrealand,...",number,Sales,f,<=50K,Private,White,United-States,Some-college,Never-married,Not-in-family
3922,Raymond Goode,"0705 Heather Mountain\r\nFloresmouth, FL 91113",number,Craft_repair,f,<=50K,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
3923,Robert Lackey,"94782 Ortega Summit\r\nNew Andrewmouth, MN 99751",number,Other-service,f,<=50K,Private,White,United-States,HS-grad,Never-married,Other-relative
3924,Russell Coleman,"PSC 1977, Box 7638\r\nAPO AE 29246",number,Sales,f,<=50K,Private,White,United-States,Bachelors,Never-married,Not-in-family
3925,Salvador Donnell,"287 Jessica Springs Apt. 923\r\nSantanaton, ND...",number,Prof-specialty,FALSE,>50K,Private,White,United-States,Masters,Married-civ-spouse,Husband
3926,Steven Jacobs,"84245 Williamson Trail\r\nEast Pamelaside, AL ...",number,Prof-specialty,f,<=50K,State-gov,White,United-States,Masters,Married-civ-spouse,Husband
3927,Tim Price,"4811 Raymond Locks Suite 069\r\nEast Michael, ...",number,Prof-specialty,t,>50K,Private,White,United-States,Bachelors,Never-married,Not-in-family
3928,Virgil Selman,66909 Frederick Path Apt. 504\r\nPort Jennifer...,NaN,Sales,f,<=50K,Private,White,United-States,11th,Never-married,Own-child
3929,William Glover,"655 Cody River Suite 554\r\nNorth Colton, DC 2...",number,Sales,f,<=50K,NaN,White,United-States,HS-grad,Married-civ-spouse,Husband
3930,William Hicks,"66744 Tiffany Shores Apt. 950\r\nNew Timothy, ...",number,Prof-specialty,f,<=50K,Federal-gov,White,United-States,Masters,Married-civ-spouse,Husband
3931,William Joecks,"089 Sherry Hollow Suite 058\r\nBrianberg, CT 0...",??,Other-service,f,<=50K,Private,White,United-States,11th,Never-married,Own-child
3932,William Stone,"535 Cabrera Wall Apt. 927\r\nEast David, TX 70904",NaN,Adm-clerical,f,<=50K,Local-gov,Black,United-States,HS-grad,Divorced,Unmarried

In [281]:
replaced['kurtosis_oxygen'].unique()

array(['number', '??', nan], dtype=object)

In [282]:
replaced['occupation'].unique()

array([' Sales', ' Craft-repair', ' Handlers-cleaners',
       ' Transport-moving', ' ?', ' Adm-clerical', ' Exec-managerial',
       ' Farming-fishing', ' Other-service', ' Prof-specialty',
       ' Tech-support', ' Machine-op-inspct', ' Exec_managerial',
       ' Other_service', ' Prof_specialty', ' Protective-serv',
       ' Craft_repair', ' Protective_serv', ' Adm_clerical',
       ' Machine_op_inspct', ' Farming_fishing', ' Priv-house-serv',
       ' Transport_moving', ' Handlers_cleaners', ' Priv_house_serv',
       ' Tech_support', ' Armed-Forces'], dtype=object)

In [283]:
replaced['pregnant'].unique()

array(['f', 'F', 'FALSE', 't', 'TRUE', 'T'], dtype=object)

In [284]:
replaced['education-num'].unique()

array([ 9., 10., 12., 13.,  7., 11., 14., 16.,  8.,  6.,  3., 15.,  4.,
        5.,  2.,  1.])

In [285]:
replaced['edu'].unique()

array(['HS-grad ', 'Some-college ', 'Assoc-acdm ', 'Bachelors ', '11th ',
       'Assoc-voc ', 'Masters ', 'Doctorate ', '12th ', '10th ',
       '5th-6th ', 'Prof-school ', '7th-8th ', '9th ', '1st-4th ',
       'Preschool ', nan], dtype=object)

In [286]:
replaced['income'].unique()

array([' >50K', ' <=50K', nan], dtype=object)

In [287]:
replaced['workclass'].unique()

array([' Private', ' Self-emp-not-inc', ' ?', ' Self-emp-inc',
       ' Federal-gov', ' State-gov', ' Local-gov', ' Without-pay', nan],
      dtype=object)

In [288]:
replaced['ethn'].unique()

array(['White', 'Amer-Indian-Eskimo', 'Black', 'Asian-Pac-Islander',
       'Other', nan], dtype=object)

In [289]:
replaced['state'].unique()

array(['United-States', 'India', 'Thailand', 'Puerto-Rico', 'Philippines',
       'Cuba', '?', 'China', 'Columbia', 'Canada', 'Poland', 'Mexico',
       'Vietnam', 'El-Salvador', 'Jamaica', 'Japan', 'Yugoslavia',
       'Italy', 'Germany', 'Guatemala', 'Ecuador', 'Hungary', 'Ireland',
       'Taiwan', 'England', 'France', 'Peru', 'Portugal', 'South',
       'Trinadad&Tobago', 'Dominican-Republic', 'Iran', 'Cambodia',
       'Outlying-US(Guam-USVI-etc)', 'Haiti', 'Scotland', 'Nicaragua',
       'Hong', 'Holand-Netherlands', 'Greece', nan], dtype=object)

In [290]:
replaced['status'].unique()

array([' Married-civ-spouse', ' Divorced', ' Never-married', ' Separated',
       ' Widowed', ' Married-spouse-absent', ' Married-AF-spouse', nan],
      dtype=object)

In [291]:
replaced['fam_memb'].unique()

array(['Husband', 'Own-child', 'Not-in-family', 'Unmarried', 'Wife',
       'Other-relative', nan], dtype=object)

In [292]:
correctValuesO(dataO)

In [293]:
dataO['pregnant'].unique()

array(['f', 't'], dtype=object)

In [294]:
dataP.head(26)

,name,address,age,sex,date_of_birth
0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",36,Female,1983-01-16
1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",4800,Female,71-09-03
2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",6200,Male,1957-10-02
3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",1700,Male,2002-02-27
4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",35,Male,1984-03-23
5,Ronald Lange,"30973 Martinez Shores\r\nJameston, CA 70245",60,Female,1959-01-07
6,Boyd Eiselein,29941 Christopher Curve Apt. 682\r\nRaychester...,49,Male,1970-09-12
7,Raymond Smith,53487 Scott Extensions Apt. 824\r\nMccartytown...,43,Female,1976-04-18
8,Harold Miller,"8514 Elizabeth Crescent\r\nWest Joseland, GA 4...",40,Male,1978-10-31
9,Charles Czachorowski,"6798 Wagner Locks Suite 377\r\nLake Brenda, DC...",58,Male,61-01-05
10,Robert Grantham,"822 Adams Plains\r\nNew Karen, AK 92114",56,Male,1963-02-19
11,Joel Lam,61296 Reginald Rapids Suite 783\r\nWest Timoth...,50,Male,1969-09-24
12,Irving Gil,"90757 Amanda Views Suite 604\r\nPort Paul, TX ...",42,Female,1977-05-23
13,Terry Reynolds,0019 Jensen Land Apt. 513\r\nPort Timothyville...,43,Female,1976-08-20
14,Kurt Littlefield,"822 Wilson Meadow\r\nMitchellmouth, RI 05935",67,Female,1952-08-28
15,Andy Grayson,"2573 Ryan Mission\r\nShortton, DC 01129",52,Female,1967-09-13
16,Chauncey Suarez,"481 Wilson Prairie\r\nKimberlymouth, LA 20064",68,Male,1951-05-01
17,Wallace Street,"9909 John Creek\r\nEast Heather, NY 31266",6500,Male,1953-12-07
18,Daniel Crossman,"74669 Robles Drive\r\nPort Madisonbury, LA 63565",76,Female,1942-12-09
19,Steve Ripp,"7629 Ramos Knoll\r\nOwensmouth, NC 34420",58,Male,1961-10-20
20,George Hairston,"18356 Benjamin Roads\r\nSouth Nancy, NJ 58120",48,Male,1971-02-17
21,Jeffrey Taylor,USNV Kim\r\nFPO AA 96043,66,Female,1953-03-02
22,David Mealy,"0873 Diaz Village\r\nSandrastad, DE 05796",59,Male,1959-12-23
23,Garfield Bowen,"3678 Gloria Pine Apt. 652\r\nKevinfort, LA 80839",27,Male,24/09/1992
24,Thaddeus Mackerl,"8122 Jessica Knolls Apt. 880\r\nDakotafurt, WV...",59,Male,1960-10-11 00:00:00
25,Gerald Pack,"6146 Roman Shores\r\nNew Christine, OR 28920",64,Male,1955-04-30 00 00 00

In [295]:
replaced = dataP.replace(to_replace = r'[0-9]', value = 'x', regex = True)

In [296]:
replaced["date_of_birth"].unique()

array(['xxxx-xx-xx', 'xx-xx-xx', 'xx/xx/xxxx', 'xxxx-xx-xx xx:xx:xx',
       'xxxx-xx-xx xx xx xx', 'xxxx/xx/xx'], dtype=object)

xx/xx/xxxx --> dd/mm/yyyy

In [297]:
date = dataP["date_of_birth"][dataP["date_of_birth"].str.match(r'[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]')].sort_values(ascending=False).str.split("/", 3, expand = True)

In [298]:
date.max()

0      31.0
1      12.0
2    2005.0
dtype: float64

xxxx/xx/xx --> yyyy/mm/dd

In [299]:
date = dataP["date_of_birth"][dataP["date_of_birth"].str.match(r'[0-9][0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9]')].sort_values(ascending=False).str.split("/", 3, expand = True)

In [300]:
date.max()

0    2020.0
1      12.0
2      31.0
dtype: float64

xxxx-xx-xx --> yyyy-mm-dd

In [301]:
date = dataP["date_of_birth"][dataP["date_of_birth"].str.match(r'[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]')].sort_values(ascending=False).str.split("-", 3, expand = True)

In [302]:
date.max()

0           2016
1             12
2    31 00:00:00
dtype: object

xx-xx-xx --> yy-mm-dd

In [303]:
date = dataP["date_of_birth"][dataP["date_of_birth"].str.match(r'[0-9][0-9]-[0-9][0-9]-[0-9][0-9]')].sort_values(ascending=False).str.split("-", 3, expand = True)

In [304]:
date.max()

0    96.0
1    12.0
2    31.0
dtype: float64

In [305]:
date[0].unique()

array(['96', '93', '91', '90', '89', '88', '87', '86', '85', '84', '83',
       '82', '81', '80', '79', '78', '77', '76', '75', '74', '73', '72',
       '71', '70', '69', '68', '67', '66', '65', '64', '63', '62', '61',
       '60', '59', '58', '57', '56', '55', '54', '53', '52', '51', '50',
       '49', '48', '47', '42', '39', '29', '03', '00'], dtype=object)

In [306]:
correctValuesP(dataP)

C:\Users\Andrej\Anaconda3\envs\iau\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [307]:
replaced = dataP.replace(to_replace = r'[0-9]', value = 'x', regex = True)
replaced['date_of_birth'].unique()

array(['xxxx-xx-xx'], dtype=object)

In [348]:
dataF = fusionDatasets(dataP, dataO)

In [349]:
dataF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3933 entries, 0 to 3932
Data columns (total 26 columns):
age                 3933 non-null int64
sex                 3933 non-null object
date_of_birth       3933 non-null object
kurtosis_oxygen     3510 non-null object
occupation          3705 non-null object
pregnant            3902 non-null object
education-num       3902 non-null float64
skewness_glucose    3902 non-null float64
mean_glucose        3510 non-null float64
std_oxygen          3902 non-null float64
capital-gain        3902 non-null float64
skewness_oxygen     3902 non-null float64
kurtosis_glucose    3902 non-null float64
fnlwgt              3902 non-null float64
class               3902 non-null float64
std_glucose         3901 non-null float64
income              3901 non-null object
mean_oxygen         3902 non-null float64
hours-per-week      3901 non-null float64
capital-loss        3902 non-null float64
workclass           3703 non-null object
ethn                3901 non-null object
state               3827 non-null object
edu                 3901 non-null object
status              3901 non-null object
fam_memb            3901 non-null object
dtypes: float64(13), int64(1), object(12)
memory usage: 829.6+ KB

In [350]:
dataO.head()

,name,address,kurtosis_oxygen,occupation,pregnant,education-num,skewness_glucose,mean_glucose,std_oxygen,capital-gain,...,income,mean_oxygen,hours-per-week,capital-loss,workclass,ethn,state,edu,status,fam_memb
0,Daniel Love,"126 Ramirez Roads\r\nNew Jayville, IL 18861",10.58036423,Sales,f,9.0,3.158830,85.859375,14.121127,0.0,...,>50K,1.857860,40.0,1902.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
1,Roy Paradis,"01168 Stark Pine Apt. 583\r\nDavidville, IN 32044",3.713364594,Craft-repair,f,9.0,1.234184,91.679688,36.946291,0.0,...,<=50K,10.001672,40.0,2002.0,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
2,Charles Chen,"09482 Horne Lakes Apt. 373\r\nEast Brian, TN 2...",6.478064004,Handlers-cleaners,f,9.0,1.872355,89.960938,22.646980,0.0,...,<=50K,4.134615,48.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3,Chester Holmes,"720 Harris Turnpike Suite 732\r\nEast Sierra, ...",NaN,Sales,f,10.0,0.395583,NaN,14.001759,0.0,...,>50K,1.849498,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
4,James Ayala,Unit 3230 Box 9523\r\nDPO AA 55810,NaN,Transport-moving,f,9.0,0.493384,94.593750,29.361953,0.0,...,<=50K,5.739130,40.0,0.0,Private,Amer-Indian-Eskimo,United-States,HS-grad,Married-civ-spouse,Husband

In [351]:
dataF = dataF.astype({'class':str,"education-num":str})
replaced = dataF.replace(to_replace=r'^[0-9]*\.[0-9]*$',value='number',regex=True)
dataF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3933 entries, 0 to 3932
Data columns (total 26 columns):
age                 3933 non-null int64
sex                 3933 non-null object
date_of_birth       3933 non-null object
kurtosis_oxygen     3510 non-null object
occupation          3705 non-null object
pregnant            3902 non-null object
education-num       3933 non-null object
skewness_glucose    3902 non-null float64
mean_glucose        3510 non-null float64
std_oxygen          3902 non-null float64
capital-gain        3902 non-null float64
skewness_oxygen     3902 non-null float64
kurtosis_glucose    3902 non-null float64
fnlwgt              3902 non-null float64
class               3933 non-null object
std_glucose         3901 non-null float64
income              3901 non-null object
mean_oxygen         3902 non-null float64
hours-per-week      3901 non-null float64
capital-loss        3902 non-null float64
workclass           3703 non-null object
ethn                3901 non-null object
state               3827 non-null object
edu                 3901 non-null object
status              3901 non-null object
fam_memb            3901 non-null object
dtypes: float64(11), int64(1), object(14)
memory usage: 829.6+ KB

In [363]:
yy = dataO['std_oxygen'].sort_values(ascending = True)
xx = dataF['std_oxygen'].sort_values(ascending = True)