<h1>2. fáza - predspracovanie dát</h1>

In [1254]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

import re

In [1255]:
def splitPersonalInfo(dataO):
    temp = dataO['personal_info'].str.split("\r\r\n|--|\\|", expand = True)
    dataO['ethn'] = temp[0]
    dataO['state'] = temp[1]
    dataO['edu'] = temp[2]
    dataO['status'] = temp[3]
    dataO['fam_memb'] = temp[4] 
    dataO.drop(['personal_info'], axis = 1, inplace = True)

In [1256]:
def fusionDuplicates(datasetO):
    duplicat = datasetO[datasetO['name'].duplicated(keep=False)]
    duplicat = duplicat.sort_values('name')
    duplicat = duplicat.reset_index(drop=True)
    
    for i, row in duplicat.iterrows():
        if(i%2==1):
            duplicat = duplicat.drop(i)
            continue
        for j, value in row.items():
            dupValue = duplicat.loc[i+1,j]
            if(pd.isna(value)):
                duplicat.loc[i,j]=dupValue
    datasetO.drop_duplicates(subset='name',keep=False,inplace=True)
    result = datasetO.append(duplicat, ignore_index=True)
    return(result)

In [1257]:
def correctValuesO(dataset):
    for col in dataset.columns:
        if(dataset[col].dtype != np.object):
           continue
        dataset[col] = dataset[col].str.replace('_','-')
        dataset[col] = dataset[col].replace(to_replace = r'.*\?.*', value = np.nan, regex = True)
        dataset[col] = dataset[col].replace(to_replace = r'[Nn][Aa][Nn]', value = np.nan, regex = True)
        dataset[col] = dataset[col].replace(['T','F'], ['t', 'f'])
        dataset[col] = dataset[col].replace(to_replace = r'[Tt][Rr][Uu][Ee]', value = 't', regex = True)
        dataset[col] = dataset[col].replace(to_replace = r'[Ff][Aa][Ll][Ss][Ee]', value = 'f', regex = True)

def correctDates(series):
    s = series.str.split("-", expand = True)
    x = 0
    while(x<len(series)):
        print(str(x)+" "+s.iloc[x])
        if(re.match(r'^[0-9][0-9]-[0-9][0-9]-[0-9][0-9]$', series.loc[x])):
            if(s.iloc[x][0][:1]=='0'):
                series.loc[x] = "20"+s.iloc[x][0]+"-"+s.iloc[x][1]+"-"+s.iloc[x][2][0:2]
            else:
                series.loc[x] = "19"+s.iloc[x][0]+"-"+s.iloc[x][1]+"-"+s.iloc[x][2][0:2]
#            x += 1
#            continue
         #if(len(s.iloc[x][2])>2):
         #   series.loc[x] = s.iloc[x][0]+"-"+s.iloc[x][1]+"-"+s.iloc[x][2][:2]
        if(re.match(r'^[0-9][0-9]-[0-9][0-9]-[0-9][0-9][0-9][0-9]$', series.loc[x])):
            y = s.iloc[x][0]
            s.iloc[x][0] = s.iloc[x][2]
            s.iloc[x][2] = y
            series.loc[x] = s.iloc[x][0]+"-"+s.iloc[x][1]+"-"+s.iloc[x][2][0:2]
        if(len(series.loc[x])>10):
            series.loc[x] = series.loc[x][0:10]
        x += 1
        
def correctValuesP(dataset):
    for col in dataset.columns:
        if(dataset[col].dtype != np.object):
           continue
        dataset[col] = dataset[col].str.replace('/','-')    
    correctDates(dataset["date_of_birth"])

In [1258]:
dataP = pd.read_csv("personal_train.csv", index_col=0)
dataO = pd.read_csv("other_train.csv", index_col=0)

In [1259]:
splitPersonalInfo(dataO)

In [1260]:
dataP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3933 entries, 0 to 3932
Data columns (total 5 columns):
name             3933 non-null object
address          3933 non-null object
age              3933 non-null int64
sex              3933 non-null object
date_of_birth    3933 non-null object
dtypes: int64(1), object(4)
memory usage: 184.4+ KB

In [1261]:
dataO.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3983 entries, 0 to 3982
Data columns (total 25 columns):
name                3983 non-null object
address             3983 non-null object
kurtosis_oxygen     3709 non-null object
occupation          3974 non-null object
pregnant            3967 non-null object
education-num       3964 non-null float64
skewness_glucose    3970 non-null float64
mean_glucose        3573 non-null float64
std_oxygen          3967 non-null float64
capital-gain        3970 non-null float64
skewness_oxygen     3969 non-null float64
kurtosis_glucose    3965 non-null float64
fnlwgt              3974 non-null float64
class               3972 non-null float64
std_glucose         3964 non-null float64
income              3967 non-null object
mean_oxygen         3971 non-null float64
hours-per-week      3969 non-null float64
capital-loss        3971 non-null float64
workclass           3961 non-null object
ethn                3968 non-null object
state               3968 non-null object
edu                 3968 non-null object
status              3968 non-null object
fam_memb            3968 non-null object
dtypes: float64(13), object(12)
memory usage: 809.0+ KB

In [1262]:
len(dataO.name.unique())

3933

In [1263]:
namesO = dataO["name"].unique().sort()

In [1264]:
namesP = dataP["name"].unique().sort()

In [1265]:
np.array_equal(namesO, namesP)

True

In [1266]:
dataO.head()

,name,address,kurtosis_oxygen,occupation,pregnant,education-num,skewness_glucose,mean_glucose,std_oxygen,capital-gain,...,income,mean_oxygen,hours-per-week,capital-loss,workclass,ethn,state,edu,status,fam_memb
0,Daniel Love,"126 Ramirez Roads\r\nNew Jayville, IL 18861",10.58036423,Sales,f,9.0,3.158830,85.859375,14.121127,0.0,...,>50K,1.857860,40.0,1902.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
1,Roy Paradis,"01168 Stark Pine Apt. 583\r\nDavidville, IN 32044",3.713364594,Craft-repair,f,9.0,1.234184,91.679688,36.946291,0.0,...,<=50K,10.001672,40.0,2002.0,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
2,Charles Chen,"09482 Horne Lakes Apt. 373\r\nEast Brian, TN 2...",6.478064004,Handlers-cleaners,f,9.0,1.872355,89.960938,22.646980,0.0,...,<=50K,4.134615,48.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3,Chester Holmes,"720 Harris Turnpike Suite 732\r\nEast Sierra, ...",??,Sales,f,10.0,0.395583,NaN,14.001759,0.0,...,>50K,1.849498,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
4,James Ayala,Unit 3230 Box 9523\r\nDPO AA 55810,NaN,Transport-moving,f,9.0,0.493384,94.593750,29.361953,0.0,...,<=50K,5.739130,40.0,0.0,Private,Amer-Indian-Eskimo,United-States,HS-grad,Married-civ-spouse,Husband

In [1267]:
    dataOtypes = dataO["kurtosis_oxygen"].str.isdecimal()

In [1268]:
dataOtypes.shape

(3983,)

In [1269]:
dataOtypes.head()

0    False
1    False
2    False
3    False
4      NaN
Name: kurtosis_oxygen, dtype: object

In [1270]:
duplNames = dataO[dataO['name'].duplicated(keep=False)]
duplNames.sort_values('name')

,name,address,kurtosis_oxygen,occupation,pregnant,education-num,skewness_glucose,mean_glucose,std_oxygen,capital-gain,...,income,mean_oxygen,hours-per-week,capital-loss,workclass,ethn,state,edu,status,fam_memb
3718,Andrew Lawson,57159 Christopher Throughway Apt. 388\r\nWest ...,10.56049223,NaN,f,NaN,2.486716,87.585938,16.756233,0.0,...,>50K,2.035117,40.0,0.0,NaN,White,United-States,Bachelors,Married-civ-spouse,Husband
1298,Andrew Lawson,57159 Christopher Throughway Apt. 388\r\nWest ...,10.56049223,Sales,f,13.0,2.486716,87.585938,16.756233,NaN,...,NaN,2.035117,40.0,0.0,Private,White,United-States,Bachelors,Married-civ-spouse,Husband
3402,Andrew Olmstead,"519 Christopher Loop Suite 282\r\nRachelside, ...",6.9289193560000015,Craft-repair,f,9.0,0.548669,NaN,26.559749,0.0,...,<=50K,4.382943,52.0,0.0,NaN,White,United-States,HS-grad,Married-civ-spouse,Husband
281,Andrew Olmstead,"519 Christopher Loop Suite 282\r\nRachelside, ...",6.9289193560000015,NaN,f,NaN,0.548669,NaN,26.559749,0.0,...,<=50K,4.382943,52.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3851,Antonio Bailey,"29028 Bowman Parkways\r\nKerrview, FL 57851",0.368701087,Sales,f,6.0,10.093518,57.312500,79.734804,0.0,...,<=50K,96.128763,40.0,NaN,Self-emp-inc,White,Canada,10th,Widowed,Unmarried
2222,Antonio Bailey,"29028 Bowman Parkways\r\nKerrview, FL 57851",0.368701087,Sales,NaN,NaN,10.093518,57.312500,79.734804,NaN,...,<=50K,NaN,40.0,0.0,Self-emp-inc,White,Canada,10th,Widowed,Unmarried
2606,Antonio Rowan,"016 Jacob Tunnel Apt. 031\r\nAmandabury, CA 37683",??,Handlers-cleaners,f,9.0,0.208850,128.968750,15.056887,0.0,...,NaN,1.887960,45.0,0.0,Private,NaN,NaN,NaN,NaN,NaN
1987,Antonio Rowan,"016 Jacob Tunnel Apt. 031\r\nAmandabury, CA 37683",??,Handlers-cleaners,NaN,9.0,0.208850,128.968750,15.056887,0.0,...,<=50K,1.887960,45.0,0.0,Private,Black,United-States,HS-grad,Separated,Unmarried
3947,Ben Nelson,"45315 Obrien Inlet\r\nCynthiaport, OH 63603",22.14937084,Transport-moving,f,9.0,1.137467,92.804688,9.089983,0.0,...,>50K,0.511706,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
956,Ben Nelson,"45315 Obrien Inlet\r\nCynthiaport, OH 63603",22.14937084,Transport-moving,f,9.0,NaN,NaN,NaN,0.0,...,>50K,0.511706,40.0,0.0,Private,NaN,NaN,NaN,NaN,NaN
3274,Charles Pollack,"5703 Wilson Union Apt. 105\r\nStevenhaven, NJ ...",2.3511303530000003,Exec-managerial,t,11.0,1.789749,105.523438,55.529609,0.0,...,NaN,23.042642,NaN,0.0,Private,White,United-States,Assoc-voc,Divorced,Unmarried
3024,Charles Pollack,"5703 Wilson Union Apt. 105\r\nStevenhaven, NJ ...",2.3511303530000003,Exec-managerial,t,NaN,1.789749,105.523438,55.529609,0.0,...,NaN,23.042642,45.0,0.0,Private,White,United-States,Assoc-voc,Divorced,Unmarried
918,Craig Solomon,"PSC 7142, Box 7999\r\nAPO AA 51659",9.046560192000001,Sales,f,10.0,0.191146,NaN,15.941463,NaN,...,<=50K,NaN,22.0,0.0,NaN,White,United-States,Some-college,Never-married,Own-child
6,Craig Solomon,"PSC 7142, Box 7999\r\nAPO AA 51659",9.046560192000001,Sales,f,10.0,0.191146,NaN,15.941463,0.0,...,<=50K,2.176421,NaN,0.0,Private,White,United-States,Some-college,Never-married,Own-child
2340,David Arebalo,"0519 Cassie Orchard\r\nNew John, TX 71955",1.28418567,Exec-managerial,f,10.0,-0.201500,124.132812,80.684349,NaN,...,>50K,45.673077,50.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
1791,David Arebalo,"0519 Cassie Orchard\r\nNew John, TX 71955",1.28418567,Exec-managerial,f,NaN,-0.201500,124.132812,80.684349,0.0,...,NaN,45.673077,NaN,NaN,Private,White,United-States,Some-college,Married-civ-spouse,Husband
636,David Jones,"2455 Richardson Forks\r\nNorth Seanside, AL 57677",8.815196362,Prof-specialty,NaN,14.0,0.069518,139.898438,18.166055,0.0,...,<=50K,NaN,40.0,0.0,Local-gov,White,United-States,Masters,Married-civ-spouse,Husband
1813,David Jones,"2455 Richardson Forks\r\nNorth Seanside, AL 57677",8.815196362,Prof-specialty,f,14.0,0.069518,139.898438,18.166055,0.0,...,<=50K,2.482441,NaN,0.0,Local-gov,White,United-States,Masters,Married-civ-spouse,Husband
3878,David Short,"42574 Sutton Parkway\r\nPedromouth, OH 97593",NaN,Prof-specialty,f,14.0,30.428177,31.601562,62.868452,0.0,...,>50K,33.494983,30.0,0.0,Self-emp-not-inc,White,?,Masters,Married-civ-spouse,Husband
477,David Short,"42574 Sutton Parkway\r\nPedromouth, OH 97593",NaN,Prof-specialty,NaN,14.0,30.428177,31.601562,62.868452,0.0,...,>50K,33.494983,30.0,NaN,Self-emp-not-inc,NaN,NaN,NaN,NaN,NaN
3241,Donald Doyle,"48674 Sherry Alley Suite 529\r\nWest Nicholas,...",NaN,Sales,FALSE,NaN,NaN,111.320312,20.223886,0.0,...,NaN,2.982441,40.0,0.0,Private,NaN,NaN,NaN,NaN,NaN
174,Donald Doyle,"48674 Sherry Alley Suite 529\r\nWest Nicholas,...",NaN,Sales,FALSE,9.0,0.121351,111.320312,20.223886,0.0,...,<=50K,2.982441,40.0,NaN,Private,White,United-States,HS-grad,Never-married,Other-relative
514,Doyle Jenkins,"51959 Hawkins Stravenue\r\nWest Randy, MD 64351",2.961762332,Exec-managerial,f,13.0,0.021654,108.421875,55.631299,0.0,...,NaN,17.905518,40.0,0.0,Private,Asian-Pac-Islander,Philippines,Bachelors,Never-married,Not-in-family
2984,Doyle Jenkins,"51959 Hawkins Stravenue\r\nWest Randy, MD 64351",2.961762332,Exec-managerial,f,13.0,0.021654,108.421875,55.631299,0.0,...,<=50K,17.905518,NaN,0.0,Private,Asian-Pac-Islander,Philippines,Bachelors,Never-married,Not-in-family
2540,George Gilpatrick,"2906 Mitchell Crest Apt. 568\r\nHollyton, OH 4...",15.88535622,Farming-fishing,f,9.0,-0.544716,127.703125,12.709748,0.0,...,<=50K,1.107860,NaN,0.0,Local-gov,White,United-States,HS-grad,Never-married,Own-child
1277,George Gilpatrick,"2906 Mitchell Crest Apt. 568\r\nHollyton, OH 4...",15.88535622,Farming-fishing,NaN,9.0,-0.544716,127.703125,12.709748,0.0,...,<=50K,1.107860,20.0,NaN,Local-gov,NaN,NaN,NaN,NaN,NaN
3204,George Smith,"69758 Barnett Canyon Apt. 635\r\nVirginialand,...",8.108129205,Transport-moving,NaN,NaN,NaN,NaN,18.566882,0.0,...,<=50K,2.998328,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
2779,George Smith,"69758 Barnett Canyon Apt. 635\r\nVirginialand,...",8.108129205,Transport-moving,f,9.0,-0.034614,114.664062,18.566882,0.0,...,<=50K,2.998328,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
294,Gordon Funderburk,Unit 9139 Box 5625\r\nDPO AP 85541,4.847933096,Exec-managerial,f,9.0,-0.699649,NaN,34.186123,0.0,...,<=50K,7.177258,40.0,0.0,Local-gov,White,United-States,HS-grad,Widowed,Not-in-family
3010,Gordon Funderburk,Unit 9139 Box 5625\r\nDPO AP 85541,4.847933096,Exec-managerial,f,9.0,-0.699649,NaN,NaN,0.0,...,<=50K,NaN,40.0,0.0,NaN,White,United-States,HS-grad,Widowed,Not-in-family
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2267,Mike Murdock,"842 Scott Road\r\nWest Michael, ND 69887",NaN,Sales,NaN,13.0,-0.265510,136.914062,20.745736,NaN,...,NaN,3.691472,35.0,0.0,Private,Black,United-States,Bachelors,Never-married,Unmarried
2201,Mike Murdock,"842 Scott Road\r\nWest Michael, ND 69887",NaN,Sales,f,13.0,-0.265510,136.914062,20.745736,0.0,...,>50K,NaN,35.0,0.0,NaN,Black,United-States,Bachelors,Never-married,Unmarried
2976,Mike Rm,"8317 Sarah Streets Apt. 987\r\nWrighttown, NY ...",12.28357567,Transport-moving,f,5.0,-0.463015,117.078125,14.469198,0.0,...,>50K,1.468227,70.0,0.0,Self-emp-not-inc,White,United-States,9th,Married-civ-spouse,Husband
1554,Mike Rm,"8317 Sarah Streets Apt. 987\r\nWrighttown, NY ...",NaN,Transport-moving,f,NaN,NaN,NaN,14.469198,0.0,...,>50K,1.468227,NaN,0.0,Self-emp-not-inc,White,United-States,9th,Married-civ-spouse,Husband
3634,Paul Ladd,USNS Townsend\r\nFPO AE 97197,6.062392209,Sales,f,9.0,2.179898,94.218750,29.733092,NaN,...,NaN,5.266722,25.0,NaN,NaN,White,United-States,HS-grad,Never-married,Own-child
84,Paul Ladd,USNS Townsend\r\nFPO AE 97197,6.062392209,Sales,f,9.0,2.179898,94.218750,29.733092,0.0,...,<=50K,5.266722,25.0,0.0,Private,White,United-States,HS-grad,Never-married,Own-child
3441,Randall Mellett,"941 Woods Walks Suite 315\r\nNorth Andrealand,...",6.773794869,Sales,f,NaN,-0.104047,127.546875,NaN,NaN,...,<=50K,4.233278,45.0,0.0,Private,NaN,NaN,NaN,NaN,NaN
124,Randall Mellett,"941 Woods Walks Suite 315\r\nNorth Andrealand,...",6.773794869,Sales,f,10.0,-0.104047,127.546875,25.401128,0.0,...,<=50K,4.233278,45.0,0.0,Private,White,United-States,Some-college,Never-married,Not-in-family
1856,Raymond Goode,"0705 Heather Mountain\r\nFloresmouth, FL 91113",8.074870162,Craft_repair,f,NaN,NaN,NaN,NaN,0.0,...,<=50K,NaN,32.0,0.0,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
3162,Raymond Goode,"0705 Heather Mountain\r\nFloresmouth, FL 91113",8.074870162,Craft_repair,f,9.0,1.290224,89.437500,18.902544,0.0,...,<=50K,2.625418,32.0,0.0,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
826,Robert Lackey,"94782 Ortega Summit\r\nNew Andrewmouth, MN 99751",8.466196457999999,Other-service,f,9.0,NaN,NaN,17.515368,0.0,...,<=50K,2.780936,25.0,0.0,Private,White,United-States,HS-grad,Never-married,Other-relative
3785,Robert Lackey,"94782 Ortega Summit\r\nNew Andrewmouth, MN 99751",8.466196457999999,Other-service,f,9.0,0.492993,NaN,NaN,0.0,...,<=50K,2.780936,25.0,0.0,NaN,White,United-States,HS-grad,Never-married,Other-relative
1961,Russell Coleman,"PSC 1977, Box 7638\r\nAPO AE 29246",0.48443973,Sales,f,13.0,13.105819,17.023438,66.372428,0.0,...,<=50K,95.912207,NaN,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
1874,Russell Coleman,"PSC 1977, Box 7638\r\nAPO AE 29246",0.48443973,Sales,f,13.0,13.105819,NaN,NaN,0.0,...,<=50K,95.912207,40.0,NaN,Private,White,United-States,Bachelors,Never-married,Not-in-family
2159,Salvador Donnell,"287 Jessica Springs Apt. 923\r\nSantanaton, ND...",7.151723994,Prof-specialty,FALSE,NaN,0.108239,115.875000,22.170373,0.0,...,>50K,3.521739,42.0,0.0,Private,White,United-States,Masters,Married-civ-spouse,Husband
1241,Salvador Donnell,"287 Jessica Springs Apt. 923\r\nSantanaton, ND...",7.151723994,NaN,FALSE,14.0,0.108239,115.875000,NaN,NaN,...,>50K,3.521739,42.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2978,Steven Jacobs,"84245 Williamson Trail\r\nEast Pamelaside, AL ...",6.633057813,Prof-specialty,NaN,14.0,1.477925,88.710938,NaN,0.0,...,<=50K,NaN,50.0,0.0,NaN,White,United-States,Masters,Married-civ-spouse,Husband
1921,Steven Jacobs,"84245 Williamson Trail\r\nEast Pamelaside, AL ...",6.633057813,Prof-specialty,f,14.0,1.477925,88.710938,25.308950,0.0,...,<=50K,4.444816,50.0,0.0,State-gov,White,United-States,Masters,Married-civ-spouse,Husband
2999,Tim Price,"4811 Raymond Locks Suite 069\r\nEast Michael, ...",15.36988913,Prof-specialty,NaN,13.0,NaN,125.625000,11.701942,NaN,...,>50K,1.147993,40.0,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
3077,Tim Price,"4811 Raymond Locks Suite 069\r\nEast Michael, ...",15.36988913,Prof-specialty,t,13.0,-0.191658,125.625000,NaN,0.0,...,>50K,1.147993,40.0,NaN,Private,White,United-States,Bachelors,Never-married,Not-in-family
2818,Virgil Selman,66909 Frederick Path Apt. 504\r\nPort Jennifer...,NaN,Sales,f,7.0,-0.025640,NaN,10.809350,0.0,...,<=50K,NaN,15.0,0.0,Private,White,United-States,11th,Never-married,Own-child
3480,Virgil Selman,66909 Frederick Path Apt. 504\r\nPort Jennifer...,NaN,Sales,f,7.0,-0.025640,111.601562,10.809350,0.0,...,<=50K,1.607860,15.0,0.0,Private,White,United-States,11th,Never-married,Own-child
2474,William Glover,"655 Cody River Suite 554\r\nNorth Colton, DC 2...",NaN,Sales,f,9.0,-0.172403,138.429688,12.075740,0.0,...,<=50K,1.458194,40.0,0.0,NaN,White,United-States,HS-grad,Married-civ-spouse,Husband
2372,William Glover,"655 Cody River Suite 554\r\nNorth Colton, DC 2...",12.39898059,NaN,f,9.0,-0.172403,138.429688,12.075740,0.0,...,<=50K,1.458194,40.0,0.0,NaN,White,United-States,HS-grad,Married-civ-spouse,Husband
2423,William Hicks,"66744 Tiffany Shores Apt. 950\r\nNew Timothy, ...",2.45648463,Prof-specialty,f,14.0,31.058851,33.226562,57.705184,NaN,...,<=50K,26.705686,40.0,0.0,Federal-gov,White,United-States,Masters,Married-civ-spouse,Husband
1683,William Hicks,"66744 Tiffany Shores Apt. 950\r\nNew Timothy, ...",NaN,Prof-specialty,f,NaN,31.058851,33.226562,57.705184,0.0,...,<=50K,26.705686,40.0,0.0,NaN,White,United-States,Masters,Married-civ-spouse,Husband
2575,William Joecks,"089 Sherry Hollow Suite 058\r\nBrianberg, CT 0...",NaN,Other-service,f,NaN,-0.220297,117.601562,83.396249,0.0,...,<=50K,NaN,15.0,0.0,Private,White,United-States,11th,Never-married,Own-child
2280,William Joecks,"089 Sherry Hollow Suite 058\r\nBrianberg, CT 0...",??,Other-service,f,7.0,-0.220297,117.601562,83.396249,0.0,...,<=50K,79.782609,NaN,0.0,Private,White,United-States,11th,Never-married,Own-child
2259,William Stone,"535 Cabrera Wall Apt. 927\r\nEast David, TX 70904",NaN,Adm-clerical,f,9.0,-0.391453,118.609375,NaN,0.0,...,NaN,6.880435,35.0,0.0,Local-gov,Black,United-States,HS-grad,Divorced,Unmarried
1236,William Stone,"535 Cabrera Wall Apt. 927\r\nEast David, TX 70904",NaN,Adm-clerical,f,NaN,-0.391453,118.609375,31.452809,0.0,...,<=50K,6.880435,35.0,0.0,NaN,Black,United-States,HS-grad,Divorced,Unmarried

Po vypísani duplicitných mien sme zistili, že zlúčením týchto duplikátov vieme vyplniť chýbajúce hodnoty. Zároveň hodnoty, ktoré majú oba duplikáty sú rovnaké.

In [1271]:
dataO=fusionDuplicates(dataO)
dataO

,name,address,kurtosis_oxygen,occupation,pregnant,education-num,skewness_glucose,mean_glucose,std_oxygen,capital-gain,...,income,mean_oxygen,hours-per-week,capital-loss,workclass,ethn,state,edu,status,fam_memb
0,Daniel Love,"126 Ramirez Roads\r\nNew Jayville, IL 18861",10.58036423,Sales,f,9.0,3.158830,85.859375,14.121127,0.0,...,>50K,1.857860,40.0,1902.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
1,Roy Paradis,"01168 Stark Pine Apt. 583\r\nDavidville, IN 32044",3.713364594,Craft-repair,f,9.0,1.234184,91.679688,36.946291,0.0,...,<=50K,10.001672,40.0,2002.0,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
2,Charles Chen,"09482 Horne Lakes Apt. 373\r\nEast Brian, TN 2...",6.478064004,Handlers-cleaners,f,9.0,1.872355,89.960938,22.646980,0.0,...,<=50K,4.134615,48.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3,Chester Holmes,"720 Harris Turnpike Suite 732\r\nEast Sierra, ...",??,Sales,f,10.0,0.395583,NaN,14.001759,0.0,...,>50K,1.849498,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
4,James Ayala,Unit 3230 Box 9523\r\nDPO AA 55810,NaN,Transport-moving,f,9.0,0.493384,94.593750,29.361953,0.0,...,<=50K,5.739130,40.0,0.0,Private,Amer-Indian-Eskimo,United-States,HS-grad,Married-civ-spouse,Husband
5,Todd Flanagan,"2167 Wells Shoals Apt. 264\r\nEast Brianshire,...",6.384963147000001,?,f,9.0,-0.303185,125.742188,29.664529,0.0,...,<=50K,4.951505,15.0,0.0,?,White,United-States,HS-grad,Married-civ-spouse,Own-child
6,James Huffman,"535 Michael Squares\r\nNorth Sara, ID 61368",8.938092965,Sales,f,10.0,0.091356,145.835938,19.440728,0.0,...,<=50K,2.637124,50.0,0.0,Private,White,United-States,Some-college,Divorced,Not-in-family
7,Gary Prentice,"055 Nolan Club\r\nWest Bryanton, UT 15308",5.155939859,?,f,12.0,0.046797,138.179688,31.576347,0.0,...,<=50K,6.330268,1.0,0.0,?,White,United-States,Assoc-acdm,Divorced,Unmarried
8,Rodger Riis,7719 Frances Drives Apt. 525\r\nWest Brandonst...,2.436555082,Sales,f,10.0,-0.797075,129.976562,56.661158,0.0,...,<=50K,22.038462,35.0,0.0,Self-emp-inc,White,United-States,Some-college,Never-married,Own-child
9,Robert Cabiness,"70838 Robbins Camp Suite 853\r\nJacobville, SC...",14.38934822,Sales,f,9.0,1.035747,107.578125,11.797305,0.0,...,<=50K,1.002508,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Own-child
10,John Brehmer,"019 Donna Mountains\r\nAlyssaside, NC 78687",8.508906253,Adm-clerical,f,9.0,-0.362887,125.406250,19.298961,0.0,...,<=50K,3.076087,40.0,0.0,Federal-gov,Black,United-States,HS-grad,Separated,Unmarried
11,William West,"692 Tiffany Cape Suite 776\r\nNew Stacey, OK 9...",10.30903207,Exec-managerial,f,10.0,0.095533,117.390625,15.481005,0.0,...,>50K,2.125418,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
12,Thomas Rathburn,"708 Rodgers Streets Suite 909\r\nVanessamouth,...",8.620895914,Craft-repair,f,9.0,-0.685681,NaN,19.802528,0.0,...,<=50K,2.981605,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
13,Steven Welch,4017 Christopher Fort Suite 454\r\nHurleyville...,6.241462914,Craft-repair,f,9.0,0.440195,125.382812,33.316921,0.0,...,<=50K,5.237458,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
14,Leon Fleming,"2351 Brian Route Suite 878\r\nPort Richard, SC...",-0.219283809,Craft-repair,f,10.0,19.330374,35.664062,85.581283,0.0,...,>50K,126.169732,40.0,0.0,Private,White,United-States,Some-college,Divorced,Not-in-family
15,Jake Pearce,"1633 Sanders Club\r\nSouth Timothymouth, LA 30038",8.520990655,Farming-fishing,f,10.0,1.590114,110.226562,17.170471,0.0,...,<=50K,2.513378,40.0,0.0,State-gov,White,United-States,Some-college,Never-married,Own-child
16,Carl Nelson,"680 Higgins Square\r\nSharonborough, NJ 01147",10.64449998,Other-service,f,10.0,1.617376,83.812500,14.760813,0.0,...,<=50K,1.977425,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
17,Brian Murphrey,"7682 Cantu Glen\r\nMonroebury, NH 02629",3.870762606,Handlers-cleaners,f,9.0,0.867397,131.656250,40.512098,0.0,...,<=50K,10.780100,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Not-in-family
18,Brian Orozco,"699 Powell Gardens Apt. 171\r\nSloanland, HI 6...",7.919433455,Prof-specialty,F,13.0,-0.026361,136.648438,16.939515,0.0,...,<=50K,3.082776,50.0,0.0,Private,White,United-States,Bachelors,Divorced,Not-in-family
19,Julian Davis,75930 Jonathan Passage Suite 688\r\nPort Jamie...,5.560734251,Other-service,f,10.0,-0.174616,129.171875,34.033077,0.0,...,<=50K,6.186455,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
20,John Davenport,802 Christian Course Apt. 645\r\nPort Dominiqu...,9.858380523,Sales,f,9.0,2.022478,83.937500,15.002609,0.0,...,<=50K,2.117057,50.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Wife
21,Oscar Reynolds,"776 Guerrero Lock\r\nLake Erin, NY 53271",12.38519299,Tech-support,f,13.0,22.614915,39.843750,11.812581,0.0,...,>50K,1.905518,40.0,0.0,Private,Asian-Pac-Islander,India,Bachelors,Married-civ-spouse,Husband
22,Louis Stallworth,"476 Kevin Tunnel\r\nJenniferton, VT 33302",12.14303861,Craft-repair,f,9.0,0.250451,117.242188,12.032379,0.0,...,<=50K,1.759197,40.0,0.0,Private,White,United-States,HS-grad,Divorced,Own-child
23,Harold Hiles,"40820 Susan Shore\r\nCoryville, KS 28888",7.012918477,Craft-repair,f,7.0,0.003438,144.554688,27.775424,0.0,...,<=50K,4.556856,36.0,0.0,Self-emp-not-inc,White,United-States,11th,Married-civ-spouse,Husband
24,David Lopez,"420 Jensen Place\r\nPort Kyletown, KS 65788",8.02251786,Prof-specialty,f,10.0,0.410473,95.882812,18.127732,0.0,...,<=50K,2.973244,40.0,0.0,Private,White,United-States,Some-college,Divorced,Unmarried
25,Kenneth Weatherholt,6644 Marshall Mountains Suite 928\r\nWest Susa...,-0.074639079,Exec-managerial,FALSE,9.0,0.092750,112.406250,85.955181,0.0,...,<=50K,90.637124,40.0,0.0,Federal-gov,Black,United-States,HS-grad,Separated,Not-in-family
26,Corey Rose,"48053 Jeremiah Estate\r\nJeremychester, TN 50588",4.62701081,Adm-clerical,t,10.0,-0.326696,115.906250,33.779169,0.0,...,<=50K,7.519231,37.0,0.0,Private,Black,United-States,Some-college,Divorced,Unmarried
27,Arthur Crandall,806 Matthews River Suite 584\r\nPort Heidiside...,0.978638555,Exec-managerial,f,11.0,26.289988,52.687500,80.095947,0.0,...,>50K,61.021739,45.0,0.0,Private,White,United-States,Assoc-voc,Divorced,Not-in-family
28,Jesse Simpson,"6825 Lopez Crest Suite 574\r\nLake Sarah, CO 6...",8.265676186,Craft-repair,f,9.0,-0.585491,125.687500,19.353314,0.0,...,<=50K,2.720736,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Not-in-family
29,Rene Kershner,"1010 Miles Shore Suite 346\r\nWest Edward, NH ...",7.6771816039999985,Sales,f,9.0,-0.614574,124.039062,19.800855,0.0,...,<=50K,2.897157,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3903,Joseph Palumbo,"14921 Johnson Stravenue\r\nNorth David, KS 12153",1.582775516,Prof-specialty,FALSE,14.0,38.426350,28.195312,68.162797,0.0,...,>50K,50.848662,NaN,0.0,Local-gov,White,United-States,Masters,Married-civ-spouse,Husband
3904,Joseph Perez,"023 Cook Bypass Apt. 625\r\nNorth Anna, FL 05626",8.272507037999999,Machine_op_inspct,f,10.0,0.079527,NaN,18.194276,0.0,...,<=50K,2.710702,40.0,0.0,Private,Asian-Pac-Islander,Philippines,Some-college,Married-civ-spouse,Husband
3905,Joseph Williams,"6558 Smith Park Apt. 719\r\nLake Johnmouth, DE...",15.23249089,Craft-repair,F,10.0,0.581744,NaN,11.739069,15024.0,...,>50K,0.939799,40.0,0.0,Private,Black,United-States,Some-college,Married-civ-spouse,Husband
3906,Juan Thurber,"655 Rosales Camp Suite 191\r\nDavisview, WV 49205",0.243013429,Prof-specialty,f,14.0,27.574659,31.109375,66.434844,0.0,...,>50K,115.192308,40.0,0.0,Federal-gov,White,?,Masters,Married-civ-spouse,Husband
3907,Kenneth Burr,"61596 Danielle Trafficway\r\nSouth Ryan, ND 49582",NaN,Prof-specialty,f,14.0,1.259574,116.226562,28.590406,0.0,...,>50K,5.403846,40.0,0.0,Self-emp-not-inc,White,United-States,Masters,Married-civ-spouse,Husband
3908,Kenneth Zamora,"9086 Becker Streets\r\nNew Michaelbury, MA 54353",2.325276941,Transport-moving,f,9.0,0.519678,110.664062,58.577725,15831.0,...,>50K,22.954013,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Not-in-family
3909,Kevin Bell,"793 Erika Springs Suite 802\r\nLake Donnaview,...",5.726569838,Adm_clerical,f,9.0,4.056839,83.148438,30.577686,0.0,...,<=50K,6.010033,40.0,0.0,NaN,White,United-States,HS-grad,Never-married,Own-child
3910,Leslie Pack,"77641 Brian Camp\r\nSouth Amberville, IA 89230",-1.529820477,Machine-op-inspct,f,8.0,1.953768,184.296875,77.547235,0.0,...,<=50K,174.563545,45.0,0.0,Private,White,United-States,12th,Never-married,Not-in-family
3911,Lonnie Fuhrman,"77622 Bright Station\r\nMorrismouth, MO 52269",NaN,Other-service,f,9.0,31.808962,NaN,55.135775,0.0,...,<=50K,34.369565,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Other-relative
3912,Louis Lochrico,"358 Reed Springs\r\nEast Stevenport, NC 86309",8.034997045,Prof-specialty,f,15.0,0.022226,111.148438,19.402824,99999.0,...,>50K,3.151338,40.0,0.0,Self-emp-inc,White,United-States,Prof-school,Married-civ-spouse,Husband
3913,Luis Salcedo,"7232 Mcconnell Prairie\r\nEdwardsmouth, MN 55917",-1.019263452,?,f,13.0,35.287238,8.226562,62.914859,6767.0,...,<=50K,184.525920,20.0,0.0,?,White,United-States,Bachelors,Married-civ-spouse,Husband
3914,Malcolm Rotz,"545 Marshall Rapid\r\nEast Stephanieborough, M...",16.1071543,Machine-op-inspct,f,9.0,0.635848,110.484375,11.280522,0.0,...,<=50K,0.829431,40.0,0.0,Private,White,United-States,HS-grad,Divorced,Unmarried
3915,Manuel Dupre,"216 Elliott Squares\r\nLake Breannaborough, MD...",NaN,Sales,f,12.0,2.231021,90.500000,13.174810,0.0,...,>50K,2.298495,38.0,0.0,Self-emp-inc,NaN,NaN,NaN,NaN,NaN
3916,Marcel Ross,33418 Trevino Stravenue Apt. 225\r\nWest Nicho...,11.32787187,Craft-repair,f,10.0,2.259311,99.328125,15.775832,0.0,...,<=50K,1.601171,40.0,0.0,Self-emp-not-inc,White,United-States,Some-college,Divorced,Unmarried
3917,Mark Macklin,4932 Lauren Mission Suite 711\r\nSouth Danielp...,NaN,Adm-clerical,f,13.0,-0.117095,123.773438,21.805846,0.0,...,<=50K,3.596154,40.0,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
3918,Mike Murdock,"842 Scott Road\r\nWest Michael, ND 69887",NaN,Sales,f,13.0,-0.265510,136.914062,20.745736,0.0,...,>50K,3.691472,35.0,0.0,Private,Black,United-States,Bachelors,Never-married,Unmarried
3919,Mike Rm,"8317 Sarah Streets Apt. 987\r\nWrighttown, NY ...",12.28357567,Transport-moving,f,5.0,-0.463015,117.078125,14.469198,0.0,...,>50K,1.468227,70.0,0.0,Self-emp-not-inc,White,United-States,9th,Married-civ-spouse,Husband
3920,Paul Ladd,USNS Townsend\r\nFPO AE 97197,6.062392209,Sales,f,9.0,2.179898,94.218750,29.733092,0.0,...,<=50K,5.266722,25.0,0.0,Private,White,United-States,HS-grad,Never-married,Own-child
3921,Randall Mellett,"941 Woods Walks Suite 315\r\nNorth Andrealand,...",6.773794869,Sales,f,10.0,-0.104047,127.546875,25.401128,0.0,...,<=50K,4.233278,45.0,0.0,Private,White,United-States,Some-college,Never-married,Not-in-family
3922,Raymond Goode,"0705 Heather Mountain\r\nFloresmouth, FL 91113",8.074870162,Craft_repair,f,9.0,1.290224,89.437500,18.902544,0.0,...,<=50K,2.625418,32.0,0.0,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
3923,Robert Lackey,"94782 Ortega Summit\r\nNew Andrewmouth, MN 99751",8.466196457999999,Other-service,f,9.0,0.492993,NaN,17.515368,0.0,...,<=50K,2.780936,25.0,0.0,Private,White,United-States,HS-grad,Never-married,Other-relative
3924,Russell Coleman,"PSC 1977, Box 7638\r\nAPO AE 29246",0.48443973,Sales,f,13.0,13.105819,17.023438,66.372428,0.0,...,<=50K,95.912207,40.0,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
3925,Salvador Donnell,"287 Jessica Springs Apt. 923\r\nSantanaton, ND...",7.151723994,Prof-specialty,FALSE,14.0,0.108239,115.875000,22.170373,0.0,...,>50K,3.521739,42.0,0.0,Private,White,United-States,Masters,Married-civ-spouse,Husband
3926,Steven Jacobs,"84245 Williamson Trail\r\nEast Pamelaside, AL ...",6.633057813,Prof-specialty,f,14.0,1.477925,88.710938,25.308950,0.0,...,<=50K,4.444816,50.0,0.0,State-gov,White,United-States,Masters,Married-civ-spouse,Husband
3927,Tim Price,"4811 Raymond Locks Suite 069\r\nEast Michael, ...",15.36988913,Prof-specialty,t,13.0,-0.191658,125.625000,11.701942,0.0,...,>50K,1.147993,40.0,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
3928,Virgil Selman,66909 Frederick Path Apt. 504\r\nPort Jennifer...,NaN,Sales,f,7.0,-0.025640,111.601562,10.809350,0.0,...,<=50K,1.607860,15.0,0.0,Private,White,United-States,11th,Never-married,Own-child
3929,William Glover,"655 Cody River Suite 554\r\nNorth Colton, DC 2...",12.39898059,Sales,f,9.0,-0.172403,138.429688,12.075740,0.0,...,<=50K,1.458194,40.0,0.0,NaN,White,United-States,HS-grad,Married-civ-spouse,Husband
3930,William Hicks,"66744 Tiffany Shores Apt. 950\r\nNew Timothy, ...",2.45648463,Prof-specialty,f,14.0,31.058851,33.226562,57.705184,0.0,...,<=50K,26.705686,40.0,0.0,Federal-gov,White,United-States,Masters,Married-civ-spouse,Husband
3931,William Joecks,"089 Sherry Hollow Suite 058\r\nBrianberg, CT 0...",??,Other-service,f,7.0,-0.220297,117.601562,83.396249,0.0,...,<=50K,79.782609,15.0,0.0,Private,White,United-States,11th,Never-married,Own-child
3932,William Stone,"535 Cabrera Wall Apt. 927\r\nEast David, TX 70904",NaN,Adm-clerical,f,9.0,-0.391453,118.609375,31.452809,0.0,...,<=50K,6.880435,35.0,0.0,Local-gov,Black,United-States,HS-grad,Divorced,Unmarried

In [1272]:
dataO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933 entries, 0 to 3932
Data columns (total 25 columns):
name                3933 non-null object
address             3933 non-null object
kurtosis_oxygen     3677 non-null object
occupation          3933 non-null object
pregnant            3933 non-null object
education-num       3933 non-null float64
skewness_glucose    3933 non-null float64
mean_glucose        3539 non-null float64
std_oxygen          3933 non-null float64
capital-gain        3933 non-null float64
skewness_oxygen     3933 non-null float64
kurtosis_glucose    3933 non-null float64
fnlwgt              3933 non-null float64
class               3933 non-null float64
std_glucose         3932 non-null float64
income              3932 non-null object
mean_oxygen         3933 non-null float64
hours-per-week      3932 non-null float64
capital-loss        3933 non-null float64
workclass           3931 non-null object
ethn                3932 non-null object
state               3932 non-null object
edu                 3932 non-null object
status              3932 non-null object
fam_memb            3932 non-null object
dtypes: float64(13), object(12)
memory usage: 768.2+ KB

In [1273]:
dataO[dataO.isnull().any(axis=1)]

,name,address,kurtosis_oxygen,occupation,pregnant,education-num,skewness_glucose,mean_glucose,std_oxygen,capital-gain,...,income,mean_oxygen,hours-per-week,capital-loss,workclass,ethn,state,edu,status,fam_memb
3,Chester Holmes,"720 Harris Turnpike Suite 732\r\nEast Sierra, ...",??,Sales,f,10.0,0.395583,NaN,14.001759,0.0,...,>50K,1.849498,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
4,James Ayala,Unit 3230 Box 9523\r\nDPO AA 55810,NaN,Transport-moving,f,9.0,0.493384,94.593750,29.361953,0.0,...,<=50K,5.739130,40.0,0.0,Private,Amer-Indian-Eskimo,United-States,HS-grad,Married-civ-spouse,Husband
12,Thomas Rathburn,"708 Rodgers Streets Suite 909\r\nVanessamouth,...",8.620895914,Craft-repair,f,9.0,-0.685681,NaN,19.802528,0.0,...,<=50K,2.981605,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
30,Patrick Cortez,"96216 Prince Prairie\r\nSouth Ryantown, IL 02827",7.1463000810000015,Exec-managerial,f,14.0,-0.036529,NaN,25.228435,0.0,...,<=50K,3.768395,45.0,0.0,Local-gov,White,United-States,Masters,Married-civ-spouse,Husband
56,Bobby Alicea,"787 Edwards Groves\r\nNew Melissaville, VT 70198",9.805805146,Exec-managerial,f,13.0,0.137797,NaN,18.641943,0.0,...,>50K,2.074415,40.0,0.0,Private,White,United-States,Bachelors,Married-civ-spouse,Husband
63,Kendrick Presha,9027 Odom Turnpike Suite 930\r\nLake Mariebury...,NaN,Other-service,f,7.0,2.432726,90.304688,12.879898,0.0,...,<=50K,2.207358,15.0,0.0,Private,White,United-States,11th,Never-married,Own-child
68,Fredrick Jack,"610 Griffith Causeway Apt. 479\r\nMatthewside,...",NaN,Machine-op-inspct,f,9.0,38.708198,7.796875,55.704857,0.0,...,<=50K,109.125418,20.0,0.0,Private,White,United-States,HS-grad,Never-married,Own-child
71,James Bonner,"09320 Smith Trace Apt. 263\r\nAllenfort, MI 15391",NaN,Machine-op-inspct,f,10.0,-0.551288,119.960938,12.605750,0.0,...,<=50K,1.769231,45.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
75,Mark Barrera,"18561 Scott Orchard Apt. 325\r\nDavismouth, MT...",9.233192137,Handlers-cleaners,f,9.0,0.146675,NaN,14.620565,0.0,...,<=50K,2.423913,20.0,0.0,Private,White,United-States,HS-grad,Divorced,Own-child
76,Thomas Bohler,"0168 Linda Pine Suite 684\r\nSouth Adamside, A...",??,Prof-specialty,FALSE,12.0,0.476484,NaN,14.197757,0.0,...,<=50K,1.751672,36.0,0.0,State-gov,Asian-Pac-Islander,United-States,Assoc-acdm,Divorced,Unmarried
77,Paul Rodriguez,"221 Combs Shores\r\nShelleyville, ND 98552",2.35103641,Adm-clerical,f,10.0,-0.931859,NaN,51.516759,0.0,...,<=50K,20.328595,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
95,Jonathan Spears,698 Cody Prairie Suite 415\r\nPort Jenniferche...,NaN,Other-service,f,8.0,-0.076444,119.789062,15.024700,0.0,...,<=50K,1.765050,20.0,0.0,Private,White,United-States,12th,Never-married,Own-child
98,Federico Hoobler,"725 Gina Views Suite 261\r\nNew Shawnmouth, ID...",NaN,Exec-managerial,f,14.0,-0.265377,132.390625,52.760554,0.0,...,>50K,15.480769,35.0,0.0,Private,White,United-States,Masters,Married-civ-spouse,Husband
114,James Eells,"9949 David Fields Suite 552\r\nLindaview, NM 6...",0.416348214,Sales,f,13.0,37.836804,NaN,69.737153,0.0,...,<=50K,87.148829,40.0,0.0,Private,Black,United-States,Bachelors,Never-married,Not-in-family
115,Thomas Jones,"029 Chang Grove Apt. 096\r\nJoycebury, NY 44576",12.43719156,Exec_managerial,f,14.0,0.036179,NaN,12.478568,15024.0,...,>50K,1.279264,50.0,0.0,Self-emp-inc,White,United-States,Masters,Married-civ-spouse,Husband
117,Edwin Richard,"1450 Maria Meadow Suite 436\r\nJasonmouth, LA ...",10.83494618,Prof-specialty,f,11.0,0.091127,NaN,14.716581,0.0,...,<=50K,1.949833,35.0,0.0,Local-gov,Black,United-States,Assoc-voc,Separated,Unmarried
121,Jeff Clemens,"6764 Jensen Fork Apt. 780\r\nDeckermouth, OR 9...",0.271929916,Handlers-cleaners,f,9.0,27.798855,NaN,67.635692,0.0,...,<=50K,115.087793,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
158,William Audirsch,USNV Shannon\r\nFPO AE 72271,NaN,Prof_specialty,f,11.0,0.025450,142.820312,37.817406,0.0,...,<=50K,10.031773,35.0,0.0,Self-emp-not-inc,White,United-States,Assoc-voc,Divorced,Not-in-family
167,Albert Menefee,"992 Hanson Shore\r\nJamesmouth, OR 19553",8.901882518999999,Adm-clerical,f,13.0,0.198871,NaN,18.286275,0.0,...,<=50K,2.367057,35.0,0.0,Private,White,United-States,Bachelors,Never-married,Own-child
183,Irwin Micale,"5166 Brady Walks\r\nEast Stacey, SD 44467",13.06534094,?,f,10.0,-0.315000,NaN,12.475082,0.0,...,<=50K,1.244147,24.0,0.0,?,White,Canada,Some-college,Never-married,Own-child
185,Anthony Widell,027 Robertson Cliffs Suite 493\r\nWest Katelyn...,6.743182537999999,Sales,f,13.0,0.602061,NaN,24.736350,15024.0,...,>50K,4.510870,55.0,0.0,Self-emp-not-inc,White,United-States,Bachelors,Married-civ-spouse,Husband
187,Kent Mcgrew,"5798 Stephanie Green\r\nWoodwardbury, DE 59169",NaN,?,F,10.0,-0.325158,124.710938,94.282096,0.0,...,<=50K,111.006689,3.0,0.0,?,Amer-Indian-Eskimo,United-States,Some-college,Widowed,Not-in-family
204,King Valentin,"63159 Scott River\r\nSouth Beverly, IL 94155",5.390038887,Prof-specialty,f,15.0,0.550780,NaN,29.216770,0.0,...,>50K,5.918896,90.0,2415.0,Private,White,United-States,Prof-school,Married-civ-spouse,Husband
206,William Snyder,"935 Patricia Underpass\r\nHardyberg, MA 64743",1.49597623,Farming-fishing,f,9.0,34.001238,NaN,77.787280,0.0,...,<=50K,46.620401,40.0,0.0,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
208,Jermaine Kuns,"04888 Rachel Mission\r\nNorth Gwendolyn, MI 19925",NaN,Exec-managerial,f,13.0,2.462325,83.062500,13.631787,0.0,...,<=50K,0.964047,40.0,0.0,State-gov,Asian-Pac-Islander,United-States,Bachelors,Divorced,Not-in-family
223,Dennis Stith,"73282 Jacob Pines Suite 356\r\nRickytown, NV 7...",5.701894315,Prof-specialty,F,13.0,-0.493655,NaN,25.696600,0.0,...,<=50K,5.312709,50.0,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
225,Dusty Lochrico,"78283 Oliver Hills Apt. 730\r\nMichaelaside, C...",NaN,Craft-repair,F,10.0,-0.175453,123.804688,10.581796,0.0,...,<=50K,1.276756,40.0,0.0,Self-emp-not-inc,White,United-States,Some-college,Married-civ-spouse,Husband
232,James Scott,"496 Rachel Divide Apt. 374\r\nTeresaview, NC 2...",NaN,Prof-specialty,f,9.0,29.275675,NaN,62.688760,0.0,...,>50K,41.974916,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
233,Dwight Lee,"9453 Fischer Brook\r\nPaulside, TN 81428",3.608318452,Prof-specialty,f,14.0,0.016703,NaN,41.445156,0.0,...,>50K,11.919732,40.0,0.0,Self-emp-not-inc,White,United-States,Masters,Never-married,Not-in-family
247,Efrain Miller,"71734 Jordan Manor\r\nHarrisville, NV 14987",NaN,Adm_clerical,f,10.0,1.406224,105.648438,12.676619,0.0,...,<=50K,1.244983,50.0,0.0,Self-emp-not-inc,White,United-States,Some-college,Divorced,Unmarried
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3823,Stephen Harris,"60752 Kimberly Squares\r\nTanyafort, LA 55055",10.62791588,Prof-specialty,f,13.0,-0.295055,NaN,13.578381,0.0,...,<=50K,1.978261,40.0,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
3828,Edward Ross,"9419 Cathy Unions\r\nAllisonborough, ID 72266",NaN,Sales,f,9.0,6.045175,NaN,60.055317,0.0,...,<=50K,30.042642,45.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3830,Vernon Godwin,"9638 Mario Ford Suite 929\r\nNorth Paulfurt, M...",7.125129693,Prof-specialty,f,16.0,-0.244318,NaN,20.374390,0.0,...,>50K,3.454013,36.0,0.0,Private,White,United-States,Doctorate,Never-married,Not-in-family
3841,Todd Haynes,"970 Huang Cape\r\nPort Danielmouth, IL 19130",13.10583628,Sales,f,9.0,-0.393823,NaN,11.602918,0.0,...,<=50K,1.290970,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Own-child
3856,Edward Wilson,"01757 Melissa Forest\r\nNorth David, MD 54561",9.055379919,Adm-clerical,f,10.0,0.263672,NaN,15.611687,0.0,...,<=50K,2.658863,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
3858,Peter Mcguiness,"328 Rogers Rapids Suite 326\r\nLeemouth, KS 70161",NaN,Craft-repair,f,13.0,8.129110,75.273438,61.752185,0.0,...,>50K,25.410535,58.0,0.0,Private,White,United-States,Bachelors,Married-civ-spouse,Husband
3865,Edward Hess,"60152 Hancock Rest Apt. 479\r\nChungfurt, DE 8...",NaN,Handlers-cleaners,f,9.0,-0.041647,132.164062,17.521491,0.0,...,>50K,2.808528,40.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3877,Jesse Maria,"7862 Morales Inlet Suite 744\r\nSouth Maria, O...",??,Protective-serv,f,13.0,0.163764,NaN,22.678437,0.0,...,>50K,4.207358,40.0,0.0,Local-gov,White,United-States,Bachelors,Married-civ-spouse,Husband
3878,Aaron Gregg,"10883 Williams Locks Suite 821\r\nEast Carmen,...",9.997709483,Machine-op-inspct,f,9.0,0.824933,NaN,16.012031,0.0,...,<=50K,2.088629,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Not-in-family
3881,William Lamay,"330 Mary Locks Apt. 162\r\nNew Kylietown, ME 5...",8.975832521000001,Other-service,f,9.0,0.285097,NaN,19.340066,0.0,...,<=50K,2.869565,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Own-child
3884,Andrew Olmstead,"519 Christopher Loop Suite 282\r\nRachelside, ...",6.9289193560000015,Craft-repair,f,9.0,0.548669,NaN,26.559749,0.0,...,<=50K,4.382943,52.0,0.0,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3888,Charles Pollack,"5703 Wilson Union Apt. 105\r\nStevenhaven, NJ ...",2.3511303530000003,Exec-managerial,t,11.0,1.789749,105.523438,55.529609,0.0,...,NaN,23.042642,45.0,0.0,Private,White,United-States,Assoc-voc,Divorced,Unmarried
3889,Craig Solomon,"PSC 7142, Box 7999\r\nAPO AA 51659",9.046560192000001,Sales,f,10.0,0.191146,NaN,15.941463,0.0,...,<=50K,2.176421,22.0,0.0,Private,White,United-States,Some-college,Never-married,Own-child
3892,David Short,"42574 Sutton Parkway\r\nPedromouth, OH 97593",NaN,Prof-specialty,f,14.0,30.428177,31.601562,62.868452,0.0,...,>50K,33.494983,30.0,0.0,Self-emp-not-inc,White,?,Masters,Married-civ-spouse,Husband
3893,Donald Doyle,"48674 Sherry Alley Suite 529\r\nWest Nicholas,...",NaN,Sales,FALSE,9.0,0.121351,111.320312,20.223886,0.0,...,<=50K,2.982441,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Other-relative
3897,Gordon Funderburk,Unit 9139 Box 5625\r\nDPO AP 85541,4.847933096,Exec-managerial,f,9.0,-0.699649,NaN,34.186123,0.0,...,<=50K,7.177258,40.0,0.0,Local-gov,White,United-States,HS-grad,Widowed,Not-in-family
3900,James Barwick,USNV Potter\r\nFPO AP 27132,NaN,Sales,f,10.0,2.078418,108.273438,19.496749,0.0,...,>50K,3.723244,40.0,0.0,Private,White,United-States,Some-college,Married-civ-spouse,Husband
3903,Joseph Palumbo,"14921 Johnson Stravenue\r\nNorth David, KS 12153",1.582775516,Prof-specialty,FALSE,14.0,38.426350,28.195312,68.162797,0.0,...,>50K,50.848662,NaN,0.0,Local-gov,White,United-States,Masters,Married-civ-spouse,Husband
3904,Joseph Perez,"023 Cook Bypass Apt. 625\r\nNorth Anna, FL 05626",8.272507037999999,Machine_op_inspct,f,10.0,0.079527,NaN,18.194276,0.0,...,<=50K,2.710702,40.0,0.0,Private,Asian-Pac-Islander,Philippines,Some-college,Married-civ-spouse,Husband
3905,Joseph Williams,"6558 Smith Park Apt. 719\r\nLake Johnmouth, DE...",15.23249089,Craft-repair,F,10.0,0.581744,NaN,11.739069,15024.0,...,>50K,0.939799,40.0,0.0,Private,Black,United-States,Some-college,Married-civ-spouse,Husband
3907,Kenneth Burr,"61596 Danielle Trafficway\r\nSouth Ryan, ND 49582",NaN,Prof-specialty,f,14.0,1.259574,116.226562,28.590406,0.0,...,>50K,5.403846,40.0,0.0,Self-emp-not-inc,White,United-States,Masters,Married-civ-spouse,Husband
3909,Kevin Bell,"793 Erika Springs Suite 802\r\nLake Donnaview,...",5.726569838,Adm_clerical,f,9.0,4.056839,83.148438,30.577686,0.0,...,<=50K,6.010033,40.0,0.0,NaN,White,United-States,HS-grad,Never-married,Own-child
3911,Lonnie Fuhrman,"77622 Bright Station\r\nMorrismouth, MO 52269",NaN,Other-service,f,9.0,31.808962,NaN,55.135775,0.0,...,<=50K,34.369565,40.0,0.0,Private,White,United-States,HS-grad,Never-married,Other-relative
3915,Manuel Dupre,"216 Elliott Squares\r\nLake Breannaborough, MD...",NaN,Sales,f,12.0,2.231021,90.500000,13.174810,0.0,...,>50K,2.298495,38.0,0.0,Self-emp-inc,NaN,NaN,NaN,NaN,NaN
3917,Mark Macklin,4932 Lauren Mission Suite 711\r\nSouth Danielp...,NaN,Adm-clerical,f,13.0,-0.117095,123.773438,21.805846,0.0,...,<=50K,3.596154,40.0,0.0,Private,White,United-States,Bachelors,Never-married,Not-in-family
3918,Mike Murdock,"842 Scott Road\r\nWest Michael, ND 69887",NaN,Sales,f,13.0,-0.265510,136.914062,20.745736,0.0,...,>50K,3.691472,35.0,0.0,Private,Black,United-States,Bachelors,Never-married,Unmarried
3923,Robert Lackey,"94782 Ortega Summit\r\nNew Andrewmouth, MN 99751",8.466196457999999,Other-service,f,9.0,0.492993,NaN,17.515368,0.0,...,<=50K,2.780936,25.0,0.0,Private,White,United-States,HS-grad,Never-married,Other-relative
3928,Virgil Selman,66909 Frederick Path Apt. 504\r\nPort Jennifer...,NaN,Sales,f,7.0,-0.025640,111.601562,10.809350,0.0,...,<=50K,1.607860,15.0,0.0,Private,White,United-States,11th,Never-married,Own-child
3929,William Glover,"655 Cody River Suite 554\r\nNorth Colton, DC 2...",12.39898059,Sales,f,9.0,-0.172403,138.429688,12.075740,0.0,...,<=50K,1.458194,40.0,0.0,NaN,White,United-States,HS-grad,Married-civ-spouse,Husband
3932,William Stone,"535 Cabrera Wall Apt. 927\r\nEast David, TX 70904",NaN,Adm-clerical,f,9.0,-0.391453,118.609375,31.452809,0.0,...,<=50K,6.880435,35.0,0.0,Local-gov,Black,United-States,HS-grad,Divorced,Unmarried

In [1274]:
replaced = dataO.replace(to_replace=r'^[0-9,\-].*[0-9]$',value='number',regex=True)
replaced.select_dtypes(include='object')

,name,address,kurtosis_oxygen,occupation,pregnant,income,workclass,ethn,state,edu,status,fam_memb
0,Daniel Love,"126 Ramirez Roads\r\nNew Jayville, IL 18861",number,Sales,f,>50K,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
1,Roy Paradis,"01168 Stark Pine Apt. 583\r\nDavidville, IN 32044",number,Craft-repair,f,<=50K,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
2,Charles Chen,"09482 Horne Lakes Apt. 373\r\nEast Brian, TN 2...",number,Handlers-cleaners,f,<=50K,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
3,Chester Holmes,"720 Harris Turnpike Suite 732\r\nEast Sierra, ...",??,Sales,f,>50K,Private,White,United-States,Some-college,Married-civ-spouse,Husband
4,James Ayala,Unit 3230 Box 9523\r\nDPO AA 55810,NaN,Transport-moving,f,<=50K,Private,Amer-Indian-Eskimo,United-States,HS-grad,Married-civ-spouse,Husband
5,Todd Flanagan,"2167 Wells Shoals Apt. 264\r\nEast Brianshire,...",number,?,f,<=50K,?,White,United-States,HS-grad,Married-civ-spouse,Own-child
6,James Huffman,"535 Michael Squares\r\nNorth Sara, ID 61368",number,Sales,f,<=50K,Private,White,United-States,Some-college,Divorced,Not-in-family
7,Gary Prentice,"055 Nolan Club\r\nWest Bryanton, UT 15308",number,?,f,<=50K,?,White,United-States,Assoc-acdm,Divorced,Unmarried
8,Rodger Riis,7719 Frances Drives Apt. 525\r\nWest Brandonst...,number,Sales,f,<=50K,Self-emp-inc,White,United-States,Some-college,Never-married,Own-child
9,Robert Cabiness,"70838 Robbins Camp Suite 853\r\nJacobville, SC...",number,Sales,f,<=50K,Private,White,United-States,HS-grad,Never-married,Own-child
10,John Brehmer,"019 Donna Mountains\r\nAlyssaside, NC 78687",number,Adm-clerical,f,<=50K,Federal-gov,Black,United-States,HS-grad,Separated,Unmarried
11,William West,"692 Tiffany Cape Suite 776\r\nNew Stacey, OK 9...",number,Exec-managerial,f,>50K,Private,White,United-States,Some-college,Married-civ-spouse,Husband
12,Thomas Rathburn,"708 Rodgers Streets Suite 909\r\nVanessamouth,...",number,Craft-repair,f,<=50K,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
13,Steven Welch,4017 Christopher Fort Suite 454\r\nHurleyville...,number,Craft-repair,f,<=50K,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
14,Leon Fleming,"2351 Brian Route Suite 878\r\nPort Richard, SC...",number,Craft-repair,f,>50K,Private,White,United-States,Some-college,Divorced,Not-in-family
15,Jake Pearce,"1633 Sanders Club\r\nSouth Timothymouth, LA 30038",number,Farming-fishing,f,<=50K,State-gov,White,United-States,Some-college,Never-married,Own-child
16,Carl Nelson,"680 Higgins Square\r\nSharonborough, NJ 01147",number,Other-service,f,<=50K,Private,White,United-States,Some-college,Married-civ-spouse,Husband
17,Brian Murphrey,"7682 Cantu Glen\r\nMonroebury, NH 02629",number,Handlers-cleaners,f,<=50K,Private,White,United-States,HS-grad,Never-married,Not-in-family
18,Brian Orozco,"699 Powell Gardens Apt. 171\r\nSloanland, HI 6...",number,Prof-specialty,F,<=50K,Private,White,United-States,Bachelors,Divorced,Not-in-family
19,Julian Davis,75930 Jonathan Passage Suite 688\r\nPort Jamie...,number,Other-service,f,<=50K,Private,White,United-States,Some-college,Married-civ-spouse,Husband
20,John Davenport,802 Christian Course Apt. 645\r\nPort Dominiqu...,number,Sales,f,<=50K,Private,White,United-States,HS-grad,Married-civ-spouse,Wife
21,Oscar Reynolds,"776 Guerrero Lock\r\nLake Erin, NY 53271",number,Tech-support,f,>50K,Private,Asian-Pac-Islander,India,Bachelors,Married-civ-spouse,Husband
22,Louis Stallworth,"476 Kevin Tunnel\r\nJenniferton, VT 33302",number,Craft-repair,f,<=50K,Private,White,United-States,HS-grad,Divorced,Own-child
23,Harold Hiles,"40820 Susan Shore\r\nCoryville, KS 28888",number,Craft-repair,f,<=50K,Self-emp-not-inc,White,United-States,11th,Married-civ-spouse,Husband
24,David Lopez,"420 Jensen Place\r\nPort Kyletown, KS 65788",number,Prof-specialty,f,<=50K,Private,White,United-States,Some-college,Divorced,Unmarried
25,Kenneth Weatherholt,6644 Marshall Mountains Suite 928\r\nWest Susa...,number,Exec-managerial,FALSE,<=50K,Federal-gov,Black,United-States,HS-grad,Separated,Not-in-family
26,Corey Rose,"48053 Jeremiah Estate\r\nJeremychester, TN 50588",number,Adm-clerical,t,<=50K,Private,Black,United-States,Some-college,Divorced,Unmarried
27,Arthur Crandall,806 Matthews River Suite 584\r\nPort Heidiside...,number,Exec-managerial,f,>50K,Private,White,United-States,Assoc-voc,Divorced,Not-in-family
28,Jesse Simpson,"6825 Lopez Crest Suite 574\r\nLake Sarah, CO 6...",number,Craft-repair,f,<=50K,Private,White,United-States,HS-grad,Never-married,Not-in-family
29,Rene Kershner,"1010 Miles Shore Suite 346\r\nWest Edward, NH ...",number,Sales,f,<=50K,Private,White,United-States,HS-grad,Married-civ-spouse,Husband
...,...,...,...,...,...,...,...,...,...,...,...,...
3903,Joseph Palumbo,"14921 Johnson Stravenue\r\nNorth David, KS 12153",number,Prof-specialty,FALSE,>50K,Local-gov,White,United-States,Masters,Married-civ-spouse,Husband
3904,Joseph Perez,"023 Cook Bypass Apt. 625\r\nNorth Anna, FL 05626",number,Machine_op_inspct,f,<=50K,Private,Asian-Pac-Islander,Philippines,Some-college,Married-civ-spouse,Husband
3905,Joseph Williams,"6558 Smith Park Apt. 719\r\nLake Johnmouth, DE...",number,Craft-repair,F,>50K,Private,Black,United-States,Some-college,Married-civ-spouse,Husband
3906,Juan Thurber,"655 Rosales Camp Suite 191\r\nDavisview, WV 49205",number,Prof-specialty,f,>50K,Federal-gov,White,?,Masters,Married-civ-spouse,Husband
3907,Kenneth Burr,"61596 Danielle Trafficway\r\nSouth Ryan, ND 49582",NaN,Prof-specialty,f,>50K,Self-emp-not-inc,White,United-States,Masters,Married-civ-spouse,Husband
3908,Kenneth Zamora,"9086 Becker Streets\r\nNew Michaelbury, MA 54353",number,Transport-moving,f,>50K,Private,White,United-States,HS-grad,Never-married,Not-in-family
3909,Kevin Bell,"793 Erika Springs Suite 802\r\nLake Donnaview,...",number,Adm_clerical,f,<=50K,NaN,White,United-States,HS-grad,Never-married,Own-child
3910,Leslie Pack,"77641 Brian Camp\r\nSouth Amberville, IA 89230",number,Machine-op-inspct,f,<=50K,Private,White,United-States,12th,Never-married,Not-in-family
3911,Lonnie Fuhrman,"77622 Bright Station\r\nMorrismouth, MO 52269",NaN,Other-service,f,<=50K,Private,White,United-States,HS-grad,Never-married,Other-relative
3912,Louis Lochrico,"358 Reed Springs\r\nEast Stevenport, NC 86309",number,Prof-specialty,f,>50K,Self-emp-inc,White,United-States,Prof-school,Married-civ-spouse,Husband
3913,Luis Salcedo,"7232 Mcconnell Prairie\r\nEdwardsmouth, MN 55917",number,?,f,<=50K,?,White,United-States,Bachelors,Married-civ-spouse,Husband
3914,Malcolm Rotz,"545 Marshall Rapid\r\nEast Stephanieborough, M...",number,Machine-op-inspct,f,<=50K,Private,White,United-States,HS-grad,Divorced,Unmarried
3915,Manuel Dupre,"216 Elliott Squares\r\nLake Breannaborough, MD...",NaN,Sales,f,>50K,Self-emp-inc,NaN,NaN,NaN,NaN,NaN
3916,Marcel Ross,33418 Trevino Stravenue Apt. 225\r\nWest Nicho...,number,Craft-repair,f,<=50K,Self-emp-not-inc,White,United-States,Some-college,Divorced,Unmarried
3917,Mark Macklin,4932 Lauren Mission Suite 711\r\nSouth Danielp...,NaN,Adm-clerical,f,<=50K,Private,White,United-States,Bachelors,Never-married,Not-in-family
3918,Mike Murdock,"842 Scott Road\r\nWest Michael, ND 69887",NaN,Sales,f,>50K,Private,Black,United-States,Bachelors,Never-married,Unmarried
3919,Mike Rm,"8317 Sarah Streets Apt. 987\r\nWrighttown, NY ...",number,Transport-moving,f,>50K,Self-emp-not-inc,White,United-States,9th,Married-civ-spouse,Husband
3920,Paul Ladd,USNS Townsend\r\nFPO AE 97197,number,Sales,f,<=50K,Private,White,United-States,HS-grad,Never-married,Own-child
3921,Randall Mellett,"941 Woods Walks Suite 315\r\nNorth Andrealand,...",number,Sales,f,<=50K,Private,White,United-States,Some-college,Never-married,Not-in-family
3922,Raymond Goode,"0705 Heather Mountain\r\nFloresmouth, FL 91113",number,Craft_repair,f,<=50K,Self-emp-not-inc,White,United-States,HS-grad,Married-civ-spouse,Husband
3923,Robert Lackey,"94782 Ortega Summit\r\nNew Andrewmouth, MN 99751",number,Other-service,f,<=50K,Private,White,United-States,HS-grad,Never-married,Other-relative
3924,Russell Coleman,"PSC 1977, Box 7638\r\nAPO AE 29246",number,Sales,f,<=50K,Private,White,United-States,Bachelors,Never-married,Not-in-family
3925,Salvador Donnell,"287 Jessica Springs Apt. 923\r\nSantanaton, ND...",number,Prof-specialty,FALSE,>50K,Private,White,United-States,Masters,Married-civ-spouse,Husband
3926,Steven Jacobs,"84245 Williamson Trail\r\nEast Pamelaside, AL ...",number,Prof-specialty,f,<=50K,State-gov,White,United-States,Masters,Married-civ-spouse,Husband
3927,Tim Price,"4811 Raymond Locks Suite 069\r\nEast Michael, ...",number,Prof-specialty,t,>50K,Private,White,United-States,Bachelors,Never-married,Not-in-family
3928,Virgil Selman,66909 Frederick Path Apt. 504\r\nPort Jennifer...,NaN,Sales,f,<=50K,Private,White,United-States,11th,Never-married,Own-child
3929,William Glover,"655 Cody River Suite 554\r\nNorth Colton, DC 2...",number,Sales,f,<=50K,NaN,White,United-States,HS-grad,Married-civ-spouse,Husband
3930,William Hicks,"66744 Tiffany Shores Apt. 950\r\nNew Timothy, ...",number,Prof-specialty,f,<=50K,Federal-gov,White,United-States,Masters,Married-civ-spouse,Husband
3931,William Joecks,"089 Sherry Hollow Suite 058\r\nBrianberg, CT 0...",??,Other-service,f,<=50K,Private,White,United-States,11th,Never-married,Own-child
3932,William Stone,"535 Cabrera Wall Apt. 927\r\nEast David, TX 70904",NaN,Adm-clerical,f,<=50K,Local-gov,Black,United-States,HS-grad,Divorced,Unmarried

In [1275]:
replaced['kurtosis_oxygen'].unique()

array(['number', '??', nan], dtype=object)

In [1276]:
replaced['occupation'].unique()

array([' Sales', ' Craft-repair', ' Handlers-cleaners',
       ' Transport-moving', ' ?', ' Adm-clerical', ' Exec-managerial',
       ' Farming-fishing', ' Other-service', ' Prof-specialty',
       ' Tech-support', ' Machine-op-inspct', ' Exec_managerial',
       ' Other_service', ' Prof_specialty', ' Protective-serv',
       ' Craft_repair', ' Protective_serv', ' Adm_clerical',
       ' Machine_op_inspct', ' Farming_fishing', ' Priv-house-serv',
       ' Transport_moving', ' Handlers_cleaners', ' Priv_house_serv',
       ' Tech_support', ' Armed-Forces'], dtype=object)

In [1277]:
replaced['pregnant'].unique()

array(['f', 'F', 'FALSE', 't', 'TRUE', 'T'], dtype=object)

In [1278]:
replaced['education-num'].unique()

array([ 9., 10., 12., 13.,  7., 11., 14., 16.,  8.,  6.,  3., 15.,  4.,
        5.,  2.,  1.])

In [1279]:
replaced['edu'].unique()

array(['HS-grad ', 'Some-college ', 'Assoc-acdm ', 'Bachelors ', '11th ',
       'Assoc-voc ', 'Masters ', 'Doctorate ', '12th ', '10th ',
       '5th-6th ', 'Prof-school ', '7th-8th ', '9th ', '1st-4th ',
       'Preschool ', nan], dtype=object)

In [1280]:
replaced['income'].unique()

array([' >50K', ' <=50K', nan], dtype=object)

In [1281]:
replaced['workclass'].unique()

array([' Private', ' Self-emp-not-inc', ' ?', ' Self-emp-inc',
       ' Federal-gov', ' State-gov', ' Local-gov', ' Without-pay', nan],
      dtype=object)

In [1282]:
replaced['ethn'].unique()

array(['White', 'Amer-Indian-Eskimo', 'Black', 'Asian-Pac-Islander',
       'Other', nan], dtype=object)

In [1283]:
replaced['state'].unique()

array(['United-States', 'India', 'Thailand', 'Puerto-Rico', 'Philippines',
       'Cuba', '?', 'China', 'Columbia', 'Canada', 'Poland', 'Mexico',
       'Vietnam', 'El-Salvador', 'Jamaica', 'Japan', 'Yugoslavia',
       'Italy', 'Germany', 'Guatemala', 'Ecuador', 'Hungary', 'Ireland',
       'Taiwan', 'England', 'France', 'Peru', 'Portugal', 'South',
       'Trinadad&Tobago', 'Dominican-Republic', 'Iran', 'Cambodia',
       'Outlying-US(Guam-USVI-etc)', 'Haiti', 'Scotland', 'Nicaragua',
       'Hong', 'Holand-Netherlands', 'Greece', nan], dtype=object)

In [1284]:
replaced['status'].unique()

array([' Married-civ-spouse', ' Divorced', ' Never-married', ' Separated',
       ' Widowed', ' Married-spouse-absent', ' Married-AF-spouse', nan],
      dtype=object)

In [1285]:
replaced['fam_memb'].unique()

array(['Husband', 'Own-child', 'Not-in-family', 'Unmarried', 'Wife',
       'Other-relative', nan], dtype=object)

In [1286]:
correctValuesO(dataO)

In [1287]:
dataO['pregnant'].unique()

array(['f', 't'], dtype=object)

In [1288]:
dataP.head(26)

,name,address,age,sex,date_of_birth
0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",36,Female,1983-01-16
1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",4800,Female,71-09-03
2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",6200,Male,1957-10-02
3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",1700,Male,2002-02-27
4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",35,Male,1984-03-23
5,Ronald Lange,"30973 Martinez Shores\r\nJameston, CA 70245",60,Female,1959-01-07
6,Boyd Eiselein,29941 Christopher Curve Apt. 682\r\nRaychester...,49,Male,1970-09-12
7,Raymond Smith,53487 Scott Extensions Apt. 824\r\nMccartytown...,43,Female,1976-04-18
8,Harold Miller,"8514 Elizabeth Crescent\r\nWest Joseland, GA 4...",40,Male,1978-10-31
9,Charles Czachorowski,"6798 Wagner Locks Suite 377\r\nLake Brenda, DC...",58,Male,61-01-05
10,Robert Grantham,"822 Adams Plains\r\nNew Karen, AK 92114",56,Male,1963-02-19
11,Joel Lam,61296 Reginald Rapids Suite 783\r\nWest Timoth...,50,Male,1969-09-24
12,Irving Gil,"90757 Amanda Views Suite 604\r\nPort Paul, TX ...",42,Female,1977-05-23
13,Terry Reynolds,0019 Jensen Land Apt. 513\r\nPort Timothyville...,43,Female,1976-08-20
14,Kurt Littlefield,"822 Wilson Meadow\r\nMitchellmouth, RI 05935",67,Female,1952-08-28
15,Andy Grayson,"2573 Ryan Mission\r\nShortton, DC 01129",52,Female,1967-09-13
16,Chauncey Suarez,"481 Wilson Prairie\r\nKimberlymouth, LA 20064",68,Male,1951-05-01
17,Wallace Street,"9909 John Creek\r\nEast Heather, NY 31266",6500,Male,1953-12-07
18,Daniel Crossman,"74669 Robles Drive\r\nPort Madisonbury, LA 63565",76,Female,1942-12-09
19,Steve Ripp,"7629 Ramos Knoll\r\nOwensmouth, NC 34420",58,Male,1961-10-20
20,George Hairston,"18356 Benjamin Roads\r\nSouth Nancy, NJ 58120",48,Male,1971-02-17
21,Jeffrey Taylor,USNV Kim\r\nFPO AA 96043,66,Female,1953-03-02
22,David Mealy,"0873 Diaz Village\r\nSandrastad, DE 05796",59,Male,1959-12-23
23,Garfield Bowen,"3678 Gloria Pine Apt. 652\r\nKevinfort, LA 80839",27,Male,24/09/1992
24,Thaddeus Mackerl,"8122 Jessica Knolls Apt. 880\r\nDakotafurt, WV...",59,Male,1960-10-11 00:00:00
25,Gerald Pack,"6146 Roman Shores\r\nNew Christine, OR 28920",64,Male,1955-04-30 00 00 00

In [1289]:
replaced = dataP.replace(to_replace = r'[0-9]', value = 'x', regex = True)

In [1290]:
replaced["date_of_birth"].unique()

array(['xxxx-xx-xx', 'xx-xx-xx', 'xx/xx/xxxx', 'xxxx-xx-xx xx:xx:xx',
       'xxxx-xx-xx xx xx xx', 'xxxx/xx/xx'], dtype=object)

xx/xx/xxxx --> dd/mm/yyyy

In [1291]:
date = dataP["date_of_birth"][dataP["date_of_birth"].str.match(r'[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]')].sort_values(ascending=False).str.split("/", 3, expand = True)

In [1292]:
date.max()

0      31.0
1      12.0
2    2005.0
dtype: float64

xxxx/xx/xx --> yyyy/mm/dd

In [1293]:
date = dataP["date_of_birth"][dataP["date_of_birth"].str.match(r'[0-9][0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9]')].sort_values(ascending=False).str.split("/", 3, expand = True)

In [1294]:
date.max()

0    2020.0
1      12.0
2      31.0
dtype: float64

xxxx-xx-xx --> yyyy-mm-dd

In [1295]:
date = dataP["date_of_birth"][dataP["date_of_birth"].str.match(r'[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]')].sort_values(ascending=False).str.split("-", 3, expand = True)

In [1296]:
date.max()

0           2016
1             12
2    31 00:00:00
dtype: object

xx-xx-xx --> yy-mm-dd

In [1297]:
date = dataP["date_of_birth"][dataP["date_of_birth"].str.match(r'[0-9][0-9]-[0-9][0-9]-[0-9][0-9]')].sort_values(ascending=False).str.split("-", 3, expand = True)

In [1298]:
date.max()

0    96.0
1    12.0
2    31.0
dtype: float64

In [1299]:
date[0].unique()

array(['96', '93', '91', '90', '89', '88', '87', '86', '85', '84', '83',
       '82', '81', '80', '79', '78', '77', '76', '75', '74', '73', '72',
       '71', '70', '69', '68', '67', '66', '65', '64', '63', '62', '61',
       '60', '59', '58', '57', '56', '55', '54', '53', '52', '51', '50',
       '49', '48', '47', '42', '39', '29', '03', '00'], dtype=object)

In [1300]:
correctValuesP(dataP)

0    0 1983
1      0 01
2      0 16
Name: 0, dtype: object
0    1 71
1    1 09
2    1 03
Name: 1, dtype: object
0    2 1957
1      2 10
2      2 02
Name: 2, dtype: object
0    3 2002
1      3 02
2      3 27
Name: 3, dtype: object
0    4 1984
1      4 03
2      4 23
Name: 4, dtype: object
0    5 1959
1      5 01
2      5 07
Name: 5, dtype: object
0    6 1970
1      6 09
2      6 12
Name: 6, dtype: object
0    7 1976
1      7 04
2      7 18
Name: 7, dtype: object
0    8 1978
1      8 10
2      8 31
Name: 8, dtype: object
0    9 61
1    9 01
2    9 05
Name: 9, dtype: object

C:\Users\Andrej\Anaconda3\envs\iau\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

0    10 1963
1      10 02
2      10 19
Name: 10, dtype: object
0    11 1969
1      11 09
2      11 24
Name: 11, dtype: object
0    12 1977
1      12 05
2      12 23
Name: 12, dtype: object
0    13 1976
1      13 08
2      13 20
Name: 13, dtype: object
0    14 1952
1      14 08
2      14 28
Name: 14, dtype: object
0    15 1967
1      15 09
2      15 13
Name: 15, dtype: object
0    16 1951
1      16 05
2      16 01
Name: 16, dtype: object
0    17 1953
1      17 12
2      17 07
Name: 17, dtype: object
0    18 1942
1      18 12
2      18 09
Name: 18, dtype: object
0    19 1961
1      19 10
2      19 20
Name: 19, dtype: object
0    20 1971
1      20 02
2      20 17
Name: 20, dtype: object
0    21 1953
1      21 03
2      21 02
Name: 21, dtype: object
0    22 1959
1      22 12
2      22 23
Name: 22, dtype: object
0      23 24
1      23 09
2    23 1992
Name: 23, dtype: object
0           24 1960
1             24 10
2    24 11 00:00:00
Name: 24, dtype: object
0           25 1955
1             25 04
2    25 30 00 00 00
Name: 25, dtype: object
0    26 1967
1      26 09
2      26 25
Name: 26, dtype: object
0    27 1978
1      27 07
2      27 21
Name: 27, dtype: object
0           28 1955
1             28 05
2    28 15 00 00 00
Name: 28, dtype: object
0    29 1956
1      29 03
2      29 16
Name: 29, dtype: object
0           30 1962
1             30 10
2    30 29 00:00:00
Name: 30, dtype: object
0           31 1948
1             31 01
2    31 07 00:00:00
Name: 31, dtype: object
0    32 1988
1      32 09
2      32 15
Name: 32, dtype: object
0    33 1963
1      33 11
2      33 16
Name: 33, dtype: object
0    34 1954
1      34 08
2      34 15
Name: 34, dtype: object
0    35 1958
1      35 04
2      35 23
Name: 35, dtype: object
0    36 68
1    36 12
2    36 18
Name: 36, dtype: object
0    37 1979
1      37 08
2      37 09
Name: 37, dtype: object
0    38 1973
1      38 03
2      38 09
Name: 38, dtype: object
0    39 1981
1      39 07
2      39 03
Name: 39, dtype: object
0           40 1968
1             40 12
2    40 12 00:00:00
Name: 40, dtype: object
0    41 1963
1      41 07
2      41 23
Name: 41, dtype: object
0    42 1968
1      42 09
2      42 18
Name: 42, dtype: object
0    43 1964
1      43 05
2      43 01
Name: 43, dtype: object
0    44 1967
1      44 09
2      44 20
Name: 44, dtype: object
0           45 1972
1             45 04
2    45 02 00 00 00
Name: 45, dtype: object
0    46 1977
1      46 10
2      46 24
Name: 46, dtype: object
0    47 1967
1      47 01
2      47 15
Name: 47, dtype: object
0    48 1953
1      48 06
2      48 17
Name: 48, dtype: object
0    49 1969
1      49 09
2      49 28
Name: 49, dtype: object
0    50 1976
1      50 05
2      50 19
Name: 50, dtype: object
0    51 1949
1      51 08
2      51 14
Name: 51, dtype: object
0           52 1962
1             52 03
2    52 27 00 00 00
Name: 52, dtype: object
0    53 1956
1      53 04
2      53 27
Name: 53, dtype: object
0    54 1942
1      54 04
2      54 22
Name: 54, dtype: object
0    55 1950
1      55 07
2      55 31
Name: 55, dtype: object
0    56 1972
1      56 09
2      56 27
Name: 56, dtype: object
0    57 1982
1      57 05
2      57 07
Name: 57, dtype: object
0    58 1985
1      58 09
2      58 26
Name: 58, dtype: object
0    59 1963
1      59 12
2      59 21
Name: 59, dtype: object
0    60 51
1    60 10
2    60 24
Name: 60, dtype: object
0    61 1974
1      61 08
2      61 02
Name: 61, dtype: object
0    62 1973
1      62 10
2      62 03
Name: 62, dtype: object
0    63 1967
1      63 06
2      63 01
Name: 63, dtype: object
0    64 1970
1      64 09
2      64 11
Name: 64, dtype: object
0    65 1968
1      65 01
2      65 26
Name: 65, dtype: object
0    66 1969
1      66 06
2      66 14
Name: 66, dtype: object
0    67 64
1    67 07
2    67 19
Name: 67, dtype: object
0    68 1968
1      68 01
2      68 22
Name: 68, dtype: object
0    69 1949
1      69 05
2      69 16
Name: 69, dtype: object
0    70 1962
1      70 04
2      70 03
Name: 70, dtype: object
0           71 1975
1             71 10
2    71 07 00 00 00
Name: 71, dtype: object
0      72 24
1      72 11
2    72 1960
Name: 72, dtype: object
0    73 1961
1      73 04
2      73 19
Name: 73, dtype: object
0    74 1976
1      74 03
2      74 12
Name: 74, dtype: object
0    75 56
1    75 10
2    75 26
Name: 75, dtype: object
0    76 1979
1      76 05
2      76 26
Name: 76, dtype: object
0           77 1962
1             77 06
2    77 01 00 00 00
Name: 77, dtype: object
0    78 1969
1      78 09
2      78 07
Name: 78, dtype: object
0    79 55
1    79 03
2    79 17
Name: 79, dtype: object
0    80 1955
1      80 02
2      80 23
Name: 80, dtype: object
0    81 1991
1      81 11
2      81 08
Name: 81, dtype: object
0    82 1970
1      82 02
2      82 21
Name: 82, dtype: object
0    83 1985
1      83 08
2      83 15
Name: 83, dtype: object
0    84 1967
1      84 12
2      84 29
Name: 84, dtype: object
0    85 1970
1      85 03
2      85 17
Name: 85, dtype: object
0    86 1972
1      86 10
2      86 24
Name: 86, dtype: object
0           87 1954
1             87 10
2    87 21 00 00 00
Name: 87, dtype: object
0      88 16
1      88 08
2    88 1964
Name: 88, dtype: object
0    89 1959
1      89 12
2      89 15
Name: 89, dtype: object
0    90 1975
1      90 10
2      90 31
Name: 90, dtype: object
0           91 1962
1             91 11
2    91 12 00:00:00
Name: 91, dtype: object
0    92 62
1    92 10
2    92 18
Name: 92, dtype: object
0    93 78
1    93 04
2    93 22
Name: 93, dtype: object
0    94 54
1    94 06
2    94 08
Name: 94, dtype: object
0           95 1966
1             95 08
2    95 12 00:00:00
Name: 95, dtype: object
0    96 1944
1      96 08
2      96 08
Name: 96, dtype: object
0    97 1961
1      97 03
2      97 30
Name: 97, dtype: object
0    98 1965
1      98 08
2      98 25
Name: 98, dtype: object
0    99 1964
1      99 07
2      99 30
Name: 99, dtype: object
0    100 1953
1      100 07
2      100 15
Name: 100, dtype: object
0    101 1963
1      101 11
2      101 03
Name: 101, dtype: object
0           102 1964
1             102 07
2    102 09 00:00:00
Name: 102, dtype: object
0    103 1967
1      103 01
2      103 01
Name: 103, dtype: object
0    104 1976
1      104 11
2      104 24
Name: 104, dtype: object
0    105 1965
1      105 10
2      105 31
Name: 105, dtype: object
0    106 1969
1      106 07
2      106 15
Name: 106, dtype: object
0    107 1968
1      107 10
2      107 28
Name: 107, dtype: object
0    108 1961
1      108 05
2      108 30
Name: 108, dtype: object
0           109 1951
1             109 01
2    109 21 00 00 00
Name: 109, dtype: object
0    110 1964
1      110 08
2      110 24
Name: 110, dtype: object
0    111 1954
1      111 12
2      111 17
Name: 111, dtype: object
0           112 1963
1             112 02
2    112 26 00 00 00
Name: 112, dtype: object
0    113 1975
1      113 04
2      113 20
Name: 113, dtype: object
0    114 1971
1      114 01
2      114 28
Name: 114, dtype: object
0    115 1968
1      115 11
2      115 29
Name: 115, dtype: object
0    116 1970
1      116 01
2      116 05
Name: 116, dtype: object
0    117 65
1    117 05
2    117 12
Name: 117, dtype: object
0    118 1955
1      118 09
2      118 09
Name: 118, dtype: object
0      119 07
1      119 04
2    119 1965
Name: 119, dtype: object
0    120 1985
1      120 10
2      120 27
Name: 120, dtype: object
0    121 1967
1      121 08
2      121 10
Name: 121, dtype: object
0    122 1960
1      122 11
2      122 14
Name: 122, dtype: object
0           123 1975
1             123 04
2    123 17 00:00:00
Name: 123, dtype: object
0    124 1956
1      124 07
2      124 29
Name: 124, dtype: object
0    125 1959
1      125 10
2      125 17
Name: 125, dtype: object
0    126 1958
1      126 06
2      126 02
Name: 126, dtype: object
0    127 93
1    127 07
2    127 08
Name: 127, dtype: object
0    128 1954
1      128 12
2      128 19
Name: 128, dtype: object
0      129 24
1      129 11
2    129 1962
Name: 129, dtype: object
0    130 1968
1      130 12
2      130 13
Name: 130, dtype: object
0    131 1980
1      131 01
2      131 23
Name: 131, dtype: object
0           132 1967
1             132 12
2    132 27 00 00 00
Name: 132, dtype: object
0    133 1967
1      133 08
2      133 27
Name: 133, dtype: object
0    134 1962
1      134 04
2      134 07
Name: 134, dtype: object
0    135 1951
1      135 12
2      135 11
Name: 135, dtype: object
0    136 1970
1      136 02
2      136 25
Name: 136, dtype: object
0    137 83
1    137 08
2    137 15
Name: 137, dtype: object
0           138 1954
1             138 11
2    138 09 00:00:00

Name: 138, dtype: object
0    139 1970
1      139 02
2      139 22
Name: 139, dtype: object
0    140 1967
1      140 01
2      140 26
Name: 140, dtype: object
0    141 73
1    141 12
2    141 22
Name: 141, dtype: object
0    142 1975
1      142 12
2      142 30
Name: 142, dtype: object
0    143 1973
1      143 11
2      143 27
Name: 143, dtype: object
0           144 1957
1             144 01
2    144 23 00 00 00
Name: 144, dtype: object
0    145 1966
1      145 07
2      145 25
Name: 145, dtype: object
0    146 1970
1      146 09
2      146 10
Name: 146, dtype: object
0    147 1968
1      147 07
2      147 27
Name: 147, dtype: object
0      148 06
1      148 11
2    148 1980
Name: 148, dtype: object
0    149 1992
1      149 05
2      149 02
Name: 149, dtype: object
0    150 1957
1      150 10
2      150 17
Name: 150, dtype: object
0    151 1953
1      151 11
2      151 07
Name: 151, dtype: object
0    152 1979
1      152 11
2      152 09
Name: 152, dtype: object
0    153 1958
1      153 12
2      153 10
Name: 153, dtype: object
0    154 1970
1      154 05
2      154 29
Name: 154, dtype: object
0    155 1960
1      155 12
2      155 03
Name: 155, dtype: object
0    156 1963
1      156 12
2      156 23
Name: 156, dtype: object
0    157 1962
1      157 11
2      157 22
Name: 157, dtype: object
0           158 1956
1             158 04
2    158 23 00 00 00
Name: 158, dtype: object
0    159 1961
1      159 06
2      159 16
Name: 159, dtype: object
0    160 1984
1      160 03
2      160 02
Name: 160, dtype: object
0    161 1964
1      161 12
2      161 03
Name: 161, dtype: object
0    162 1949
1      162 10
2      162 12
Name: 162, dtype: object
0    163 67
1    163 04
2    163 07
Name: 163, dtype: object
0    164 1970
1      164 12
2      164 01
Name: 164, dtype: object
0    165 1970
1      165 10
2      165 22
Name: 165, dtype: object
0    166 1958
1      166 07
2      166 10
Name: 166, dtype: object
0    167 1965
1      167 06
2      167 19
Name: 167, dtype: object
0    168 1980
1      168 01
2      168 08
Name: 168, dtype: object
0    169 1989
1      169 03
2      169 19
Name: 169, dtype: object
0    170 1976
1      170 04
2      170 06
Name: 170, dtype: object
0    171 1987
1      171 04
2      171 16
Name: 171, dtype: object
0    172 1954
1      172 01
2      172 17
Name: 172, dtype: object
0    173 1966
1      173 09
2      173 22
Name: 173, dtype: object
0    174 1960
1      174 08
2      174 05
Name: 174, dtype: object
0    175 61
1    175 05
2    175 25
Name: 175, dtype: object
0    176 1945
1      176 02
2      176 19
Name: 176, dtype: object
0    177 1962
1      177 03
2      177 13
Name: 177, dtype: object
0    178 1951
1      178 11
2      178 30
Name: 178, dtype: object
0    179 1950
1      179 11
2      179 25
Name: 179, dtype: object
0    180 1958
1      180 10
2      180 12
Name: 180, dtype: object
0    181 1963
1      181 06
2      181 05
Name: 181, dtype: object
0    182 1952
1      182 10
2      182 01
Name: 182, dtype: object
0    183 1994
1      183 03
2      183 11
Name: 183, dtype: object
0    184 1984
1      184 11
2      184 28
Name: 184, dtype: object
0    185 70
1    185 12
2    185 26
Name: 185, dtype: object
0    186 1964
1      186 03
2      186 04
Name: 186, dtype: object
0           187 1960
1             187 06
2    187 03 00 00 00
Name: 187, dtype: object
0    188 1968
1      188 12
2      188 24
Name: 188, dtype: object
0    189 1952
1      189 02
2      189 07
Name: 189, dtype: object
0    190 71
1    190 11
2    190 16
Name: 190, dtype: object
0    191 1971
1      191 10
2      191 10
Name: 191, dtype: object
0    192 1962
1      192 01
2      192 14
Name: 192, dtype: object
0      193 04
1      193 03
2    193 1968
Name: 193, dtype: object
0    194 1966
1      194 07
2      194 07
Name: 194, dtype: object
0    195 1970
1      195 01
2      195 26
Name: 195, dtype: object
0    196 1959
1      196 07
2      196 18
Name: 196, dtype: object
0    197 1959
1      197 08
2      197 25
Name: 197, dtype: object
0      198 30
1      198 08
2    198 1962
Name: 198, dtype: object
0    199 1970
1      199 03
2      199 25
Name: 199, dtype: object
0    200 1972
1      200 07
2      200 16
Name: 200, dtype: object
0    201 1972
1      201 06
2      201 06
Name: 201, dtype: object
0           202 1982
1             202 05
2    202 17 00 00 00
Name: 202, dtype: object
0    203 1959
1      203 01
2      203 18
Name: 203, dtype: object
0    204 1947
1      204 05
2      204 20
Name: 204, dtype: object
0      205 17
1      205 04
2    205 1965
Name: 205, dtype: object
0    206 90
1    206 10
2    206 03
Name: 206, dtype: object
0           207 1952
1             207 03
2    207 29 00 00 00
Name: 207, dtype: object
0    208 1959
1      208 08
2      208 20
Name: 208, dtype: object
0    209 1989
1      209 09
2      209 11
Name: 209, dtype: object
0    210 1978
1      210 09
2      210 30
Name: 210, dtype: object
0           211 1949
1             211 08
2    211 14 00 00 00
Name: 211, dtype: object
0    212 1937
1      212 10
2      212 26
Name: 212, dtype: object
0    213 1955
1      213 06
2      213 15
Name: 213, dtype: object
0    214 1961
1      214 02
2      214 12
Name: 214, dtype: object
0    215 1984
1      215 08
2      215 05
Name: 215, dtype: object
0    216 1971
1      216 08
2      216 17
Name: 216, dtype: object
0    217 1979
1      217 04
2      217 01
Name: 217, dtype: object
0    218 1975
1      218 12
2      218 09
Name: 218, dtype: object
0    219 1981
1      219 05
2      219 10
Name: 219, dtype: object
0      220 13
1      220 08
2    220 1972
Name: 220, dtype: object
0    221 1971
1      221 08
2      221 11
Name: 221, dtype: object
0    222 1960
1      222 11
2      222 29
Name: 222, dtype: object
0    223 1972
1      223 03
2      223 20
Name: 223, dtype: object
0    224 1974
1      224 11
2      224 04
Name: 224, dtype: object
0    225 1966
1      225 03
2      225 10
Name: 225, dtype: object
0    226 1963
1      226 02
2      226 16
Name: 226, dtype: object
0    227 1956
1      227 05
2      227 14
Name: 227, dtype: object
0    228 80
1    228 02
2    228 02
Name: 228, dtype: object
0    229 1976
1      229 10
2      229 23
Name: 229, dtype: object
0    230 1956
1      230 04
2      230 13
Name: 230, dtype: object
0    231 1977
1      231 01
2      231 16
Name: 231, dtype: object
0    232 1964
1      232 06
2      232 28
Name: 232, dtype: object
0    233 1960
1      233 08
2      233 06
Name: 233, dtype: object
0    234 1961
1      234 12
2      234 17
Name: 234, dtype: object
0    235 1957
1      235 01
2      235 10
Name: 235, dtype: object
0           236 1975
1             236 06
2    236 29 00:00:00
Name: 236, dtype: object
0           237 1973
1             237 07
2    237 07 00:00:00
Name: 237, dtype: object
0    238 1969
1      238 05
2      238 01
Name: 238, dtype: object
0    239 1987
1      239 08
2      239 05
Name: 239, dtype: object
0    240 1984
1      240 10
2      240 06
Name: 240, dtype: object
0      241 03
1      241 05
2    241 1967
Name: 241, dtype: object
0    242 1975
1      242 07
2      242 18
Name: 242, dtype: object
0    243 1978
1      243 05
2      243 15
Name: 243, dtype: object
0    244 1946
1      244 02
2      244 20
Name: 244, dtype: object
0           245 1977
1             245 04
2    245 17 00:00:00
Name: 245, dtype: object
0    246 1963
1      246 12
2      246 30
Name: 246, dtype: object
0    247 1963
1      247 10
2      247 13
Name: 247, dtype: object
0           248 1966
1             248 06
2    248 24 00:00:00
Name: 248, dtype: object
0    249 1956
1      249 05
2      249 11
Name: 249, dtype: object
0    250 1957
1      250 01
2      250 09
Name: 250, dtype: object
0    251 1939
1      251 09
2      251 01
Name: 251, dtype: object
0    252 62
1    252 01
2    252 01
Name: 252, dtype: object
0    253 1982
1      253 04
2      253 12
Name: 253, dtype: object
0    254 1965
1      254 09
2      254 21
Name: 254, dtype: object
0    255 1966
1      255 05
2      255 05
Name: 255, dtype: object
0    256 1962
1      256 02
2      256 25
Name: 256, dtype: object
0    257 1978
1      257 08
2      257 22
Name: 257, dtype: object
0    258 1982
1      258 02
2      258 21
Name: 258, dtype: object
0    259 1981
1      259 06
2      259 29
Name: 259, dtype: object
0    260 1953
1      260 08
2      260 23
Name: 260, dtype: object
0           261 1962
1             261 03
2    261 09 00:00:00
Name: 261, dtype: object
0           262 1953
1             262 02
2    262 12 00:00:00
Name: 262, dtype: object
0    263 1963
1      263 07
2      263 04
Name: 263, dtype: object
0    264 1949
1      264 08
2      264 04
Name: 264, dtype: object
0           265 1982
1             265 10
2    265 22 00:00:00
Name: 265, dtype: object

0           266 1966
1             266 12
2    266 03 00 00 00
Name: 266, dtype: object
0    267 80
1    267 07
2    267 18
Name: 267, dtype: object
0    268 1980
1      268 08
2      268 22
Name: 268, dtype: object
0    269 70
1    269 02
2    269 10
Name: 269, dtype: object
0    270 1979
1      270 12
2      270 26
Name: 270, dtype: object
0    271 1980
1      271 08
2      271 07
Name: 271, dtype: object
0    272 1948
1      272 07
2      272 09
Name: 272, dtype: object
0           273 1974
1             273 02
2    273 28 00 00 00
Name: 273, dtype: object
0    274 1957
1      274 08
2      274 13
Name: 274, dtype: object
0    275 1963
1      275 09
2      275 18
Name: 275, dtype: object
0    276 1989
1      276 09
2      276 19
Name: 276, dtype: object
0    277 1972
1      277 04
2      277 26
Name: 277, dtype: object
0      278 18
1      278 12
2    278 1962
Name: 278, dtype: object
0    279 1961
1      279 09
2      279 10
Name: 279, dtype: object
0    280 1964
1      280 04
2      280 25
Name: 280, dtype: object
0    281 1973
1      281 06
2      281 14
Name: 281, dtype: object
0    282 1944
1      282 01
2      282 30
Name: 282, dtype: object
0    283 1978
1      283 05
2      283 14
Name: 283, dtype: object
0    284 1975
1      284 12
2      284 16
Name: 284, dtype: object
0    285 1963
1      285 06
2      285 03
Name: 285, dtype: object
0    286 1958
1      286 07
2      286 29
Name: 286, dtype: object
0    287 1962
1      287 02
2      287 11
Name: 287, dtype: object
0    288 1970
1      288 11
2      288 29
Name: 288, dtype: object
0    289 74
1    289 11
2    289 14
Name: 289, dtype: object
0    290 1971
1      290 10
2      290 02
Name: 290, dtype: object
0    291 1976
1      291 11
2      291 13
Name: 291, dtype: object
0           292 1945
1             292 08
2    292 12 00 00 00
Name: 292, dtype: object
0           293 1977
1             293 02
2    293 04 00:00:00
Name: 293, dtype: object
0           294 1979
1             294 10
2    294 07 00:00:00
Name: 294, dtype: object
0    295 1968
1      295 11
2      295 04
Name: 295, dtype: object
0    296 1946
1      296 09
2      296 07
Name: 296, dtype: object
0      297 10
1      297 07
2    297 1964
Name: 297, dtype: object
0    298 1958
1      298 07
2      298 25
Name: 298, dtype: object
0    299 1972
1      299 05
2      299 21
Name: 299, dtype: object
0    300 1957
1      300 04
2      300 12
Name: 300, dtype: object
0    301 1969
1      301 08
2      301 08
Name: 301, dtype: object
0    302 1977
1      302 07
2      302 03
Name: 302, dtype: object
0      303 26
1      303 01
2    303 1950
Name: 303, dtype: object
0    304 1971
1      304 08
2      304 20
Name: 304, dtype: object
0    305 1974
1      305 05
2      305 27
Name: 305, dtype: object
0    306 1978
1      306 01
2      306 01
Name: 306, dtype: object
0    307 1946
1      307 06
2      307 06
Name: 307, dtype: object
0    308 67
1    308 08
2    308 20
Name: 308, dtype: object
0    309 1952
1      309 10
2      309 07
Name: 309, dtype: object
0    310 1962
1      310 03
2      310 30
Name: 310, dtype: object
0    311 1963
1      311 09
2      311 27
Name: 311, dtype: object
0    312 1979
1      312 09
2      312 24
Name: 312, dtype: object
0           313 1953
1             313 10
2    313 23 00:00:00
Name: 313, dtype: object
0      314 12
1      314 08
2    314 1935
Name: 314, dtype: object
0    315 1938
1      315 12
2      315 21
Name: 315, dtype: object
0    316 1975
1      316 08
2      316 23
Name: 316, dtype: object
0           317 1951
1             317 12
2    317 15 00:00:00
Name: 317, dtype: object
0    318 1963
1      318 07
2      318 05
Name: 318, dtype: object
0    319 1969
1      319 06
2      319 12
Name: 319, dtype: object
0    320 1958
1      320 01
2      320 28
Name: 320, dtype: object
0    321 1986
1      321 04
2      321 18
Name: 321, dtype: object
0    322 1975
1      322 06
2      322 10
Name: 322, dtype: object
0    323 1987
1      323 03
2      323 27
Name: 323, dtype: object
0    324 1973
1      324 10
2      324 18
Name: 324, dtype: object
0    325 1960
1      325 11
2      325 16
Name: 325, dtype: object
0    326 1976
1      326 03
2      326 17
Name: 326, dtype: object
0           327 1989
1             327 04
2    327 30 00:00:00
Name: 327, dtype: object
0    328 1974
1      328 08
2      328 10
Name: 328, dtype: object
0    329 1959
1      329 11
2      329 14
Name: 329, dtype: object
0      330 31
1      330 05
2    330 1976
Name: 330, dtype: object
0    331 1984
1      331 10
2      331 31
Name: 331, dtype: object
0    332 1972
1      332 12
2      332 19
Name: 332, dtype: object
0      333 15
1      333 02
2    333 1977
Name: 333, dtype: object
0    334 1966
1      334 03
2      334 09
Name: 334, dtype: object
0    335 1963
1      335 05
2      335 11
Name: 335, dtype: object
0    336 1959
1      336 11
2      336 13
Name: 336, dtype: object
0    337 1991
1      337 08
2      337 06
Name: 337, dtype: object
0           338 1960
1             338 04
2    338 15 00:00:00
Name: 338, dtype: object
0    339 60
1    339 11
2    339 02
Name: 339, dtype: object
0           340 1982
1             340 12
2    340 12 00 00 00
Name: 340, dtype: object
0           341 1963
1             341 10
2    341 22 00 00 00
Name: 341, dtype: object
0    342 1939
1      342 03
2      342 07
Name: 342, dtype: object
0    343 1974
1      343 03
2      343 23
Name: 343, dtype: object
0           344 1973
1             344 01
2    344 09 00 00 00
Name: 344, dtype: object
0    345 1971
1      345 10
2      345 26
Name: 345, dtype: object
0    346 1966
1      346 05
2      346 03
Name: 346, dtype: object
0    347 1986
1      347 08
2      347 15
Name: 347, dtype: object
0    348 1949
1      348 02
2      348 07
Name: 348, dtype: object
0      349 05
1      349 01
2    349 1975
Name: 349, dtype: object
0    350 1980
1      350 03
2      350 04
Name: 350, dtype: object
0           351 1976
1             351 01
2    351 14 00 00 00
Name: 351, dtype: object
0    352 80
1    352 09
2    352 12
Name: 352, dtype: object
0    353 1973
1      353 06
2      353 22
Name: 353, dtype: object
0    354 1977
1      354 08
2      354 20
Name: 354, dtype: object
0    355 1969
1      355 02
2      355 18
Name: 355, dtype: object
0    356 1981
1      356 02
2      356 08
Name: 356, dtype: object
0    357 1962
1      357 10
2      357 29
Name: 357, dtype: object
0    358 96
1    358 01
2    358 17
Name: 358, dtype: object
0    359 1951
1      359 05
2      359 31
Name: 359, dtype: object
0    360 1960
1      360 03
2      360 30
Name: 360, dtype: object
0    361 1961
1      361 01
2      361 27
Name: 361, dtype: object
0           362 1968
1             362 06
2    362 15 00:00:00
Name: 362, dtype: object
0    363 1965
1      363 09
2      363 30
Name: 363, dtype: object
0    364 1963
1      364 08
2      364 22
Name: 364, dtype: object
0    365 1968
1      365 09
2      365 15
Name: 365, dtype: object
0    366 1978
1      366 03
2      366 17
Name: 366, dtype: object
0           367 1974
1             367 04
2    367 09 00 00 00
Name: 367, dtype: object
0    368 1982
1      368 11
2      368 13
Name: 368, dtype: object
0           369 1948
1             369 02
2    369 10 00 00 00
Name: 369, dtype: object
0    370 1963
1      370 08
2      370 29
Name: 370, dtype: object
0    371 1961
1      371 01
2      371 04
Name: 371, dtype: object
0    372 1966
1      372 01
2      372 09
Name: 372, dtype: object
0           373 1968
1             373 09
2    373 05 00:00:00
Name: 373, dtype: object
0    374 1979
1      374 10
2      374 01
Name: 374, dtype: object
0    375 1979
1      375 10
2      375 11
Name: 375, dtype: object
0           376 1971
1             376 10
2    376 26 00:00:00
Name: 376, dtype: object
0    377 1957
1      377 06
2      377 13
Name: 377, dtype: object
0           378 1973
1             378 04
2    378 30 00:00:00
Name: 378, dtype: object
0    379 1983
1      379 09
2      379 29
Name: 379, dtype: object
0    380 48
1    380 12
2    380 11
Name: 380, dtype: object
0      381 13
1      381 05
2    381 1965
Name: 381, dtype: object
0           382 1965
1             382 08
2    382 13 00:00:00
Name: 382, dtype: object
0      383 28
1      383 07
2    383 1967
Name: 383, dtype: object
0    384 1973
1      384 07
2      384 21
Name: 384, dtype: object
0    385 1965
1      385 04
2      385 21
Name: 385, dtype: object
0    386 1962
1      386 05
2      386 16
Name: 386, dtype: object
0    387 1966
1      387 12
2      387 13
Name: 387, dtype: object
0           388 1967
1             388 03
2    388 05 00 00 00
Name: 388, dtype: object
0    389 1982
1      389 09
2      389 01
Name: 389, dtype: object
0           390 1968
1             390 02
2    390 05 00 00 00
Name: 390, dtype: object

0    391 1961
1      391 03
2      391 07
Name: 391, dtype: object
0    392 1977
1      392 04
2      392 09
Name: 392, dtype: object
0    393 1967
1      393 07
2      393 10
Name: 393, dtype: object
0    394 1995
1      394 04
2      394 10
Name: 394, dtype: object
0      395 04
1      395 02
2    395 1973
Name: 395, dtype: object
0           396 1955
1             396 06
2    396 24 00:00:00
Name: 396, dtype: object
0    397 1972
1      397 09
2      397 23
Name: 397, dtype: object
0    398 1964
1      398 11
2      398 10
Name: 398, dtype: object
0    399 1987
1      399 08
2      399 16
Name: 399, dtype: object
0    400 1961
1      400 04
2      400 07
Name: 400, dtype: object
0    401 1969
1      401 01
2      401 14
Name: 401, dtype: object
0    402 1979
1      402 04
2      402 21
Name: 402, dtype: object
0    403 1972
1      403 02
2      403 09
Name: 403, dtype: object
0    404 1976
1      404 12
2      404 14
Name: 404, dtype: object
0    405 1978
1      405 01
2      405 23
Name: 405, dtype: object
0    406 1948
1      406 10
2      406 11
Name: 406, dtype: object
0    407 1970
1      407 04
2      407 20
Name: 407, dtype: object
0    408 85
1    408 12
2    408 12
Name: 408, dtype: object
0    409 1974
1      409 06
2      409 13
Name: 409, dtype: object
0    410 1965
1      410 11
2      410 02
Name: 410, dtype: object
0    411 1974
1      411 01
2      411 20
Name: 411, dtype: object
0    412 1979
1      412 09
2      412 13
Name: 412, dtype: object
0    413 1942
1      413 03
2      413 04
Name: 413, dtype: object
0    414 1969
1      414 11
2      414 06
Name: 414, dtype: object
0    415 1979
1      415 12
2      415 17
Name: 415, dtype: object
0    416 1967
1      416 09
2      416 30
Name: 416, dtype: object
0    417 1965
1      417 04
2      417 25
Name: 417, dtype: object
0    418 48
1    418 04
2    418 14
Name: 418, dtype: object
0    419 65
1    419 04
2    419 22
Name: 419, dtype: object
0    420 1965
1      420 09
2      420 22
Name: 420, dtype: object
0    421 1967
1      421 04
2      421 17
Name: 421, dtype: object
0    422 1964
1      422 12
2      422 14
Name: 422, dtype: object
0    423 1955
1      423 05
2      423 06
Name: 423, dtype: object
0    424 71
1    424 01
2    424 18
Name: 424, dtype: object
0    425 1969
1      425 02
2      425 09
Name: 425, dtype: object
0           426 1970
1             426 02
2    426 10 00:00:00
Name: 426, dtype: object
0      427 03
1      427 02
2    427 1946
Name: 427, dtype: object
0    428 1985
1      428 09
2      428 11
Name: 428, dtype: object
0    429 61
1    429 08
2    429 27
Name: 429, dtype: object
0    430 1966
1      430 10
2      430 06
Name: 430, dtype: object
0    431 1985
1      431 12
2      431 07
Name: 431, dtype: object
0    432 1946
1      432 10
2      432 28
Name: 432, dtype: object
0    433 1959
1      433 03
2      433 07
Name: 433, dtype: object
0           434 1969
1             434 10
2    434 18 00:00:00
Name: 434, dtype: object
0      435 28
1      435 12
2    435 1974
Name: 435, dtype: object
0    436 1960
1      436 01
2      436 13
Name: 436, dtype: object
0    437 1975
1      437 01
2      437 07
Name: 437, dtype: object
0    438 1980
1      438 02
2      438 22
Name: 438, dtype: object
0    439 1977
1      439 02
2      439 25
Name: 439, dtype: object
0           440 1970
1             440 06
2    440 24 00 00 00
Name: 440, dtype: object
0    441 1974
1      441 02
2      441 05
Name: 441, dtype: object
0      442 21
1      442 02
2    442 1982
Name: 442, dtype: object
0    443 1972
1      443 10
2      443 21
Name: 443, dtype: object
0    444 1965
1      444 02
2      444 24
Name: 444, dtype: object
0    445 1956
1      445 11
2      445 16
Name: 445, dtype: object
0    446 1965
1      446 10
2      446 14
Name: 446, dtype: object
0    447 1957
1      447 03
2      447 06
Name: 447, dtype: object
0           448 1979
1             448 12
2    448 07 00:00:00
Name: 448, dtype: object
0           449 1949
1             449 10
2    449 29 00:00:00
Name: 449, dtype: object
0    450 65
1    450 11
2    450 20
Name: 450, dtype: object
0    451 1950
1      451 09
2      451 13
Name: 451, dtype: object
0      452 06
1      452 08
2    452 1968
Name: 452, dtype: object
0    453 1959
1      453 03
2      453 23
Name: 453, dtype: object
0    454 1955
1      454 08
2      454 11
Name: 454, dtype: object
0    455 1966
1      455 10
2      455 28
Name: 455, dtype: object
0    456 1977
1      456 11
2      456 27
Name: 456, dtype: object
0           457 1961
1             457 02
2    457 23 00:00:00
Name: 457, dtype: object
0    458 1966
1      458 04
2      458 09
Name: 458, dtype: object
0    459 1999
1      459 03
2      459 10
Name: 459, dtype: object
0           460 1965
1             460 09
2    460 14 00 00 00
Name: 460, dtype: object
0    461 1976
1      461 07
2      461 20
Name: 461, dtype: object
0      462 12
1      462 06
2    462 1965
Name: 462, dtype: object
0    463 1962
1      463 12
2      463 08
Name: 463, dtype: object
0    464 1958
1      464 04
2      464 05
Name: 464, dtype: object
0    465 1954
1      465 08
2      465 29
Name: 465, dtype: object
0    466 1960
1      466 05
2      466 04
Name: 466, dtype: object
0      467 31
1      467 07
2    467 1951
Name: 467, dtype: object
0    468 1961
1      468 07
2      468 06
Name: 468, dtype: object
0           469 1961
1             469 09
2    469 04 00:00:00
Name: 469, dtype: object
0      470 07
1      470 04
2    470 1969
Name: 470, dtype: object
0      471 09
1      471 08
2    471 1983
Name: 471, dtype: object
0    472 1977
1      472 12
2      472 08
Name: 472, dtype: object
0    473 1972
1      473 09
2      473 14
Name: 473, dtype: object
0    474 1962
1      474 04
2      474 28
Name: 474, dtype: object
0    475 1967
1      475 11
2      475 20
Name: 475, dtype: object
0           476 1963
1             476 10
2    476 28 00:00:00
Name: 476, dtype: object
0    477 1956
1      477 05
2      477 27
Name: 477, dtype: object
0      478 05
1      478 03
2    478 1962
Name: 478, dtype: object
0    479 74
1    479 03
2    479 03
Name: 479, dtype: object
0    480 1961
1      480 12
2      480 03
Name: 480, dtype: object
0    481 1966
1      481 07
2      481 20
Name: 481, dtype: object
0    482 1972
1      482 05
2      482 01
Name: 482, dtype: object
0           483 1964
1             483 10
2    483 04 00 00 00
Name: 483, dtype: object
0    484 1969
1      484 09
2      484 10
Name: 484, dtype: object
0    485 1960
1      485 11
2      485 28
Name: 485, dtype: object
0    486 1969
1      486 06
2      486 15
Name: 486, dtype: object
0    487 76
1    487 09
2    487 09
Name: 487, dtype: object
0    488 1956
1      488 04
2      488 19
Name: 488, dtype: object
0    489 1973
1      489 12
2      489 19
Name: 489, dtype: object
0    490 1956
1      490 07
2      490 28
Name: 490, dtype: object
0    491 1963
1      491 01
2      491 18
Name: 491, dtype: object
0    492 1969
1      492 12
2      492 15
Name: 492, dtype: object
0    493 1943
1      493 01
2      493 18
Name: 493, dtype: object
0           494 1963
1             494 01
2    494 25 00:00:00
Name: 494, dtype: object
0    495 1944
1      495 04
2      495 07
Name: 495, dtype: object
0      496 20
1      496 12
2    496 1962
Name: 496, dtype: object
0    497 1960
1      497 08
2      497 10
Name: 497, dtype: object
0      498 09
1      498 01
2    498 1946
Name: 498, dtype: object
0    499 1975
1      499 06
2      499 13
Name: 499, dtype: object
0    500 83
1    500 01
2    500 28
Name: 500, dtype: object
0      501 14
1      501 02
2    501 1960
Name: 501, dtype: object
0    502 1967
1      502 03
2      502 16
Name: 502, dtype: object
0    503 1963
1      503 11
2      503 14
Name: 503, dtype: object
0           504 1976
1             504 10
2    504 26 00:00:00
Name: 504, dtype: object
0      505 26
1      505 03
2    505 1950
Name: 505, dtype: object
0    506 1965
1      506 04
2      506 06
Name: 506, dtype: object
0    507 1955
1      507 01
2      507 24
Name: 507, dtype: object
0    508 1948
1      508 07
2      508 27
Name: 508, dtype: object
0           509 1966
1             509 07
2    509 14 00 00 00
Name: 509, dtype: object
0           510 1967
1             510 10
2    510 29 00 00 00
Name: 510, dtype: object

0    511 1987
1      511 12
2      511 09
Name: 511, dtype: object
0    512 1976
1      512 10
2      512 24
Name: 512, dtype: object
0    513 1961
1      513 06
2      513 26
Name: 513, dtype: object
0    514 1962
1      514 01
2      514 31
Name: 514, dtype: object
0    515 1983
1      515 04
2      515 05
Name: 515, dtype: object
0    516 1968
1      516 09
2      516 25
Name: 516, dtype: object
0    517 1964
1      517 10
2      517 10
Name: 517, dtype: object
0    518 1961
1      518 07
2      518 16
Name: 518, dtype: object
0    519 1956
1      519 08
2      519 05
Name: 519, dtype: object
0    520 1968
1      520 05
2      520 20
Name: 520, dtype: object
0           521 1973
1             521 08
2    521 06 00 00 00
Name: 521, dtype: object
0    522 1964
1      522 12
2      522 26
Name: 522, dtype: object
0    523 1959
1      523 02
2      523 10
Name: 523, dtype: object
0    524 1975
1      524 11
2      524 24
Name: 524, dtype: object
0      525 02
1      525 04
2    525 1965
Name: 525, dtype: object
0    526 1968
1      526 05
2      526 09
Name: 526, dtype: object
0    527 1980
1      527 04
2      527 14
Name: 527, dtype: object
0    528 1989
1      528 01
2      528 21
Name: 528, dtype: object
0    529 1964
1      529 12
2      529 09
Name: 529, dtype: object
0    530 1969
1      530 04
2      530 01
Name: 530, dtype: object
0    531 1982
1      531 03
2      531 03
Name: 531, dtype: object
0    532 1989
1      532 07
2      532 19
Name: 532, dtype: object
0    533 1947
1      533 12
2      533 18
Name: 533, dtype: object
0    534 1972
1      534 12
2      534 01
Name: 534, dtype: object
0    535 39
1    535 09
2    535 07
Name: 535, dtype: object
0    536 1955
1      536 01
2      536 14
Name: 536, dtype: object
0    537 1960
1      537 05
2      537 28
Name: 537, dtype: object
0           538 1967
1             538 06
2    538 05 00 00 00
Name: 538, dtype: object
0    539 1976
1      539 09
2      539 06
Name: 539, dtype: object
0    540 1971
1      540 03
2      540 10
Name: 540, dtype: object
0    541 1970
1      541 01
2      541 27
Name: 541, dtype: object
0    542 1955
1      542 10
2      542 29
Name: 542, dtype: object
0           543 1974
1             543 09
2    543 01 00 00 00
Name: 543, dtype: object
0           544 1967
1             544 01
2    544 28 00:00:00
Name: 544, dtype: object
0           545 1972
1             545 07
2    545 10 00 00 00
Name: 545, dtype: object
0    546 1969
1      546 05
2      546 17
Name: 546, dtype: object
0    547 1968
1      547 05
2      547 05
Name: 547, dtype: object
0           548 1984
1             548 01
2    548 29 00 00 00
Name: 548, dtype: object
0      549 11
1      549 03
2    549 1989
Name: 549, dtype: object
0    550 1970
1      550 12
2      550 23
Name: 550, dtype: object
0    551 63
1    551 02
2    551 12
Name: 551, dtype: object
0    552 1960
1      552 03
2      552 21
Name: 552, dtype: object
0    553 1965
1      553 08
2      553 04
Name: 553, dtype: object
0           554 1961
1             554 02
2    554 26 00:00:00
Name: 554, dtype: object
0    555 69
1    555 09
2    555 21
Name: 555, dtype: object
0    556 1977
1      556 04
2      556 25
Name: 556, dtype: object
0    557 1985
1      557 10
2      557 26
Name: 557, dtype: object
0           558 1969
1             558 06
2    558 17 00:00:00
Name: 558, dtype: object
0    559 1980
1      559 04
2      559 11
Name: 559, dtype: object
0    560 1978
1      560 09
2      560 07
Name: 560, dtype: object
0    561 1975
1      561 11
2      561 12
Name: 561, dtype: object
0    562 1936
1      562 10
2      562 07
Name: 562, dtype: object
0    563 1959
1      563 03
2      563 31
Name: 563, dtype: object
0    564 1976
1      564 03
2      564 25
Name: 564, dtype: object
0           565 1970
1             565 03
2    565 19 00 00 00
Name: 565, dtype: object
0    566 1967
1      566 05
2      566 01
Name: 566, dtype: object
0           567 1942
1             567 09
2    567 07 00 00 00
Name: 567, dtype: object
0    568 1960
1      568 08
2      568 08
Name: 568, dtype: object
0    569 67
1    569 10
2    569 15
Name: 569, dtype: object
0    570 1964
1      570 11
2      570 30
Name: 570, dtype: object
0    571 1972
1      571 01
2      571 22
Name: 571, dtype: object
0    572 1965
1      572 02
2      572 18
Name: 572, dtype: object
0    573 1974
1      573 07
2      573 25
Name: 573, dtype: object
0    574 1970
1      574 08
2      574 22
Name: 574, dtype: object
0    575 1963
1      575 04
2      575 07
Name: 575, dtype: object
0    576 1967
1      576 12
2      576 23
Name: 576, dtype: object
0           577 1960
1             577 05
2    577 09 00:00:00
Name: 577, dtype: object
0      578 24
1      578 10
2    578 1974
Name: 578, dtype: object
0    579 1960
1      579 08
2      579 16
Name: 579, dtype: object
0    580 1981
1      580 09
2      580 12
Name: 580, dtype: object
0    581 1952
1      581 08
2      581 08
Name: 581, dtype: object
0           582 1969
1             582 02
2    582 03 00:00:00
Name: 582, dtype: object
0    583 1992
1      583 03
2      583 15
Name: 583, dtype: object
0           584 1949
1             584 09
2    584 24 00 00 00
Name: 584, dtype: object
0    585 1970
1      585 02
2      585 28
Name: 585, dtype: object
0    586 1957
1      586 02
2      586 04
Name: 586, dtype: object
0    587 1974
1      587 09
2      587 03
Name: 587, dtype: object
0    588 1960
1      588 03
2      588 05
Name: 588, dtype: object
0    589 1972
1      589 04
2      589 09
Name: 589, dtype: object
0    590 1955
1      590 02
2      590 14
Name: 590, dtype: object
0    591 1973
1      591 11
2      591 20
Name: 591, dtype: object
0    592 1961
1      592 07
2      592 26
Name: 592, dtype: object
0    593 1944
1      593 08
2      593 15
Name: 593, dtype: object
0    594 1945
1      594 03
2      594 14
Name: 594, dtype: object
0           595 1949
1             595 07
2    595 11 00:00:00
Name: 595, dtype: object
0    596 1977
1      596 05
2      596 30
Name: 596, dtype: object
0    597 1966
1      597 01
2      597 04
Name: 597, dtype: object
0    598 1960
1      598 02
2      598 05
Name: 598, dtype: object
0           599 1954
1             599 06
2    599 09 00:00:00
Name: 599, dtype: object
0    600 1988
1      600 07
2      600 07
Name: 600, dtype: object
0    601 1982
1      601 09
2      601 08
Name: 601, dtype: object
0    602 1953
1      602 05
2      602 11
Name: 602, dtype: object
0    603 1983
1      603 07
2      603 21
Name: 603, dtype: object
0           604 1960
1             604 07
2    604 12 00:00:00
Name: 604, dtype: object
0    605 74
1    605 10
2    605 29
Name: 605, dtype: object
0    606 1960
1      606 12
2      606 08
Name: 606, dtype: object
0    607 1967
1      607 05
2      607 30
Name: 607, dtype: object
0    608 1959
1      608 10
2      608 22
Name: 608, dtype: object
0    609 1966
1      609 07
2      609 03
Name: 609, dtype: object
0    610 1955
1      610 08
2      610 07
Name: 610, dtype: object
0    611 1949
1      611 07
2      611 25
Name: 611, dtype: object
0    612 1944
1      612 01
2      612 10
Name: 612, dtype: object
0    613 1967
1      613 12
2      613 30
Name: 613, dtype: object
0    614 1982
1      614 11
2      614 24
Name: 614, dtype: object
0    615 75
1    615 03
2    615 07
Name: 615, dtype: object
0    616 1962
1      616 06
2      616 22
Name: 616, dtype: object
0    617 1978
1      617 06
2      617 15
Name: 617, dtype: object
0    618 1960
1      618 10
2      618 28
Name: 618, dtype: object
0    619 1971
1      619 03
2      619 16
Name: 619, dtype: object
0           620 1935
1             620 12
2    620 04 00:00:00
Name: 620, dtype: object
0    621 1940
1      621 11
2      621 25
Name: 621, dtype: object
0           622 1974
1             622 06
2    622 05 00 00 00
Name: 622, dtype: object
0    623 81
1    623 08
2    623 15
Name: 623, dtype: object
0      624 20
1      624 01
2    624 1966
Name: 624, dtype: object
0    625 61
1    625 03
2    625 10
Name: 625, dtype: object
0    626 1951
1      626 04
2      626 19
Name: 626, dtype: object
0    627 1969
1      627 01
2      627 07
Name: 627, dtype: object
0    628 1980
1      628 11
2      628 28
Name: 628, dtype: object
0      629 08
1      629 02
2    629 1965
Name: 629, dtype: object
0    630 1953
1      630 08
2      630 23
Name: 630, dtype: object
0    631 1967
1      631 05
2      631 03
Name: 631, dtype: object
0    632 1964
1      632 10
2      632 24
Name: 632, dtype: object
0    633 1973
1      633 10
2      633 08
Name: 633, dtype: object
0    634 1968
1      634 07
2      634 22
Name: 634, dtype: object
0    635 68
1    635 07
2    635 10
Name: 635, dtype: object
0    636 1965
1      636 08
2      636 28

Name: 636, dtype: object
0    637 69
1    637 11
2    637 18
Name: 637, dtype: object
0    638 1953
1      638 09
2      638 11
Name: 638, dtype: object
0    639 1972
1      639 08
2      639 22
Name: 639, dtype: object
0           640 1963
1             640 02
2    640 11 00 00 00
Name: 640, dtype: object
0    641 1966
1      641 05
2      641 29
Name: 641, dtype: object
0    642 1974
1      642 03
2      642 03
Name: 642, dtype: object
0           643 1985
1             643 08
2    643 23 00:00:00
Name: 643, dtype: object
0    644 1969
1      644 01
2      644 08
Name: 644, dtype: object
0    645 1973
1      645 05
2      645 21
Name: 645, dtype: object
0    646 1954
1      646 11
2      646 23
Name: 646, dtype: object
0    647 1957
1      647 01
2      647 03
Name: 647, dtype: object
0    648 1966
1      648 05
2      648 23
Name: 648, dtype: object
0    649 1977
1      649 09
2      649 29
Name: 649, dtype: object
0    650 1970
1      650 11
2      650 02
Name: 650, dtype: object
0    651 1981
1      651 08
2      651 26
Name: 651, dtype: object
0    652 1962
1      652 05
2      652 06
Name: 652, dtype: object
0    653 1957
1      653 05
2      653 21
Name: 653, dtype: object
0    654 1960
1      654 03
2      654 09
Name: 654, dtype: object
0    655 1992
1      655 01
2      655 03
Name: 655, dtype: object
0    656 1978
1      656 04
2      656 30
Name: 656, dtype: object
0    657 1957
1      657 02
2      657 10
Name: 657, dtype: object
0    658 1959
1      658 08
2      658 15
Name: 658, dtype: object
0    659 1967
1      659 08
2      659 16
Name: 659, dtype: object
0    660 1975
1      660 09
2      660 26
Name: 660, dtype: object
0    661 1969
1      661 10
2      661 17
Name: 661, dtype: object
0    662 1977
1      662 09
2      662 02
Name: 662, dtype: object
0    663 1971
1      663 06
2      663 07
Name: 663, dtype: object
0    664 1959
1      664 11
2      664 22
Name: 664, dtype: object
0    665 1962
1      665 08
2      665 29
Name: 665, dtype: object
0           666 1949
1             666 12
2    666 13 00 00 00
Name: 666, dtype: object
0    667 1977
1      667 08
2      667 17
Name: 667, dtype: object
0    668 1980
1      668 03
2      668 23
Name: 668, dtype: object
0           669 1955
1             669 10
2    669 04 00:00:00
Name: 669, dtype: object
0    670 1964
1      670 05
2      670 28
Name: 670, dtype: object
0    671 2005
1      671 05
2      671 09
Name: 671, dtype: object
0           672 1944
1             672 11
2    672 30 00:00:00
Name: 672, dtype: object
0    673 1975
1      673 04
2      673 27
Name: 673, dtype: object
0    674 1979
1      674 08
2      674 04
Name: 674, dtype: object
0    675 1985
1      675 04
2      675 25
Name: 675, dtype: object
0           676 1989
1             676 02
2    676 12 00 00 00
Name: 676, dtype: object
0    677 1961
1      677 12
2      677 07
Name: 677, dtype: object
0           678 1962
1             678 03
2    678 01 00 00 00
Name: 678, dtype: object
0    679 1952
1      679 03
2      679 29
Name: 679, dtype: object
0    680 1947
1      680 08
2      680 10
Name: 680, dtype: object
0      681 21
1      681 04
2    681 1965
Name: 681, dtype: object
0    682 1979
1      682 01
2      682 12
Name: 682, dtype: object
0    683 74
1    683 04
2    683 19
Name: 683, dtype: object
0           684 1989
1             684 10
2    684 06 00 00 00
Name: 684, dtype: object
0    685 1950
1      685 03
2      685 12
Name: 685, dtype: object
0    686 1963
1      686 09
2      686 28
Name: 686, dtype: object
0    687 1954
1      687 01
2      687 22
Name: 687, dtype: object
0      688 21
1      688 11
2    688 1995
Name: 688, dtype: object
0           689 1957
1             689 11
2    689 21 00:00:00
Name: 689, dtype: object
0    690 1990
1      690 12
2      690 03
Name: 690, dtype: object
0    691 1974
1      691 06
2      691 08
Name: 691, dtype: object
0    692 1971
1      692 10
2      692 24
Name: 692, dtype: object
0    693 1968
1      693 12
2      693 19
Name: 693, dtype: object
0    694 1966
1      694 11
2      694 07
Name: 694, dtype: object
0    695 1973
1      695 06
2      695 02
Name: 695, dtype: object
0      696 29
1      696 12
2    696 1969
Name: 696, dtype: object
0           697 1986
1             697 07
2    697 09 00:00:00
Name: 697, dtype: object
0      698 18
1      698 06
2    698 1968
Name: 698, dtype: object
0    699 1962
1      699 12
2      699 14
Name: 699, dtype: object
0    700 1954
1      700 07
2      700 28
Name: 700, dtype: object
0    701 1946
1      701 01
2      701 30
Name: 701, dtype: object
0    702 1967
1      702 03
2      702 05
Name: 702, dtype: object
0    703 1976
1      703 06
2      703 16
Name: 703, dtype: object
0    704 1954
1      704 04
2      704 27
Name: 704, dtype: object
0           705 1953
1             705 04
2    705 30 00:00:00
Name: 705, dtype: object
0    706 1985
1      706 05
2      706 02
Name: 706, dtype: object
0    707 1967
1      707 04
2      707 05
Name: 707, dtype: object
0    708 1990
1      708 12
2      708 14
Name: 708, dtype: object
0      709 05
1      709 01
2    709 1953
Name: 709, dtype: object
0    710 1954
1      710 07
2      710 08
Name: 710, dtype: object
0      711 05
1      711 12
2    711 1974
Name: 711, dtype: object
0    712 1938
1      712 02
2      712 06
Name: 712, dtype: object
0    713 1962
1      713 12
2      713 10
Name: 713, dtype: object
0    714 1961
1      714 10
2      714 08
Name: 714, dtype: object
0    715 1958
1      715 07
2      715 16
Name: 715, dtype: object
0    716 1977
1      716 01
2      716 30
Name: 716, dtype: object
0      717 26
1      717 05
2    717 1961
Name: 717, dtype: object
0    718 1958
1      718 05
2      718 28
Name: 718, dtype: object
0    719 1982
1      719 05
2      719 18
Name: 719, dtype: object
0    720 1974
1      720 09
2      720 09
Name: 720, dtype: object
0    721 1949
1      721 11
2      721 18
Name: 721, dtype: object
0    722 1956
1      722 09
2      722 24
Name: 722, dtype: object
0    723 1973
1      723 01
2      723 27
Name: 723, dtype: object
0    724 1962
1      724 07
2      724 31
Name: 724, dtype: object
0    725 59
1    725 06
2    725 05
Name: 725, dtype: object
0    726 1958
1      726 09
2      726 15
Name: 726, dtype: object
0           727 1963
1             727 05
2    727 23 00:00:00
Name: 727, dtype: object
0    728 1974
1      728 01
2      728 18
Name: 728, dtype: object
0    729 2002
1      729 06
2      729 23
Name: 729, dtype: object
0    730 1979
1      730 05
2      730 10
Name: 730, dtype: object
0    731 1951
1      731 07
2      731 06
Name: 731, dtype: object
0    732 93
1    732 10
2    732 26
Name: 732, dtype: object
0    733 1981
1      733 01
2      733 21
Name: 733, dtype: object
0    734 1958
1      734 10
2      734 08
Name: 734, dtype: object
0    735 1965
1      735 07
2      735 03
Name: 735, dtype: object
0    736 1975
1      736 07
2      736 01
Name: 736, dtype: object
0    737 1971
1      737 01
2      737 14
Name: 737, dtype: object
0           738 1965
1             738 06
2    738 25 00 00 00
Name: 738, dtype: object
0    739 1966
1      739 12
2      739 10
Name: 739, dtype: object
0           740 1972
1             740 10
2    740 09 00:00:00
Name: 740, dtype: object
0    741 1954
1      741 10
2      741 09
Name: 741, dtype: object
0    742 63
1    742 01
2    742 02
Name: 742, dtype: object
0    743 1977
1      743 01
2      743 06
Name: 743, dtype: object
0    744 1975
1      744 04
2      744 07
Name: 744, dtype: object
0    745 1951
1      745 11
2      745 09
Name: 745, dtype: object
0    746 1981
1      746 11
2      746 22
Name: 746, dtype: object
0    747 70
1    747 06
2    747 16
Name: 747, dtype: object
0    748 1997
1      748 08
2      748 21
Name: 748, dtype: object
0    749 1971
1      749 05
2      749 14
Name: 749, dtype: object
0    750 1949
1      750 08
2      750 12
Name: 750, dtype: object
0           751 1952
1             751 03
2    751 14 00:00:00
Name: 751, dtype: object
0    752 1958
1      752 03
2      752 06
Name: 752, dtype: object
0      753 12
1      753 01
2    753 1969
Name: 753, dtype: object
0    754 1977
1      754 10
2      754 10
Name: 754, dtype: object
0    755 1994
1      755 07
2      755 10
Name: 755, dtype: object
0    756 1960
1      756 10
2      756 26
Name: 756, dtype: object
0    757 1970
1      757 03
2      757 21
Name: 757, dtype: object
0           758 1971
1             758 08
2    758 30 00 00 00
Name: 758, dtype: object

0    759 1960
1      759 01
2      759 05
Name: 759, dtype: object
0    760 1978
1      760 10
2      760 24
Name: 760, dtype: object
0    761 1969
1      761 05
2      761 27
Name: 761, dtype: object
0    762 1981
1      762 05
2      762 05
Name: 762, dtype: object
0    763 1958
1      763 10
2      763 04
Name: 763, dtype: object
0    764 1981
1      764 10
2      764 16
Name: 764, dtype: object
0    765 68
1    765 08
2    765 11
Name: 765, dtype: object
0    766 1957
1      766 01
2      766 15
Name: 766, dtype: object
0    767 1960
1      767 12
2      767 24
Name: 767, dtype: object
0    768 1987
1      768 03
2      768 17
Name: 768, dtype: object
0    769 1968
1      769 10
2      769 16
Name: 769, dtype: object
0    770 1973
1      770 12
2      770 09
Name: 770, dtype: object
0    771 1969
1      771 05
2      771 27
Name: 771, dtype: object
0           772 1954
1             772 09
2    772 13 00 00 00
Name: 772, dtype: object
0           773 1964
1             773 08
2    773 07 00:00:00
Name: 773, dtype: object
0    774 1976
1      774 08
2      774 14
Name: 774, dtype: object
0    775 1967
1      775 01
2      775 29
Name: 775, dtype: object
0    776 1996
1      776 07
2      776 26
Name: 776, dtype: object
0    777 1978
1      777 01
2      777 28
Name: 777, dtype: object
0    778 1961
1      778 03
2      778 21
Name: 778, dtype: object
0    779 1974
1      779 02
2      779 16
Name: 779, dtype: object
0    780 1948
1      780 05
2      780 24
Name: 780, dtype: object
0    781 1980
1      781 11
2      781 30
Name: 781, dtype: object
0    782 1974
1      782 02
2      782 05
Name: 782, dtype: object
0           783 1975
1             783 06
2    783 06 00 00 00
Name: 783, dtype: object
0    784 1972
1      784 07
2      784 10
Name: 784, dtype: object
0    785 1975
1      785 01
2      785 06
Name: 785, dtype: object
0    786 59
1    786 09
2    786 29
Name: 786, dtype: object
0    787 1969
1      787 11
2      787 06
Name: 787, dtype: object
0    788 58
1    788 12
2    788 16
Name: 788, dtype: object
0    789 1982
1      789 04
2      789 17
Name: 789, dtype: object
0    790 1938
1      790 02
2      790 07
Name: 790, dtype: object
0      791 03
1      791 05
2    791 1963
Name: 791, dtype: object
0    792 1953
1      792 04
2      792 17
Name: 792, dtype: object
0    793 1978
1      793 05
2      793 26
Name: 793, dtype: object
0           794 1995
1             794 07
2    794 08 00:00:00
Name: 794, dtype: object
0    795 1947
1      795 12
2      795 04
Name: 795, dtype: object
0    796 1961
1      796 11
2      796 15
Name: 796, dtype: object
0    797 1976
1      797 01
2      797 13
Name: 797, dtype: object
0    798 1966
1      798 12
2      798 13
Name: 798, dtype: object
0    799 1950
1      799 05
2      799 11
Name: 799, dtype: object
0    800 76
1    800 03
2    800 10
Name: 800, dtype: object
0    801 1951
1      801 02
2      801 08
Name: 801, dtype: object
0    802 1953
1      802 04
2      802 09
Name: 802, dtype: object
0           803 1963
1             803 07
2    803 17 00:00:00
Name: 803, dtype: object
0    804 1953
1      804 07
2      804 31
Name: 804, dtype: object
0      805 22
1      805 03
2    805 1965
Name: 805, dtype: object
0      806 01
1      806 01
2    806 1971
Name: 806, dtype: object
0    807 1963
1      807 09
2      807 20
Name: 807, dtype: object
0           808 1959
1             808 08
2    808 26 00:00:00
Name: 808, dtype: object
0      809 29
1      809 07
2    809 1972
Name: 809, dtype: object
0    810 1971
1      810 03
2      810 06
Name: 810, dtype: object
0    811 1982
1      811 08
2      811 31
Name: 811, dtype: object
0    812 1957
1      812 03
2      812 25
Name: 812, dtype: object
0    813 1966
1      813 09
2      813 09
Name: 813, dtype: object
0    814 1994
1      814 09
2      814 06
Name: 814, dtype: object
0    815 1962
1      815 07
2      815 05
Name: 815, dtype: object
0    816 1961
1      816 09
2      816 30
Name: 816, dtype: object
0    817 1952
1      817 01
2      817 23
Name: 817, dtype: object
0    818 1976
1      818 06
2      818 28
Name: 818, dtype: object
0    819 1971
1      819 02
2      819 28
Name: 819, dtype: object
0           820 1954
1             820 05
2    820 28 00:00:00
Name: 820, dtype: object
0    821 1962
1      821 01
2      821 26
Name: 821, dtype: object
0    822 1961
1      822 04
2      822 05
Name: 822, dtype: object
0    823 1942
1      823 03
2      823 02
Name: 823, dtype: object
0    824 1967
1      824 06
2      824 02
Name: 824, dtype: object
0    825 81
1    825 01
2    825 07
Name: 825, dtype: object
0    826 1997
1      826 04
2      826 02
Name: 826, dtype: object
0    827 1974
1      827 05
2      827 24
Name: 827, dtype: object
0    828 1934
1      828 08
2      828 17
Name: 828, dtype: object
0    829 1978
1      829 08
2      829 26
Name: 829, dtype: object
0    830 1967
1      830 11
2      830 17
Name: 830, dtype: object
0    831 59
1    831 03
2    831 23
Name: 831, dtype: object
0    832 1973
1      832 04
2      832 26
Name: 832, dtype: object
0      833 22
1      833 11
2    833 1962
Name: 833, dtype: object
0    834 1959
1      834 04
2      834 11
Name: 834, dtype: object
0      835 04
1      835 12
2    835 1955
Name: 835, dtype: object
0    836 1969
1      836 05
2      836 20
Name: 836, dtype: object
0    837 1972
1      837 10
2      837 20
Name: 837, dtype: object
0    838 1986
1      838 04
2      838 02
Name: 838, dtype: object
0    839 56
1    839 03
2    839 11
Name: 839, dtype: object
0    840 1988
1      840 09
2      840 13
Name: 840, dtype: object
0    841 1942
1      841 11
2      841 21
Name: 841, dtype: object
0      842 24
1      842 03
2    842 1964
Name: 842, dtype: object
0    843 1965
1      843 04
2      843 21
Name: 843, dtype: object
0    844 1976
1      844 07
2      844 02
Name: 844, dtype: object
0    845 1967
1      845 01
2      845 31
Name: 845, dtype: object
0    846 1974
1      846 01
2      846 27
Name: 846, dtype: object
0    847 29
1    847 02
2    847 22
Name: 847, dtype: object
0    848 1981
1      848 09
2      848 24
Name: 848, dtype: object
0    849 1991
1      849 12
2      849 13
Name: 849, dtype: object
0      850 31
1      850 05
2    850 1971
Name: 850, dtype: object
0    851 1977
1      851 03
2      851 12
Name: 851, dtype: object
0    852 1986
1      852 05
2      852 26
Name: 852, dtype: object
0    853 1968
1      853 10
2      853 29
Name: 853, dtype: object
0    854 1980
1      854 01
2      854 27
Name: 854, dtype: object
0    855 68
1    855 11
2    855 30
Name: 855, dtype: object
0    856 1960
1      856 01
2      856 02
Name: 856, dtype: object
0    857 1967
1      857 09
2      857 06
Name: 857, dtype: object
0      858 16
1      858 10
2    858 1992
Name: 858, dtype: object
0    859 1969
1      859 08
2      859 15
Name: 859, dtype: object
0    860 1977
1      860 05
2      860 30
Name: 860, dtype: object
0    861 1977
1      861 05
2      861 18
Name: 861, dtype: object
0    862 1990
1      862 01
2      862 02
Name: 862, dtype: object
0    863 1974
1      863 06
2      863 29
Name: 863, dtype: object
0    864 1956
1      864 07
2      864 24
Name: 864, dtype: object
0    865 1984
1      865 11
2      865 29
Name: 865, dtype: object
0           866 1987
1             866 04
2    866 06 00:00:00
Name: 866, dtype: object
0           867 1975
1             867 04
2    867 12 00 00 00
Name: 867, dtype: object
0    868 1961
1      868 12
2      868 19
Name: 868, dtype: object
0    869 1976
1      869 02
2      869 20
Name: 869, dtype: object
0      870 16
1      870 09
2    870 1971
Name: 870, dtype: object
0    871 59
1    871 08
2    871 20
Name: 871, dtype: object
0    872 1977
1      872 01
2      872 10
Name: 872, dtype: object
0    873 1973
1      873 01
2      873 28
Name: 873, dtype: object
0    874 1967
1      874 10
2      874 14
Name: 874, dtype: object
0           875 1975
1             875 03
2    875 10 00 00 00
Name: 875, dtype: object
0    876 1963
1      876 02
2      876 14
Name: 876, dtype: object
0           877 1964
1             877 04
2    877 09 00:00:00
Name: 877, dtype: object
0    878 1974
1      878 06
2      878 07
Name: 878, dtype: object
0    879 1965
1      879 09
2      879 13
Name: 879, dtype: object
0    880 1947
1      880 01
2      880 06
Name: 880, dtype: object
0    881 1988
1      881 08
2      881 20
Name: 881, dtype: object
0    882 1980
1      882 09
2      882 22
Name: 882, dtype: object
0    883 67
1    883 07
2    883 30
Name: 883, dtype: object

0    884 1976
1      884 08
2      884 13
Name: 884, dtype: object
0    885 1965
1      885 12
2      885 06
Name: 885, dtype: object
0    886 1951
1      886 01
2      886 01
Name: 886, dtype: object
0    887 1994
1      887 09
2      887 04
Name: 887, dtype: object
0    888 80
1    888 12
2    888 03
Name: 888, dtype: object
0    889 1977
1      889 12
2      889 09
Name: 889, dtype: object
0    890 82
1    890 11
2    890 03
Name: 890, dtype: object
0    891 1961
1      891 07
2      891 23
Name: 891, dtype: object
0    892 1966
1      892 05
2      892 09
Name: 892, dtype: object
0    893 1992
1      893 04
2      893 12
Name: 893, dtype: object
0    894 1977
1      894 11
2      894 13
Name: 894, dtype: object
0    895 53
1    895 01
2    895 01
Name: 895, dtype: object
0    896 1945
1      896 09
2      896 20
Name: 896, dtype: object
0    897 1966
1      897 12
2      897 24
Name: 897, dtype: object
0      898 14
1      898 11
2    898 1974
Name: 898, dtype: object
0      899 03
1      899 07
2    899 1976
Name: 899, dtype: object
0    900 1950
1      900 01
2      900 30
Name: 900, dtype: object
0    901 1956
1      901 08
2      901 10
Name: 901, dtype: object
0    902 1971
1      902 11
2      902 26
Name: 902, dtype: object
0    903 1972
1      903 09
2      903 17
Name: 903, dtype: object
0           904 1972
1             904 07
2    904 17 00:00:00
Name: 904, dtype: object
0    905 1971
1      905 08
2      905 19
Name: 905, dtype: object
0    906 1984
1      906 03
2      906 08
Name: 906, dtype: object
0    907 1963
1      907 12
2      907 09
Name: 907, dtype: object
0    908 1991
1      908 09
2      908 09
Name: 908, dtype: object
0           909 1989
1             909 04
2    909 14 00:00:00
Name: 909, dtype: object
0    910 1972
1      910 06
2      910 06
Name: 910, dtype: object
0           911 1950
1             911 01
2    911 01 00 00 00
Name: 911, dtype: object
0    912 1976
1      912 08
2      912 23
Name: 912, dtype: object
0           913 1948
1             913 10
2    913 14 00:00:00
Name: 913, dtype: object
0    914 1965
1      914 02
2      914 12
Name: 914, dtype: object
0    915 1969
1      915 06
2      915 17
Name: 915, dtype: object
0    916 1955
1      916 12
2      916 12
Name: 916, dtype: object
0    917 1955
1      917 02
2      917 07
Name: 917, dtype: object
0           918 1959
1             918 08
2    918 19 00 00 00
Name: 918, dtype: object
0           919 1972
1             919 05
2    919 16 00:00:00
Name: 919, dtype: object
0           920 1977
1             920 01
2    920 13 00 00 00
Name: 920, dtype: object
0    921 1970
1      921 07
2      921 25
Name: 921, dtype: object
0    922 1972
1      922 12
2      922 30
Name: 922, dtype: object
0           923 1971
1             923 05
2    923 31 00 00 00
Name: 923, dtype: object
0    924 1985
1      924 11
2      924 28
Name: 924, dtype: object
0    925 1959
1      925 12
2      925 04
Name: 925, dtype: object
0    926 1966
1      926 03
2      926 28
Name: 926, dtype: object
0    927 1973
1      927 12
2      927 19
Name: 927, dtype: object
0      928 27
1      928 12
2    928 1979
Name: 928, dtype: object
0    929 1960
1      929 05
2      929 02
Name: 929, dtype: object
0    930 1969
1      930 03
2      930 08
Name: 930, dtype: object
0    931 1988
1      931 07
2      931 13
Name: 931, dtype: object
0    932 55
1    932 04
2    932 11
Name: 932, dtype: object
0    933 1963
1      933 12
2      933 27
Name: 933, dtype: object
0    934 1971
1      934 07
2      934 03
Name: 934, dtype: object
0    935 1963
1      935 01
2      935 31
Name: 935, dtype: object
0    936 1977
1      936 10
2      936 23
Name: 936, dtype: object
0    937 1950
1      937 09
2      937 24
Name: 937, dtype: object
0    938 1967
1      938 05
2      938 29
Name: 938, dtype: object
0    939 1968
1      939 09
2      939 05
Name: 939, dtype: object
0           940 1953
1             940 11
2    940 04 00 00 00
Name: 940, dtype: object
0           941 1962
1             941 09
2    941 01 00 00 00
Name: 941, dtype: object
0    942 1971
1      942 10
2      942 19
Name: 942, dtype: object
0    943 1940
1      943 07
2      943 09
Name: 943, dtype: object
0    944 64
1    944 01
2    944 24
Name: 944, dtype: object
0    945 1965
1      945 02
2      945 08
Name: 945, dtype: object
0    946 1965
1      946 01
2      946 30
Name: 946, dtype: object
0    947 1956
1      947 07
2      947 03
Name: 947, dtype: object
0    948 1973
1      948 07
2      948 01
Name: 948, dtype: object
0      949 06
1      949 09
2    949 1981
Name: 949, dtype: object
0    950 1965
1      950 06
2      950 23
Name: 950, dtype: object
0    951 1977
1      951 03
2      951 30
Name: 951, dtype: object
0    952 1956
1      952 08
2      952 01
Name: 952, dtype: object
0    953 1957
1      953 03
2      953 20
Name: 953, dtype: object
0    954 1974
1      954 02
2      954 22
Name: 954, dtype: object
0           955 1956
1             955 06
2    955 19 00 00 00
Name: 955, dtype: object
0    956 1970
1      956 06
2      956 15
Name: 956, dtype: object
0    957 1960
1      957 04
2      957 04
Name: 957, dtype: object
0    958 1957
1      958 08
2      958 16
Name: 958, dtype: object
0    959 1959
1      959 07
2      959 08
Name: 959, dtype: object
0    960 1954
1      960 02
2      960 06
Name: 960, dtype: object
0    961 1972
1      961 02
2      961 21
Name: 961, dtype: object
0    962 1959
1      962 02
2      962 15
Name: 962, dtype: object
0    963 1994
1      963 11
2      963 26
Name: 963, dtype: object
0    964 1978
1      964 02
2      964 10
Name: 964, dtype: object
0    965 1999
1      965 08
2      965 17
Name: 965, dtype: object
0    966 1967
1      966 09
2      966 13
Name: 966, dtype: object
0    967 1962
1      967 04
2      967 15
Name: 967, dtype: object
0    968 62
1    968 12
2    968 18
Name: 968, dtype: object
0    969 1971
1      969 01
2      969 13
Name: 969, dtype: object
0    970 1962
1      970 02
2      970 18
Name: 970, dtype: object
0    971 65
1    971 03
2    971 05
Name: 971, dtype: object
0    972 1968
1      972 11
2      972 25
Name: 972, dtype: object
0    973 1967
1      973 04
2      973 24
Name: 973, dtype: object
0    974 1956
1      974 06
2      974 12
Name: 974, dtype: object
0    975 62
1    975 12
2    975 15
Name: 975, dtype: object
0           976 1973
1             976 06
2    976 08 00 00 00
Name: 976, dtype: object
0    977 1959
1      977 09
2      977 27
Name: 977, dtype: object
0    978 1966
1      978 12
2      978 02
Name: 978, dtype: object
0    979 1955
1      979 12
2      979 10
Name: 979, dtype: object
0    980 1963
1      980 03
2      980 18
Name: 980, dtype: object
0    981 1953
1      981 09
2      981 03
Name: 981, dtype: object
0    982 1969
1      982 02
2      982 27
Name: 982, dtype: object
0    983 1963
1      983 09
2      983 18
Name: 983, dtype: object
0    984 1963
1      984 02
2      984 11
Name: 984, dtype: object
0    985 1957
1      985 10
2      985 17
Name: 985, dtype: object
0    986 1983
1      986 05
2      986 19
Name: 986, dtype: object
0    987 1967
1      987 03
2      987 19
Name: 987, dtype: object
0    988 1965
1      988 06
2      988 11
Name: 988, dtype: object
0    989 1964
1      989 04
2      989 25
Name: 989, dtype: object
0    990 1978
1      990 02
2      990 12
Name: 990, dtype: object
0    991 1960
1      991 07
2      991 27
Name: 991, dtype: object
0    992 1963
1      992 07
2      992 08
Name: 992, dtype: object
0    993 1961
1      993 05
2      993 18
Name: 993, dtype: object
0    994 1976
1      994 10
2      994 15
Name: 994, dtype: object
0    995 1963
1      995 05
2      995 22
Name: 995, dtype: object
0    996 1986
1      996 09
2      996 27
Name: 996, dtype: object
0    997 1986
1      997 12
2      997 16
Name: 997, dtype: object
0    998 1973
1      998 02
2      998 16
Name: 998, dtype: object
0      999 17
1      999 12
2    999 1960
Name: 999, dtype: object
0    1000 1977
1      1000 07
2      1000 17
Name: 1000, dtype: object
0    1001 1967
1      1001 11
2      1001 21
Name: 1001, dtype: object
0    1002 1950
1      1002 02
2      1002 27
Name: 1002, dtype: object
0    1003 1973
1      1003 03
2      1003 18
Name: 1003, dtype: object
0           1004 1979
1             1004 06
2    1004 08 00 00 00
Name: 1004, dtype: object
0           1005 1984
1             1005 10
2    1005 28 00:00:00
Name: 1005, dtype: object
0           1006 1969
1             1006 03
2    1006 23 00:00:00
Name: 1006, dtype: object

0    1007 1962
1      1007 12
2      1007 12
Name: 1007, dtype: object
0    1008 1954
1      1008 01
2      1008 08
Name: 1008, dtype: object
0    1009 1962
1      1009 08
2      1009 23
Name: 1009, dtype: object
0    1010 1956
1      1010 06
2      1010 05
Name: 1010, dtype: object
0    1011 1967
1      1011 09
2      1011 26
Name: 1011, dtype: object
0           1012 1968
1             1012 10
2    1012 28 00 00 00
Name: 1012, dtype: object
0    1013 57
1    1013 06
2    1013 26
Name: 1013, dtype: object
0    1014 1983
1      1014 06
2      1014 06
Name: 1014, dtype: object
0    1015 1973
1      1015 10
2      1015 03
Name: 1015, dtype: object
0           1016 1979
1             1016 07
2    1016 08 00 00 00
Name: 1016, dtype: object
0      1017 25
1      1017 03
2    1017 1963
Name: 1017, dtype: object
0           1018 1963
1             1018 09
2    1018 23 00 00 00
Name: 1018, dtype: object
0    1019 1984
1      1019 09
2      1019 11
Name: 1019, dtype: object
0    1020 1957
1      1020 10
2      1020 23
Name: 1020, dtype: object
0    1021 1982
1      1021 06
2      1021 04
Name: 1021, dtype: object
0    1022 1984
1      1022 09
2      1022 14
Name: 1022, dtype: object
0    1023 1967
1      1023 11
2      1023 08
Name: 1023, dtype: object
0           1024 1987
1             1024 03
2    1024 21 00:00:00
Name: 1024, dtype: object
0    1025 1960
1      1025 04
2      1025 30
Name: 1025, dtype: object
0    1026 1973
1      1026 03
2      1026 25
Name: 1026, dtype: object
0    1027 1954
1      1027 01
2      1027 06
Name: 1027, dtype: object
0    1028 1967
1      1028 09
2      1028 16
Name: 1028, dtype: object
0    1029 1960
1      1029 04
2      1029 27
Name: 1029, dtype: object
0    1030 1971
1      1030 03
2      1030 15
Name: 1030, dtype: object
0    1031 1975
1      1031 08
2      1031 27
Name: 1031, dtype: object
0           1032 1962
1             1032 04
2    1032 13 00 00 00
Name: 1032, dtype: object
0    1033 59
1    1033 03
2    1033 02
Name: 1033, dtype: object
0    1034 1972
1      1034 09
2      1034 02
Name: 1034, dtype: object
0           1035 1976
1             1035 01
2    1035 24 00 00 00
Name: 1035, dtype: object
0    1036 1955
1      1036 06
2      1036 29
Name: 1036, dtype: object
0    1037 1989
1      1037 03
2      1037 31
Name: 1037, dtype: object
0    1038 1968
1      1038 01
2      1038 13
Name: 1038, dtype: object
0    1039 1963
1      1039 04
2      1039 10
Name: 1039, dtype: object
0    1040 1969
1      1040 11
2      1040 25
Name: 1040, dtype: object
0    1041 1974
1      1041 04
2      1041 29
Name: 1041, dtype: object
0    1042 1971
1      1042 04
2      1042 29
Name: 1042, dtype: object
0    1043 1981
1      1043 09
2      1043 20
Name: 1043, dtype: object
0    1044 1969
1      1044 02
2      1044 27
Name: 1044, dtype: object
0    1045 1964
1      1045 06
2      1045 21
Name: 1045, dtype: object
0      1046 09
1      1046 11
2    1046 1952
Name: 1046, dtype: object
0           1047 1963
1             1047 11
2    1047 12 00 00 00
Name: 1047, dtype: object
0    1048 1981
1      1048 05
2      1048 13
Name: 1048, dtype: object
0    1049 1968
1      1049 04
2      1049 08
Name: 1049, dtype: object
0    1050 1985
1      1050 01
2      1050 31
Name: 1050, dtype: object
0           1051 1967
1             1051 11
2    1051 25 00 00 00
Name: 1051, dtype: object
0    1052 1967
1      1052 02
2      1052 25
Name: 1052, dtype: object
0    1053 1968
1      1053 11
2      1053 26
Name: 1053, dtype: object
0           1054 1966
1             1054 03
2    1054 20 00 00 00
Name: 1054, dtype: object
0    1055 1980
1      1055 11
2      1055 19
Name: 1055, dtype: object
0    1056 1962
1      1056 10
2      1056 24
Name: 1056, dtype: object
0    1057 1952
1      1057 08
2      1057 02
Name: 1057, dtype: object
0    1058 1949
1      1058 07
2      1058 06
Name: 1058, dtype: object
0           1059 1980
1             1059 08
2    1059 24 00:00:00
Name: 1059, dtype: object
0    1060 1956
1      1060 08
2      1060 16
Name: 1060, dtype: object
0    1061 1968
1      1061 08
2      1061 07
Name: 1061, dtype: object
0           1062 1969
1             1062 08
2    1062 04 00:00:00
Name: 1062, dtype: object
0    1063 1953
1      1063 08
2      1063 08
Name: 1063, dtype: object
0           1064 1971
1             1064 05
2    1064 10 00 00 00
Name: 1064, dtype: object
0    1065 1977
1      1065 09
2      1065 06
Name: 1065, dtype: object
0    1066 1960
1      1066 02
2      1066 25
Name: 1066, dtype: object
0    1067 1970
1      1067 04
2      1067 05
Name: 1067, dtype: object
0      1068 16
1      1068 06
2    1068 1963
Name: 1068, dtype: object
0    1069 1983
1      1069 06
2      1069 22
Name: 1069, dtype: object
0    1070 1968
1      1070 11
2      1070 03
Name: 1070, dtype: object
0    1071 1962
1      1071 09
2      1071 01
Name: 1071, dtype: object
0    1072 1982
1      1072 03
2      1072 04
Name: 1072, dtype: object
0      1073 08
1      1073 12
2    1073 1964
Name: 1073, dtype: object
0    1074 1960
1      1074 03
2      1074 31
Name: 1074, dtype: object
0    1075 1964
1      1075 03
2      1075 26
Name: 1075, dtype: object
0    1076 1965
1      1076 03
2      1076 13
Name: 1076, dtype: object
0           1077 1965
1             1077 01
2    1077 11 00:00:00
Name: 1077, dtype: object
0           1078 1976
1             1078 08
2    1078 28 00 00 00
Name: 1078, dtype: object
0    1079 1970
1      1079 11
2      1079 13
Name: 1079, dtype: object
0    1080 1973
1      1080 01
2      1080 20
Name: 1080, dtype: object
0    1081 1956
1      1081 05
2      1081 08
Name: 1081, dtype: object
0    1082 1962
1      1082 02
2      1082 18
Name: 1082, dtype: object
0    1083 1943
1      1083 09
2      1083 02
Name: 1083, dtype: object
0    1084 1974
1      1084 11
2      1084 21
Name: 1084, dtype: object
0    1085 1947
1      1085 09
2      1085 07
Name: 1085, dtype: object
0    1086 1968
1      1086 10
2      1086 01
Name: 1086, dtype: object
0    1087 1967
1      1087 04
2      1087 14
Name: 1087, dtype: object
0           1088 1990
1             1088 01
2    1088 17 00:00:00
Name: 1088, dtype: object
0    1089 1960
1      1089 08
2      1089 15
Name: 1089, dtype: object
0    1090 1994
1      1090 04
2      1090 19
Name: 1090, dtype: object
0      1091 03
1      1091 02
2    1091 1956
Name: 1091, dtype: object
0    1092 1998
1      1092 05
2      1092 30
Name: 1092, dtype: object
0    1093 1965
1      1093 12
2      1093 18
Name: 1093, dtype: object
0      1094 04
1      1094 06
2    1094 1980
Name: 1094, dtype: object
0    1095 1963
1      1095 03
2      1095 16
Name: 1095, dtype: object
0    1096 1968
1      1096 07
2      1096 25
Name: 1096, dtype: object
0    1097 1964
1      1097 02
2      1097 12
Name: 1097, dtype: object
0           1098 1984
1             1098 06
2    1098 01 00:00:00
Name: 1098, dtype: object
0    1099 1963
1      1099 09
2      1099 23
Name: 1099, dtype: object
0    1100 1965
1      1100 10
2      1100 14
Name: 1100, dtype: object
0    1101 1969
1      1101 12
2      1101 25
Name: 1101, dtype: object
0    1102 1968
1      1102 09
2      1102 05
Name: 1102, dtype: object
0      1103 30
1      1103 08
2    1103 1971
Name: 1103, dtype: object
0    1104 1978
1      1104 05
2      1104 29
Name: 1104, dtype: object
0    1105 1998
1      1105 11
2      1105 08
Name: 1105, dtype: object
0    1106 1972
1      1106 02
2      1106 19
Name: 1106, dtype: object
0    1107 1971
1      1107 05
2      1107 30
Name: 1107, dtype: object
0    1108 85
1    1108 03
2    1108 01
Name: 1108, dtype: object
0      1109 09
1      1109 07
2    1109 1979
Name: 1109, dtype: object
0    1110 63
1    1110 12
2    1110 16
Name: 1110, dtype: object
0    1111 1973
1      1111 11
2      1111 05
Name: 1111, dtype: object
0           1112 1954
1             1112 11
2    1112 12 00 00 00
Name: 1112, dtype: object
0    1113 1989
1      1113 05
2      1113 17
Name: 1113, dtype: object
0    1114 1949
1      1114 03
2      1114 13
Name: 1114, dtype: object
0    1115 1976
1      1115 01
2      1115 10
Name: 1115, dtype: object
0    1116 85
1    1116 12
2    1116 20
Name: 1116, dtype: object
0           1117 1964
1             1117 03
2    1117 21 00:00:00

Name: 1117, dtype: object
0    1118 1978
1      1118 01
2      1118 06
Name: 1118, dtype: object
0    1119 1974
1      1119 07
2      1119 10
Name: 1119, dtype: object
0      1120 20
1      1120 11
2    1120 1954
Name: 1120, dtype: object
0    1121 1953
1      1121 04
2      1121 04
Name: 1121, dtype: object
0    1122 1966
1      1122 01
2      1122 04
Name: 1122, dtype: object
0    1123 1980
1      1123 08
2      1123 17
Name: 1123, dtype: object
0    1124 1953
1      1124 05
2      1124 14
Name: 1124, dtype: object
0           1125 1955
1             1125 03
2    1125 26 00 00 00
Name: 1125, dtype: object
0    1126 1967
1      1126 10
2      1126 28
Name: 1126, dtype: object
0           1127 1964
1             1127 09
2    1127 07 00:00:00
Name: 1127, dtype: object
0      1128 07
1      1128 05
2    1128 1982
Name: 1128, dtype: object
0      1129 06
1      1129 07
2    1129 1967
Name: 1129, dtype: object
0    1130 1935
1      1130 12
2      1130 06
Name: 1130, dtype: object
0    1131 1977
1      1131 01
2      1131 08
Name: 1131, dtype: object
0    1132 1966
1      1132 05
2      1132 06
Name: 1132, dtype: object
0    1133 1940
1      1133 07
2      1133 28
Name: 1133, dtype: object
0    1134 1976
1      1134 02
2      1134 03
Name: 1134, dtype: object
0      1135 18
1      1135 05
2    1135 1975
Name: 1135, dtype: object
0    1136 1949
1      1136 03
2      1136 06
Name: 1136, dtype: object
0    1137 1963
1      1137 06
2      1137 16
Name: 1137, dtype: object
0           1138 1973
1             1138 02
2    1138 24 00:00:00
Name: 1138, dtype: object
0    1139 1960
1      1139 08
2      1139 10
Name: 1139, dtype: object
0    1140 1973
1      1140 01
2      1140 28
Name: 1140, dtype: object
0    1141 1949
1      1141 09
2      1141 03
Name: 1141, dtype: object
0    1142 1963
1      1142 08
2      1142 31
Name: 1142, dtype: object
0           1143 1972
1             1143 10
2    1143 10 00:00:00
Name: 1143, dtype: object
0    1144 1950
1      1144 09
2      1144 20
Name: 1144, dtype: object
0    1145 1966
1      1145 06
2      1145 02
Name: 1145, dtype: object
0           1146 1975
1             1146 12
2    1146 06 00 00 00
Name: 1146, dtype: object
0      1147 06
1      1147 03
2    1147 1968
Name: 1147, dtype: object
0    1148 1986
1      1148 12
2      1148 21
Name: 1148, dtype: object
0    1149 1977
1      1149 08
2      1149 31
Name: 1149, dtype: object
0    1150 1969
1      1150 07
2      1150 24
Name: 1150, dtype: object
0    1151 1957
1      1151 02
2      1151 18
Name: 1151, dtype: object
0           1152 1971
1             1152 06
2    1152 28 00:00:00
Name: 1152, dtype: object
0      1153 12
1      1153 06
2    1153 1966
Name: 1153, dtype: object
0    1154 1967
1      1154 04
2      1154 01
Name: 1154, dtype: object
0    1155 1982
1      1155 09
2      1155 25
Name: 1155, dtype: object
0    1156 1987
1      1156 08
2      1156 15
Name: 1156, dtype: object
0           1157 1972
1             1157 06
2    1157 21 00:00:00
Name: 1157, dtype: object
0    1158 1979
1      1158 09
2      1158 01
Name: 1158, dtype: object
0           1159 1963
1             1159 11
2    1159 20 00:00:00
Name: 1159, dtype: object
0           1160 1970
1             1160 10
2    1160 07 00:00:00
Name: 1160, dtype: object
0           1161 1953
1             1161 04
2    1161 04 00:00:00
Name: 1161, dtype: object
0    1162 1941
1      1162 01
2      1162 21
Name: 1162, dtype: object
0    1163 1963
1      1163 04
2      1163 21
Name: 1163, dtype: object
0    1164 1964
1      1164 04
2      1164 27
Name: 1164, dtype: object
0           1165 1975
1             1165 05
2    1165 08 00 00 00
Name: 1165, dtype: object
0    1166 1960
1      1166 04
2      1166 15
Name: 1166, dtype: object
0    1167 1980
1      1167 09
2      1167 28
Name: 1167, dtype: object
0      1168 08
1      1168 02
2    1168 1966
Name: 1168, dtype: object
0    1169 1979
1      1169 02
2      1169 08
Name: 1169, dtype: object
0    1170 1981
1      1170 02
2      1170 06
Name: 1170, dtype: object
0    1171 1976
1      1171 10
2      1171 18
Name: 1171, dtype: object
0    1172 1962
1      1172 04
2      1172 25
Name: 1172, dtype: object
0    1173 1989
1      1173 08
2      1173 09
Name: 1173, dtype: object
0    1174 2016
1      1174 08
2      1174 02
Name: 1174, dtype: object
0    1175 1967
1      1175 04
2      1175 08
Name: 1175, dtype: object
0    1176 1969
1      1176 04
2      1176 26
Name: 1176, dtype: object
0           1177 1969
1             1177 05
2    1177 21 00 00 00
Name: 1177, dtype: object
0    1178 1968
1      1178 02
2      1178 22
Name: 1178, dtype: object
0    1179 1975
1      1179 08
2      1179 01
Name: 1179, dtype: object
0    1180 1968
1      1180 10
2      1180 18
Name: 1180, dtype: object
0    1181 1966
1      1181 08
2      1181 26
Name: 1181, dtype: object
0    1182 1975
1      1182 11
2      1182 13
Name: 1182, dtype: object
0    1183 1971
1      1183 06
2      1183 19
Name: 1183, dtype: object
0    1184 47
1    1184 12
2    1184 15
Name: 1184, dtype: object
0    1185 1979
1      1185 09
2      1185 11
Name: 1185, dtype: object
0    1186 67
1    1186 11
2    1186 08
Name: 1186, dtype: object
0    1187 1957
1      1187 04
2      1187 21
Name: 1187, dtype: object
0           1188 1953
1             1188 11
2    1188 27 00:00:00
Name: 1188, dtype: object
0    1189 1953
1      1189 04
2      1189 03
Name: 1189, dtype: object
0    1190 1967
1      1190 07
2      1190 06
Name: 1190, dtype: object
0    1191 1981
1      1191 06
2      1191 19
Name: 1191, dtype: object
0    1192 1963
1      1192 10
2      1192 30
Name: 1192, dtype: object
0    1193 1959
1      1193 02
2      1193 12
Name: 1193, dtype: object
0    1194 1968
1      1194 04
2      1194 24
Name: 1194, dtype: object
0    1195 1957
1      1195 07
2      1195 28
Name: 1195, dtype: object
0    1196 51
1    1196 03
2    1196 20
Name: 1196, dtype: object
0    1197 1977
1      1197 10
2      1197 04
Name: 1197, dtype: object
0    1198 1955
1      1198 02
2      1198 21
Name: 1198, dtype: object
0           1199 1953
1             1199 08
2    1199 01 00 00 00
Name: 1199, dtype: object
0    1200 1958
1      1200 09
2      1200 29
Name: 1200, dtype: object
0           1201 1978
1             1201 03
2    1201 13 00:00:00
Name: 1201, dtype: object
0           1202 1954
1             1202 02
2    1202 25 00:00:00
Name: 1202, dtype: object
0    1203 1964
1      1203 06
2      1203 11
Name: 1203, dtype: object
0    1204 1974
1      1204 02
2      1204 23
Name: 1204, dtype: object
0    1205 1961
1      1205 02
2      1205 27
Name: 1205, dtype: object
0    1206 1983
1      1206 10
2      1206 08
Name: 1206, dtype: object
0    1207 63
1    1207 04
2    1207 25
Name: 1207, dtype: object
0    1208 1983
1      1208 01
2      1208 06
Name: 1208, dtype: object
0           1209 1966
1             1209 12
2    1209 20 00 00 00
Name: 1209, dtype: object
0    1210 1984
1      1210 05
2      1210 25
Name: 1210, dtype: object
0      1211 08
1      1211 09
2    1211 1942
Name: 1211, dtype: object
0    1212 1987
1      1212 08
2      1212 30
Name: 1212, dtype: object
0           1213 1970
1             1213 03
2    1213 27 00 00 00
Name: 1213, dtype: object
0      1214 10
1      1214 12
2    1214 1992
Name: 1214, dtype: object
0    1215 1965
1      1215 03
2      1215 04
Name: 1215, dtype: object
0    1216 1972
1      1216 08
2      1216 07
Name: 1216, dtype: object
0      1217 05
1      1217 11
2    1217 1963
Name: 1217, dtype: object
0    1218 1949
1      1218 08
2      1218 21
Name: 1218, dtype: object
0    1219 1959
1      1219 05
2      1219 11
Name: 1219, dtype: object
0           1220 1963
1             1220 06
2    1220 30 00:00:00
Name: 1220, dtype: object
0    1221 1959
1      1221 02
2      1221 14
Name: 1221, dtype: object
0      1222 30
1      1222 06
2    1222 2005
Name: 1222, dtype: object
0    1223 1968
1      1223 05
2      1223 18
Name: 1223, dtype: object
0    1224 59
1    1224 10
2    1224 15
Name: 1224, dtype: object
0           1225 1970
1             1225 07
2    1225 12 00:00:00
Name: 1225, dtype: object
0    1226 1970
1      1226 12
2      1226 28
Name: 1226, dtype: object
0    1227 1961
1      1227 03
2      1227 18
Name: 1227, dtype: object
0    1228 1967
1      1228 03
2      1228 06
Name: 1228, dtype: object
0    1229 1953
1      1229 11
2      1229 18
Name: 1229, dtype: object
0    1230 1976
1      1230 07
2      1230 07
Name: 1230, dtype: object
0    1231 1961
1      1231 01
2      1231 29
Name: 1231, dtype: object
0      1232 28
1      1232 06
2    1232 1972
Name: 1232, dtype: object
0    1233 69
1    1233 11
2    1233 25
Name: 1233, dtype: object
0    1234 1954
1      1234 11
2      1234 10
Name: 1234, dtype: object
0    1235 1980
1      1235 10
2      1235 04
Name: 1235, dtype: object
0    1236 1948
1      1236 08
2      1236 20
Name: 1236, dtype: object
0    1237 1963
1      1237 01
2      1237 26
Name: 1237, dtype: object
0    1238 1951
1      1238 08
2      1238 20
Name: 1238, dtype: object
0           1239 1981
1             1239 07
2    1239 17 00 00 00
Name: 1239, dtype: object

0           1240 1958
1             1240 03
2    1240 26 00:00:00
Name: 1240, dtype: object
0           1241 1984
1             1241 08
2    1241 18 00 00 00
Name: 1241, dtype: object
0    1242 2002
1      1242 03
2      1242 23
Name: 1242, dtype: object
0    1243 1979
1      1243 03
2      1243 01
Name: 1243, dtype: object
0    1244 1987
1      1244 01
2      1244 10
Name: 1244, dtype: object
0    1245 1984
1      1245 10
2      1245 12
Name: 1245, dtype: object
0    1246 1962
1      1246 03
2      1246 30
Name: 1246, dtype: object
0    1247 1955
1      1247 11
2      1247 17
Name: 1247, dtype: object
0      1248 10
1      1248 03
2    1248 1974
Name: 1248, dtype: object
0           1249 1982
1             1249 10
2    1249 06 00:00:00
Name: 1249, dtype: object
0      1250 07
1      1250 06
2    1250 1961
Name: 1250, dtype: object
0    1251 1962
1      1251 09
2      1251 28
Name: 1251, dtype: object
0           1252 1962
1             1252 07
2    1252 17 00 00 00
Name: 1252, dtype: object
0    1253 1950
1      1253 10
2      1253 29
Name: 1253, dtype: object
0    1254 1981
1      1254 09
2      1254 12
Name: 1254, dtype: object
0    1255 1941
1      1255 08
2      1255 02
Name: 1255, dtype: object
0    1256 1971
1      1256 08
2      1256 13
Name: 1256, dtype: object
0    1257 1985
1      1257 04
2      1257 23
Name: 1257, dtype: object
0    1258 1972
1      1258 01
2      1258 28
Name: 1258, dtype: object
0    1259 1983
1      1259 01
2      1259 21
Name: 1259, dtype: object
0           1260 1974
1             1260 10
2    1260 07 00 00 00
Name: 1260, dtype: object
0      1261 28
1      1261 05
2    1261 1968
Name: 1261, dtype: object
0           1262 1937
1             1262 12
2    1262 06 00:00:00
Name: 1262, dtype: object
0           1263 1976
1             1263 03
2    1263 13 00:00:00
Name: 1263, dtype: object
0    1264 1986
1      1264 01
2      1264 10
Name: 1264, dtype: object
0    1265 1985
1      1265 05
2      1265 27
Name: 1265, dtype: object
0    1266 1993
1      1266 10
2      1266 03
Name: 1266, dtype: object
0    1267 1976
1      1267 09
2      1267 20
Name: 1267, dtype: object
0           1268 1961
1             1268 11
2    1268 13 00 00 00
Name: 1268, dtype: object
0    1269 1954
1      1269 12
2      1269 06
Name: 1269, dtype: object
0           1270 1975
1             1270 04
2    1270 16 00 00 00
Name: 1270, dtype: object
0    1271 1957
1      1271 04
2      1271 30
Name: 1271, dtype: object
0    1272 1973
1      1272 01
2      1272 03
Name: 1272, dtype: object
0      1273 03
1      1273 08
2    1273 1969
Name: 1273, dtype: object
0    1274 1966
1      1274 02
2      1274 05
Name: 1274, dtype: object
0    1275 1961
1      1275 12
2      1275 30
Name: 1275, dtype: object
0      1276 09
1      1276 08
2    1276 1962
Name: 1276, dtype: object
0           1277 1972
1             1277 03
2    1277 19 00 00 00
Name: 1277, dtype: object
0    1278 1986
1      1278 06
2      1278 28
Name: 1278, dtype: object
0    1279 1971
1      1279 01
2      1279 03
Name: 1279, dtype: object
0    1280 1965
1      1280 02
2      1280 21
Name: 1280, dtype: object
0           1281 1983
1             1281 08
2    1281 04 00 00 00
Name: 1281, dtype: object
0           1282 1946
1             1282 03
2    1282 15 00:00:00
Name: 1282, dtype: object
0      1283 26
1      1283 02
2    1283 1979
Name: 1283, dtype: object
0    1284 1968
1      1284 07
2      1284 21
Name: 1284, dtype: object
0    1285 1984
1      1285 07
2      1285 18
Name: 1285, dtype: object
0    1286 1969
1      1286 08
2      1286 16
Name: 1286, dtype: object
0      1287 14
1      1287 02
2    1287 1977
Name: 1287, dtype: object
0    1288 1959
1      1288 07
2      1288 16
Name: 1288, dtype: object
0           1289 1959
1             1289 05
2    1289 13 00:00:00
Name: 1289, dtype: object
0    1290 1967
1      1290 07
2      1290 12
Name: 1290, dtype: object
0    1291 1973
1      1291 08
2      1291 10
Name: 1291, dtype: object
0           1292 1963
1             1292 11
2    1292 07 00:00:00
Name: 1292, dtype: object
0    1293 1982
1      1293 07
2      1293 14
Name: 1293, dtype: object
0    1294 57
1    1294 03
2    1294 20
Name: 1294, dtype: object
0      1295 08
1      1295 01
2    1295 1950
Name: 1295, dtype: object
0    1296 1965
1      1296 09
2      1296 08
Name: 1296, dtype: object
0    1297 1957
1      1297 01
2      1297 09
Name: 1297, dtype: object
0    1298 03
1    1298 01
2    1298 27
Name: 1298, dtype: object
0      1299 07
1      1299 09
2    1299 1961
Name: 1299, dtype: object
0    1300 1957
1      1300 11
2      1300 29
Name: 1300, dtype: object
0    1301 1971
1      1301 03
2      1301 19
Name: 1301, dtype: object
0           1302 1984
1             1302 11
2    1302 05 00 00 00
Name: 1302, dtype: object
0    1303 1980
1      1303 07
2      1303 10
Name: 1303, dtype: object
0    1304 1939
1      1304 07
2      1304 12
Name: 1304, dtype: object
0      1305 27
1      1305 07
2    1305 1984
Name: 1305, dtype: object
0    1306 1976
1      1306 03
2      1306 13
Name: 1306, dtype: object
0    1307 1961
1      1307 07
2      1307 17
Name: 1307, dtype: object
0    1308 1981
1      1308 02
2      1308 19
Name: 1308, dtype: object
0    1309 83
1    1309 05
2    1309 25
Name: 1309, dtype: object
0    1310 1994
1      1310 11
2      1310 04
Name: 1310, dtype: object
0    1311 1960
1      1311 04
2      1311 05
Name: 1311, dtype: object
0    1312 1938
1      1312 07
2      1312 26
Name: 1312, dtype: object
0    1313 1967
1      1313 03
2      1313 04
Name: 1313, dtype: object
0    1314 1967
1      1314 05
2      1314 16
Name: 1314, dtype: object
0    1315 1981
1      1315 06
2      1315 16
Name: 1315, dtype: object
0    1316 1959
1      1316 10
2      1316 14
Name: 1316, dtype: object
0    1317 69
1    1317 06
2    1317 10
Name: 1317, dtype: object
0    1318 1968
1      1318 06
2      1318 10
Name: 1318, dtype: object
0           1319 1963
1             1319 04
2    1319 08 00:00:00
Name: 1319, dtype: object
0    1320 1952
1      1320 02
2      1320 07
Name: 1320, dtype: object
0    1321 1965
1      1321 12
2      1321 15
Name: 1321, dtype: object
0    1322 1925
1      1322 11
2      1322 27
Name: 1322, dtype: object
0    1323 1968
1      1323 04
2      1323 05
Name: 1323, dtype: object
0    1324 1966
1      1324 08
2      1324 26
Name: 1324, dtype: object
0    1325 1983
1      1325 08
2      1325 08
Name: 1325, dtype: object
0           1326 1946
1             1326 06
2    1326 27 00 00 00
Name: 1326, dtype: object
0    1327 1974
1      1327 04
2      1327 02
Name: 1327, dtype: object
0    1328 1972
1      1328 12
2      1328 28
Name: 1328, dtype: object
0    1329 1965
1      1329 01
2      1329 14
Name: 1329, dtype: object
0    1330 1972
1      1330 05
2      1330 08
Name: 1330, dtype: object
0    1331 1951
1      1331 07
2      1331 04
Name: 1331, dtype: object
0    1332 1989
1      1332 06
2      1332 05
Name: 1332, dtype: object
0    1333 1988
1      1333 04
2      1333 23
Name: 1333, dtype: object
0           1334 1970
1             1334 12
2    1334 21 00:00:00
Name: 1334, dtype: object
0    1335 1971
1      1335 04
2      1335 01
Name: 1335, dtype: object
0    1336 55
1    1336 05
2    1336 20
Name: 1336, dtype: object
0           1337 1971
1             1337 01
2    1337 10 00 00 00
Name: 1337, dtype: object
0           1338 1999
1             1338 11
2    1338 27 00 00 00
Name: 1338, dtype: object
0    1339 1975
1      1339 12
2      1339 23
Name: 1339, dtype: object
0    1340 1965
1      1340 03
2      1340 31
Name: 1340, dtype: object
0           1341 1975
1             1341 02
2    1341 14 00 00 00
Name: 1341, dtype: object
0    1342 1971
1      1342 11
2      1342 24
Name: 1342, dtype: object
0    1343 1960
1      1343 09
2      1343 25
Name: 1343, dtype: object
0    1344 1982
1      1344 11
2      1344 10
Name: 1344, dtype: object
0    1345 1972
1      1345 07
2      1345 18
Name: 1345, dtype: object
0    1346 1959
1      1346 04
2      1346 14
Name: 1346, dtype: object
0    1347 1980
1      1347 03
2      1347 11
Name: 1347, dtype: object
0    1348 1964
1      1348 10
2      1348 01
Name: 1348, dtype: object
0    1349 1966
1      1349 09
2      1349 08
Name: 1349, dtype: object
0           1350 1963
1             1350 06
2    1350 16 00:00:00
Name: 1350, dtype: object

0    1351 68
1    1351 08
2    1351 03
Name: 1351, dtype: object
0    1352 1989
1      1352 02
2      1352 26
Name: 1352, dtype: object
0    1353 1976
1      1353 11
2      1353 28
Name: 1353, dtype: object
0    1354 1958
1      1354 06
2      1354 28
Name: 1354, dtype: object
0           1355 1958
1             1355 03
2    1355 17 00 00 00
Name: 1355, dtype: object
0    1356 1955
1      1356 02
2      1356 10
Name: 1356, dtype: object
0    1357 60
1    1357 03
2    1357 14
Name: 1357, dtype: object
0           1358 1978
1             1358 01
2    1358 15 00:00:00
Name: 1358, dtype: object
0           1359 1963
1             1359 07
2    1359 15 00 00 00
Name: 1359, dtype: object
0    1360 1977
1      1360 04
2      1360 15
Name: 1360, dtype: object
0    1361 1977
1      1361 10
2      1361 31
Name: 1361, dtype: object
0    1362 1972
1      1362 02
2      1362 24
Name: 1362, dtype: object
0           1363 1975
1             1363 04
2    1363 18 00:00:00
Name: 1363, dtype: object
0      1364 04
1      1364 09
2    1364 1988
Name: 1364, dtype: object
0    1365 1968
1      1365 05
2      1365 27
Name: 1365, dtype: object
0           1366 1969
1             1366 03
2    1366 20 00 00 00
Name: 1366, dtype: object
0    1367 1959
1      1367 12
2      1367 23
Name: 1367, dtype: object
0    1368 1967
1      1368 07
2      1368 17
Name: 1368, dtype: object
0    1369 1964
1      1369 09
2      1369 27
Name: 1369, dtype: object
0    1370 1969
1      1370 07
2      1370 12
Name: 1370, dtype: object
0           1371 1976
1             1371 10
2    1371 12 00 00 00
Name: 1371, dtype: object
0    1372 1973
1      1372 08
2      1372 24
Name: 1372, dtype: object
0    1373 1972
1      1373 07
2      1373 08
Name: 1373, dtype: object
0    1374 1980
1      1374 05
2      1374 24
Name: 1374, dtype: object
0           1375 1958
1             1375 04
2    1375 16 00:00:00
Name: 1375, dtype: object
0    1376 1975
1      1376 08
2      1376 07
Name: 1376, dtype: object
0    1377 1958
1      1377 06
2      1377 09
Name: 1377, dtype: object
0           1378 1957
1             1378 09
2    1378 18 00:00:00
Name: 1378, dtype: object
0    1379 1943
1      1379 08
2      1379 09
Name: 1379, dtype: object
0    1380 1960
1      1380 10
2      1380 24
Name: 1380, dtype: object
0    1381 1971
1      1381 05
2      1381 23
Name: 1381, dtype: object
0    1382 89
1    1382 12
2    1382 28
Name: 1382, dtype: object
0    1383 1965
1      1383 10
2      1383 17
Name: 1383, dtype: object
0    1384 1965
1      1384 10
2      1384 01
Name: 1384, dtype: object
0    1385 1962
1      1385 01
2      1385 10
Name: 1385, dtype: object
0    1386 1960
1      1386 05
2      1386 11
Name: 1386, dtype: object
0    1387 1937
1      1387 04
2      1387 07
Name: 1387, dtype: object
0           1388 1976
1             1388 11
2    1388 01 00 00 00
Name: 1388, dtype: object
0    1389 1988
1      1389 04
2      1389 15
Name: 1389, dtype: object
0    1390 1966
1      1390 07
2      1390 30
Name: 1390, dtype: object
0    1391 1977
1      1391 10
2      1391 21
Name: 1391, dtype: object
0    1392 1968
1      1392 08
2      1392 22
Name: 1392, dtype: object
0    1393 1959
1      1393 02
2      1393 02
Name: 1393, dtype: object
0    1394 1965
1      1394 01
2      1394 24
Name: 1394, dtype: object
0    1395 1966
1      1395 04
2      1395 30
Name: 1395, dtype: object
0    1396 1981
1      1396 04
2      1396 21
Name: 1396, dtype: object
0           1397 1949
1             1397 05
2    1397 11 00:00:00
Name: 1397, dtype: object
0           1398 1991
1             1398 12
2    1398 09 00 00 00
Name: 1398, dtype: object
0           1399 1969
1             1399 05
2    1399 04 00 00 00
Name: 1399, dtype: object
0           1400 1963
1             1400 09
2    1400 26 00 00 00
Name: 1400, dtype: object
0    1401 1959
1      1401 08
2      1401 09
Name: 1401, dtype: object
0           1402 1964
1             1402 06
2    1402 21 00:00:00
Name: 1402, dtype: object
0    1403 1973
1      1403 06
2      1403 06
Name: 1403, dtype: object
0    1404 1978
1      1404 12
2      1404 01
Name: 1404, dtype: object
0    1405 1976
1      1405 10
2      1405 20
Name: 1405, dtype: object
0           1406 1968
1             1406 01
2    1406 04 00 00 00
Name: 1406, dtype: object
0    1407 1977
1      1407 01
2      1407 07
Name: 1407, dtype: object
0    1408 1968
1      1408 11
2      1408 13
Name: 1408, dtype: object
0    1409 1988
1      1409 03
2      1409 11
Name: 1409, dtype: object
0      1410 04
1      1410 03
2    1410 1969
Name: 1410, dtype: object
0           1411 1971
1             1411 06
2    1411 18 00 00 00
Name: 1411, dtype: object
0    1412 1956
1      1412 10
2      1412 12
Name: 1412, dtype: object
0    1413 1943
1      1413 09
2      1413 19
Name: 1413, dtype: object
0    1414 1958
1      1414 02
2      1414 26
Name: 1414, dtype: object
0      1415 24
1      1415 06
2    1415 1971
Name: 1415, dtype: object
0    1416 1957
1      1416 11
2      1416 05
Name: 1416, dtype: object
0           1417 1982
1             1417 05
2    1417 03 00 00 00
Name: 1417, dtype: object
0    1418 1961
1      1418 07
2      1418 03
Name: 1418, dtype: object
0    1419 1968
1      1419 03
2      1419 14
Name: 1419, dtype: object
0           1420 1975
1             1420 02
2    1420 16 00:00:00
Name: 1420, dtype: object
0           1421 1958
1             1421 03
2    1421 24 00 00 00
Name: 1421, dtype: object
0           1422 1950
1             1422 09
2    1422 17 00 00 00
Name: 1422, dtype: object
0           1423 1988
1             1423 05
2    1423 05 00:00:00
Name: 1423, dtype: object
0    1424 1963
1      1424 02
2      1424 24
Name: 1424, dtype: object
0    1425 1966
1      1425 07
2      1425 26
Name: 1425, dtype: object
0    1426 74
1    1426 07
2    1426 25
Name: 1426, dtype: object
0    1427 1980
1      1427 07
2      1427 03
Name: 1427, dtype: object
0    1428 1979
1      1428 04
2      1428 07
Name: 1428, dtype: object
0    1429 1963
1      1429 06
2      1429 16
Name: 1429, dtype: object
0           1430 1961
1             1430 01
2    1430 27 00 00 00
Name: 1430, dtype: object
0    1431 1964
1      1431 08
2      1431 20
Name: 1431, dtype: object
0           1432 1962
1             1432 01
2    1432 11 00:00:00
Name: 1432, dtype: object
0    1433 1968
1      1433 08
2      1433 30
Name: 1433, dtype: object
0    1434 1988
1      1434 01
2      1434 03
Name: 1434, dtype: object
0    1435 1951
1      1435 03
2      1435 09
Name: 1435, dtype: object
0    1436 1949
1      1436 06
2      1436 14
Name: 1436, dtype: object
0    1437 1962
1      1437 07
2      1437 14
Name: 1437, dtype: object
0    1438 1964
1      1438 01
2      1438 21
Name: 1438, dtype: object
0    1439 1964
1      1439 04
2      1439 04
Name: 1439, dtype: object
0    1440 1970
1      1440 07
2      1440 29
Name: 1440, dtype: object
0    1441 1955
1      1441 05
2      1441 01
Name: 1441, dtype: object
0    1442 1956
1      1442 04
2      1442 02
Name: 1442, dtype: object
0    1443 1967
1      1443 02
2      1443 25
Name: 1443, dtype: object
0    1444 1967
1      1444 02
2      1444 03
Name: 1444, dtype: object
0           1445 1973
1             1445 01
2    1445 16 00 00 00
Name: 1445, dtype: object
0    1446 1970
1      1446 10
2      1446 14
Name: 1446, dtype: object
0    1447 1937
1      1447 09
2      1447 02
Name: 1447, dtype: object
0    1448 1986
1      1448 04
2      1448 19
Name: 1448, dtype: object
0    1449 89
1    1449 06
2    1449 11
Name: 1449, dtype: object
0           1450 1963
1             1450 12
2    1450 27 00 00 00
Name: 1450, dtype: object
0    1451 1969
1      1451 11
2      1451 26
Name: 1451, dtype: object
0    1452 75
1    1452 09
2    1452 30
Name: 1452, dtype: object
0    1453 1968
1      1453 09
2      1453 23
Name: 1453, dtype: object
0           1454 1955
1             1454 10
2    1454 21 00 00 00
Name: 1454, dtype: object
0    1455 1952
1      1455 01
2      1455 16
Name: 1455, dtype: object
0    1456 1955
1      1456 02
2      1456 24
Name: 1456, dtype: object
0    1457 1949
1      1457 03
2      1457 02
Name: 1457, dtype: object
0    1458 1963
1      1458 11
2      1458 15
Name: 1458, dtype: object
0    1459 1962
1      1459 06
2      1459 23
Name: 1459, dtype: object
0    1460 1960
1      1460 02
2      1460 28
Name: 1460, dtype: object
0    1461 1984
1      1461 09
2      1461 22
Name: 1461, dtype: object
0    1462 1982
1      1462 12
2      1462 15
Name: 1462, dtype: object
0    1463 51
1    1463 11
2    1463 29
Name: 1463, dtype: object

0    1464 1965
1      1464 09
2      1464 22
Name: 1464, dtype: object
0    1465 1973
1      1465 11
2      1465 16
Name: 1465, dtype: object
0    1466 1982
1      1466 07
2      1466 06
Name: 1466, dtype: object
0    1467 1960
1      1467 03
2      1467 18
Name: 1467, dtype: object
0    1468 1962
1      1468 05
2      1468 11
Name: 1468, dtype: object
0    1469 1959
1      1469 12
2      1469 08
Name: 1469, dtype: object
0    1470 1980
1      1470 10
2      1470 11
Name: 1470, dtype: object
0    1471 67
1    1471 02
2    1471 09
Name: 1471, dtype: object
0           1472 1949
1             1472 01
2    1472 08 00 00 00
Name: 1472, dtype: object
0    1473 1974
1      1473 09
2      1473 04
Name: 1473, dtype: object
0      1474 17
1      1474 03
2    1474 1966
Name: 1474, dtype: object
0           1475 1983
1             1475 08
2    1475 03 00:00:00
Name: 1475, dtype: object
0    1476 1995
1      1476 05
2      1476 30
Name: 1476, dtype: object
0    1477 1980
1      1477 03
2      1477 28
Name: 1477, dtype: object
0    1478 1963
1      1478 02
2      1478 21
Name: 1478, dtype: object
0    1479 1997
1      1479 08
2      1479 08
Name: 1479, dtype: object
0    1480 1968
1      1480 02
2      1480 09
Name: 1480, dtype: object
0    1481 1961
1      1481 09
2      1481 26
Name: 1481, dtype: object
0    1482 1958
1      1482 02
2      1482 08
Name: 1482, dtype: object
0    1483 1953
1      1483 08
2      1483 17
Name: 1483, dtype: object
0    1484 1964
1      1484 10
2      1484 24
Name: 1484, dtype: object
0      1485 11
1      1485 07
2    1485 1984
Name: 1485, dtype: object
0    1486 1953
1      1486 06
2      1486 29
Name: 1486, dtype: object
0    1487 1975
1      1487 03
2      1487 05
Name: 1487, dtype: object
0    1488 1978
1      1488 07
2      1488 07
Name: 1488, dtype: object
0    1489 1973
1      1489 08
2      1489 10
Name: 1489, dtype: object
0    1490 1968
1      1490 12
2      1490 27
Name: 1490, dtype: object
0    1491 1958
1      1491 04
2      1491 18
Name: 1491, dtype: object
0    1492 1966
1      1492 03
2      1492 29
Name: 1492, dtype: object
0           1493 1967
1             1493 12
2    1493 17 00 00 00
Name: 1493, dtype: object
0    1494 1969
1      1494 06
2      1494 19
Name: 1494, dtype: object
0      1495 24
1      1495 05
2    1495 1956
Name: 1495, dtype: object
0    1496 1950
1      1496 11
2      1496 24
Name: 1496, dtype: object
0    1497 1962
1      1497 11
2      1497 23
Name: 1497, dtype: object
0    1498 1967
1      1498 12
2      1498 10
Name: 1498, dtype: object
0    1499 1955
1      1499 09
2      1499 15
Name: 1499, dtype: object
0      1500 02
1      1500 10
2    1500 1981
Name: 1500, dtype: object
0    1501 1967
1      1501 04
2      1501 29
Name: 1501, dtype: object
0    1502 1959
1      1502 09
2      1502 07
Name: 1502, dtype: object
0    1503 1974
1      1503 12
2      1503 01
Name: 1503, dtype: object
0    1504 1942
1      1504 06
2      1504 04
Name: 1504, dtype: object
0    1505 1964
1      1505 12
2      1505 27
Name: 1505, dtype: object
0           1506 1963
1             1506 12
2    1506 01 00 00 00
Name: 1506, dtype: object
0    1507 1958
1      1507 02
2      1507 23
Name: 1507, dtype: object
0    1508 1946
1      1508 09
2      1508 15
Name: 1508, dtype: object
0      1509 13
1      1509 02
2    1509 1966
Name: 1509, dtype: object
0    1510 1957
1      1510 02
2      1510 22
Name: 1510, dtype: object
0      1511 16
1      1511 06
2    1511 1983
Name: 1511, dtype: object
0    1512 1976
1      1512 03
2      1512 25
Name: 1512, dtype: object
0    1513 1955
1      1513 05
2      1513 27
Name: 1513, dtype: object
0    1514 1956
1      1514 08
2      1514 11
Name: 1514, dtype: object
0    1515 1988
1      1515 12
2      1515 02
Name: 1515, dtype: object
0    1516 54
1    1516 09
2    1516 07
Name: 1516, dtype: object
0    1517 1983
1      1517 05
2      1517 16
Name: 1517, dtype: object
0    1518 65
1    1518 03
2    1518 31
Name: 1518, dtype: object
0      1519 14
1      1519 07
2    1519 1959
Name: 1519, dtype: object
0    1520 1956
1      1520 10
2      1520 28
Name: 1520, dtype: object
0    1521 1992
1      1521 10
2      1521 13
Name: 1521, dtype: object
0    1522 1972
1      1522 07
2      1522 09
Name: 1522, dtype: object
0           1523 1985
1             1523 09
2    1523 06 00 00 00
Name: 1523, dtype: object
0           1524 1959
1             1524 10
2    1524 16 00:00:00
Name: 1524, dtype: object
0    1525 1946
1      1525 09
2      1525 29
Name: 1525, dtype: object
0    1526 1952
1      1526 03
2      1526 29
Name: 1526, dtype: object
0    1527 1975
1      1527 07
2      1527 16
Name: 1527, dtype: object
0      1528 12
1      1528 10
2    1528 1963
Name: 1528, dtype: object
0    1529 1981
1      1529 07
2      1529 15
Name: 1529, dtype: object
0    1530 1963
1      1530 10
2      1530 22
Name: 1530, dtype: object
0    1531 72
1    1531 05
2    1531 28
Name: 1531, dtype: object
0    1532 1967
1      1532 09
2      1532 22
Name: 1532, dtype: object
0      1533 10
1      1533 06
2    1533 1984
Name: 1533, dtype: object
0    1534 1969
1      1534 10
2      1534 31
Name: 1534, dtype: object
0      1535 11
1      1535 06
2    1535 1967
Name: 1535, dtype: object
0    1536 64
1    1536 11
2    1536 24
Name: 1536, dtype: object
0    1537 1974
1      1537 08
2      1537 11
Name: 1537, dtype: object
0    1538 1956
1      1538 03
2      1538 31
Name: 1538, dtype: object
0    1539 1966
1      1539 07
2      1539 05
Name: 1539, dtype: object
0    1540 1967
1      1540 06
2      1540 10
Name: 1540, dtype: object
0    1541 1951
1      1541 12
2      1541 10
Name: 1541, dtype: object
0    1542 1972
1      1542 11
2      1542 02
Name: 1542, dtype: object
0    1543 1956
1      1543 09
2      1543 09
Name: 1543, dtype: object
0    1544 1974
1      1544 09
2      1544 20
Name: 1544, dtype: object
0    1545 1978
1      1545 06
2      1545 24
Name: 1545, dtype: object
0           1546 1955
1             1546 07
2    1546 06 00 00 00
Name: 1546, dtype: object
0    1547 1974
1      1547 12
2      1547 15
Name: 1547, dtype: object
0    1548 1965
1      1548 04
2      1548 26
Name: 1548, dtype: object
0    1549 1963
1      1549 01
2      1549 20
Name: 1549, dtype: object
0    1550 1971
1      1550 07
2      1550 14
Name: 1550, dtype: object
0    1551 1955
1      1551 11
2      1551 19
Name: 1551, dtype: object
0           1552 1963
1             1552 08
2    1552 21 00:00:00
Name: 1552, dtype: object
0    1553 1940
1      1553 01
2      1553 07
Name: 1553, dtype: object
0    1554 1968
1      1554 06
2      1554 04
Name: 1554, dtype: object
0    1555 1974
1      1555 08
2      1555 10
Name: 1555, dtype: object
0      1556 15
1      1556 07
2    1556 1951
Name: 1556, dtype: object
0    1557 1948
1      1557 03
2      1557 12
Name: 1557, dtype: object
0    1558 71
1    1558 11
2    1558 12
Name: 1558, dtype: object
0    1559 1959
1      1559 07
2      1559 11
Name: 1559, dtype: object
0    1560 1966
1      1560 04
2      1560 10
Name: 1560, dtype: object
0    1561 1995
1      1561 03
2      1561 14
Name: 1561, dtype: object
0           1562 1976
1             1562 11
2    1562 30 00 00 00
Name: 1562, dtype: object
0    1563 1972
1      1563 04
2      1563 29
Name: 1563, dtype: object
0    1564 1971
1      1564 09
2      1564 18
Name: 1564, dtype: object
0    1565 1961
1      1565 11
2      1565 02
Name: 1565, dtype: object
0           1566 1965
1             1566 12
2    1566 08 00 00 00
Name: 1566, dtype: object
0    1567 1967
1      1567 05
2      1567 17
Name: 1567, dtype: object
0    1568 1949
1      1568 02
2      1568 25
Name: 1568, dtype: object
0    1569 1966
1      1569 08
2      1569 31
Name: 1569, dtype: object
0    1570 1950
1      1570 08
2      1570 16
Name: 1570, dtype: object
0    1571 2001
1      1571 06
2      1571 02
Name: 1571, dtype: object
0    1572 1962
1      1572 09
2      1572 28
Name: 1572, dtype: object
0    1573 1979
1      1573 06
2      1573 21
Name: 1573, dtype: object
0    1574 1986
1      1574 01
2      1574 09
Name: 1574, dtype: object
0    1575 1965
1      1575 10
2      1575 15
Name: 1575, dtype: object
0    1576 1966
1      1576 03
2      1576 07
Name: 1576, dtype: object
0    1577 1966
1      1577 06
2      1577 12
Name: 1577, dtype: object
0    1578 1954
1      1578 06
2      1578 04
Name: 1578, dtype: object
0    1579 1971
1      1579 09
2      1579 25
Name: 1579, dtype: object
0    1580 1973
1      1580 05
2      1580 16
Name: 1580, dtype: object
0    1581 1980
1      1581 12
2      1581 15
Name: 1581, dtype: object
0           1582 1965
1             1582 03
2    1582 03 00 00 00
Name: 1582, dtype: object
0    1583 1966
1      1583 12
2      1583 12
Name: 1583, dtype: object
0      1584 31
1      1584 08
2    1584 1966
Name: 1584, dtype: object
0    1585 85
1    1585 01
2    1585 06

Name: 1585, dtype: object
0    1586 60
1    1586 07
2    1586 13
Name: 1586, dtype: object
0    1587 1968
1      1587 03
2      1587 29
Name: 1587, dtype: object
0    1588 2000
1      1588 07
2      1588 18
Name: 1588, dtype: object
0      1589 07
1      1589 07
2    1589 1952
Name: 1589, dtype: object
0    1590 1976
1      1590 04
2      1590 24
Name: 1590, dtype: object
0    1591 1970
1      1591 04
2      1591 01
Name: 1591, dtype: object
0    1592 1960
1      1592 06
2      1592 15
Name: 1592, dtype: object
0    1593 1974
1      1593 09
2      1593 14
Name: 1593, dtype: object
0    1594 1979
1      1594 04
2      1594 04
Name: 1594, dtype: object
0    1595 1962
1      1595 04
2      1595 23
Name: 1595, dtype: object
0    1596 1947
1      1596 07
2      1596 26
Name: 1596, dtype: object
0    1597 1981
1      1597 04
2      1597 14
Name: 1597, dtype: object
0    1598 1988
1      1598 10
2      1598 15
Name: 1598, dtype: object
0    1599 1981
1      1599 02
2      1599 17
Name: 1599, dtype: object
0    1600 1966
1      1600 03
2      1600 23
Name: 1600, dtype: object
0    1601 1957
1      1601 01
2      1601 06
Name: 1601, dtype: object
0    1602 1968
1      1602 09
2      1602 25
Name: 1602, dtype: object
0           1603 1956
1             1603 11
2    1603 06 00 00 00
Name: 1603, dtype: object
0    1604 1966
1      1604 11
2      1604 04
Name: 1604, dtype: object
0    1605 1983
1      1605 04
2      1605 26
Name: 1605, dtype: object
0    1606 1978
1      1606 10
2      1606 05
Name: 1606, dtype: object
0    1607 1952
1      1607 01
2      1607 26
Name: 1607, dtype: object
0    1608 1970
1      1608 11
2      1608 10
Name: 1608, dtype: object
0    1609 1965
1      1609 11
2      1609 10
Name: 1609, dtype: object
0    1610 1963
1      1610 02
2      1610 06
Name: 1610, dtype: object
0    1611 1961
1      1611 05
2      1611 24
Name: 1611, dtype: object
0           1612 1970
1             1612 02
2    1612 08 00 00 00
Name: 1612, dtype: object
0    1613 1985
1      1613 05
2      1613 13
Name: 1613, dtype: object
0    1614 59
1    1614 09
2    1614 14
Name: 1614, dtype: object
0    1615 1966
1      1615 01
2      1615 22
Name: 1615, dtype: object
0    1616 1966
1      1616 10
2      1616 03
Name: 1616, dtype: object
0    1617 1963
1      1617 01
2      1617 20
Name: 1617, dtype: object
0    1618 1966
1      1618 05
2      1618 11
Name: 1618, dtype: object
0           1619 1948
1             1619 04
2    1619 29 00:00:00
Name: 1619, dtype: object
0           1620 1991
1             1620 09
2    1620 09 00:00:00
Name: 1620, dtype: object
0    1621 1952
1      1621 04
2      1621 27
Name: 1621, dtype: object
0    1622 1973
1      1622 09
2      1622 12
Name: 1622, dtype: object
0    1623 1960
1      1623 12
2      1623 19
Name: 1623, dtype: object
0    1624 1972
1      1624 12
2      1624 11
Name: 1624, dtype: object
0    1625 1983
1      1625 09
2      1625 05
Name: 1625, dtype: object
0    1626 1979
1      1626 06
2      1626 21
Name: 1626, dtype: object
0    1627 1961
1      1627 06
2      1627 22
Name: 1627, dtype: object
0           1628 1968
1             1628 10
2    1628 20 00:00:00
Name: 1628, dtype: object
0    1629 1961
1      1629 02
2      1629 12
Name: 1629, dtype: object
0    1630 1961
1      1630 06
2      1630 19
Name: 1630, dtype: object
0    1631 1958
1      1631 07
2      1631 22
Name: 1631, dtype: object
0    1632 1951
1      1632 03
2      1632 07
Name: 1632, dtype: object
0    1633 1972
1      1633 08
2      1633 17
Name: 1633, dtype: object
0    1634 1971
1      1634 08
2      1634 05
Name: 1634, dtype: object
0    1635 1946
1      1635 03
2      1635 28
Name: 1635, dtype: object
0    1636 1976
1      1636 08
2      1636 23
Name: 1636, dtype: object
0    1637 1956
1      1637 09
2      1637 19
Name: 1637, dtype: object
0    1638 1961
1      1638 01
2      1638 10
Name: 1638, dtype: object
0    1639 1972
1      1639 02
2      1639 11
Name: 1639, dtype: object
0    1640 1958
1      1640 09
2      1640 24
Name: 1640, dtype: object
0           1641 1943
1             1641 06
2    1641 01 00:00:00
Name: 1641, dtype: object
0    1642 1950
1      1642 02
2      1642 11
Name: 1642, dtype: object
0    1643 1961
1      1643 11
2      1643 13
Name: 1643, dtype: object
0           1644 1978
1             1644 05
2    1644 05 00 00 00
Name: 1644, dtype: object
0    1645 1962
1      1645 06
2      1645 07
Name: 1645, dtype: object
0    1646 1952
1      1646 01
2      1646 30
Name: 1646, dtype: object
0    1647 1973
1      1647 03
2      1647 31
Name: 1647, dtype: object
0      1648 08
1      1648 10
2    1648 1962
Name: 1648, dtype: object
0    1649 1990
1      1649 08
2      1649 05
Name: 1649, dtype: object
0    1650 1944
1      1650 05
2      1650 15
Name: 1650, dtype: object
0    1651 1949
1      1651 03
2      1651 13
Name: 1651, dtype: object
0    1652 77
1    1652 09
2    1652 20
Name: 1652, dtype: object
0    1653 1949
1      1653 10
2      1653 28
Name: 1653, dtype: object
0           1654 1961
1             1654 02
2    1654 18 00 00 00
Name: 1654, dtype: object
0           1655 1970
1             1655 07
2    1655 21 00 00 00
Name: 1655, dtype: object
0    1656 1987
1      1656 03
2      1656 21
Name: 1656, dtype: object
0    1657 1963
1      1657 01
2      1657 14
Name: 1657, dtype: object
0    1658 1946
1      1658 09
2      1658 17
Name: 1658, dtype: object
0    1659 1976
1      1659 12
2      1659 10
Name: 1659, dtype: object
0    1660 63
1    1660 02
2    1660 02
Name: 1660, dtype: object
0    1661 1968
1      1661 12
2      1661 21
Name: 1661, dtype: object
0    1662 1958
1      1662 06
2      1662 06
Name: 1662, dtype: object
0    1663 1972
1      1663 11
2      1663 14
Name: 1663, dtype: object
0    1664 1941
1      1664 04
2      1664 11
Name: 1664, dtype: object
0    1665 1977
1      1665 10
2      1665 13
Name: 1665, dtype: object
0    1666 1972
1      1666 12
2      1666 30
Name: 1666, dtype: object
0    1667 1992
1      1667 08
2      1667 20
Name: 1667, dtype: object
0    1668 1978
1      1668 04
2      1668 05
Name: 1668, dtype: object
0    1669 1970
1      1669 08
2      1669 21
Name: 1669, dtype: object
0    1670 1960
1      1670 05
2      1670 04
Name: 1670, dtype: object
0    1671 1967
1      1671 12
2      1671 17
Name: 1671, dtype: object
0      1672 19
1      1672 10
2    1672 1964
Name: 1672, dtype: object
0           1673 1961
1             1673 09
2    1673 10 00 00 00
Name: 1673, dtype: object
0    1674 2002
1      1674 03
2      1674 22
Name: 1674, dtype: object
0           1675 1999
1             1675 06
2    1675 02 00 00 00
Name: 1675, dtype: object
0    1676 1967
1      1676 06
2      1676 05
Name: 1676, dtype: object
0    1677 1972
1      1677 12
2      1677 31
Name: 1677, dtype: object
0    1678 1965
1      1678 09
2      1678 23
Name: 1678, dtype: object
0    1679 1977
1      1679 12
2      1679 03
Name: 1679, dtype: object
0           1680 1963
1             1680 12
2    1680 25 00:00:00
Name: 1680, dtype: object
0           1681 1970
1             1681 04
2    1681 21 00 00 00
Name: 1681, dtype: object
0           1682 1961
1             1682 03
2    1682 31 00:00:00
Name: 1682, dtype: object
0    1683 60
1    1683 07
2    1683 04
Name: 1683, dtype: object
0    1684 1964
1      1684 04
2      1684 03
Name: 1684, dtype: object
0    1685 1967
1      1685 08
2      1685 20
Name: 1685, dtype: object
0    1686 1960
1      1686 11
2      1686 12
Name: 1686, dtype: object
0    1687 1958
1      1687 05
2      1687 19
Name: 1687, dtype: object
0    1688 1983
1      1688 08
2      1688 14
Name: 1688, dtype: object
0    1689 1969
1      1689 07
2      1689 20
Name: 1689, dtype: object
0    1690 71
1    1690 05
2    1690 21
Name: 1690, dtype: object
0    1691 1980
1      1691 09
2      1691 24
Name: 1691, dtype: object
0    1692 1977
1      1692 05
2      1692 27
Name: 1692, dtype: object
0           1693 1970
1             1693 05
2    1693 05 00:00:00
Name: 1693, dtype: object
0    1694 1971
1      1694 08
2      1694 05
Name: 1694, dtype: object
0    1695 1964
1      1695 12
2      1695 14
Name: 1695, dtype: object
0    1696 1970
1      1696 01
2      1696 01
Name: 1696, dtype: object
0    1697 1952
1      1697 03
2      1697 07
Name: 1697, dtype: object
0    1698 1976
1      1698 03
2      1698 01
Name: 1698, dtype: object
0    1699 1966
1      1699 10
2      1699 28
Name: 1699, dtype: object
0    1700 1965
1      1700 05
2      1700 27
Name: 1700, dtype: object
0    1701 1982
1      1701 08
2      1701 04
Name: 1701, dtype: object
0    1702 83
1    1702 10
2    1702 20
Name: 1702, dtype: object
0           1703 1989
1             1703 12
2    1703 12 00:00:00
Name: 1703, dtype: object
0           1704 1985
1             1704 01
2    1704 25 00:00:00
Name: 1704, dtype: object

0    1705 1965
1      1705 12
2      1705 29
Name: 1705, dtype: object
0      1706 18
1      1706 03
2    1706 1960
Name: 1706, dtype: object
0    1707 1958
1      1707 05
2      1707 19
Name: 1707, dtype: object
0           1708 1973
1             1708 08
2    1708 21 00:00:00
Name: 1708, dtype: object
0      1709 22
1      1709 05
2    1709 1965
Name: 1709, dtype: object
0           1710 1961
1             1710 12
2    1710 25 00:00:00
Name: 1710, dtype: object
0    1711 1975
1      1711 03
2      1711 28
Name: 1711, dtype: object
0    1712 1960
1      1712 05
2      1712 12
Name: 1712, dtype: object
0    1713 1951
1      1713 09
2      1713 05
Name: 1713, dtype: object
0    1714 1966
1      1714 02
2      1714 11
Name: 1714, dtype: object
0    1715 1953
1      1715 09
2      1715 20
Name: 1715, dtype: object
0      1716 24
1      1716 07
2    1716 1979
Name: 1716, dtype: object
0    1717 66
1    1717 11
2    1717 27
Name: 1717, dtype: object
0    1718 1959
1      1718 10
2      1718 11
Name: 1718, dtype: object
0    1719 86
1    1719 03
2    1719 04
Name: 1719, dtype: object
0    1720 1953
1      1720 09
2      1720 15
Name: 1720, dtype: object
0    1721 1978
1      1721 12
2      1721 22
Name: 1721, dtype: object
0    1722 1945
1      1722 08
2      1722 03
Name: 1722, dtype: object
0    1723 1973
1      1723 06
2      1723 25
Name: 1723, dtype: object
0    1724 1965
1      1724 03
2      1724 07
Name: 1724, dtype: object
0      1725 20
1      1725 10
2    1725 1952
Name: 1725, dtype: object
0    1726 1965
1      1726 04
2      1726 01
Name: 1726, dtype: object
0      1727 17
1      1727 12
2    1727 1955
Name: 1727, dtype: object
0    1728 1955
1      1728 10
2      1728 06
Name: 1728, dtype: object
0    1729 1971
1      1729 07
2      1729 09
Name: 1729, dtype: object
0    1730 1960
1      1730 01
2      1730 18
Name: 1730, dtype: object
0           1731 1971
1             1731 03
2    1731 01 00 00 00
Name: 1731, dtype: object
0    1732 1979
1      1732 01
2      1732 22
Name: 1732, dtype: object
0    1733 1968
1      1733 12
2      1733 03
Name: 1733, dtype: object
0      1734 08
1      1734 04
2    1734 1970
Name: 1734, dtype: object
0    1735 66
1    1735 10
2    1735 11
Name: 1735, dtype: object
0    1736 1958
1      1736 04
2      1736 26
Name: 1736, dtype: object
0    1737 1961
1      1737 10
2      1737 09
Name: 1737, dtype: object
0    1738 1974
1      1738 09
2      1738 06
Name: 1738, dtype: object
0    1739 1956
1      1739 02
2      1739 17
Name: 1739, dtype: object
0    1740 1970
1      1740 01
2      1740 23
Name: 1740, dtype: object
0    1741 1959
1      1741 10
2      1741 17
Name: 1741, dtype: object
0      1742 15
1      1742 06
2    1742 1956
Name: 1742, dtype: object
0    1743 1960
1      1743 07
2      1743 24
Name: 1743, dtype: object
0    1744 1953
1      1744 10
2      1744 26
Name: 1744, dtype: object
0      1745 28
1      1745 02
2    1745 1974
Name: 1745, dtype: object
0    1746 1981
1      1746 05
2      1746 02
Name: 1746, dtype: object
0    1747 50
1    1747 09
2    1747 02
Name: 1747, dtype: object
0    1748 1958
1      1748 10
2      1748 03
Name: 1748, dtype: object
0    1749 1971
1      1749 11
2      1749 18
Name: 1749, dtype: object
0    1750 1986
1      1750 11
2      1750 23
Name: 1750, dtype: object
0           1751 1972
1             1751 02
2    1751 23 00 00 00
Name: 1751, dtype: object
0    1752 1970
1      1752 04
2      1752 21
Name: 1752, dtype: object
0    1753 57
1    1753 05
2    1753 14
Name: 1753, dtype: object
0    1754 1963
1      1754 01
2      1754 25
Name: 1754, dtype: object
0    1755 1979
1      1755 12
2      1755 17
Name: 1755, dtype: object
0    1756 1981
1      1756 03
2      1756 14
Name: 1756, dtype: object
0    1757 1966
1      1757 05
2      1757 29
Name: 1757, dtype: object
0    1758 1969
1      1758 06
2      1758 04
Name: 1758, dtype: object
0    1759 1960
1      1759 09
2      1759 18
Name: 1759, dtype: object
0    1760 1958
1      1760 01
2      1760 01
Name: 1760, dtype: object
0           1761 1946
1             1761 06
2    1761 21 00 00 00
Name: 1761, dtype: object
0    1762 1988
1      1762 01
2      1762 01
Name: 1762, dtype: object
0    1763 1966
1      1763 08
2      1763 28
Name: 1763, dtype: object
0    1764 1963
1      1764 06
2      1764 17
Name: 1764, dtype: object
0      1765 20
1      1765 03
2    1765 1967
Name: 1765, dtype: object
0    1766 1970
1      1766 03
2      1766 17
Name: 1766, dtype: object
0           1767 1987
1             1767 05
2    1767 27 00:00:00
Name: 1767, dtype: object
0    1768 1962
1      1768 03
2      1768 02
Name: 1768, dtype: object
0    1769 63
1    1769 10
2    1769 16
Name: 1769, dtype: object
0    1770 1966
1      1770 12
2      1770 10
Name: 1770, dtype: object
0           1771 1969
1             1771 10
2    1771 20 00:00:00
Name: 1771, dtype: object
0    1772 1957
1      1772 09
2      1772 25
Name: 1772, dtype: object
0    1773 1964
1      1773 02
2      1773 05
Name: 1773, dtype: object
0    1774 1971
1      1774 03
2      1774 25
Name: 1774, dtype: object
0    1775 1954
1      1775 03
2      1775 27
Name: 1775, dtype: object
0    1776 1971
1      1776 10
2      1776 15
Name: 1776, dtype: object
0           1777 1938
1             1777 06
2    1777 20 00:00:00
Name: 1777, dtype: object
0    1778 1961
1      1778 01
2      1778 27
Name: 1778, dtype: object
0    1779 1989
1      1779 10
2      1779 09
Name: 1779, dtype: object
0    1780 1966
1      1780 09
2      1780 06
Name: 1780, dtype: object
0    1781 1962
1      1781 04
2      1781 10
Name: 1781, dtype: object
0    1782 81
1    1782 05
2    1782 02
Name: 1782, dtype: object
0    1783 1971
1      1783 05
2      1783 28
Name: 1783, dtype: object
0    1784 1964
1      1784 10
2      1784 10
Name: 1784, dtype: object
0    1785 1968
1      1785 10
2      1785 11
Name: 1785, dtype: object
0    1786 1968
1      1786 06
2      1786 30
Name: 1786, dtype: object
0    1787 1959
1      1787 12
2      1787 13
Name: 1787, dtype: object
0           1788 1984
1             1788 07
2    1788 31 00:00:00
Name: 1788, dtype: object
0      1789 13
1      1789 06
2    1789 1969
Name: 1789, dtype: object
0    1790 1982
1      1790 08
2      1790 14
Name: 1790, dtype: object
0    1791 1953
1      1791 03
2      1791 28
Name: 1791, dtype: object
0    1792 1977
1      1792 01
2      1792 17
Name: 1792, dtype: object
0    1793 63
1    1793 08
2    1793 02
Name: 1793, dtype: object
0    1794 1975
1      1794 04
2      1794 02
Name: 1794, dtype: object
0    1795 1961
1      1795 04
2      1795 13
Name: 1795, dtype: object
0    1796 56
1    1796 12
2    1796 03
Name: 1796, dtype: object
0    1797 1962
1      1797 04
2      1797 01
Name: 1797, dtype: object
0    1798 1969
1      1798 12
2      1798 24
Name: 1798, dtype: object
0    1799 1982
1      1799 07
2      1799 31
Name: 1799, dtype: object
0    1800 1977
1      1800 03
2      1800 13
Name: 1800, dtype: object
0    1801 1953
1      1801 03
2      1801 16
Name: 1801, dtype: object
0    1802 1972
1      1802 10
2      1802 21
Name: 1802, dtype: object
0    1803 1954
1      1803 02
2      1803 13
Name: 1803, dtype: object
0    1804 1952
1      1804 09
2      1804 03
Name: 1804, dtype: object
0      1805 10
1      1805 08
2    1805 1962
Name: 1805, dtype: object
0    1806 1973
1      1806 12
2      1806 31
Name: 1806, dtype: object
0    1807 1975
1      1807 05
2      1807 13
Name: 1807, dtype: object
0    1808 72
1    1808 08
2    1808 16
Name: 1808, dtype: object
0    1809 1951
1      1809 02
2      1809 07
Name: 1809, dtype: object
0    1810 1958
1      1810 04
2      1810 12
Name: 1810, dtype: object
0      1811 27
1      1811 04
2    1811 1950
Name: 1811, dtype: object
0           1812 1985
1             1812 12
2    1812 29 00:00:00
Name: 1812, dtype: object
0    1813 65
1    1813 11
2    1813 16
Name: 1813, dtype: object
0    1814 1983
1      1814 08
2      1814 23
Name: 1814, dtype: object
0    1815 1988
1      1815 03
2      1815 14
Name: 1815, dtype: object
0    1816 1970
1      1816 05
2      1816 31
Name: 1816, dtype: object
0    1817 1964
1      1817 05
2      1817 10
Name: 1817, dtype: object
0    1818 1947
1      1818 03
2      1818 13
Name: 1818, dtype: object
0    1819 1978
1      1819 11
2      1819 05
Name: 1819, dtype: object
0           1820 1988
1             1820 08
2    1820 27 00:00:00
Name: 1820, dtype: object
0    1821 1962
1      1821 04
2      1821 02
Name: 1821, dtype: object
0    1822 68
1    1822 10
2    1822 27
Name: 1822, dtype: object

0    1823 1980
1      1823 05
2      1823 08
Name: 1823, dtype: object
0    1824 1959
1      1824 03
2      1824 04
Name: 1824, dtype: object
0    1825 1978
1      1825 05
2      1825 19
Name: 1825, dtype: object
0    1826 1978
1      1826 01
2      1826 03
Name: 1826, dtype: object
0      1827 06
1      1827 03
2    1827 1962
Name: 1827, dtype: object
0    1828 64
1    1828 06
2    1828 14
Name: 1828, dtype: object
0           1829 1952
1             1829 06
2    1829 01 00 00 00
Name: 1829, dtype: object
0    1830 1966
1      1830 04
2      1830 07
Name: 1830, dtype: object
0           1831 1962
1             1831 05
2    1831 26 00 00 00
Name: 1831, dtype: object
0    1832 1965
1      1832 05
2      1832 16
Name: 1832, dtype: object
0    1833 1983
1      1833 05
2      1833 11
Name: 1833, dtype: object
0    1834 1965
1      1834 10
2      1834 29
Name: 1834, dtype: object
0           1835 1935
1             1835 05
2    1835 06 00:00:00
Name: 1835, dtype: object
0    1836 1974
1      1836 07
2      1836 22
Name: 1836, dtype: object
0    1837 1964
1      1837 11
2      1837 01
Name: 1837, dtype: object
0    1838 1971
1      1838 07
2      1838 29
Name: 1838, dtype: object
0    1839 1954
1      1839 06
2      1839 16
Name: 1839, dtype: object
0      1840 19
1      1840 02
2    1840 1967
Name: 1840, dtype: object
0    1841 1968
1      1841 11
2      1841 08
Name: 1841, dtype: object
0    1842 68
1    1842 09
2    1842 11
Name: 1842, dtype: object
0    1843 1973
1      1843 08
2      1843 28
Name: 1843, dtype: object
0           1844 1961
1             1844 05
2    1844 09 00:00:00
Name: 1844, dtype: object
0           1845 1974
1             1845 03
2    1845 26 00 00 00
Name: 1845, dtype: object
0    1846 1977
1      1846 03
2      1846 22
Name: 1846, dtype: object
0    1847 1972
1      1847 06
2      1847 16
Name: 1847, dtype: object
0           1848 1944
1             1848 04
2    1848 12 00:00:00
Name: 1848, dtype: object
0    1849 1977
1      1849 10
2      1849 15
Name: 1849, dtype: object
0    1850 1957
1      1850 03
2      1850 03
Name: 1850, dtype: object
0    1851 1952
1      1851 08
2      1851 12
Name: 1851, dtype: object
0    1852 57
1    1852 07
2    1852 10
Name: 1852, dtype: object
0      1853 13
1      1853 03
2    1853 1963
Name: 1853, dtype: object
0           1854 1968
1             1854 12
2    1854 10 00:00:00
Name: 1854, dtype: object
0      1855 11
1      1855 12
2    1855 1965
Name: 1855, dtype: object
0    1856 1974
1      1856 07
2      1856 31
Name: 1856, dtype: object
0    1857 1956
1      1857 10
2      1857 18
Name: 1857, dtype: object
0    1858 1968
1      1858 11
2      1858 21
Name: 1858, dtype: object
0           1859 1957
1             1859 02
2    1859 09 00:00:00
Name: 1859, dtype: object
0    1860 1978
1      1860 10
2      1860 27
Name: 1860, dtype: object
0      1861 05
1      1861 03
2    1861 1989
Name: 1861, dtype: object
0    1862 1966
1      1862 10
2      1862 02
Name: 1862, dtype: object
0    1863 1974
1      1863 04
2      1863 02
Name: 1863, dtype: object
0    1864 1962
1      1864 05
2      1864 20
Name: 1864, dtype: object
0    1865 1965
1      1865 03
2      1865 21
Name: 1865, dtype: object
0    1866 1968
1      1866 12
2      1866 15
Name: 1866, dtype: object
0    1867 1981
1      1867 11
2      1867 25
Name: 1867, dtype: object
0    1868 48
1    1868 12
2    1868 14
Name: 1868, dtype: object
0    1869 1969
1      1869 04
2      1869 20
Name: 1869, dtype: object
0    1870 1982
1      1870 04
2      1870 26
Name: 1870, dtype: object
0      1871 18
1      1871 05
2    1871 1965
Name: 1871, dtype: object
0    1872 1954
1      1872 10
2      1872 05
Name: 1872, dtype: object
0    1873 1953
1      1873 07
2      1873 06
Name: 1873, dtype: object
0    1874 1969
1      1874 11
2      1874 08
Name: 1874, dtype: object
0    1875 1958
1      1875 04
2      1875 16
Name: 1875, dtype: object
0    1876 1961
1      1876 04
2      1876 01
Name: 1876, dtype: object
0    1877 1971
1      1877 04
2      1877 25
Name: 1877, dtype: object
0           1878 1967
1             1878 10
2    1878 10 00:00:00
Name: 1878, dtype: object
0    1879 1982
1      1879 03
2      1879 29
Name: 1879, dtype: object
0    1880 1980
1      1880 04
2      1880 05
Name: 1880, dtype: object
0    1881 1982
1      1881 08
2      1881 04
Name: 1881, dtype: object
0    1882 1959
1      1882 07
2      1882 05
Name: 1882, dtype: object
0    1883 1959
1      1883 08
2      1883 25
Name: 1883, dtype: object
0    1884 1955
1      1884 01
2      1884 10
Name: 1884, dtype: object
0    1885 1963
1      1885 11
2      1885 01
Name: 1885, dtype: object
0    1886 1962
1      1886 12
2      1886 02
Name: 1886, dtype: object
0    1887 2001
1      1887 01
2      1887 13
Name: 1887, dtype: object
0      1888 18
1      1888 11
2    1888 1987
Name: 1888, dtype: object
0           1889 1981
1             1889 03
2    1889 16 00:00:00
Name: 1889, dtype: object
0    1890 1977
1      1890 03
2      1890 06
Name: 1890, dtype: object
0    1891 1968
1      1891 04
2      1891 02
Name: 1891, dtype: object
0      1892 23
1      1892 11
2    1892 1957
Name: 1892, dtype: object
0    1893 1983
1      1893 04
2      1893 28
Name: 1893, dtype: object
0    1894 1963
1      1894 03
2      1894 20
Name: 1894, dtype: object
0           1895 1957
1             1895 03
2    1895 14 00 00 00
Name: 1895, dtype: object
0    1896 1971
1      1896 02
2      1896 25
Name: 1896, dtype: object
0           1897 1963
1             1897 12
2    1897 17 00 00 00
Name: 1897, dtype: object
0    1898 1966
1      1898 03
2      1898 17
Name: 1898, dtype: object
0    1899 1974
1      1899 07
2      1899 30
Name: 1899, dtype: object
0    1900 1981
1      1900 06
2      1900 20
Name: 1900, dtype: object
0    1901 1964
1      1901 01
2      1901 18
Name: 1901, dtype: object
0           1902 1962
1             1902 12
2    1902 03 00 00 00
Name: 1902, dtype: object
0      1903 12
1      1903 03
2    1903 1963
Name: 1903, dtype: object
0    1904 1970
1      1904 03
2      1904 18
Name: 1904, dtype: object
0    1905 1957
1      1905 07
2      1905 17
Name: 1905, dtype: object
0    1906 1970
1      1906 09
2      1906 01
Name: 1906, dtype: object
0           1907 1965
1             1907 12
2    1907 21 00:00:00
Name: 1907, dtype: object
0    1908 1972
1      1908 09
2      1908 25
Name: 1908, dtype: object
0    1909 64
1    1909 04
2    1909 04
Name: 1909, dtype: object
0    1910 1967
1      1910 04
2      1910 03
Name: 1910, dtype: object
0      1911 14
1      1911 08
2    1911 1991
Name: 1911, dtype: object
0           1912 1976
1             1912 07
2    1912 16 00:00:00
Name: 1912, dtype: object
0           1913 1967
1             1913 02
2    1913 17 00 00 00
Name: 1913, dtype: object
0    1914 59
1    1914 02
2    1914 15
Name: 1914, dtype: object
0    1915 1973
1      1915 02
2      1915 13
Name: 1915, dtype: object
0    1916 1980
1      1916 12
2      1916 23
Name: 1916, dtype: object
0    1917 1955
1      1917 02
2      1917 12
Name: 1917, dtype: object
0    1918 1986
1      1918 09
2      1918 16
Name: 1918, dtype: object
0    1919 1962
1      1919 12
2      1919 25
Name: 1919, dtype: object
0    1920 1982
1      1920 05
2      1920 13
Name: 1920, dtype: object
0    1921 1961
1      1921 02
2      1921 18
Name: 1921, dtype: object
0    1922 2020
1      1922 09
2      1922 04
Name: 1922, dtype: object
0    1923 1958
1      1923 04
2      1923 07
Name: 1923, dtype: object
0    1924 1949
1      1924 01
2      1924 05
Name: 1924, dtype: object
0    1925 1963
1      1925 05
2      1925 24
Name: 1925, dtype: object
0    1926 1970
1      1926 04
2      1926 28
Name: 1926, dtype: object
0    1927 1976
1      1927 02
2      1927 08
Name: 1927, dtype: object
0    1928 1969
1      1928 05
2      1928 18
Name: 1928, dtype: object
0    1929 1960
1      1929 07
2      1929 09
Name: 1929, dtype: object
0           1930 1962
1             1930 06
2    1930 11 00 00 00
Name: 1930, dtype: object
0    1931 53
1    1931 12
2    1931 14
Name: 1931, dtype: object
0    1932 1981
1      1932 04
2      1932 02
Name: 1932, dtype: object
0      1933 17
1      1933 05
2    1933 1982
Name: 1933, dtype: object
0           1934 1979
1             1934 10
2    1934 03 00:00:00
Name: 1934, dtype: object
0    1935 1942
1      1935 02
2      1935 21
Name: 1935, dtype: object
0    1936 1966
1      1936 08
2      1936 06
Name: 1936, dtype: object
0      1937 04
1      1937 04
2    1937 1965
Name: 1937, dtype: object
0           1938 1971
1             1938 02
2    1938 01 00:00:00
Name: 1938, dtype: object
0    1939 65
1    1939 08
2    1939 03
Name: 1939, dtype: object

0    1940 2002
1      1940 09
2      1940 06
Name: 1940, dtype: object
0    1941 58
1    1941 11
2    1941 21
Name: 1941, dtype: object
0    1942 1965
1      1942 10
2      1942 07
Name: 1942, dtype: object
0    1943 1971
1      1943 10
2      1943 15
Name: 1943, dtype: object
0    1944 1950
1      1944 11
2      1944 06
Name: 1944, dtype: object
0    1945 1985
1      1945 02
2      1945 26
Name: 1945, dtype: object
0    1946 1977
1      1946 07
2      1946 29
Name: 1946, dtype: object
0    1947 84
1    1947 02
2    1947 25
Name: 1947, dtype: object
0    1948 1959
1      1948 03
2      1948 10
Name: 1948, dtype: object
0           1949 1965
1             1949 01
2    1949 28 00 00 00
Name: 1949, dtype: object
0    1950 1947
1      1950 04
2      1950 22
Name: 1950, dtype: object
0    1951 1954
1      1951 12
2      1951 20
Name: 1951, dtype: object
0    1952 1966
1      1952 03
2      1952 18
Name: 1952, dtype: object
0    1953 1970
1      1953 10
2      1953 27
Name: 1953, dtype: object
0    1954 1974
1      1954 02
2      1954 28
Name: 1954, dtype: object
0    1955 1969
1      1955 09
2      1955 15
Name: 1955, dtype: object
0    1956 1968
1      1956 01
2      1956 15
Name: 1956, dtype: object
0    1957 1961
1      1957 01
2      1957 30
Name: 1957, dtype: object
0    1958 1975
1      1958 09
2      1958 19
Name: 1958, dtype: object
0    1959 85
1    1959 07
2    1959 08
Name: 1959, dtype: object
0           1960 1970
1             1960 12
2    1960 07 00 00 00
Name: 1960, dtype: object
0    1961 1953
1      1961 12
2      1961 16
Name: 1961, dtype: object
0    1962 1980
1      1962 11
2      1962 19
Name: 1962, dtype: object
0    1963 1965
1      1963 04
2      1963 11
Name: 1963, dtype: object
0    1964 1962
1      1964 05
2      1964 09
Name: 1964, dtype: object
0    1965 53
1    1965 05
2    1965 31
Name: 1965, dtype: object
0      1966 03
1      1966 01
2    1966 1947
Name: 1966, dtype: object
0    1967 1969
1      1967 01
2      1967 20
Name: 1967, dtype: object
0    1968 1960
1      1968 02
2      1968 27
Name: 1968, dtype: object
0    1969 1966
1      1969 06
2      1969 11
Name: 1969, dtype: object
0    1970 1966
1      1970 11
2      1970 07
Name: 1970, dtype: object
0    1971 1953
1      1971 04
2      1971 16
Name: 1971, dtype: object
0    1972 1964
1      1972 03
2      1972 01
Name: 1972, dtype: object
0    1973 1978
1      1973 03
2      1973 28
Name: 1973, dtype: object
0    1974 1976
1      1974 06
2      1974 18
Name: 1974, dtype: object
0    1975 1960
1      1975 03
2      1975 24
Name: 1975, dtype: object
0    1976 1962
1      1976 07
2      1976 24
Name: 1976, dtype: object
0      1977 26
1      1977 02
2    1977 1958
Name: 1977, dtype: object
0    1978 1975
1      1978 10
2      1978 11
Name: 1978, dtype: object
0    1979 1978
1      1979 10
2      1979 30
Name: 1979, dtype: object
0    1980 1945
1      1980 02
2      1980 23
Name: 1980, dtype: object
0    1981 1962
1      1981 04
2      1981 08
Name: 1981, dtype: object
0    1982 1952
1      1982 09
2      1982 06
Name: 1982, dtype: object
0    1983 1976
1      1983 02
2      1983 22
Name: 1983, dtype: object
0           1984 1955
1             1984 06
2    1984 20 00 00 00
Name: 1984, dtype: object
0    1985 1962
1      1985 07
2      1985 02
Name: 1985, dtype: object
0    1986 1953
1      1986 03
2      1986 28
Name: 1986, dtype: object
0    1987 1954
1      1987 05
2      1987 18
Name: 1987, dtype: object
0      1988 19
1      1988 08
2    1988 1958
Name: 1988, dtype: object
0    1989 1972
1      1989 04
2      1989 23
Name: 1989, dtype: object
0    1990 1977
1      1990 06
2      1990 06
Name: 1990, dtype: object
0           1991 1976
1             1991 10
2    1991 09 00 00 00
Name: 1991, dtype: object
0    1992 1977
1      1992 08
2      1992 25
Name: 1992, dtype: object
0    1993 1958
1      1993 01
2      1993 23
Name: 1993, dtype: object
0    1994 1978
1      1994 05
2      1994 17
Name: 1994, dtype: object
0    1995 57
1    1995 08
2    1995 22
Name: 1995, dtype: object
0    1996 1974
1      1996 03
2      1996 10
Name: 1996, dtype: object
0    1997 1980
1      1997 06
2      1997 29
Name: 1997, dtype: object
0    1998 1968
1      1998 06
2      1998 05
Name: 1998, dtype: object
0    1999 1957
1      1999 07
2      1999 12
Name: 1999, dtype: object
0      2000 22
1      2000 03
2    2000 1950
Name: 2000, dtype: object
0    2001 1977
1      2001 11
2      2001 04
Name: 2001, dtype: object
0    2002 1976
1      2002 01
2      2002 15
Name: 2002, dtype: object
0    2003 1962
1      2003 07
2      2003 12
Name: 2003, dtype: object
0    2004 1968
1      2004 12
2      2004 09
Name: 2004, dtype: object
0    2005 51
1    2005 07
2    2005 19
Name: 2005, dtype: object
0           2006 1963
1             2006 06
2    2006 24 00:00:00
Name: 2006, dtype: object
0           2007 1959
1             2007 05
2    2007 21 00:00:00
Name: 2007, dtype: object
0    2008 1932
1      2008 03
2      2008 09
Name: 2008, dtype: object
0    2009 1970
1      2009 04
2      2009 06
Name: 2009, dtype: object
0    2010 1959
1      2010 06
2      2010 15
Name: 2010, dtype: object
0    2011 1991
1      2011 01
2      2011 30
Name: 2011, dtype: object
0           2012 1955
1             2012 09
2    2012 01 00 00 00
Name: 2012, dtype: object
0    2013 1953
1      2013 08
2      2013 25
Name: 2013, dtype: object
0    2014 1971
1      2014 05
2      2014 26
Name: 2014, dtype: object
0    2015 1948
1      2015 05
2      2015 07
Name: 2015, dtype: object
0      2016 18
1      2016 06
2    2016 1973
Name: 2016, dtype: object
0    2017 1978
1      2017 12
2      2017 13
Name: 2017, dtype: object
0    2018 1957
1      2018 09
2      2018 06
Name: 2018, dtype: object
0    2019 1975
1      2019 07
2      2019 05
Name: 2019, dtype: object
0      2020 13
1      2020 03
2    2020 1977
Name: 2020, dtype: object
0    2021 1955
1      2021 03
2      2021 29
Name: 2021, dtype: object
0    2022 1941
1      2022 01
2      2022 24
Name: 2022, dtype: object
0    2023 1957
1      2023 06
2      2023 01
Name: 2023, dtype: object
0    2024 1957
1      2024 07
2      2024 19
Name: 2024, dtype: object
0    2025 1964
1      2025 09
2      2025 24
Name: 2025, dtype: object
0           2026 1965
1             2026 09
2    2026 14 00 00 00
Name: 2026, dtype: object
0    2027 1965
1      2027 12
2      2027 26
Name: 2027, dtype: object
0    2028 1954
1      2028 11
2      2028 02
Name: 2028, dtype: object
0    2029 1964
1      2029 04
2      2029 22
Name: 2029, dtype: object
0    2030 1957
1      2030 09
2      2030 28
Name: 2030, dtype: object
0           2031 1975
1             2031 10
2    2031 16 00:00:00
Name: 2031, dtype: object
0    2032 1967
1      2032 08
2      2032 27
Name: 2032, dtype: object
0    2033 1989
1      2033 12
2      2033 26
Name: 2033, dtype: object
0    2034 75
1    2034 01
2    2034 01
Name: 2034, dtype: object
0    2035 1965
1      2035 12
2      2035 14
Name: 2035, dtype: object
0    2036 72
1    2036 05
2    2036 06
Name: 2036, dtype: object
0    2037 1958
1      2037 12
2      2037 14
Name: 2037, dtype: object
0    2038 79
1    2038 09
2    2038 10
Name: 2038, dtype: object
0    2039 1976
1      2039 01
2      2039 10
Name: 2039, dtype: object
0    2040 1973
1      2040 03
2      2040 25
Name: 2040, dtype: object
0           2041 1963
1             2041 07
2    2041 10 00 00 00
Name: 2041, dtype: object
0    2042 1949
1      2042 05
2      2042 19
Name: 2042, dtype: object
0    2043 1954
1      2043 02
2      2043 20
Name: 2043, dtype: object
0    2044 75
1    2044 10
2    2044 22
Name: 2044, dtype: object
0    2045 1967
1      2045 08
2      2045 28
Name: 2045, dtype: object
0    2046 1960
1      2046 11
2      2046 09
Name: 2046, dtype: object
0    2047 1971
1      2047 01
2      2047 20
Name: 2047, dtype: object
0    2048 1970
1      2048 01
2      2048 22
Name: 2048, dtype: object
0    2049 1952
1      2049 08
2      2049 01
Name: 2049, dtype: object
0    2050 1983
1      2050 08
2      2050 06
Name: 2050, dtype: object
0    2051 1955
1      2051 04
2      2051 05
Name: 2051, dtype: object
0    2052 1970
1      2052 11
2      2052 23
Name: 2052, dtype: object
0    2053 1953
1      2053 02
2      2053 21
Name: 2053, dtype: object
0    2054 1965
1      2054 04
2      2054 20
Name: 2054, dtype: object
0    2055 1982
1      2055 12
2      2055 19
Name: 2055, dtype: object
0      2056 17
1      2056 11
2    2056 1945
Name: 2056, dtype: object
0    2057 1935
1      2057 05
2      2057 27
Name: 2057, dtype: object
0    2058 1964
1      2058 11
2      2058 18
Name: 2058, dtype: object
0    2059 1966
1      2059 01
2      2059 25
Name: 2059, dtype: object
0    2060 1960
1      2060 10
2      2060 14
Name: 2060, dtype: object
0    2061 1956
1      2061 02
2      2061 25
Name: 2061, dtype: object
0    2062 1939
1      2062 10
2      2062 22
Name: 2062, dtype: object
0    2063 1954
1      2063 09
2      2063 16
Name: 2063, dtype: object
0    2064 1968
1      2064 02
2      2064 12
Name: 2064, dtype: object
0    2065 1976
1      2065 12
2      2065 03
Name: 2065, dtype: object
0    2066 1967
1      2066 07
2      2066 05
Name: 2066, dtype: object
0    2067 1969
1      2067 04
2      2067 17
Name: 2067, dtype: object
0    2068 84
1    2068 06
2    2068 17
Name: 2068, dtype: object

0           2069 1975
1             2069 05
2    2069 01 00 00 00
Name: 2069, dtype: object
0    2070 1968
1      2070 02
2      2070 01
Name: 2070, dtype: object
0    2071 1981
1      2071 03
2      2071 03
Name: 2071, dtype: object
0    2072 1952
1      2072 03
2      2072 03
Name: 2072, dtype: object
0           2073 1971
1             2073 06
2    2073 22 00:00:00
Name: 2073, dtype: object
0    2074 1953
1      2074 03
2      2074 09
Name: 2074, dtype: object
0    2075 1954
1      2075 11
2      2075 15
Name: 2075, dtype: object
0           2076 1964
1             2076 08
2    2076 26 00 00 00
Name: 2076, dtype: object
0    2077 1971
1      2077 09
2      2077 08
Name: 2077, dtype: object
0    2078 1979
1      2078 04
2      2078 17
Name: 2078, dtype: object
0    2079 1961
1      2079 05
2      2079 06
Name: 2079, dtype: object
0    2080 1971
1      2080 02
2      2080 09
Name: 2080, dtype: object
0    2081 1970
1      2081 07
2      2081 15
Name: 2081, dtype: object
0    2082 1948
1      2082 01
2      2082 22
Name: 2082, dtype: object
0    2083 1983
1      2083 06
2      2083 19
Name: 2083, dtype: object
0    2084 1956
1      2084 11
2      2084 26
Name: 2084, dtype: object
0    2085 1958
1      2085 04
2      2085 23
Name: 2085, dtype: object
0      2086 27
1      2086 06
2    2086 1974
Name: 2086, dtype: object
0    2087 1981
1      2087 09
2      2087 16
Name: 2087, dtype: object
0    2088 65
1    2088 01
2    2088 14
Name: 2088, dtype: object
0    2089 1947
1      2089 12
2      2089 08
Name: 2089, dtype: object
0    2090 1975
1      2090 02
2      2090 18
Name: 2090, dtype: object
0    2091 1966
1      2091 08
2      2091 20
Name: 2091, dtype: object
0    2092 1956
1      2092 01
2      2092 05
Name: 2092, dtype: object
0    2093 82
1    2093 10
2    2093 31
Name: 2093, dtype: object
0           2094 1960
1             2094 10
2    2094 30 00 00 00
Name: 2094, dtype: object
0           2095 1959
1             2095 03
2    2095 06 00:00:00
Name: 2095, dtype: object
0    2096 1966
1      2096 03
2      2096 18
Name: 2096, dtype: object
0    2097 1998
1      2097 02
2      2097 24
Name: 2097, dtype: object
0    2098 1968
1      2098 09
2      2098 23
Name: 2098, dtype: object
0    2099 1961
1      2099 03
2      2099 11
Name: 2099, dtype: object
0    2100 1961
1      2100 07
2      2100 31
Name: 2100, dtype: object
0    2101 64
1    2101 12
2    2101 11
Name: 2101, dtype: object
0    2102 1960
1      2102 10
2      2102 30
Name: 2102, dtype: object
0      2103 19
1      2103 04
2    2103 1966
Name: 2103, dtype: object
0    2104 1965
1      2104 05
2      2104 27
Name: 2104, dtype: object
0           2105 1965
1             2105 05
2    2105 31 00:00:00
Name: 2105, dtype: object
0    2106 1962
1      2106 09
2      2106 19
Name: 2106, dtype: object
0      2107 28
1      2107 03
2    2107 1958
Name: 2107, dtype: object
0    2108 1957
1      2108 04
2      2108 28
Name: 2108, dtype: object
0    2109 1975
1      2109 01
2      2109 24
Name: 2109, dtype: object
0    2110 1986
1      2110 12
2      2110 15
Name: 2110, dtype: object
0    2111 1979
1      2111 01
2      2111 26
Name: 2111, dtype: object
0    2112 1954
1      2112 09
2      2112 12
Name: 2112, dtype: object
0      2113 09
1      2113 08
2    2113 1988
Name: 2113, dtype: object
0    2114 1973
1      2114 03
2      2114 09
Name: 2114, dtype: object
0    2115 1969
1      2115 04
2      2115 04
Name: 2115, dtype: object
0    2116 1969
1      2116 02
2      2116 24
Name: 2116, dtype: object
0           2117 1948
1             2117 02
2    2117 09 00:00:00
Name: 2117, dtype: object
0    2118 65
1    2118 09
2    2118 05
Name: 2118, dtype: object
0    2119 1970
1      2119 02
2      2119 28
Name: 2119, dtype: object
0    2120 1982
1      2120 04
2      2120 05
Name: 2120, dtype: object
0    2121 1969
1      2121 02
2      2121 27
Name: 2121, dtype: object
0    2122 1955
1      2122 10
2      2122 23
Name: 2122, dtype: object
0    2123 1969
1      2123 10
2      2123 31
Name: 2123, dtype: object
0    2124 1972
1      2124 08
2      2124 04
Name: 2124, dtype: object
0    2125 1966
1      2125 11
2      2125 30
Name: 2125, dtype: object
0    2126 1982
1      2126 02
2      2126 28
Name: 2126, dtype: object
0    2127 1955
1      2127 05
2      2127 05
Name: 2127, dtype: object
0    2128 1948
1      2128 09
2      2128 02
Name: 2128, dtype: object
0    2129 1961
1      2129 05
2      2129 10
Name: 2129, dtype: object
0    2130 1944
1      2130 11
2      2130 05
Name: 2130, dtype: object
0    2131 1953
1      2131 05
2      2131 10
Name: 2131, dtype: object
0    2132 1980
1      2132 01
2      2132 03
Name: 2132, dtype: object
0    2133 72
1    2133 10
2    2133 19
Name: 2133, dtype: object
0    2134 1955
1      2134 10
2      2134 27
Name: 2134, dtype: object
0    2135 1966
1      2135 10
2      2135 14
Name: 2135, dtype: object
0    2136 1965
1      2136 11
2      2136 28
Name: 2136, dtype: object
0    2137 1955
1      2137 07
2      2137 23
Name: 2137, dtype: object
0    2138 1951
1      2138 12
2      2138 10
Name: 2138, dtype: object
0    2139 1960
1      2139 08
2      2139 25
Name: 2139, dtype: object
0    2140 1964
1      2140 09
2      2140 21
Name: 2140, dtype: object
0    2141 1966
1      2141 05
2      2141 14
Name: 2141, dtype: object
0      2142 10
1      2142 07
2    2142 1972
Name: 2142, dtype: object
0    2143 1951
1      2143 08
2      2143 15
Name: 2143, dtype: object
0           2144 1981
1             2144 12
2    2144 05 00:00:00
Name: 2144, dtype: object
0    2145 1950
1      2145 08
2      2145 06
Name: 2145, dtype: object
0      2146 04
1      2146 07
2    2146 1968
Name: 2146, dtype: object
0    2147 1951
1      2147 01
2      2147 24
Name: 2147, dtype: object
0    2148 1953
1      2148 09
2      2148 23
Name: 2148, dtype: object
0    2149 1952
1      2149 03
2      2149 04
Name: 2149, dtype: object
0           2150 1971
1             2150 08
2    2150 19 00:00:00
Name: 2150, dtype: object
0    2151 1968
1      2151 09
2      2151 16
Name: 2151, dtype: object
0    2152 1957
1      2152 04
2      2152 22
Name: 2152, dtype: object
0    2153 1968
1      2153 05
2      2153 17
Name: 2153, dtype: object
0    2154 1950
1      2154 01
2      2154 03
Name: 2154, dtype: object
0    2155 1954
1      2155 08
2      2155 29
Name: 2155, dtype: object
0      2156 29
1      2156 09
2    2156 1956
Name: 2156, dtype: object
0    2157 63
1    2157 11
2    2157 27
Name: 2157, dtype: object
0    2158 1990
1      2158 06
2      2158 18
Name: 2158, dtype: object
0    2159 1965
1      2159 05
2      2159 26
Name: 2159, dtype: object
0    2160 1954
1      2160 03
2      2160 24
Name: 2160, dtype: object
0    2161 84
1    2161 02
2    2161 21
Name: 2161, dtype: object
0      2162 09
1      2162 11
2    2162 1940
Name: 2162, dtype: object
0    2163 1965
1      2163 08
2      2163 29
Name: 2163, dtype: object
0    2164 1960
1      2164 06
2      2164 19
Name: 2164, dtype: object
0    2165 1975
1      2165 10
2      2165 13
Name: 2165, dtype: object
0    2166 61
1    2166 12
2    2166 13
Name: 2166, dtype: object
0    2167 1950
1      2167 04
2      2167 17
Name: 2167, dtype: object
0    2168 1968
1      2168 03
2      2168 27
Name: 2168, dtype: object
0    2169 76
1    2169 03
2    2169 21
Name: 2169, dtype: object
0    2170 1978
1      2170 02
2      2170 22
Name: 2170, dtype: object
0    2171 1959
1      2171 09
2      2171 25
Name: 2171, dtype: object
0           2172 1966
1             2172 08
2    2172 03 00:00:00
Name: 2172, dtype: object
0    2173 1961
1      2173 10
2      2173 17
Name: 2173, dtype: object
0    2174 1968
1      2174 10
2      2174 24
Name: 2174, dtype: object
0    2175 1976
1      2175 12
2      2175 02
Name: 2175, dtype: object
0    2176 1975
1      2176 12
2      2176 10
Name: 2176, dtype: object
0      2177 11
1      2177 12
2    2177 1971
Name: 2177, dtype: object
0    2178 86
1    2178 01
2    2178 29
Name: 2178, dtype: object
0    2179 1979
1      2179 01
2      2179 18
Name: 2179, dtype: object
0    2180 1961
1      2180 07
2      2180 18
Name: 2180, dtype: object
0    2181 1959
1      2181 06
2      2181 11
Name: 2181, dtype: object
0    2182 1979
1      2182 11
2      2182 15
Name: 2182, dtype: object
0    2183 1989
1      2183 04
2      2183 24
Name: 2183, dtype: object
0    2184 1960
1      2184 07
2      2184 04
Name: 2184, dtype: object
0           2185 1969
1             2185 04
2    2185 24 00:00:00
Name: 2185, dtype: object
0           2186 1977
1             2186 02
2    2186 03 00:00:00
Name: 2186, dtype: object
0      2187 20
1      2187 12
2    2187 1972
Name: 2187, dtype: object

0      2188 07
1      2188 08
2    2188 1966
Name: 2188, dtype: object
0    2189 1962
1      2189 05
2      2189 21
Name: 2189, dtype: object
0           2190 1975
1             2190 09
2    2190 28 00:00:00
Name: 2190, dtype: object
0    2191 74
1    2191 09
2    2191 23
Name: 2191, dtype: object
0    2192 1996
1      2192 06
2      2192 15
Name: 2192, dtype: object
0    2193 1954
1      2193 11
2      2193 07
Name: 2193, dtype: object
0    2194 1973
1      2194 12
2      2194 06
Name: 2194, dtype: object
0    2195 1978
1      2195 05
2      2195 08
Name: 2195, dtype: object
0    2196 1965
1      2196 05
2      2196 20
Name: 2196, dtype: object
0      2197 17
1      2197 06
2    2197 1986
Name: 2197, dtype: object
0    2198 1993
1      2198 02
2      2198 24
Name: 2198, dtype: object
0    2199 1958
1      2199 08
2      2199 25
Name: 2199, dtype: object
0    2200 1968
1      2200 10
2      2200 25
Name: 2200, dtype: object
0           2201 1954
1             2201 02
2    2201 17 00 00 00
Name: 2201, dtype: object
0           2202 1933
1             2202 10
2    2202 21 00 00 00
Name: 2202, dtype: object
0    2203 1955
1      2203 03
2      2203 20
Name: 2203, dtype: object
0    2204 1965
1      2204 02
2      2204 18
Name: 2204, dtype: object
0    2205 1967
1      2205 06
2      2205 10
Name: 2205, dtype: object
0           2206 1980
1             2206 11
2    2206 24 00 00 00
Name: 2206, dtype: object
0      2207 20
1      2207 07
2    2207 1967
Name: 2207, dtype: object
0           2208 1966
1             2208 01
2    2208 25 00:00:00
Name: 2208, dtype: object
0    2209 1993
1      2209 04
2      2209 30
Name: 2209, dtype: object
0    2210 1956
1      2210 06
2      2210 09
Name: 2210, dtype: object
0    2211 1983
1      2211 02
2      2211 27
Name: 2211, dtype: object
0    2212 1960
1      2212 01
2      2212 11
Name: 2212, dtype: object
0           2213 1965
1             2213 12
2    2213 18 00:00:00
Name: 2213, dtype: object
0      2214 18
1      2214 08
2    2214 1950
Name: 2214, dtype: object
0    2215 1970
1      2215 01
2      2215 01
Name: 2215, dtype: object
0    2216 1984
1      2216 05
2      2216 20
Name: 2216, dtype: object
0    2217 1985
1      2217 11
2      2217 13
Name: 2217, dtype: object
0           2218 1942
1             2218 06
2    2218 04 00:00:00
Name: 2218, dtype: object
0    2219 1994
1      2219 07
2      2219 05
Name: 2219, dtype: object
0    2220 1964
1      2220 05
2      2220 25
Name: 2220, dtype: object
0    2221 1967
1      2221 03
2      2221 24
Name: 2221, dtype: object
0    2222 1963
1      2222 06
2      2222 26
Name: 2222, dtype: object
0    2223 79
1    2223 09
2    2223 05
Name: 2223, dtype: object
0    2224 1961
1      2224 01
2      2224 15
Name: 2224, dtype: object
0    2225 1983
1      2225 02
2      2225 08
Name: 2225, dtype: object
0    2226 67
1    2226 10
2    2226 18
Name: 2226, dtype: object
0    2227 1974
1      2227 07
2      2227 31
Name: 2227, dtype: object
0    2228 1963
1      2228 05
2      2228 16
Name: 2228, dtype: object
0      2229 17
1      2229 05
2    2229 1982
Name: 2229, dtype: object
0    2230 1969
1      2230 08
2      2230 20
Name: 2230, dtype: object
0    2231 1972
1      2231 08
2      2231 26
Name: 2231, dtype: object
0      2232 15
1      2232 06
2    2232 1964
Name: 2232, dtype: object
0    2233 1986
1      2233 09
2      2233 08
Name: 2233, dtype: object
0    2234 1971
1      2234 09
2      2234 30
Name: 2234, dtype: object
0    2235 1965
1      2235 11
2      2235 12
Name: 2235, dtype: object
0    2236 1974
1      2236 10
2      2236 20
Name: 2236, dtype: object
0    2237 1958
1      2237 10
2      2237 18
Name: 2237, dtype: object
0    2238 1966
1      2238 08
2      2238 26
Name: 2238, dtype: object
0    2239 1961
1      2239 12
2      2239 03
Name: 2239, dtype: object
0    2240 1984
1      2240 03
2      2240 17
Name: 2240, dtype: object
0      2241 07
1      2241 02
2    2241 1971
Name: 2241, dtype: object
0    2242 1953
1      2242 12
2      2242 11
Name: 2242, dtype: object
0      2243 21
1      2243 04
2    2243 1964
Name: 2243, dtype: object
0           2244 1994
1             2244 08
2    2244 16 00:00:00
Name: 2244, dtype: object
0    2245 1944
1      2245 03
2      2245 24
Name: 2245, dtype: object
0    2246 1964
1      2246 10
2      2246 25
Name: 2246, dtype: object
0           2247 1982
1             2247 03
2    2247 17 00:00:00
Name: 2247, dtype: object
0    2248 1964
1      2248 04
2      2248 02
Name: 2248, dtype: object
0    2249 1963
1      2249 07
2      2249 17
Name: 2249, dtype: object
0    2250 1961
1      2250 06
2      2250 11
Name: 2250, dtype: object
0    2251 60
1    2251 02
2    2251 11
Name: 2251, dtype: object
0           2252 1977
1             2252 03
2    2252 18 00:00:00
Name: 2252, dtype: object
0    2253 1974
1      2253 02
2      2253 10
Name: 2253, dtype: object
0    2254 1969
1      2254 01
2      2254 06
Name: 2254, dtype: object
0    2255 1956
1      2255 08
2      2255 09
Name: 2255, dtype: object
0    2256 1950
1      2256 07
2      2256 27
Name: 2256, dtype: object
0    2257 1981
1      2257 04
2      2257 19
Name: 2257, dtype: object
0    2258 1961
1      2258 07
2      2258 14
Name: 2258, dtype: object
0    2259 1977
1      2259 09
2      2259 06
Name: 2259, dtype: object
0    2260 1972
1      2260 03
2      2260 19
Name: 2260, dtype: object
0    2261 1960
1      2261 12
2      2261 16
Name: 2261, dtype: object
0    2262 1962
1      2262 02
2      2262 17
Name: 2262, dtype: object
0           2263 1976
1             2263 05
2    2263 12 00 00 00
Name: 2263, dtype: object
0    2264 1978
1      2264 02
2      2264 06
Name: 2264, dtype: object
0           2265 1942
1             2265 08
2    2265 24 00:00:00
Name: 2265, dtype: object
0    2266 1965
1      2266 05
2      2266 14
Name: 2266, dtype: object
0    2267 1966
1      2267 08
2      2267 18
Name: 2267, dtype: object
0           2268 1962
1             2268 12
2    2268 27 00 00 00
Name: 2268, dtype: object
0    2269 1995
1      2269 03
2      2269 13
Name: 2269, dtype: object
0    2270 1955
1      2270 12
2      2270 03
Name: 2270, dtype: object
0    2271 1985
1      2271 07
2      2271 06
Name: 2271, dtype: object
0    2272 1976
1      2272 06
2      2272 01
Name: 2272, dtype: object
0    2273 1979
1      2273 05
2      2273 22
Name: 2273, dtype: object
0    2274 1987
1      2274 06
2      2274 24
Name: 2274, dtype: object
0    2275 1968
1      2275 10
2      2275 31
Name: 2275, dtype: object
0    2276 1958
1      2276 05
2      2276 17
Name: 2276, dtype: object
0    2277 1982
1      2277 10
2      2277 28
Name: 2277, dtype: object
0    2278 1981
1      2278 03
2      2278 20
Name: 2278, dtype: object
0      2279 14
1      2279 06
2    2279 1966
Name: 2279, dtype: object
0    2280 1964
1      2280 05
2      2280 11
Name: 2280, dtype: object
0    2281 61
1    2281 03
2    2281 12
Name: 2281, dtype: object
0           2282 1958
1             2282 07
2    2282 22 00:00:00
Name: 2282, dtype: object
0    2283 1965
1      2283 09
2      2283 28
Name: 2283, dtype: object
0    2284 1957
1      2284 05
2      2284 24
Name: 2284, dtype: object
0    2285 1961
1      2285 02
2      2285 08
Name: 2285, dtype: object
0    2286 1973
1      2286 10
2      2286 28
Name: 2286, dtype: object
0    2287 1968
1      2287 07
2      2287 11
Name: 2287, dtype: object
0    2288 1974
1      2288 02
2      2288 28
Name: 2288, dtype: object
0    2289 1961
1      2289 09
2      2289 24
Name: 2289, dtype: object
0    2290 1968
1      2290 05
2      2290 23
Name: 2290, dtype: object
0    2291 1968
1      2291 04
2      2291 23
Name: 2291, dtype: object
0    2292 1967
1      2292 01
2      2292 21
Name: 2292, dtype: object
0    2293 1951
1      2293 10
2      2293 08
Name: 2293, dtype: object
0    2294 1986
1      2294 07
2      2294 17
Name: 2294, dtype: object
0    2295 1944
1      2295 01
2      2295 29
Name: 2295, dtype: object
0    2296 1965
1      2296 10
2      2296 04
Name: 2296, dtype: object
0    2297 1960
1      2297 04
2      2297 04
Name: 2297, dtype: object
0    2298 1974
1      2298 04
2      2298 15
Name: 2298, dtype: object
0    2299 1967
1      2299 03
2      2299 13
Name: 2299, dtype: object
0    2300 1956
1      2300 12
2      2300 02
Name: 2300, dtype: object
0    2301 75
1    2301 01
2    2301 04
Name: 2301, dtype: object
0    2302 1977
1      2302 08
2      2302 31
Name: 2302, dtype: object
0      2303 03
1      2303 06
2    2303 1948
Name: 2303, dtype: object
0    2304 49
1    2304 01
2    2304 07

Name: 2304, dtype: object
0      2305 20
1      2305 10
2    2305 1986
Name: 2305, dtype: object
0    2306 1965
1      2306 12
2      2306 10
Name: 2306, dtype: object
0    2307 1967
1      2307 04
2      2307 23
Name: 2307, dtype: object
0    2308 1959
1      2308 12
2      2308 10
Name: 2308, dtype: object
0    2309 1951
1      2309 10
2      2309 07
Name: 2309, dtype: object
0    2310 1973
1      2310 12
2      2310 31
Name: 2310, dtype: object
0    2311 1958
1      2311 01
2      2311 09
Name: 2311, dtype: object
0           2312 1976
1             2312 01
2    2312 19 00 00 00
Name: 2312, dtype: object
0    2313 1965
1      2313 09
2      2313 16
Name: 2313, dtype: object
0    2314 1962
1      2314 06
2      2314 27
Name: 2314, dtype: object
0    2315 1956
1      2315 05
2      2315 28
Name: 2315, dtype: object
0    2316 1952
1      2316 06
2      2316 12
Name: 2316, dtype: object
0    2317 1954
1      2317 07
2      2317 29
Name: 2317, dtype: object
0           2318 1969
1             2318 12
2    2318 14 00 00 00
Name: 2318, dtype: object
0    2319 1984
1      2319 02
2      2319 07
Name: 2319, dtype: object
0    2320 1986
1      2320 08
2      2320 08
Name: 2320, dtype: object
0    2321 52
1    2321 12
2    2321 24
Name: 2321, dtype: object
0           2322 1960
1             2322 03
2    2322 30 00 00 00
Name: 2322, dtype: object
0      2323 11
1      2323 08
2    2323 1969
Name: 2323, dtype: object
0    2324 1958
1      2324 12
2      2324 22
Name: 2324, dtype: object
0    2325 1966
1      2325 05
2      2325 06
Name: 2325, dtype: object
0      2326 10
1      2326 10
2    2326 1969
Name: 2326, dtype: object
0    2327 1954
1      2327 06
2      2327 24
Name: 2327, dtype: object
0    2328 1953
1      2328 01
2      2328 25
Name: 2328, dtype: object
0    2329 1944
1      2329 10
2      2329 09
Name: 2329, dtype: object
0      2330 18
1      2330 12
2    2330 1966
Name: 2330, dtype: object
0    2331 1957
1      2331 09
2      2331 20
Name: 2331, dtype: object
0    2332 1969
1      2332 03
2      2332 27
Name: 2332, dtype: object
0    2333 1985
1      2333 03
2      2333 29
Name: 2333, dtype: object
0    2334 1967
1      2334 09
2      2334 03
Name: 2334, dtype: object
0    2335 1971
1      2335 07
2      2335 20
Name: 2335, dtype: object
0    2336 1950
1      2336 07
2      2336 01
Name: 2336, dtype: object
0    2337 1960
1      2337 06
2      2337 21
Name: 2337, dtype: object
0           2338 1976
1             2338 07
2    2338 27 00:00:00
Name: 2338, dtype: object
0    2339 1970
1      2339 07
2      2339 22
Name: 2339, dtype: object
0           2340 1961
1             2340 05
2    2340 30 00:00:00
Name: 2340, dtype: object
0    2341 1989
1      2341 06
2      2341 22
Name: 2341, dtype: object
0    2342 1966
1      2342 06
2      2342 13
Name: 2342, dtype: object
0    2343 1968
1      2343 07
2      2343 14
Name: 2343, dtype: object
0    2344 1967
1      2344 05
2      2344 19
Name: 2344, dtype: object
0           2345 1981
1             2345 10
2    2345 14 00:00:00
Name: 2345, dtype: object
0    2346 1959
1      2346 10
2      2346 07
Name: 2346, dtype: object
0    2347 59
1    2347 05
2    2347 24
Name: 2347, dtype: object
0    2348 1969
1      2348 06
2      2348 29
Name: 2348, dtype: object
0    2349 1960
1      2349 12
2      2349 16
Name: 2349, dtype: object
0    2350 1965
1      2350 08
2      2350 31
Name: 2350, dtype: object
0    2351 1971
1      2351 03
2      2351 19
Name: 2351, dtype: object
0    2352 1974
1      2352 05
2      2352 05
Name: 2352, dtype: object
0    2353 1966
1      2353 11
2      2353 26
Name: 2353, dtype: object
0    2354 1976
1      2354 12
2      2354 14
Name: 2354, dtype: object
0    2355 1953
1      2355 02
2      2355 24
Name: 2355, dtype: object
0           2356 1977
1             2356 07
2    2356 19 00:00:00
Name: 2356, dtype: object
0    2357 1975
1      2357 02
2      2357 27
Name: 2357, dtype: object
0    2358 1963
1      2358 03
2      2358 02
Name: 2358, dtype: object
0    2359 1982
1      2359 03
2      2359 16
Name: 2359, dtype: object
0    2360 1974
1      2360 11
2      2360 22
Name: 2360, dtype: object
0    2361 1979
1      2361 04
2      2361 13
Name: 2361, dtype: object
0    2362 1960
1      2362 12
2      2362 13
Name: 2362, dtype: object
0    2363 1963
1      2363 05
2      2363 10
Name: 2363, dtype: object
0    2364 1965
1      2364 03
2      2364 29
Name: 2364, dtype: object
0    2365 1975
1      2365 09
2      2365 06
Name: 2365, dtype: object
0    2366 1966
1      2366 02
2      2366 19
Name: 2366, dtype: object
0    2367 1965
1      2367 12
2      2367 17
Name: 2367, dtype: object
0           2368 1981
1             2368 06
2    2368 21 00 00 00
Name: 2368, dtype: object
0    2369 1958
1      2369 08
2      2369 19
Name: 2369, dtype: object
0           2370 1970
1             2370 08
2    2370 18 00:00:00
Name: 2370, dtype: object
0           2371 1967
1             2371 05
2    2371 11 00:00:00
Name: 2371, dtype: object
0    2372 1997
1      2372 12
2      2372 28
Name: 2372, dtype: object
0    2373 1964
1      2373 04
2      2373 22
Name: 2373, dtype: object
0    2374 1986
1      2374 01
2      2374 08
Name: 2374, dtype: object
0    2375 1959
1      2375 07
2      2375 01
Name: 2375, dtype: object
0    2376 1939
1      2376 08
2      2376 18
Name: 2376, dtype: object
0    2377 1949
1      2377 02
2      2377 08
Name: 2377, dtype: object
0    2378 1957
1      2378 08
2      2378 08
Name: 2378, dtype: object
0    2379 1951
1      2379 01
2      2379 18
Name: 2379, dtype: object
0    2380 1967
1      2380 09
2      2380 22
Name: 2380, dtype: object
0      2381 07
1      2381 08
2    2381 1962
Name: 2381, dtype: object
0    2382 1965
1      2382 02
2      2382 18
Name: 2382, dtype: object
0    2383 1942
1      2383 12
2      2383 13
Name: 2383, dtype: object
0    2384 1975
1      2384 01
2      2384 01
Name: 2384, dtype: object
0           2385 1960
1             2385 08
2    2385 04 00 00 00
Name: 2385, dtype: object
0      2386 06
1      2386 07
2    2386 1992
Name: 2386, dtype: object
0    2387 1968
1      2387 05
2      2387 20
Name: 2387, dtype: object
0    2388 1963
1      2388 11
2      2388 18
Name: 2388, dtype: object
0    2389 1995
1      2389 12
2      2389 09
Name: 2389, dtype: object
0    2390 1973
1      2390 01
2      2390 08
Name: 2390, dtype: object
0    2391 1953
1      2391 06
2      2391 08
Name: 2391, dtype: object
0    2392 1962
1      2392 10
2      2392 06
Name: 2392, dtype: object
0    2393 1974
1      2393 03
2      2393 11
Name: 2393, dtype: object
0    2394 1945
1      2394 10
2      2394 01
Name: 2394, dtype: object
0           2395 1976
1             2395 05
2    2395 26 00 00 00
Name: 2395, dtype: object
0           2396 1975
1             2396 12
2    2396 04 00:00:00
Name: 2396, dtype: object
0    2397 1970
1      2397 03
2      2397 20
Name: 2397, dtype: object
0           2398 1949
1             2398 10
2    2398 26 00:00:00
Name: 2398, dtype: object
0           2399 1968
1             2399 01
2    2399 18 00:00:00
Name: 2399, dtype: object
0    2400 1956
1      2400 01
2      2400 05
Name: 2400, dtype: object
0    2401 1955
1      2401 01
2      2401 27
Name: 2401, dtype: object
0    2402 1965
1      2402 12
2      2402 14
Name: 2402, dtype: object
0    2403 1939
1      2403 02
2      2403 19
Name: 2403, dtype: object
0    2404 1951
1      2404 05
2      2404 18
Name: 2404, dtype: object
0    2405 1958
1      2405 12
2      2405 10
Name: 2405, dtype: object
0    2406 1955
1      2406 09
2      2406 15
Name: 2406, dtype: object
0    2407 1964
1      2407 01
2      2407 22
Name: 2407, dtype: object
0      2408 29
1      2408 07
2    2408 1957
Name: 2408, dtype: object
0    2409 1983
1      2409 12
2      2409 06
Name: 2409, dtype: object
0    2410 1957
1      2410 11
2      2410 06
Name: 2410, dtype: object
0      2411 14
1      2411 06
2    2411 1977
Name: 2411, dtype: object
0    2412 1951
1      2412 06
2      2412 21
Name: 2412, dtype: object
0    2413 77
1    2413 07
2    2413 11
Name: 2413, dtype: object
0    2414 1966
1      2414 03
2      2414 18
Name: 2414, dtype: object
0    2415 1983
1      2415 12
2      2415 24
Name: 2415, dtype: object
0    2416 1985
1      2416 02
2      2416 06
Name: 2416, dtype: object
0    2417 1952
1      2417 05
2      2417 03
Name: 2417, dtype: object
0      2418 18
1      2418 10
2    2418 1963
Name: 2418, dtype: object
0    2419 1984
1      2419 03
2      2419 31

Name: 2419, dtype: object
0    2420 1979
1      2420 10
2      2420 22
Name: 2420, dtype: object
0    2421 1992
1      2421 07
2      2421 20
Name: 2421, dtype: object
0    2422 57
1    2422 10
2    2422 23
Name: 2422, dtype: object
0    2423 1973
1      2423 08
2      2423 22
Name: 2423, dtype: object
0           2424 1968
1             2424 07
2    2424 22 00:00:00
Name: 2424, dtype: object
0    2425 1964
1      2425 05
2      2425 17
Name: 2425, dtype: object
0    2426 1961
1      2426 10
2      2426 03
Name: 2426, dtype: object
0    2427 1971
1      2427 01
2      2427 26
Name: 2427, dtype: object
0    2428 1966
1      2428 02
2      2428 03
Name: 2428, dtype: object
0    2429 73
1    2429 05
2    2429 20
Name: 2429, dtype: object
0    2430 1954
1      2430 08
2      2430 04
Name: 2430, dtype: object
0    2431 1957
1      2431 12
2      2431 03
Name: 2431, dtype: object
0    2432 1973
1      2432 10
2      2432 06
Name: 2432, dtype: object
0    2433 1983
1      2433 04
2      2433 20
Name: 2433, dtype: object
0    2434 1967
1      2434 10
2      2434 25
Name: 2434, dtype: object
0    2435 1957
1      2435 05
2      2435 02
Name: 2435, dtype: object
0    2436 1963
1      2436 07
2      2436 02
Name: 2436, dtype: object
0    2437 1962
1      2437 08
2      2437 12
Name: 2437, dtype: object
0    2438 1956
1      2438 04
2      2438 07
Name: 2438, dtype: object
0      2439 11
1      2439 03
2    2439 1964
Name: 2439, dtype: object
0    2440 1957
1      2440 05
2      2440 12
Name: 2440, dtype: object
0    2441 1955
1      2441 06
2      2441 03
Name: 2441, dtype: object
0    2442 1976
1      2442 10
2      2442 18
Name: 2442, dtype: object
0    2443 1971
1      2443 03
2      2443 21
Name: 2443, dtype: object
0    2444 86
1    2444 04
2    2444 04
Name: 2444, dtype: object
0    2445 1983
1      2445 02
2      2445 27
Name: 2445, dtype: object
0    2446 1954
1      2446 12
2      2446 23
Name: 2446, dtype: object
0    2447 1963
1      2447 10
2      2447 18
Name: 2447, dtype: object
0           2448 1963
1             2448 11
2    2448 15 00:00:00
Name: 2448, dtype: object
0    2449 1949
1      2449 07
2      2449 12
Name: 2449, dtype: object
0    2450 1943
1      2450 08
2      2450 04
Name: 2450, dtype: object
0    2451 1960
1      2451 08
2      2451 11
Name: 2451, dtype: object
0    2452 1948
1      2452 07
2      2452 11
Name: 2452, dtype: object
0           2453 1968
1             2453 08
2    2453 22 00:00:00
Name: 2453, dtype: object
0    2454 1963
1      2454 07
2      2454 30
Name: 2454, dtype: object
0    2455 1984
1      2455 06
2      2455 19
Name: 2455, dtype: object
0    2456 1956
1      2456 02
2      2456 13
Name: 2456, dtype: object
0    2457 1973
1      2457 12
2      2457 21
Name: 2457, dtype: object
0    2458 1962
1      2458 09
2      2458 27
Name: 2458, dtype: object
0    2459 1955
1      2459 03
2      2459 16
Name: 2459, dtype: object
0      2460 31
1      2460 05
2    2460 1977
Name: 2460, dtype: object
0    2461 1960
1      2461 06
2      2461 29
Name: 2461, dtype: object
0    2462 1964
1      2462 09
2      2462 01
Name: 2462, dtype: object
0    2463 1938
1      2463 01
2      2463 10
Name: 2463, dtype: object
0    2464 1965
1      2464 06
2      2464 30
Name: 2464, dtype: object
0    2465 1973
1      2465 08
2      2465 12
Name: 2465, dtype: object
0           2466 1959
1             2466 01
2    2466 14 00 00 00
Name: 2466, dtype: object
0    2467 1960
1      2467 11
2      2467 23
Name: 2467, dtype: object
0    2468 1954
1      2468 09
2      2468 01
Name: 2468, dtype: object
0           2469 1958
1             2469 10
2    2469 02 00 00 00
Name: 2469, dtype: object
0    2470 1955
1      2470 02
2      2470 26
Name: 2470, dtype: object
0    2471 1965
1      2471 04
2      2471 10
Name: 2471, dtype: object
0    2472 1963
1      2472 06
2      2472 23
Name: 2472, dtype: object
0    2473 1974
1      2473 08
2      2473 18
Name: 2473, dtype: object
0           2474 1965
1             2474 11
2    2474 27 00 00 00
Name: 2474, dtype: object
0    2475 1958
1      2475 09
2      2475 21
Name: 2475, dtype: object
0    2476 1957
1      2476 08
2      2476 03
Name: 2476, dtype: object
0    2477 1979
1      2477 09
2      2477 30
Name: 2477, dtype: object
0    2478 1985
1      2478 06
2      2478 09
Name: 2478, dtype: object
0           2479 1963
1             2479 05
2    2479 24 00 00 00
Name: 2479, dtype: object
0    2480 1985
1      2480 06
2      2480 17
Name: 2480, dtype: object
0    2481 1984
1      2481 05
2      2481 03
Name: 2481, dtype: object
0    2482 1964
1      2482 11
2      2482 08
Name: 2482, dtype: object
0      2483 30
1      2483 01
2    2483 1965
Name: 2483, dtype: object
0    2484 1952
1      2484 06
2      2484 12
Name: 2484, dtype: object
0    2485 1962
1      2485 09
2      2485 24
Name: 2485, dtype: object
0    2486 1957
1      2486 06
2      2486 11
Name: 2486, dtype: object
0    2487 1956
1      2487 10
2      2487 04
Name: 2487, dtype: object
0    2488 1974
1      2488 09
2      2488 11
Name: 2488, dtype: object
0    2489 1974
1      2489 01
2      2489 23
Name: 2489, dtype: object
0    2490 1971
1      2490 07
2      2490 05
Name: 2490, dtype: object
0    2491 1966
1      2491 07
2      2491 18
Name: 2491, dtype: object
0      2492 17
1      2492 04
2    2492 1968
Name: 2492, dtype: object
0    2493 1946
1      2493 10
2      2493 07
Name: 2493, dtype: object
0    2494 55
1    2494 10
2    2494 30
Name: 2494, dtype: object
0    2495 1970
1      2495 02
2      2495 09
Name: 2495, dtype: object
0    2496 1959
1      2496 08
2      2496 04
Name: 2496, dtype: object
0    2497 1963
1      2497 02
2      2497 25
Name: 2497, dtype: object
0    2498 1958
1      2498 07
2      2498 23
Name: 2498, dtype: object
0    2499 1977
1      2499 04
2      2499 30
Name: 2499, dtype: object
0    2500 1963
1      2500 04
2      2500 08
Name: 2500, dtype: object
0      2501 08
1      2501 05
2    2501 1977
Name: 2501, dtype: object
0           2502 1961
1             2502 08
2    2502 06 00:00:00
Name: 2502, dtype: object
0    2503 79
1    2503 11
2    2503 24
Name: 2503, dtype: object
0    2504 1961
1      2504 01
2      2504 27
Name: 2504, dtype: object
0           2505 1961
1             2505 02
2    2505 02 00 00 00
Name: 2505, dtype: object
0    2506 1959
1      2506 06
2      2506 17
Name: 2506, dtype: object
0    2507 64
1    2507 12
2    2507 20
Name: 2507, dtype: object
0           2508 1960
1             2508 01
2    2508 07 00 00 00
Name: 2508, dtype: object
0    2509 1956
1      2509 04
2      2509 27
Name: 2509, dtype: object
0    2510 1954
1      2510 03
2      2510 10
Name: 2510, dtype: object
0           2511 1969
1             2511 06
2    2511 03 00:00:00
Name: 2511, dtype: object
0    2512 1969
1      2512 06
2      2512 16
Name: 2512, dtype: object
0    2513 1966
1      2513 04
2      2513 05
Name: 2513, dtype: object
0    2514 1965
1      2514 10
2      2514 04
Name: 2514, dtype: object
0    2515 81
1    2515 05
2    2515 24
Name: 2515, dtype: object
0    2516 1968
1      2516 10
2      2516 31
Name: 2516, dtype: object
0      2517 26
1      2517 12
2    2517 1962
Name: 2517, dtype: object
0    2518 1959
1      2518 04
2      2518 03
Name: 2518, dtype: object
0    2519 1973
1      2519 05
2      2519 07
Name: 2519, dtype: object
0      2520 05
1      2520 12
2    2520 1964
Name: 2520, dtype: object
0    2521 1948
1      2521 11
2      2521 13
Name: 2521, dtype: object
0    2522 1967
1      2522 01
2      2522 05
Name: 2522, dtype: object
0           2523 1981
1             2523 06
2    2523 17 00:00:00
Name: 2523, dtype: object
0    2524 1965
1      2524 03
2      2524 29
Name: 2524, dtype: object
0    2525 1965
1      2525 07
2      2525 23
Name: 2525, dtype: object
0    2526 1981
1      2526 10
2      2526 07
Name: 2526, dtype: object
0    2527 1953
1      2527 11
2      2527 08
Name: 2527, dtype: object
0    2528 1983
1      2528 01
2      2528 29
Name: 2528, dtype: object
0    2529 1989
1      2529 08
2      2529 29
Name: 2529, dtype: object
0    2530 72
1    2530 04
2    2530 01
Name: 2530, dtype: object
0           2531 1959
1             2531 07
2    2531 26 00:00:00

Name: 2531, dtype: object
0           2532 1953
1             2532 05
2    2532 17 00 00 00
Name: 2532, dtype: object
0    2533 1953
1      2533 09
2      2533 01
Name: 2533, dtype: object
0    2534 1971
1      2534 12
2      2534 09
Name: 2534, dtype: object
0    2535 1966
1      2535 11
2      2535 25
Name: 2535, dtype: object
0      2536 20
1      2536 10
2    2536 1945
Name: 2536, dtype: object
0    2537 1969
1      2537 06
2      2537 14
Name: 2537, dtype: object
0    2538 1977
1      2538 06
2      2538 17
Name: 2538, dtype: object
0      2539 17
1      2539 05
2    2539 1938
Name: 2539, dtype: object
0    2540 1965
1      2540 11
2      2540 11
Name: 2540, dtype: object
0    2541 1967
1      2541 04
2      2541 23
Name: 2541, dtype: object
0    2542 1979
1      2542 02
2      2542 19
Name: 2542, dtype: object
0           2543 1958
1             2543 10
2    2543 26 00:00:00
Name: 2543, dtype: object
0           2544 1988
1             2544 10
2    2544 18 00 00 00
Name: 2544, dtype: object
0    2545 1953
1      2545 07
2      2545 14
Name: 2545, dtype: object
0    2546 1983
1      2546 12
2      2546 18
Name: 2546, dtype: object
0    2547 1954
1      2547 08
2      2547 02
Name: 2547, dtype: object
0    2548 1975
1      2548 07
2      2548 20
Name: 2548, dtype: object
0    2549 2003
1      2549 04
2      2549 10
Name: 2549, dtype: object
0    2550 1961
1      2550 06
2      2550 24
Name: 2550, dtype: object
0    2551 1965
1      2551 05
2      2551 18
Name: 2551, dtype: object
0    2552 1972
1      2552 02
2      2552 21
Name: 2552, dtype: object
0    2553 1971
1      2553 05
2      2553 10
Name: 2553, dtype: object
0    2554 1989
1      2554 08
2      2554 31
Name: 2554, dtype: object
0    2555 1973
1      2555 04
2      2555 09
Name: 2555, dtype: object
0      2556 31
1      2556 01
2    2556 1977
Name: 2556, dtype: object
0    2557 54
1    2557 06
2    2557 21
Name: 2557, dtype: object
0    2558 67
1    2558 02
2    2558 13
Name: 2558, dtype: object
0    2559 1975
1      2559 12
2      2559 03
Name: 2559, dtype: object
0    2560 1963
1      2560 02
2      2560 02
Name: 2560, dtype: object
0    2561 1962
1      2561 09
2      2561 23
Name: 2561, dtype: object
0    2562 60
1    2562 10
2    2562 19
Name: 2562, dtype: object
0    2563 78
1    2563 04
2    2563 06
Name: 2563, dtype: object
0    2564 1967
1      2564 12
2      2564 08
Name: 2564, dtype: object
0    2565 1960
1      2565 10
2      2565 13
Name: 2565, dtype: object
0      2566 14
1      2566 11
2    2566 1959
Name: 2566, dtype: object
0    2567 1974
1      2567 10
2      2567 02
Name: 2567, dtype: object
0    2568 1986
1      2568 01
2      2568 12
Name: 2568, dtype: object
0      2569 18
1      2569 09
2    2569 1978
Name: 2569, dtype: object
0    2570 1964
1      2570 06
2      2570 10
Name: 2570, dtype: object
0           2571 1969
1             2571 12
2    2571 04 00 00 00
Name: 2571, dtype: object
0      2572 10
1      2572 08
2    2572 1960
Name: 2572, dtype: object
0    2573 1972
1      2573 02
2      2573 14
Name: 2573, dtype: object
0    2574 1975
1      2574 06
2      2574 06
Name: 2574, dtype: object
0    2575 1973
1      2575 04
2      2575 06
Name: 2575, dtype: object
0    2576 1982
1      2576 04
2      2576 28
Name: 2576, dtype: object
0    2577 1948
1      2577 02
2      2577 04
Name: 2577, dtype: object
0    2578 1989
1      2578 04
2      2578 05
Name: 2578, dtype: object
0    2579 1970
1      2579 02
2      2579 18
Name: 2579, dtype: object
0    2580 1955
1      2580 02
2      2580 05
Name: 2580, dtype: object
0    2581 1944
1      2581 06
2      2581 23
Name: 2581, dtype: object
0    2582 55
1    2582 03
2    2582 26
Name: 2582, dtype: object
0    2583 1970
1      2583 03
2      2583 28
Name: 2583, dtype: object
0           2584 1967
1             2584 02
2    2584 07 00 00 00
Name: 2584, dtype: object
0    2585 1966
1      2585 04
2      2585 02
Name: 2585, dtype: object
0    2586 1959
1      2586 12
2      2586 05
Name: 2586, dtype: object
0    2587 1986
1      2587 08
2      2587 13
Name: 2587, dtype: object
0    2588 1984
1      2588 04
2      2588 23
Name: 2588, dtype: object
0    2589 1983
1      2589 09
2      2589 14
Name: 2589, dtype: object
0      2590 08
1      2590 03
2    2590 1948
Name: 2590, dtype: object
0    2591 1957
1      2591 06
2      2591 12
Name: 2591, dtype: object
0           2592 1977
1             2592 05
2    2592 18 00 00 00
Name: 2592, dtype: object
0    2593 1965
1      2593 03
2      2593 29
Name: 2593, dtype: object
0    2594 1965
1      2594 11
2      2594 06
Name: 2594, dtype: object
0           2595 1957
1             2595 11
2    2595 10 00 00 00
Name: 2595, dtype: object
0    2596 1967
1      2596 02
2      2596 21
Name: 2596, dtype: object
0    2597 1968
1      2597 12
2      2597 19
Name: 2597, dtype: object
0    2598 1971
1      2598 02
2      2598 15
Name: 2598, dtype: object
0    2599 1985
1      2599 02
2      2599 28
Name: 2599, dtype: object
0    2600 1970
1      2600 06
2      2600 15
Name: 2600, dtype: object
0    2601 1963
1      2601 01
2      2601 26
Name: 2601, dtype: object
0    2602 1959
1      2602 09
2      2602 09
Name: 2602, dtype: object
0    2603 1978
1      2603 10
2      2603 19
Name: 2603, dtype: object
0    2604 1967
1      2604 12
2      2604 01
Name: 2604, dtype: object
0    2605 1968
1      2605 10
2      2605 16
Name: 2605, dtype: object
0      2606 19
1      2606 04
2    2606 1974
Name: 2606, dtype: object
0    2607 1956
1      2607 12
2      2607 02
Name: 2607, dtype: object
0           2608 1958
1             2608 08
2    2608 07 00:00:00
Name: 2608, dtype: object
0    2609 1971
1      2609 12
2      2609 10
Name: 2609, dtype: object
0    2610 1954
1      2610 12
2      2610 31
Name: 2610, dtype: object
0    2611 1974
1      2611 06
2      2611 05
Name: 2611, dtype: object
0    2612 1975
1      2612 06
2      2612 06
Name: 2612, dtype: object
0    2613 1972
1      2613 11
2      2613 18
Name: 2613, dtype: object
0    2614 1980
1      2614 01
2      2614 10
Name: 2614, dtype: object
0           2615 1958
1             2615 07
2    2615 11 00 00 00
Name: 2615, dtype: object
0    2616 00
1    2616 01
2    2616 01
Name: 2616, dtype: object
0    2617 1980
1      2617 04
2      2617 05
Name: 2617, dtype: object
0    2618 1973
1      2618 12
2      2618 30
Name: 2618, dtype: object
0    2619 1963
1      2619 11
2      2619 24
Name: 2619, dtype: object
0    2620 1965
1      2620 11
2      2620 10
Name: 2620, dtype: object
0    2621 1967
1      2621 05
2      2621 11
Name: 2621, dtype: object
0    2622 1969
1      2622 03
2      2622 26
Name: 2622, dtype: object
0    2623 1952
1      2623 06
2      2623 24
Name: 2623, dtype: object
0           2624 1955
1             2624 05
2    2624 28 00 00 00
Name: 2624, dtype: object
0    2625 1966
1      2625 09
2      2625 08
Name: 2625, dtype: object
0    2626 1947
1      2626 08
2      2626 25
Name: 2626, dtype: object
0    2627 1953
1      2627 06
2      2627 08
Name: 2627, dtype: object
0    2628 1973
1      2628 11
2      2628 07
Name: 2628, dtype: object
0    2629 76
1    2629 04
2    2629 18
Name: 2629, dtype: object
0    2630 1996
1      2630 10
2      2630 08
Name: 2630, dtype: object
0    2631 1988
1      2631 04
2      2631 21
Name: 2631, dtype: object
0    2632 65
1    2632 03
2    2632 26
Name: 2632, dtype: object
0    2633 1973
1      2633 02
2      2633 26
Name: 2633, dtype: object
0    2634 1955
1      2634 11
2      2634 26
Name: 2634, dtype: object
0    2635 1970
1      2635 08
2      2635 28
Name: 2635, dtype: object
0    2636 1978
1      2636 12
2      2636 09
Name: 2636, dtype: object
0    2637 1972
1      2637 01
2      2637 03
Name: 2637, dtype: object
0    2638 1958
1      2638 10
2      2638 28
Name: 2638, dtype: object
0           2639 1959
1             2639 03
2    2639 09 00 00 00
Name: 2639, dtype: object
0    2640 1973
1      2640 07
2      2640 16
Name: 2640, dtype: object
0           2641 1985
1             2641 07
2    2641 04 00:00:00
Name: 2641, dtype: object
0    2642 1980
1      2642 08
2      2642 09
Name: 2642, dtype: object
0    2643 1906
1      2643 05
2      2643 26
Name: 2643, dtype: object
0      2644 17
1      2644 05
2    2644 1971
Name: 2644, dtype: object
0    2645 1969
1      2645 11
2      2645 14
Name: 2645, dtype: object
0      2646 13
1      2646 09
2    2646 1966
Name: 2646, dtype: object
0      2647 26
1      2647 07
2    2647 1976
Name: 2647, dtype: object

0           2648 1922
1             2648 10
2    2648 07 00 00 00
Name: 2648, dtype: object
0    2649 1968
1      2649 03
2      2649 10
Name: 2649, dtype: object
0    2650 1983
1      2650 08
2      2650 11
Name: 2650, dtype: object
0    2651 1977
1      2651 04
2      2651 15
Name: 2651, dtype: object
0    2652 1962
1      2652 01
2      2652 23
Name: 2652, dtype: object
0    2653 1962
1      2653 07
2      2653 02
Name: 2653, dtype: object
0    2654 1983
1      2654 05
2      2654 31
Name: 2654, dtype: object
0    2655 1961
1      2655 06
2      2655 19
Name: 2655, dtype: object
0    2656 1965
1      2656 03
2      2656 29
Name: 2656, dtype: object
0    2657 1975
1      2657 07
2      2657 06
Name: 2657, dtype: object
0    2658 1956
1      2658 05
2      2658 31
Name: 2658, dtype: object
0    2659 1968
1      2659 06
2      2659 08
Name: 2659, dtype: object
0    2660 1980
1      2660 07
2      2660 19
Name: 2660, dtype: object
0    2661 1971
1      2661 11
2      2661 09
Name: 2661, dtype: object
0    2662 1972
1      2662 07
2      2662 28
Name: 2662, dtype: object
0    2663 1969
1      2663 11
2      2663 13
Name: 2663, dtype: object
0    2664 1942
1      2664 04
2      2664 19
Name: 2664, dtype: object
0    2665 1969
1      2665 11
2      2665 22
Name: 2665, dtype: object
0    2666 1965
1      2666 01
2      2666 21
Name: 2666, dtype: object
0    2667 1959
1      2667 11
2      2667 18
Name: 2667, dtype: object
0    2668 1962
1      2668 03
2      2668 06
Name: 2668, dtype: object
0    2669 1965
1      2669 03
2      2669 28
Name: 2669, dtype: object
0    2670 1957
1      2670 05
2      2670 25
Name: 2670, dtype: object
0    2671 1994
1      2671 02
2      2671 19
Name: 2671, dtype: object
0    2672 1961
1      2672 05
2      2672 16
Name: 2672, dtype: object
0    2673 1961
1      2673 07
2      2673 12
Name: 2673, dtype: object
0    2674 1969
1      2674 11
2      2674 06
Name: 2674, dtype: object
0           2675 1959
1             2675 01
2    2675 07 00:00:00
Name: 2675, dtype: object
0    2676 1953
1      2676 09
2      2676 10
Name: 2676, dtype: object
0    2677 1971
1      2677 10
2      2677 17
Name: 2677, dtype: object
0    2678 1965
1      2678 11
2      2678 26
Name: 2678, dtype: object
0    2679 1975
1      2679 05
2      2679 14
Name: 2679, dtype: object
0    2680 1971
1      2680 05
2      2680 29
Name: 2680, dtype: object
0    2681 1962
1      2681 03
2      2681 18
Name: 2681, dtype: object
0    2682 55
1    2682 04
2    2682 22
Name: 2682, dtype: object
0    2683 64
1    2683 06
2    2683 02
Name: 2683, dtype: object
0           2684 1964
1             2684 06
2    2684 08 00 00 00
Name: 2684, dtype: object
0    2685 1947
1      2685 11
2      2685 29
Name: 2685, dtype: object
0    2686 1953
1      2686 09
2      2686 18
Name: 2686, dtype: object
0    2687 1984
1      2687 06
2      2687 11
Name: 2687, dtype: object
0    2688 1957
1      2688 01
2      2688 10
Name: 2688, dtype: object
0           2689 1964
1             2689 10
2    2689 22 00:00:00
Name: 2689, dtype: object
0    2690 1971
1      2690 02
2      2690 20
Name: 2690, dtype: object
0           2691 1981
1             2691 05
2    2691 05 00:00:00
Name: 2691, dtype: object
0    2692 1967
1      2692 09
2      2692 18
Name: 2692, dtype: object
0    2693 1989
1      2693 07
2      2693 08
Name: 2693, dtype: object
0    2694 1946
1      2694 10
2      2694 16
Name: 2694, dtype: object
0      2695 19
1      2695 10
2    2695 1950
Name: 2695, dtype: object
0    2696 1995
1      2696 02
2      2696 02
Name: 2696, dtype: object
0    2697 1965
1      2697 06
2      2697 03
Name: 2697, dtype: object
0    2698 1977
1      2698 07
2      2698 12
Name: 2698, dtype: object
0    2699 1973
1      2699 10
2      2699 16
Name: 2699, dtype: object
0           2700 1970
1             2700 04
2    2700 22 00:00:00
Name: 2700, dtype: object
0    2701 1933
1      2701 08
2      2701 27
Name: 2701, dtype: object
0    2702 1977
1      2702 12
2      2702 20
Name: 2702, dtype: object
0    2703 1969
1      2703 03
2      2703 22
Name: 2703, dtype: object
0    2704 1970
1      2704 09
2      2704 13
Name: 2704, dtype: object
0    2705 1950
1      2705 02
2      2705 19
Name: 2705, dtype: object
0           2706 1958
1             2706 11
2    2706 13 00 00 00
Name: 2706, dtype: object
0    2707 1954
1      2707 06
2      2707 11
Name: 2707, dtype: object
0    2708 1972
1      2708 06
2      2708 12
Name: 2708, dtype: object
0    2709 1977
1      2709 01
2      2709 22
Name: 2709, dtype: object
0    2710 1970
1      2710 12
2      2710 22
Name: 2710, dtype: object
0    2711 1961
1      2711 04
2      2711 01
Name: 2711, dtype: object
0           2712 1962
1             2712 11
2    2712 30 00 00 00
Name: 2712, dtype: object
0    2713 1967
1      2713 10
2      2713 06
Name: 2713, dtype: object
0    2714 68
1    2714 11
2    2714 27
Name: 2714, dtype: object
0    2715 1963
1      2715 05
2      2715 28
Name: 2715, dtype: object
0    2716 1960
1      2716 03
2      2716 17
Name: 2716, dtype: object
0      2717 19
1      2717 01
2    2717 1956
Name: 2717, dtype: object
0    2718 1960
1      2718 03
2      2718 17
Name: 2718, dtype: object
0    2719 64
1    2719 11
2    2719 23
Name: 2719, dtype: object
0    2720 1947
1      2720 11
2      2720 09
Name: 2720, dtype: object
0    2721 1958
1      2721 01
2      2721 29
Name: 2721, dtype: object
0    2722 1969
1      2722 04
2      2722 14
Name: 2722, dtype: object
0    2723 54
1    2723 10
2    2723 08
Name: 2723, dtype: object
0           2724 1956
1             2724 07
2    2724 14 00:00:00
Name: 2724, dtype: object
0    2725 1958
1      2725 06
2      2725 03
Name: 2725, dtype: object
0    2726 1961
1      2726 01
2      2726 24
Name: 2726, dtype: object
0    2727 1950
1      2727 09
2      2727 05
Name: 2727, dtype: object
0    2728 1956
1      2728 01
2      2728 05
Name: 2728, dtype: object
0    2729 1985
1      2729 06
2      2729 10
Name: 2729, dtype: object
0    2730 1966
1      2730 09
2      2730 02
Name: 2730, dtype: object
0    2731 1973
1      2731 10
2      2731 07
Name: 2731, dtype: object
0    2732 1989
1      2732 05
2      2732 13
Name: 2732, dtype: object
0    2733 1974
1      2733 05
2      2733 27
Name: 2733, dtype: object
0    2734 1967
1      2734 08
2      2734 26
Name: 2734, dtype: object
0    2735 1959
1      2735 09
2      2735 05
Name: 2735, dtype: object
0    2736 1970
1      2736 10
2      2736 30
Name: 2736, dtype: object
0    2737 1979
1      2737 08
2      2737 26
Name: 2737, dtype: object
0    2738 1968
1      2738 06
2      2738 29
Name: 2738, dtype: object
0    2739 1970
1      2739 03
2      2739 14
Name: 2739, dtype: object
0    2740 1964
1      2740 04
2      2740 03
Name: 2740, dtype: object
0    2741 1966
1      2741 11
2      2741 15
Name: 2741, dtype: object
0    2742 1971
1      2742 12
2      2742 02
Name: 2742, dtype: object
0           2743 1962
1             2743 09
2    2743 11 00 00 00
Name: 2743, dtype: object
0    2744 1957
1      2744 10
2      2744 10
Name: 2744, dtype: object
0    2745 1985
1      2745 04
2      2745 03
Name: 2745, dtype: object
0    2746 1972
1      2746 10
2      2746 11
Name: 2746, dtype: object
0    2747 1964
1      2747 10
2      2747 11
Name: 2747, dtype: object
0           2748 1949
1             2748 03
2    2748 01 00 00 00
Name: 2748, dtype: object
0    2749 1958
1      2749 03
2      2749 13
Name: 2749, dtype: object
0           2750 1954
1             2750 10
2    2750 12 00:00:00
Name: 2750, dtype: object
0    2751 1957
1      2751 10
2      2751 05
Name: 2751, dtype: object
0      2752 20
1      2752 08
2    2752 1959
Name: 2752, dtype: object
0    2753 1983
1      2753 06
2      2753 08
Name: 2753, dtype: object
0    2754 1951
1      2754 06
2      2754 22
Name: 2754, dtype: object
0    2755 65
1    2755 10
2    2755 05
Name: 2755, dtype: object
0    2756 1975
1      2756 06
2      2756 17
Name: 2756, dtype: object
0    2757 85
1    2757 05
2    2757 25
Name: 2757, dtype: object
0      2758 12
1      2758 09
2    2758 1966
Name: 2758, dtype: object
0    2759 1972
1      2759 09
2      2759 05
Name: 2759, dtype: object
0      2760 13
1      2760 03
2    2760 1955
Name: 2760, dtype: object
0    2761 1958
1      2761 06
2      2761 16
Name: 2761, dtype: object
0    2762 1969
1      2762 12
2      2762 06
Name: 2762, dtype: object
0    2763 1951
1      2763 06
2      2763 01
Name: 2763, dtype: object
0           2764 1968
1             2764 04
2    2764 11 00 00 00
Name: 2764, dtype: object
0    2765 91
1    2765 12
2    2765 15
Name: 2765, dtype: object
0    2766 1969
1      2766 10
2      2766 03
Name: 2766, dtype: object
0      2767 05
1      2767 06
2    2767 1957
Name: 2767, dtype: object

0    2768 1974
1      2768 09
2      2768 15
Name: 2768, dtype: object
0    2769 1967
1      2769 01
2      2769 08
Name: 2769, dtype: object
0    2770 1949
1      2770 05
2      2770 01
Name: 2770, dtype: object
0    2771 1977
1      2771 08
2      2771 23
Name: 2771, dtype: object
0    2772 1957
1      2772 07
2      2772 30
Name: 2772, dtype: object
0    2773 1971
1      2773 04
2      2773 13
Name: 2773, dtype: object
0    2774 1964
1      2774 01
2      2774 05
Name: 2774, dtype: object
0    2775 1956
1      2775 11
2      2775 27
Name: 2775, dtype: object
0           2776 1968
1             2776 12
2    2776 05 00:00:00
Name: 2776, dtype: object
0    2777 1955
1      2777 10
2      2777 15
Name: 2777, dtype: object
0           2778 1960
1             2778 03
2    2778 31 00 00 00
Name: 2778, dtype: object
0    2779 1960
1      2779 11
2      2779 09
Name: 2779, dtype: object
0    2780 1973
1      2780 12
2      2780 30
Name: 2780, dtype: object
0    2781 1959
1      2781 02
2      2781 07
Name: 2781, dtype: object
0    2782 1965
1      2782 11
2      2782 23
Name: 2782, dtype: object
0           2783 1981
1             2783 01
2    2783 30 00:00:00
Name: 2783, dtype: object
0    2784 1973
1      2784 10
2      2784 09
Name: 2784, dtype: object
0    2785 1971
1      2785 11
2      2785 25
Name: 2785, dtype: object
0    2786 1977
1      2786 09
2      2786 12
Name: 2786, dtype: object
0           2787 1961
1             2787 10
2    2787 16 00 00 00
Name: 2787, dtype: object
0    2788 1965
1      2788 03
2      2788 27
Name: 2788, dtype: object
0    2789 1988
1      2789 09
2      2789 08
Name: 2789, dtype: object
0    2790 1951
1      2790 03
2      2790 25
Name: 2790, dtype: object
0    2791 1974
1      2791 12
2      2791 24
Name: 2791, dtype: object
0    2792 1959
1      2792 12
2      2792 13
Name: 2792, dtype: object
0    2793 1962
1      2793 01
2      2793 12
Name: 2793, dtype: object
0           2794 1961
1             2794 01
2    2794 22 00 00 00
Name: 2794, dtype: object
0    2795 1973
1      2795 11
2      2795 22
Name: 2795, dtype: object
0    2796 1972
1      2796 08
2      2796 13
Name: 2796, dtype: object
0    2797 1972
1      2797 08
2      2797 20
Name: 2797, dtype: object
0           2798 1970
1             2798 07
2    2798 28 00 00 00
Name: 2798, dtype: object
0    2799 1968
1      2799 07
2      2799 25
Name: 2799, dtype: object
0           2800 1967
1             2800 01
2    2800 17 00:00:00
Name: 2800, dtype: object
0    2801 1985
1      2801 10
2      2801 05
Name: 2801, dtype: object
0    2802 1971
1      2802 02
2      2802 02
Name: 2802, dtype: object
0      2803 17
1      2803 10
2    2803 1991
Name: 2803, dtype: object
0    2804 1968
1      2804 12
2      2804 26
Name: 2804, dtype: object
0    2805 1995
1      2805 07
2      2805 08
Name: 2805, dtype: object
0    2806 1960
1      2806 10
2      2806 22
Name: 2806, dtype: object
0    2807 1950
1      2807 04
2      2807 18
Name: 2807, dtype: object
0    2808 1964
1      2808 01
2      2808 31
Name: 2808, dtype: object
0    2809 1976
1      2809 05
2      2809 13
Name: 2809, dtype: object
0    2810 1976
1      2810 09
2      2810 07
Name: 2810, dtype: object
0    2811 1955
1      2811 01
2      2811 19
Name: 2811, dtype: object
0    2812 1958
1      2812 02
2      2812 21
Name: 2812, dtype: object
0           2813 1970
1             2813 08
2    2813 06 00:00:00
Name: 2813, dtype: object
0    2814 1958
1      2814 10
2      2814 12
Name: 2814, dtype: object
0    2815 1962
1      2815 06
2      2815 11
Name: 2815, dtype: object
0           2816 1967
1             2816 09
2    2816 08 00 00 00
Name: 2816, dtype: object
0      2817 04
1      2817 11
2    2817 1940
Name: 2817, dtype: object
0    2818 2010
1      2818 02
2      2818 21
Name: 2818, dtype: object
0    2819 1972
1      2819 11
2      2819 01
Name: 2819, dtype: object
0    2820 1955
1      2820 10
2      2820 01
Name: 2820, dtype: object
0      2821 28
1      2821 08
2    2821 1959
Name: 2821, dtype: object
0    2822 1968
1      2822 05
2      2822 06
Name: 2822, dtype: object
0    2823 1971
1      2823 02
2      2823 06
Name: 2823, dtype: object
0    2824 1941
1      2824 04
2      2824 13
Name: 2824, dtype: object
0    2825 1961
1      2825 05
2      2825 26
Name: 2825, dtype: object
0    2826 1968
1      2826 07
2      2826 04
Name: 2826, dtype: object
0    2827 1977
1      2827 11
2      2827 08
Name: 2827, dtype: object
0    2828 1968
1      2828 05
2      2828 08
Name: 2828, dtype: object
0           2829 1960
1             2829 05
2    2829 28 00 00 00
Name: 2829, dtype: object
0    2830 1956
1      2830 07
2      2830 23
Name: 2830, dtype: object
0    2831 1975
1      2831 01
2      2831 22
Name: 2831, dtype: object
0    2832 1991
1      2832 06
2      2832 09
Name: 2832, dtype: object
0      2833 04
1      2833 02
2    2833 1969
Name: 2833, dtype: object
0    2834 1954
1      2834 06
2      2834 15
Name: 2834, dtype: object
0    2835 1959
1      2835 04
2      2835 18
Name: 2835, dtype: object
0    2836 1968
1      2836 01
2      2836 17
Name: 2836, dtype: object
0    2837 1956
1      2837 06
2      2837 22
Name: 2837, dtype: object
0    2838 1966
1      2838 05
2      2838 15
Name: 2838, dtype: object
0    2839 1981
1      2839 12
2      2839 09
Name: 2839, dtype: object
0    2840 1961
1      2840 02
2      2840 11
Name: 2840, dtype: object
0    2841 1969
1      2841 06
2      2841 25
Name: 2841, dtype: object
0    2842 1972
1      2842 08
2      2842 06
Name: 2842, dtype: object
0    2843 1961
1      2843 08
2      2843 03
Name: 2843, dtype: object
0           2844 1971
1             2844 01
2    2844 27 00:00:00
Name: 2844, dtype: object
0    2845 81
1    2845 07
2    2845 19
Name: 2845, dtype: object
0    2846 1985
1      2846 04
2      2846 01
Name: 2846, dtype: object
0    2847 1976
1      2847 07
2      2847 14
Name: 2847, dtype: object
0      2848 11
1      2848 02
2    2848 1979
Name: 2848, dtype: object
0    2849 1969
1      2849 12
2      2849 14
Name: 2849, dtype: object
0    2850 1990
1      2850 02
2      2850 06
Name: 2850, dtype: object
0    2851 1951
1      2851 12
2      2851 17
Name: 2851, dtype: object
0    2852 1956
1      2852 07
2      2852 09
Name: 2852, dtype: object
0           2853 1952
1             2853 06
2    2853 17 00:00:00
Name: 2853, dtype: object
0    2854 1958
1      2854 02
2      2854 08
Name: 2854, dtype: object
0    2855 1982
1      2855 09
2      2855 08
Name: 2855, dtype: object
0    2856 42
1    2856 03
2    2856 29
Name: 2856, dtype: object
0    2857 1974
1      2857 12
2      2857 29
Name: 2857, dtype: object
0    2858 1961
1      2858 10
2      2858 20
Name: 2858, dtype: object
0    2859 1963
1      2859 05
2      2859 26
Name: 2859, dtype: object
0    2860 1948
1      2860 11
2      2860 18
Name: 2860, dtype: object
0    2861 1976
1      2861 02
2      2861 22
Name: 2861, dtype: object
0    2862 1967
1      2862 09
2      2862 26
Name: 2862, dtype: object
0    2863 1961
1      2863 02
2      2863 20
Name: 2863, dtype: object
0    2864 1952
1      2864 08
2      2864 13
Name: 2864, dtype: object
0    2865 1989
1      2865 06
2      2865 12
Name: 2865, dtype: object
0    2866 1963
1      2866 06
2      2866 19
Name: 2866, dtype: object
0    2867 1976
1      2867 01
2      2867 24
Name: 2867, dtype: object
0    2868 1969
1      2868 11
2      2868 26
Name: 2868, dtype: object
0    2869 1963
1      2869 04
2      2869 28
Name: 2869, dtype: object
0    2870 1970
1      2870 10
2      2870 13
Name: 2870, dtype: object
0    2871 1946
1      2871 03
2      2871 14
Name: 2871, dtype: object
0    2872 93
1    2872 03
2    2872 04
Name: 2872, dtype: object
0    2873 1974
1      2873 01
2      2873 22
Name: 2873, dtype: object
0    2874 1962
1      2874 11
2      2874 17
Name: 2874, dtype: object
0      2875 18
1      2875 08
2    2875 1956
Name: 2875, dtype: object
0    2876 1961
1      2876 07
2      2876 05
Name: 2876, dtype: object
0    2877 1968
1      2877 05
2      2877 15
Name: 2877, dtype: object
0    2878 1977
1      2878 11
2      2878 22
Name: 2878, dtype: object
0    2879 1966
1      2879 05
2      2879 21
Name: 2879, dtype: object
0    2880 1954
1      2880 05
2      2880 03
Name: 2880, dtype: object
0    2881 1962
1      2881 08
2      2881 06
Name: 2881, dtype: object
0    2882 1970
1      2882 01
2      2882 12
Name: 2882, dtype: object
0    2883 1983
1      2883 12
2      2883 26
Name: 2883, dtype: object
0      2884 14
1      2884 11
2    2884 1967
Name: 2884, dtype: object
0    2885 1954
1      2885 10
2      2885 06
Name: 2885, dtype: object
0    2886 1965
1      2886 05
2      2886 04
Name: 2886, dtype: object
0    2887 1988
1      2887 02
2      2887 20
Name: 2887, dtype: object
0    2888 1949
1      2888 06
2      2888 26
Name: 2888, dtype: object
0    2889 2001
1      2889 10
2      2889 04
Name: 2889, dtype: object
0    2890 1937
1      2890 10
2      2890 31
Name: 2890, dtype: object
0    2891 1961
1      2891 03
2      2891 31
Name: 2891, dtype: object
0    2892 1959
1      2892 01
2      2892 14
Name: 2892, dtype: object
0           2893 1972
1             2893 11
2    2893 03 00 00 00
Name: 2893, dtype: object
0    2894 1965
1      2894 05
2      2894 19

Name: 2894, dtype: object
0    2895 1957
1      2895 11
2      2895 20
Name: 2895, dtype: object
0    2896 1976
1      2896 09
2      2896 09
Name: 2896, dtype: object
0    2897 1961
1      2897 05
2      2897 02
Name: 2897, dtype: object
0           2898 1958
1             2898 03
2    2898 15 00:00:00
Name: 2898, dtype: object
0    2899 1980
1      2899 07
2      2899 15
Name: 2899, dtype: object
0           2900 1972
1             2900 12
2    2900 17 00:00:00
Name: 2900, dtype: object
0    2901 1950
1      2901 10
2      2901 21
Name: 2901, dtype: object
0    2902 1980
1      2902 04
2      2902 12
Name: 2902, dtype: object
0    2903 1979
1      2903 06
2      2903 22
Name: 2903, dtype: object
0    2904 1964
1      2904 08
2      2904 15
Name: 2904, dtype: object
0           2905 1972
1             2905 02
2    2905 11 00:00:00
Name: 2905, dtype: object
0    2906 1963
1      2906 09
2      2906 18
Name: 2906, dtype: object
0    2907 1971
1      2907 05
2      2907 07
Name: 2907, dtype: object
0    2908 1969
1      2908 08
2      2908 18
Name: 2908, dtype: object
0    2909 1966
1      2909 08
2      2909 20
Name: 2909, dtype: object
0           2910 1956
1             2910 08
2    2910 31 00 00 00
Name: 2910, dtype: object
0    2911 1970
1      2911 03
2      2911 26
Name: 2911, dtype: object
0      2912 21
1      2912 07
2    2912 1960
Name: 2912, dtype: object
0    2913 1976
1      2913 11
2      2913 20
Name: 2913, dtype: object
0    2914 1959
1      2914 05
2      2914 16
Name: 2914, dtype: object
0           2915 1987
1             2915 03
2    2915 25 00:00:00
Name: 2915, dtype: object
0           2916 1961
1             2916 08
2    2916 25 00:00:00
Name: 2916, dtype: object
0    2917 1965
1      2917 09
2      2917 14
Name: 2917, dtype: object
0    2918 1950
1      2918 12
2      2918 04
Name: 2918, dtype: object
0      2919 12
1      2919 03
2    2919 1974
Name: 2919, dtype: object
0    2920 1979
1      2920 05
2      2920 23
Name: 2920, dtype: object
0    2921 1951
1      2921 06
2      2921 12
Name: 2921, dtype: object
0    2922 85
1    2922 12
2    2922 29
Name: 2922, dtype: object
0    2923 1974
1      2923 02
2      2923 10
Name: 2923, dtype: object
0    2924 1972
1      2924 01
2      2924 02
Name: 2924, dtype: object
0    2925 1966
1      2925 12
2      2925 01
Name: 2925, dtype: object
0    2926 1953
1      2926 10
2      2926 01
Name: 2926, dtype: object
0    2927 1958
1      2927 01
2      2927 15
Name: 2927, dtype: object
0      2928 13
1      2928 01
2    2928 1968
Name: 2928, dtype: object
0    2929 1968
1      2929 10
2      2929 25
Name: 2929, dtype: object
0           2930 1975
1             2930 11
2    2930 01 00 00 00
Name: 2930, dtype: object
0    2931 1938
1      2931 08
2      2931 01
Name: 2931, dtype: object
0    2932 1991
1      2932 06
2      2932 25
Name: 2932, dtype: object
0           2933 1961
1             2933 07
2    2933 23 00:00:00
Name: 2933, dtype: object
0    2934 1962
1      2934 05
2      2934 31
Name: 2934, dtype: object
0    2935 1954
1      2935 07
2      2935 05
Name: 2935, dtype: object
0    2936 1961
1      2936 07
2      2936 17
Name: 2936, dtype: object
0    2937 1950
1      2937 04
2      2937 25
Name: 2937, dtype: object
0    2938 65
1    2938 03
2    2938 14
Name: 2938, dtype: object
0           2939 1959
1             2939 01
2    2939 01 00 00 00
Name: 2939, dtype: object
0    2940 1986
1      2940 08
2      2940 28
Name: 2940, dtype: object
0    2941 1968
1      2941 11
2      2941 24
Name: 2941, dtype: object
0           2942 1945
1             2942 06
2    2942 13 00:00:00
Name: 2942, dtype: object
0           2943 1981
1             2943 09
2    2943 29 00 00 00
Name: 2943, dtype: object
0           2944 1967
1             2944 12
2    2944 30 00:00:00
Name: 2944, dtype: object
0           2945 1962
1             2945 01
2    2945 25 00 00 00
Name: 2945, dtype: object
0    2946 1974
1      2946 10
2      2946 30
Name: 2946, dtype: object
0    2947 1961
1      2947 08
2      2947 17
Name: 2947, dtype: object
0    2948 1953
1      2948 10
2      2948 17
Name: 2948, dtype: object
0    2949 1953
1      2949 05
2      2949 02
Name: 2949, dtype: object
0    2950 1967
1      2950 12
2      2950 12
Name: 2950, dtype: object
0    2951 1963
1      2951 07
2      2951 06
Name: 2951, dtype: object
0    2952 1961
1      2952 01
2      2952 12
Name: 2952, dtype: object
0      2953 16
1      2953 12
2    2953 1969
Name: 2953, dtype: object
0    2954 1979
1      2954 11
2      2954 15
Name: 2954, dtype: object
0    2955 1955
1      2955 06
2      2955 29
Name: 2955, dtype: object
0      2956 22
1      2956 05
2    2956 2001
Name: 2956, dtype: object
0    2957 1976
1      2957 05
2      2957 26
Name: 2957, dtype: object
0           2958 1979
1             2958 02
2    2958 20 00 00 00
Name: 2958, dtype: object
0    2959 1965
1      2959 11
2      2959 16
Name: 2959, dtype: object
0    2960 58
1    2960 06
2    2960 01
Name: 2960, dtype: object
0    2961 1970
1      2961 09
2      2961 05
Name: 2961, dtype: object
0    2962 1963
1      2962 06
2      2962 21
Name: 2962, dtype: object
0           2963 1956
1             2963 08
2    2963 11 00 00 00
Name: 2963, dtype: object
0    2964 1980
1      2964 11
2      2964 10
Name: 2964, dtype: object
0    2965 1979
1      2965 08
2      2965 14
Name: 2965, dtype: object
0    2966 1969
1      2966 07
2      2966 08
Name: 2966, dtype: object
0    2967 69
1    2967 07
2    2967 17
Name: 2967, dtype: object
0    2968 78
1    2968 02
2    2968 03
Name: 2968, dtype: object
0    2969 1963
1      2969 07
2      2969 05
Name: 2969, dtype: object
0    2970 1963
1      2970 01
2      2970 12
Name: 2970, dtype: object
0    2971 1968
1      2971 11
2      2971 05
Name: 2971, dtype: object
0    2972 1968
1      2972 12
2      2972 24
Name: 2972, dtype: object
0    2973 1968
1      2973 08
2      2973 12
Name: 2973, dtype: object
0    2974 1967
1      2974 08
2      2974 08
Name: 2974, dtype: object
0    2975 1943
1      2975 01
2      2975 05
Name: 2975, dtype: object
0    2976 1951
1      2976 09
2      2976 25
Name: 2976, dtype: object
0    2977 1933
1      2977 01
2      2977 01
Name: 2977, dtype: object
0    2978 1984
1      2978 10
2      2978 27
Name: 2978, dtype: object
0    2979 1970
1      2979 06
2      2979 22
Name: 2979, dtype: object
0           2980 1965
1             2980 08
2    2980 07 00:00:00
Name: 2980, dtype: object
0    2981 1959
1      2981 09
2      2981 11
Name: 2981, dtype: object
0    2982 1971
1      2982 03
2      2982 19
Name: 2982, dtype: object
0    2983 1981
1      2983 08
2      2983 03
Name: 2983, dtype: object
0    2984 1949
1      2984 10
2      2984 01
Name: 2984, dtype: object
0    2985 1972
1      2985 07
2      2985 25
Name: 2985, dtype: object
0    2986 1967
1      2986 07
2      2986 16
Name: 2986, dtype: object
0           2987 1978
1             2987 04
2    2987 09 00:00:00
Name: 2987, dtype: object
0    2988 1980
1      2988 03
2      2988 03
Name: 2988, dtype: object
0    2989 1976
1      2989 11
2      2989 08
Name: 2989, dtype: object
0      2990 27
1      2990 08
2    2990 1977
Name: 2990, dtype: object
0    2991 1952
1      2991 08
2      2991 14
Name: 2991, dtype: object
0    2992 1981
1      2992 09
2      2992 11
Name: 2992, dtype: object
0    2993 1958
1      2993 04
2      2993 09
Name: 2993, dtype: object
0    2994 1970
1      2994 06
2      2994 08
Name: 2994, dtype: object
0    2995 1968
1      2995 11
2      2995 25
Name: 2995, dtype: object
0    2996 1959
1      2996 12
2      2996 13
Name: 2996, dtype: object
0    2997 1967
1      2997 01
2      2997 26
Name: 2997, dtype: object
0    2998 1954
1      2998 02
2      2998 04
Name: 2998, dtype: object
0    2999 1962
1      2999 10
2      2999 24
Name: 2999, dtype: object
0    3000 1971
1      3000 09
2      3000 14
Name: 3000, dtype: object
0    3001 1968
1      3001 01
2      3001 06
Name: 3001, dtype: object
0    3002 1956
1      3002 04
2      3002 25
Name: 3002, dtype: object
0    3003 1982
1      3003 01
2      3003 28
Name: 3003, dtype: object
0    3004 1964
1      3004 07
2      3004 02
Name: 3004, dtype: object
0    3005 1947
1      3005 10
2      3005 11
Name: 3005, dtype: object
0    3006 1983
1      3006 10
2      3006 09
Name: 3006, dtype: object
0    3007 1958
1      3007 10
2      3007 27
Name: 3007, dtype: object
0    3008 1966
1      3008 05
2      3008 16
Name: 3008, dtype: object
0    3009 1987
1      3009 04
2      3009 06
Name: 3009, dtype: object
0      3010 16
1      3010 10
2    3010 1973
Name: 3010, dtype: object

0    3011 1971
1      3011 02
2      3011 17
Name: 3011, dtype: object
0    3012 73
1    3012 04
2    3012 30
Name: 3012, dtype: object
0           3013 1981
1             3013 10
2    3013 25 00:00:00
Name: 3013, dtype: object
0      3014 03
1      3014 04
2    3014 1980
Name: 3014, dtype: object
0    3015 1941
1      3015 03
2      3015 04
Name: 3015, dtype: object
0    3016 1970
1      3016 05
2      3016 30
Name: 3016, dtype: object
0    3017 1961
1      3017 11
2      3017 12
Name: 3017, dtype: object
0      3018 26
1      3018 01
2    3018 1982
Name: 3018, dtype: object
0    3019 1951
1      3019 01
2      3019 29
Name: 3019, dtype: object
0           3020 1965
1             3020 01
2    3020 17 00 00 00
Name: 3020, dtype: object
0    3021 2000
1      3021 02
2      3021 26
Name: 3021, dtype: object
0    3022 1954
1      3022 08
2      3022 22
Name: 3022, dtype: object
0    3023 1961
1      3023 04
2      3023 20
Name: 3023, dtype: object
0    3024 1962
1      3024 05
2      3024 22
Name: 3024, dtype: object
0    3025 70
1    3025 10
2    3025 30
Name: 3025, dtype: object
0           3026 1972
1             3026 07
2    3026 30 00 00 00
Name: 3026, dtype: object
0    3027 1974
1      3027 04
2      3027 21
Name: 3027, dtype: object
0    3028 1951
1      3028 03
2      3028 24
Name: 3028, dtype: object
0    3029 73
1    3029 11
2    3029 26
Name: 3029, dtype: object
0    3030 1996
1      3030 03
2      3030 17
Name: 3030, dtype: object
0           3031 1969
1             3031 07
2    3031 30 00:00:00
Name: 3031, dtype: object
0    3032 1975
1      3032 06
2      3032 28
Name: 3032, dtype: object
0    3033 1974
1      3033 09
2      3033 10
Name: 3033, dtype: object
0    3034 1970
1      3034 05
2      3034 07
Name: 3034, dtype: object
0    3035 1957
1      3035 12
2      3035 09
Name: 3035, dtype: object
0           3036 1955
1             3036 08
2    3036 22 00 00 00
Name: 3036, dtype: object
0    3037 1959
1      3037 05
2      3037 19
Name: 3037, dtype: object
0      3038 07
1      3038 04
2    3038 1960
Name: 3038, dtype: object
0    3039 1964
1      3039 10
2      3039 20
Name: 3039, dtype: object
0           3040 1963
1             3040 12
2    3040 02 00 00 00
Name: 3040, dtype: object
0    3041 1963
1      3041 11
2      3041 17
Name: 3041, dtype: object
0      3042 23
1      3042 05
2    3042 1973
Name: 3042, dtype: object
0           3043 1961
1             3043 01
2    3043 18 00:00:00
Name: 3043, dtype: object
0    3044 1960
1      3044 07
2      3044 07
Name: 3044, dtype: object
0           3045 1956
1             3045 07
2    3045 09 00:00:00
Name: 3045, dtype: object
0      3046 11
1      3046 02
2    3046 1960
Name: 3046, dtype: object
0    3047 1974
1      3047 11
2      3047 16
Name: 3047, dtype: object
0    3048 1970
1      3048 07
2      3048 10
Name: 3048, dtype: object
0    3049 1972
1      3049 05
2      3049 29
Name: 3049, dtype: object
0           3050 1986
1             3050 11
2    3050 30 00:00:00
Name: 3050, dtype: object
0    3051 1961
1      3051 11
2      3051 14
Name: 3051, dtype: object
0    3052 1965
1      3052 05
2      3052 25
Name: 3052, dtype: object
0    3053 1955
1      3053 09
2      3053 21
Name: 3053, dtype: object
0      3054 20
1      3054 05
2    3054 1944
Name: 3054, dtype: object
0    3055 1954
1      3055 09
2      3055 25
Name: 3055, dtype: object
0    3056 1983
1      3056 05
2      3056 31
Name: 3056, dtype: object
0    3057 1961
1      3057 10
2      3057 08
Name: 3057, dtype: object
0    3058 1977
1      3058 10
2      3058 07
Name: 3058, dtype: object
0    3059 1959
1      3059 02
2      3059 07
Name: 3059, dtype: object
0    3060 1963
1      3060 04
2      3060 23
Name: 3060, dtype: object
0    3061 1963
1      3061 10
2      3061 16
Name: 3061, dtype: object
0    3062 1963
1      3062 06
2      3062 18
Name: 3062, dtype: object
0    3063 1972
1      3063 09
2      3063 03
Name: 3063, dtype: object
0           3064 1982
1             3064 12
2    3064 19 00 00 00
Name: 3064, dtype: object
0    3065 2000
1      3065 04
2      3065 30
Name: 3065, dtype: object
0    3066 1993
1      3066 02
2      3066 24
Name: 3066, dtype: object
0    3067 1960
1      3067 02
2      3067 23
Name: 3067, dtype: object
0    3068 1964
1      3068 05
2      3068 31
Name: 3068, dtype: object
0    3069 1971
1      3069 12
2      3069 09
Name: 3069, dtype: object
0    3070 1980
1      3070 01
2      3070 28
Name: 3070, dtype: object
0      3071 23
1      3071 03
2    3071 1952
Name: 3071, dtype: object
0    3072 1969
1      3072 12
2      3072 21
Name: 3072, dtype: object
0    3073 1965
1      3073 02
2      3073 15
Name: 3073, dtype: object
0    3074 1973
1      3074 09
2      3074 17
Name: 3074, dtype: object
0    3075 1961
1      3075 01
2      3075 11
Name: 3075, dtype: object
0    3076 1977
1      3076 06
2      3076 12
Name: 3076, dtype: object
0    3077 1968
1      3077 11
2      3077 18
Name: 3077, dtype: object
0      3078 20
1      3078 11
2    3078 1968
Name: 3078, dtype: object
0    3079 1967
1      3079 03
2      3079 22
Name: 3079, dtype: object
0      3080 14
1      3080 08
2    3080 1970
Name: 3080, dtype: object
0           3081 1956
1             3081 02
2    3081 15 00:00:00
Name: 3081, dtype: object
0    3082 1954
1      3082 06
2      3082 18
Name: 3082, dtype: object
0    3083 1962
1      3083 09
2      3083 26
Name: 3083, dtype: object
0    3084 1975
1      3084 05
2      3084 10
Name: 3084, dtype: object
0    3085 1974
1      3085 03
2      3085 22
Name: 3085, dtype: object
0    3086 1969
1      3086 12
2      3086 22
Name: 3086, dtype: object
0    3087 1957
1      3087 01
2      3087 30
Name: 3087, dtype: object
0    3088 1963
1      3088 05
2      3088 01
Name: 3088, dtype: object
0    3089 1955
1      3089 03
2      3089 12
Name: 3089, dtype: object
0    3090 1975
1      3090 03
2      3090 28
Name: 3090, dtype: object
0    3091 1968
1      3091 06
2      3091 21
Name: 3091, dtype: object
0           3092 1973
1             3092 05
2    3092 27 00 00 00
Name: 3092, dtype: object
0    3093 1965
1      3093 06
2      3093 14
Name: 3093, dtype: object
0    3094 1976
1      3094 03
2      3094 26
Name: 3094, dtype: object
0    3095 1950
1      3095 08
2      3095 31
Name: 3095, dtype: object
0    3096 74
1    3096 02
2    3096 19
Name: 3096, dtype: object
0           3097 1965
1             3097 01
2    3097 27 00 00 00
Name: 3097, dtype: object
0           3098 1963
1             3098 10
2    3098 27 00 00 00
Name: 3098, dtype: object
0    3099 1959
1      3099 11
2      3099 17
Name: 3099, dtype: object
0    3100 1980
1      3100 06
2      3100 01
Name: 3100, dtype: object
0    3101 1966
1      3101 10
2      3101 19
Name: 3101, dtype: object
0    3102 1960
1      3102 04
2      3102 02
Name: 3102, dtype: object
0    3103 1975
1      3103 09
2      3103 02
Name: 3103, dtype: object
0    3104 1995
1      3104 07
2      3104 01
Name: 3104, dtype: object
0    3105 1967
1      3105 05
2      3105 07
Name: 3105, dtype: object
0    3106 1979
1      3106 11
2      3106 09
Name: 3106, dtype: object
0    3107 1976
1      3107 07
2      3107 09
Name: 3107, dtype: object
0    3108 1978
1      3108 11
2      3108 15
Name: 3108, dtype: object
0           3109 1961
1             3109 03
2    3109 12 00 00 00
Name: 3109, dtype: object
0           3110 1966
1             3110 03
2    3110 29 00 00 00
Name: 3110, dtype: object
0           3111 1974
1             3111 06
2    3111 05 00:00:00
Name: 3111, dtype: object
0    3112 1969
1      3112 02
2      3112 03
Name: 3112, dtype: object
0    3113 1954
1      3113 03
2      3113 23
Name: 3113, dtype: object
0    3114 1980
1      3114 02
2      3114 14
Name: 3114, dtype: object
0      3115 07
1      3115 03
2    3115 1989
Name: 3115, dtype: object
0    3116 1986
1      3116 10
2      3116 10
Name: 3116, dtype: object
0           3117 1979
1             3117 10
2    3117 31 00:00:00
Name: 3117, dtype: object
0    3118 1966
1      3118 08
2      3118 22
Name: 3118, dtype: object
0    3119 1963
1      3119 08
2      3119 07
Name: 3119, dtype: object
0           3120 1947
1             3120 05
2    3120 20 00 00 00
Name: 3120, dtype: object
0    3121 1966
1      3121 05
2      3121 01
Name: 3121, dtype: object
0    3122 1988
1      3122 08
2      3122 13
Name: 3122, dtype: object
0    3123 1966
1      3123 11
2      3123 30
Name: 3123, dtype: object
0    3124 1983
1      3124 04
2      3124 20
Name: 3124, dtype: object
0    3125 63
1    3125 10
2    3125 18
Name: 3125, dtype: object
0    3126 1982
1      3126 03
2      3126 03
Name: 3126, dtype: object
0    3127 1955
1      3127 07
2      3127 18
Name: 3127, dtype: object
0    3128 1966
1      3128 12
2      3128 23

Name: 3128, dtype: object
0    3129 1958
1      3129 11
2      3129 29
Name: 3129, dtype: object
0    3130 1971
1      3130 07
2      3130 11
Name: 3130, dtype: object
0    3131 1964
1      3131 01
2      3131 27
Name: 3131, dtype: object
0    3132 1990
1      3132 03
2      3132 11
Name: 3132, dtype: object
0    3133 1962
1      3133 03
2      3133 02
Name: 3133, dtype: object
0    3134 1985
1      3134 07
2      3134 26
Name: 3134, dtype: object
0    3135 1969
1      3135 04
2      3135 20
Name: 3135, dtype: object
0           3136 1978
1             3136 06
2    3136 18 00 00 00
Name: 3136, dtype: object
0           3137 1978
1             3137 09
2    3137 16 00:00:00
Name: 3137, dtype: object
0    3138 1968
1      3138 04
2      3138 27
Name: 3138, dtype: object
0    3139 1968
1      3139 03
2      3139 16
Name: 3139, dtype: object
0    3140 1980
1      3140 03
2      3140 23
Name: 3140, dtype: object
0           3141 1966
1             3141 03
2    3141 11 00:00:00
Name: 3141, dtype: object
0    3142 1975
1      3142 10
2      3142 21
Name: 3142, dtype: object
0    3143 1972
1      3143 07
2      3143 07
Name: 3143, dtype: object
0    3144 1968
1      3144 10
2      3144 01
Name: 3144, dtype: object
0    3145 1962
1      3145 03
2      3145 23
Name: 3145, dtype: object
0    3146 1967
1      3146 01
2      3146 25
Name: 3146, dtype: object
0    3147 1966
1      3147 11
2      3147 09
Name: 3147, dtype: object
0    3148 81
1    3148 05
2    3148 29
Name: 3148, dtype: object
0    3149 1972
1      3149 03
2      3149 22
Name: 3149, dtype: object
0      3150 16
1      3150 08
2    3150 1959
Name: 3150, dtype: object
0    3151 1957
1      3151 09
2      3151 09
Name: 3151, dtype: object
0      3152 28
1      3152 12
2    3152 1944
Name: 3152, dtype: object
0    3153 1971
1      3153 01
2      3153 01
Name: 3153, dtype: object
0           3154 1973
1             3154 03
2    3154 26 00 00 00
Name: 3154, dtype: object
0           3155 1958
1             3155 12
2    3155 29 00 00 00
Name: 3155, dtype: object
0    3156 1975
1      3156 02
2      3156 04
Name: 3156, dtype: object
0    3157 1972
1      3157 03
2      3157 09
Name: 3157, dtype: object
0    3158 1958
1      3158 02
2      3158 24
Name: 3158, dtype: object
0    3159 1960
1      3159 06
2      3159 02
Name: 3159, dtype: object
0    3160 1968
1      3160 10
2      3160 22
Name: 3160, dtype: object
0           3161 1960
1             3161 11
2    3161 08 00:00:00
Name: 3161, dtype: object
0    3162 1950
1      3162 12
2      3162 13
Name: 3162, dtype: object
0    3163 1956
1      3163 01
2      3163 14
Name: 3163, dtype: object
0    3164 1950
1      3164 10
2      3164 07
Name: 3164, dtype: object
0           3165 1950
1             3165 01
2    3165 03 00:00:00
Name: 3165, dtype: object
0    3166 1985
1      3166 07
2      3166 24
Name: 3166, dtype: object
0    3167 59
1    3167 11
2    3167 10
Name: 3167, dtype: object
0    3168 1951
1      3168 11
2      3168 20
Name: 3168, dtype: object
0           3169 1953
1             3169 02
2    3169 09 00:00:00
Name: 3169, dtype: object
0    3170 1961
1      3170 12
2      3170 03
Name: 3170, dtype: object
0    3171 1973
1      3171 07
2      3171 01
Name: 3171, dtype: object
0    3172 1959
1      3172 12
2      3172 30
Name: 3172, dtype: object
0    3173 1954
1      3173 08
2      3173 16
Name: 3173, dtype: object
0    3174 1992
1      3174 04
2      3174 04
Name: 3174, dtype: object
0    3175 1960
1      3175 12
2      3175 26
Name: 3175, dtype: object
0    3176 1955
1      3176 11
2      3176 10
Name: 3176, dtype: object
0    3177 1974
1      3177 05
2      3177 15
Name: 3177, dtype: object
0           3178 1953
1             3178 07
2    3178 10 00:00:00
Name: 3178, dtype: object
0    3179 1973
1      3179 09
2      3179 08
Name: 3179, dtype: object
0           3180 1969
1             3180 08
2    3180 01 00:00:00
Name: 3180, dtype: object
0           3181 1968
1             3181 04
2    3181 14 00:00:00
Name: 3181, dtype: object
0           3182 1960
1             3182 09
2    3182 22 00 00 00
Name: 3182, dtype: object
0    3183 1966
1      3183 10
2      3183 25
Name: 3183, dtype: object
0    3184 1950
1      3184 03
2      3184 16
Name: 3184, dtype: object
0    3185 1971
1      3185 07
2      3185 29
Name: 3185, dtype: object
0    3186 1954
1      3186 12
2      3186 23
Name: 3186, dtype: object
0      3187 18
1      3187 10
2    3187 1951
Name: 3187, dtype: object
0    3188 1969
1      3188 03
2      3188 18
Name: 3188, dtype: object
0    3189 1972
1      3189 11
2      3189 19
Name: 3189, dtype: object
0    3190 1936
1      3190 01
2      3190 19
Name: 3190, dtype: object
0      3191 18
1      3191 04
2    3191 1953
Name: 3191, dtype: object
0    3192 1980
1      3192 03
2      3192 06
Name: 3192, dtype: object
0    3193 1977
1      3193 09
2      3193 14
Name: 3193, dtype: object
0    3194 1984
1      3194 04
2      3194 15
Name: 3194, dtype: object
0    3195 1996
1      3195 10
2      3195 19
Name: 3195, dtype: object
0    3196 1962
1      3196 03
2      3196 27
Name: 3196, dtype: object
0      3197 23
1      3197 01
2    3197 1985
Name: 3197, dtype: object
0    3198 1950
1      3198 05
2      3198 17
Name: 3198, dtype: object
0    3199 85
1    3199 07
2    3199 03
Name: 3199, dtype: object
0    3200 1963
1      3200 08
2      3200 14
Name: 3200, dtype: object
0           3201 1974
1             3201 04
2    3201 13 00:00:00
Name: 3201, dtype: object
0    3202 1971
1      3202 09
2      3202 26
Name: 3202, dtype: object
0    3203 1962
1      3203 11
2      3203 01
Name: 3203, dtype: object
0      3204 22
1      3204 09
2    3204 1959
Name: 3204, dtype: object
0    3205 1953
1      3205 02
2      3205 18
Name: 3205, dtype: object
0    3206 1979
1      3206 11
2      3206 09
Name: 3206, dtype: object
0    3207 1955
1      3207 06
2      3207 10
Name: 3207, dtype: object
0    3208 1981
1      3208 10
2      3208 15
Name: 3208, dtype: object
0    3209 1956
1      3209 01
2      3209 27
Name: 3209, dtype: object
0    3210 1963
1      3210 08
2      3210 03
Name: 3210, dtype: object
0    3211 1977
1      3211 12
2      3211 11
Name: 3211, dtype: object
0    3212 1961
1      3212 05
2      3212 08
Name: 3212, dtype: object
0    3213 73
1    3213 11
2    3213 20
Name: 3213, dtype: object
0    3214 1962
1      3214 02
2      3214 06
Name: 3214, dtype: object
0    3215 1969
1      3215 09
2      3215 21
Name: 3215, dtype: object
0    3216 1948
1      3216 09
2      3216 15
Name: 3216, dtype: object
0    3217 1983
1      3217 10
2      3217 25
Name: 3217, dtype: object
0    3218 1981
1      3218 09
2      3218 30
Name: 3218, dtype: object
0      3219 12
1      3219 11
2    3219 1980
Name: 3219, dtype: object
0    3220 1971
1      3220 09
2      3220 18
Name: 3220, dtype: object
0           3221 1967
1             3221 07
2    3221 31 00:00:00
Name: 3221, dtype: object
0    3222 1962
1      3222 02
2      3222 01
Name: 3222, dtype: object
0    3223 1974
1      3223 05
2      3223 16
Name: 3223, dtype: object
0    3224 1958
1      3224 07
2      3224 15
Name: 3224, dtype: object
0    3225 1961
1      3225 08
2      3225 22
Name: 3225, dtype: object
0    3226 1947
1      3226 11
2      3226 21
Name: 3226, dtype: object
0    3227 1950
1      3227 06
2      3227 04
Name: 3227, dtype: object
0           3228 1970
1             3228 12
2    3228 10 00:00:00
Name: 3228, dtype: object
0    3229 1953
1      3229 01
2      3229 11
Name: 3229, dtype: object
0      3230 27
1      3230 12
2    3230 1950
Name: 3230, dtype: object
0    3231 1948
1      3231 03
2      3231 05
Name: 3231, dtype: object
0    3232 88
1    3232 11
2    3232 08
Name: 3232, dtype: object
0    3233 1951
1      3233 03
2      3233 13
Name: 3233, dtype: object
0    3234 1947
1      3234 01
2      3234 16
Name: 3234, dtype: object
0    3235 58
1    3235 01
2    3235 11
Name: 3235, dtype: object
0    3236 1955
1      3236 12
2      3236 26
Name: 3236, dtype: object
0           3237 1944
1             3237 04
2    3237 17 00 00 00
Name: 3237, dtype: object
0    3238 1963
1      3238 01
2      3238 08
Name: 3238, dtype: object
0           3239 1982
1             3239 01
2    3239 29 00:00:00
Name: 3239, dtype: object

0      3240 17
1      3240 01
2    3240 1970
Name: 3240, dtype: object
0    3241 1995
1      3241 12
2      3241 14
Name: 3241, dtype: object
0    3242 54
1    3242 06
2    3242 20
Name: 3242, dtype: object
0    3243 1991
1      3243 06
2      3243 29
Name: 3243, dtype: object
0           3244 1969
1             3244 02
2    3244 07 00:00:00
Name: 3244, dtype: object
0    3245 1971
1      3245 11
2      3245 26
Name: 3245, dtype: object
0    3246 1987
1      3246 12
2      3246 02
Name: 3246, dtype: object
0    3247 1992
1      3247 02
2      3247 03
Name: 3247, dtype: object
0    3248 1967
1      3248 03
2      3248 26
Name: 3248, dtype: object
0    3249 1974
1      3249 07
2      3249 23
Name: 3249, dtype: object
0    3250 1966
1      3250 02
2      3250 11
Name: 3250, dtype: object
0    3251 1963
1      3251 06
2      3251 16
Name: 3251, dtype: object
0    3252 1955
1      3252 10
2      3252 23
Name: 3252, dtype: object
0    3253 1972
1      3253 04
2      3253 01
Name: 3253, dtype: object
0    3254 1979
1      3254 09
2      3254 15
Name: 3254, dtype: object
0    3255 1972
1      3255 09
2      3255 08
Name: 3255, dtype: object
0      3256 13
1      3256 02
2    3256 1972
Name: 3256, dtype: object
0    3257 1976
1      3257 05
2      3257 05
Name: 3257, dtype: object
0           3258 1969
1             3258 04
2    3258 30 00 00 00
Name: 3258, dtype: object
0    3259 1957
1      3259 02
2      3259 09
Name: 3259, dtype: object
0    3260 1966
1      3260 08
2      3260 10
Name: 3260, dtype: object
0    3261 1945
1      3261 12
2      3261 21
Name: 3261, dtype: object
0    3262 1955
1      3262 10
2      3262 23
Name: 3262, dtype: object
0    3263 1978
1      3263 02
2      3263 17
Name: 3263, dtype: object
0    3264 1967
1      3264 09
2      3264 26
Name: 3264, dtype: object
0    3265 1953
1      3265 09
2      3265 24
Name: 3265, dtype: object
0    3266 1958
1      3266 03
2      3266 18
Name: 3266, dtype: object
0    3267 1958
1      3267 09
2      3267 07
Name: 3267, dtype: object
0    3268 58
1    3268 07
2    3268 21
Name: 3268, dtype: object
0    3269 1967
1      3269 08
2      3269 03
Name: 3269, dtype: object
0    3270 1958
1      3270 12
2      3270 09
Name: 3270, dtype: object
0           3271 1959
1             3271 08
2    3271 30 00:00:00
Name: 3271, dtype: object
0    3272 1966
1      3272 10
2      3272 03
Name: 3272, dtype: object
0    3273 1962
1      3273 12
2      3273 30
Name: 3273, dtype: object
0    3274 1977
1      3274 12
2      3274 27
Name: 3274, dtype: object
0           3275 1973
1             3275 12
2    3275 09 00:00:00
Name: 3275, dtype: object
0           3276 1959
1             3276 11
2    3276 07 00:00:00
Name: 3276, dtype: object
0    3277 1998
1      3277 08
2      3277 09
Name: 3277, dtype: object
0    3278 1966
1      3278 11
2      3278 05
Name: 3278, dtype: object
0    3279 1966
1      3279 11
2      3279 29
Name: 3279, dtype: object
0    3280 1998
1      3280 10
2      3280 30
Name: 3280, dtype: object
0           3281 1967
1             3281 02
2    3281 11 00:00:00
Name: 3281, dtype: object
0    3282 1969
1      3282 05
2      3282 10
Name: 3282, dtype: object
0      3283 06
1      3283 12
2    3283 1982
Name: 3283, dtype: object
0    3284 81
1    3284 04
2    3284 02
Name: 3284, dtype: object
0    3285 73
1    3285 06
2    3285 04
Name: 3285, dtype: object
0           3286 1962
1             3286 09
2    3286 13 00 00 00
Name: 3286, dtype: object
0    3287 1977
1      3287 02
2      3287 01
Name: 3287, dtype: object
0    3288 1941
1      3288 06
2      3288 23
Name: 3288, dtype: object
0    3289 1975
1      3289 05
2      3289 11
Name: 3289, dtype: object
0    3290 1953
1      3290 05
2      3290 03
Name: 3290, dtype: object
0    3291 49
1    3291 06
2    3291 07
Name: 3291, dtype: object
0    3292 1963
1      3292 08
2      3292 14
Name: 3292, dtype: object
0           3293 1968
1             3293 03
2    3293 07 00 00 00
Name: 3293, dtype: object
0    3294 1966
1      3294 07
2      3294 19
Name: 3294, dtype: object
0    3295 1957
1      3295 10
2      3295 08
Name: 3295, dtype: object
0    3296 1979
1      3296 03
2      3296 07
Name: 3296, dtype: object
0    3297 1970
1      3297 04
2      3297 15
Name: 3297, dtype: object
0           3298 1973
1             3298 05
2    3298 29 00 00 00
Name: 3298, dtype: object
0           3299 1981
1             3299 12
2    3299 22 00 00 00
Name: 3299, dtype: object
0           3300 1964
1             3300 01
2    3300 08 00:00:00
Name: 3300, dtype: object
0    3301 1968
1      3301 05
2      3301 06
Name: 3301, dtype: object
0    3302 1999
1      3302 01
2      3302 19
Name: 3302, dtype: object
0    3303 1944
1      3303 06
2      3303 17
Name: 3303, dtype: object
0    3304 1986
1      3304 05
2      3304 12
Name: 3304, dtype: object
0    3305 1998
1      3305 07
2      3305 23
Name: 3305, dtype: object
0    3306 1967
1      3306 09
2      3306 25
Name: 3306, dtype: object
0    3307 1963
1      3307 05
2      3307 10
Name: 3307, dtype: object
0    3308 1942
1      3308 11
2      3308 13
Name: 3308, dtype: object
0    3309 1972
1      3309 05
2      3309 19
Name: 3309, dtype: object
0    3310 1966
1      3310 06
2      3310 18
Name: 3310, dtype: object
0    3311 1953
1      3311 04
2      3311 23
Name: 3311, dtype: object
0    3312 1962
1      3312 07
2      3312 21
Name: 3312, dtype: object
0           3313 1938
1             3313 03
2    3313 04 00:00:00
Name: 3313, dtype: object
0    3314 1974
1      3314 08
2      3314 04
Name: 3314, dtype: object
0    3315 1955
1      3315 10
2      3315 16
Name: 3315, dtype: object
0    3316 1979
1      3316 09
2      3316 17
Name: 3316, dtype: object
0           3317 1988
1             3317 11
2    3317 06 00:00:00
Name: 3317, dtype: object
0    3318 1975
1      3318 07
2      3318 30
Name: 3318, dtype: object
0    3319 1979
1      3319 01
2      3319 10
Name: 3319, dtype: object
0    3320 1955
1      3320 05
2      3320 26
Name: 3320, dtype: object
0    3321 1973
1      3321 08
2      3321 03
Name: 3321, dtype: object
0    3322 1992
1      3322 04
2      3322 27
Name: 3322, dtype: object
0    3323 1968
1      3323 03
2      3323 12
Name: 3323, dtype: object
0    3324 1971
1      3324 07
2      3324 23
Name: 3324, dtype: object
0    3325 1967
1      3325 07
2      3325 20
Name: 3325, dtype: object
0    3326 1955
1      3326 02
2      3326 07
Name: 3326, dtype: object
0    3327 1982
1      3327 09
2      3327 07
Name: 3327, dtype: object
0    3328 1960
1      3328 05
2      3328 30
Name: 3328, dtype: object
0    3329 1957
1      3329 11
2      3329 04
Name: 3329, dtype: object
0    3330 2011
1      3330 12
2      3330 31
Name: 3330, dtype: object
0           3331 1963
1             3331 11
2    3331 09 00 00 00
Name: 3331, dtype: object
0    3332 1972
1      3332 06
2      3332 04
Name: 3332, dtype: object
0           3333 1978
1             3333 08
2    3333 12 00:00:00
Name: 3333, dtype: object
0    3334 1964
1      3334 08
2      3334 27
Name: 3334, dtype: object
0    3335 1959
1      3335 01
2      3335 04
Name: 3335, dtype: object
0      3336 17
1      3336 01
2    3336 1976
Name: 3336, dtype: object
0           3337 1956
1             3337 06
2    3337 04 00 00 00
Name: 3337, dtype: object
0    3338 1962
1      3338 04
2      3338 23
Name: 3338, dtype: object
0           3339 1954
1             3339 11
2    3339 29 00:00:00
Name: 3339, dtype: object
0    3340 1970
1      3340 07
2      3340 23
Name: 3340, dtype: object
0    3341 1971
1      3341 10
2      3341 20
Name: 3341, dtype: object
0      3342 05
1      3342 02
2    3342 1972
Name: 3342, dtype: object
0    3343 1976
1      3343 11
2      3343 13
Name: 3343, dtype: object
0           3344 1968
1             3344 02
2    3344 04 00 00 00
Name: 3344, dtype: object
0    3345 1971
1      3345 09
2      3345 02
Name: 3345, dtype: object
0    3346 71
1    3346 08
2    3346 05
Name: 3346, dtype: object
0    3347 1961
1      3347 02
2      3347 06
Name: 3347, dtype: object
0    3348 1988
1      3348 09
2      3348 10
Name: 3348, dtype: object
0    3349 1972
1      3349 06
2      3349 29
Name: 3349, dtype: object
0    3350 1959
1      3350 11
2      3350 06
Name: 3350, dtype: object
0    3351 1980
1      3351 09
2      3351 27
Name: 3351, dtype: object
0    3352 2007
1      3352 07
2      3352 17
Name: 3352, dtype: object
0      3353 27
1      3353 05
2    3353 1969
Name: 3353, dtype: object
0      3354 01
1      3354 07
2    3354 1954
Name: 3354, dtype: object

0    3355 70
1    3355 09
2    3355 07
Name: 3355, dtype: object
0      3356 21
1      3356 09
2    3356 1959
Name: 3356, dtype: object
0    3357 76
1    3357 04
2    3357 05
Name: 3357, dtype: object
0    3358 62
1    3358 07
2    3358 03
Name: 3358, dtype: object
0      3359 20
1      3359 02
2    3359 1972
Name: 3359, dtype: object
0    3360 1965
1      3360 11
2      3360 19
Name: 3360, dtype: object
0    3361 1967
1      3361 10
2      3361 27
Name: 3361, dtype: object
0    3362 1984
1      3362 05
2      3362 29
Name: 3362, dtype: object
0    3363 1959
1      3363 11
2      3363 12
Name: 3363, dtype: object
0    3364 52
1    3364 08
2    3364 02
Name: 3364, dtype: object
0    3365 1965
1      3365 09
2      3365 24
Name: 3365, dtype: object
0    3366 1978
1      3366 11
2      3366 04
Name: 3366, dtype: object
0    3367 1968
1      3367 12
2      3367 26
Name: 3367, dtype: object
0    3368 1980
1      3368 05
2      3368 06
Name: 3368, dtype: object
0    3369 73
1    3369 02
2    3369 01
Name: 3369, dtype: object
0    3370 1964
1      3370 02
2      3370 21
Name: 3370, dtype: object
0    3371 56
1    3371 03
2    3371 05
Name: 3371, dtype: object
0    3372 1974
1      3372 06
2      3372 15
Name: 3372, dtype: object
0    3373 1952
1      3373 12
2      3373 08
Name: 3373, dtype: object
0    3374 1956
1      3374 11
2      3374 19
Name: 3374, dtype: object
0    3375 1955
1      3375 03
2      3375 06
Name: 3375, dtype: object
0    3376 1978
1      3376 04
2      3376 17
Name: 3376, dtype: object
0    3377 1973
1      3377 05
2      3377 23
Name: 3377, dtype: object
0    3378 1971
1      3378 12
2      3378 03
Name: 3378, dtype: object
0    3379 1975
1      3379 07
2      3379 23
Name: 3379, dtype: object
0    3380 1976
1      3380 02
2      3380 24
Name: 3380, dtype: object
0      3381 14
1      3381 12
2    3381 1967
Name: 3381, dtype: object
0    3382 1966
1      3382 03
2      3382 19
Name: 3382, dtype: object
0    3383 1973
1      3383 02
2      3383 23
Name: 3383, dtype: object
0           3384 1963
1             3384 01
2    3384 15 00:00:00
Name: 3384, dtype: object
0    3385 1962
1      3385 02
2      3385 11
Name: 3385, dtype: object
0    3386 1958
1      3386 12
2      3386 02
Name: 3386, dtype: object
0    3387 1959
1      3387 09
2      3387 18
Name: 3387, dtype: object
0    3388 1964
1      3388 02
2      3388 12
Name: 3388, dtype: object
0    3389 1974
1      3389 11
2      3389 19
Name: 3389, dtype: object
0    3390 1968
1      3390 02
2      3390 01
Name: 3390, dtype: object
0      3391 20
1      3391 01
2    3391 1937
Name: 3391, dtype: object
0           3392 1979
1             3392 06
2    3392 13 00:00:00
Name: 3392, dtype: object
0    3393 1966
1      3393 06
2      3393 02
Name: 3393, dtype: object
0    3394 1970
1      3394 05
2      3394 07
Name: 3394, dtype: object
0    3395 1920
1      3395 07
2      3395 10
Name: 3395, dtype: object
0    3396 69
1    3396 10
2    3396 23
Name: 3396, dtype: object
0           3397 1970
1             3397 07
2    3397 29 00 00 00
Name: 3397, dtype: object
0    3398 1973
1      3398 02
2      3398 04
Name: 3398, dtype: object
0    3399 1966
1      3399 08
2      3399 17
Name: 3399, dtype: object
0    3400 1980
1      3400 11
2      3400 10
Name: 3400, dtype: object
0    3401 1966
1      3401 03
2      3401 06
Name: 3401, dtype: object
0    3402 1971
1      3402 06
2      3402 23
Name: 3402, dtype: object
0    3403 1973
1      3403 12
2      3403 28
Name: 3403, dtype: object
0    3404 87
1    3404 04
2    3404 17
Name: 3404, dtype: object
0    3405 59
1    3405 02
2    3405 25
Name: 3405, dtype: object
0    3406 1973
1      3406 09
2      3406 18
Name: 3406, dtype: object
0           3407 1981
1             3407 05
2    3407 31 00 00 00
Name: 3407, dtype: object
0    3408 1965
1      3408 01
2      3408 08
Name: 3408, dtype: object
0           3409 1969
1             3409 05
2    3409 23 00 00 00
Name: 3409, dtype: object
0    3410 1952
1      3410 03
2      3410 30
Name: 3410, dtype: object
0    3411 1965
1      3411 04
2      3411 09
Name: 3411, dtype: object
0    3412 1988
1      3412 04
2      3412 05
Name: 3412, dtype: object
0    3413 1992
1      3413 10
2      3413 25
Name: 3413, dtype: object
0    3414 1969
1      3414 08
2      3414 19
Name: 3414, dtype: object
0           3415 1970
1             3415 10
2    3415 29 00:00:00
Name: 3415, dtype: object
0      3416 17
1      3416 10
2    3416 1961
Name: 3416, dtype: object
0           3417 1958
1             3417 11
2    3417 23 00 00 00
Name: 3417, dtype: object
0    3418 1963
1      3418 11
2      3418 27
Name: 3418, dtype: object
0    3419 1961
1      3419 01
2      3419 04
Name: 3419, dtype: object
0    3420 1960
1      3420 07
2      3420 22
Name: 3420, dtype: object
0    3421 1970
1      3421 10
2      3421 29
Name: 3421, dtype: object
0    3422 1957
1      3422 11
2      3422 20
Name: 3422, dtype: object
0    3423 1973
1      3423 02
2      3423 27
Name: 3423, dtype: object
0    3424 1969
1      3424 07
2      3424 15
Name: 3424, dtype: object
0    3425 1981
1      3425 04
2      3425 24
Name: 3425, dtype: object
0    3426 1944
1      3426 08
2      3426 13
Name: 3426, dtype: object
0    3427 1972
1      3427 03
2      3427 31
Name: 3427, dtype: object
0      3428 28
1      3428 06
2    3428 1950
Name: 3428, dtype: object
0    3429 1973
1      3429 01
2      3429 17
Name: 3429, dtype: object
0    3430 1944
1      3430 05
2      3430 03
Name: 3430, dtype: object
0    3431 1965
1      3431 01
2      3431 18
Name: 3431, dtype: object
0           3432 1976
1             3432 06
2    3432 16 00 00 00
Name: 3432, dtype: object
0    3433 1968
1      3433 10
2      3433 18
Name: 3433, dtype: object
0    3434 1968
1      3434 08
2      3434 11
Name: 3434, dtype: object
0    3435 1955
1      3435 07
2      3435 29
Name: 3435, dtype: object
0    3436 1967
1      3436 12
2      3436 20
Name: 3436, dtype: object
0           3437 1969
1             3437 08
2    3437 18 00 00 00
Name: 3437, dtype: object
0    3438 1978
1      3438 08
2      3438 06
Name: 3438, dtype: object
0           3439 1979
1             3439 12
2    3439 21 00 00 00
Name: 3439, dtype: object
0    3440 1979
1      3440 06
2      3440 12
Name: 3440, dtype: object
0    3441 1998
1      3441 09
2      3441 25
Name: 3441, dtype: object
0    3442 1933
1      3442 09
2      3442 26
Name: 3442, dtype: object
0    3443 1966
1      3443 04
2      3443 11
Name: 3443, dtype: object
0           3444 1988
1             3444 10
2    3444 08 00 00 00
Name: 3444, dtype: object
0    3445 1955
1      3445 06
2      3445 24
Name: 3445, dtype: object
0    3446 1957
1      3446 05
2      3446 22
Name: 3446, dtype: object
0           3447 1969
1             3447 10
2    3447 24 00:00:00
Name: 3447, dtype: object
0      3448 06
1      3448 06
2    3448 1950
Name: 3448, dtype: object
0    3449 1970
1      3449 06
2      3449 09
Name: 3449, dtype: object
0    3450 1956
1      3450 10
2      3450 01
Name: 3450, dtype: object
0    3451 1967
1      3451 04
2      3451 22
Name: 3451, dtype: object
0    3452 1964
1      3452 09
2      3452 08
Name: 3452, dtype: object
0    3453 1962
1      3453 04
2      3453 14
Name: 3453, dtype: object
0    3454 1977
1      3454 09
2      3454 09
Name: 3454, dtype: object
0           3455 1975
1             3455 01
2    3455 20 00 00 00
Name: 3455, dtype: object
0    3456 66
1    3456 01
2    3456 13
Name: 3456, dtype: object
0    3457 1970
1      3457 02
2      3457 03
Name: 3457, dtype: object
0           3458 1967
1             3458 02
2    3458 16 00:00:00
Name: 3458, dtype: object
0    3459 1972
1      3459 11
2      3459 18
Name: 3459, dtype: object
0    3460 1954
1      3460 08
2      3460 27
Name: 3460, dtype: object
0           3461 1974
1             3461 09
2    3461 24 00 00 00
Name: 3461, dtype: object
0    3462 1971
1      3462 09
2      3462 14
Name: 3462, dtype: object
0    3463 1963
1      3463 07
2      3463 19
Name: 3463, dtype: object
0    3464 1985
1      3464 08
2      3464 20
Name: 3464, dtype: object
0    3465 1971
1      3465 04
2      3465 21
Name: 3465, dtype: object
0    3466 1972
1      3466 11
2      3466 19
Name: 3466, dtype: object
0    3467 1950
1      3467 12
2      3467 09
Name: 3467, dtype: object
0    3468 1972
1      3468 04
2      3468 24
Name: 3468, dtype: object
0    3469 1972
1      3469 05
2      3469 10
Name: 3469, dtype: object
0    3470 1965
1      3470 12
2      3470 20
Name: 3470, dtype: object
0    3471 1962
1      3471 02
2      3471 23
Name: 3471, dtype: object
0    3472 1958
1      3472 12
2      3472 23
Name: 3472, dtype: object
0           3473 1958
1             3473 05
2    3473 24 00:00:00
Name: 3473, dtype: object

0           3474 1956
1             3474 11
2    3474 07 00:00:00
Name: 3474, dtype: object
0           3475 1983
1             3475 12
2    3475 01 00:00:00
Name: 3475, dtype: object
0           3476 1968
1             3476 10
2    3476 13 00 00 00
Name: 3476, dtype: object
0    3477 1960
1      3477 05
2      3477 01
Name: 3477, dtype: object
0    3478 1958
1      3478 04
2      3478 16
Name: 3478, dtype: object
0    3479 1961
1      3479 02
2      3479 23
Name: 3479, dtype: object
0    3480 1970
1      3480 05
2      3480 12
Name: 3480, dtype: object
0           3481 1964
1             3481 04
2    3481 30 00:00:00
Name: 3481, dtype: object
0    3482 1946
1      3482 09
2      3482 24
Name: 3482, dtype: object
0      3483 09
1      3483 05
2    3483 1974
Name: 3483, dtype: object
0      3484 19
1      3484 05
2    3484 1983
Name: 3484, dtype: object
0           3485 1979
1             3485 02
2    3485 19 00:00:00
Name: 3485, dtype: object
0    3486 1965
1      3486 06
2      3486 17
Name: 3486, dtype: object
0    3487 1972
1      3487 08
2      3487 25
Name: 3487, dtype: object
0    3488 1955
1      3488 04
2      3488 19
Name: 3488, dtype: object
0    3489 1952
1      3489 04
2      3489 12
Name: 3489, dtype: object
0           3490 1961
1             3490 06
2    3490 16 00 00 00
Name: 3490, dtype: object
0    3491 1969
1      3491 06
2      3491 22
Name: 3491, dtype: object
0    3492 1966
1      3492 10
2      3492 16
Name: 3492, dtype: object
0    3493 1972
1      3493 03
2      3493 27
Name: 3493, dtype: object
0    3494 1973
1      3494 09
2      3494 27
Name: 3494, dtype: object
0    3495 1971
1      3495 12
2      3495 02
Name: 3495, dtype: object
0      3496 06
1      3496 12
2    3496 1957
Name: 3496, dtype: object
0    3497 1978
1      3497 12
2      3497 19
Name: 3497, dtype: object
0    3498 1946
1      3498 10
2      3498 06
Name: 3498, dtype: object
0           3499 1957
1             3499 03
2    3499 07 00 00 00
Name: 3499, dtype: object
0    3500 1969
1      3500 09
2      3500 26
Name: 3500, dtype: object
0    3501 1974
1      3501 11
2      3501 08
Name: 3501, dtype: object
0    3502 1974
1      3502 11
2      3502 02
Name: 3502, dtype: object
0    3503 1962
1      3503 03
2      3503 01
Name: 3503, dtype: object
0    3504 1961
1      3504 10
2      3504 21
Name: 3504, dtype: object
0    3505 1971
1      3505 07
2      3505 10
Name: 3505, dtype: object
0           3506 1969
1             3506 08
2    3506 07 00 00 00
Name: 3506, dtype: object
0    3507 1951
1      3507 01
2      3507 14
Name: 3507, dtype: object
0    3508 1951
1      3508 10
2      3508 29
Name: 3508, dtype: object
0    3509 1970
1      3509 04
2      3509 10
Name: 3509, dtype: object
0    3510 1943
1      3510 03
2      3510 19
Name: 3510, dtype: object
0    3511 1997
1      3511 10
2      3511 15
Name: 3511, dtype: object
0      3512 09
1      3512 10
2    3512 1969
Name: 3512, dtype: object
0    3513 1960
1      3513 05
2      3513 11
Name: 3513, dtype: object
0           3514 1948
1             3514 05
2    3514 05 00 00 00
Name: 3514, dtype: object
0    3515 1972
1      3515 01
2      3515 24
Name: 3515, dtype: object
0    3516 1950
1      3516 05
2      3516 11
Name: 3516, dtype: object
0    3517 1938
1      3517 12
2      3517 01
Name: 3517, dtype: object
0    3518 1994
1      3518 09
2      3518 24
Name: 3518, dtype: object
0    3519 1984
1      3519 11
2      3519 01
Name: 3519, dtype: object
0    3520 51
1    3520 06
2    3520 20
Name: 3520, dtype: object
0    3521 1969
1      3521 01
2      3521 18
Name: 3521, dtype: object
0    3522 1982
1      3522 07
2      3522 07
Name: 3522, dtype: object
0           3523 1969
1             3523 04
2    3523 19 00:00:00
Name: 3523, dtype: object
0    3524 1962
1      3524 09
2      3524 18
Name: 3524, dtype: object
0    3525 1963
1      3525 03
2      3525 27
Name: 3525, dtype: object
0    3526 1970
1      3526 05
2      3526 19
Name: 3526, dtype: object
0    3527 1951
1      3527 07
2      3527 14
Name: 3527, dtype: object
0    3528 1970
1      3528 07
2      3528 13
Name: 3528, dtype: object
0    3529 1975
1      3529 05
2      3529 14
Name: 3529, dtype: object
0           3530 1960
1             3530 09
2    3530 06 00:00:00
Name: 3530, dtype: object
0           3531 1974
1             3531 07
2    3531 25 00:00:00
Name: 3531, dtype: object
0    3532 2004
1      3532 02
2      3532 28
Name: 3532, dtype: object
0    3533 1961
1      3533 02
2      3533 13
Name: 3533, dtype: object
0           3534 1942
1             3534 06
2    3534 01 00 00 00
Name: 3534, dtype: object
0    3535 1974
1      3535 07
2      3535 03
Name: 3535, dtype: object
0    3536 1968
1      3536 08
2      3536 31
Name: 3536, dtype: object
0    3537 1962
1      3537 11
2      3537 21
Name: 3537, dtype: object
0    3538 1974
1      3538 07
2      3538 29
Name: 3538, dtype: object
0    3539 1949
1      3539 03
2      3539 18
Name: 3539, dtype: object
0    3540 1959
1      3540 01
2      3540 11
Name: 3540, dtype: object
0    3541 1957
1      3541 06
2      3541 20
Name: 3541, dtype: object
0    3542 1967
1      3542 12
2      3542 10
Name: 3542, dtype: object
0    3543 1974
1      3543 02
2      3543 09
Name: 3543, dtype: object
0    3544 1956
1      3544 04
2      3544 08
Name: 3544, dtype: object
0    3545 1959
1      3545 12
2      3545 06
Name: 3545, dtype: object
0    3546 1980
1      3546 01
2      3546 12
Name: 3546, dtype: object
0    3547 1968
1      3547 11
2      3547 12
Name: 3547, dtype: object
0    3548 1953
1      3548 04
2      3548 20
Name: 3548, dtype: object
0    3549 1967
1      3549 04
2      3549 30
Name: 3549, dtype: object
0    3550 1983
1      3550 05
2      3550 09
Name: 3550, dtype: object
0    3551 1960
1      3551 11
2      3551 15
Name: 3551, dtype: object
0    3552 1971
1      3552 09
2      3552 14
Name: 3552, dtype: object
0    3553 67
1    3553 01
2    3553 14
Name: 3553, dtype: object
0    3554 1964
1      3554 12
2      3554 03
Name: 3554, dtype: object
0    3555 1956
1      3555 08
2      3555 21
Name: 3555, dtype: object
0    3556 71
1    3556 04
2    3556 01
Name: 3556, dtype: object
0      3557 02
1      3557 06
2    3557 1982
Name: 3557, dtype: object
0    3558 1987
1      3558 11
2      3558 17
Name: 3558, dtype: object
0    3559 1960
1      3559 01
2      3559 08
Name: 3559, dtype: object
0    3560 1988
1      3560 11
2      3560 28
Name: 3560, dtype: object
0    3561 1972
1      3561 10
2      3561 10
Name: 3561, dtype: object
0    3562 1937
1      3562 12
2      3562 17
Name: 3562, dtype: object
0    3563 1973
1      3563 02
2      3563 21
Name: 3563, dtype: object
0    3564 1972
1      3564 01
2      3564 26
Name: 3564, dtype: object
0    3565 1938
1      3565 06
2      3565 06
Name: 3565, dtype: object
0    3566 1949
1      3566 05
2      3566 23
Name: 3566, dtype: object
0    3567 1952
1      3567 05
2      3567 22
Name: 3567, dtype: object
0    3568 1969
1      3568 01
2      3568 10
Name: 3568, dtype: object
0    3569 47
1    3569 11
2    3569 11
Name: 3569, dtype: object
0    3570 1964
1      3570 08
2      3570 16
Name: 3570, dtype: object
0    3571 1963
1      3571 09
2      3571 13
Name: 3571, dtype: object
0    3572 72
1    3572 11
2    3572 20
Name: 3572, dtype: object
0    3573 1969
1      3573 04
2      3573 01
Name: 3573, dtype: object
0    3574 1988
1      3574 10
2      3574 28
Name: 3574, dtype: object
0    3575 1982
1      3575 03
2      3575 20
Name: 3575, dtype: object
0      3576 17
1      3576 12
2    3576 1958
Name: 3576, dtype: object
0           3577 1970
1             3577 12
2    3577 27 00:00:00
Name: 3577, dtype: object
0      3578 23
1      3578 09
2    3578 1959
Name: 3578, dtype: object
0    3579 1956
1      3579 02
2      3579 27
Name: 3579, dtype: object
0    3580 1963
1      3580 05
2      3580 07
Name: 3580, dtype: object
0    3581 49
1    3581 06
2    3581 13
Name: 3581, dtype: object
0    3582 1965
1      3582 01
2      3582 19
Name: 3582, dtype: object
0    3583 1969
1      3583 02
2      3583 16
Name: 3583, dtype: object
0    3584 1966
1      3584 11
2      3584 15
Name: 3584, dtype: object
0    3585 1980
1      3585 05
2      3585 13
Name: 3585, dtype: object
0      3586 30
1      3586 10
2    3586 1973
Name: 3586, dtype: object

0    3587 1954
1      3587 11
2      3587 02
Name: 3587, dtype: object
0    3588 1964
1      3588 06
2      3588 03
Name: 3588, dtype: object
0    3589 1976
1      3589 05
2      3589 31
Name: 3589, dtype: object
0    3590 1951
1      3590 05
2      3590 13
Name: 3590, dtype: object
0    3591 1962
1      3591 02
2      3591 20
Name: 3591, dtype: object
0    3592 1954
1      3592 12
2      3592 15
Name: 3592, dtype: object
0    3593 68
1    3593 09
2    3593 12
Name: 3593, dtype: object
0      3594 27
1      3594 01
2    3594 1979
Name: 3594, dtype: object
0    3595 1971
1      3595 07
2      3595 30
Name: 3595, dtype: object
0    3596 1963
1      3596 08
2      3596 04
Name: 3596, dtype: object
0    3597 1968
1      3597 04
2      3597 26
Name: 3597, dtype: object
0    3598 1968
1      3598 09
2      3598 12
Name: 3598, dtype: object
0    3599 1956
1      3599 07
2      3599 14
Name: 3599, dtype: object
0    3600 1973
1      3600 08
2      3600 20
Name: 3600, dtype: object
0    3601 1975
1      3601 02
2      3601 26
Name: 3601, dtype: object
0    3602 1952
1      3602 10
2      3602 13
Name: 3602, dtype: object
0           3603 1967
1             3603 03
2    3603 12 00:00:00
Name: 3603, dtype: object
0    3604 1970
1      3604 05
2      3604 06
Name: 3604, dtype: object
0    3605 1958
1      3605 03
2      3605 05
Name: 3605, dtype: object
0    3606 1956
1      3606 11
2      3606 30
Name: 3606, dtype: object
0    3607 1969
1      3607 12
2      3607 25
Name: 3607, dtype: object
0    3608 1984
1      3608 07
2      3608 23
Name: 3608, dtype: object
0    3609 1974
1      3609 05
2      3609 13
Name: 3609, dtype: object
0    3610 1973
1      3610 05
2      3610 18
Name: 3610, dtype: object
0    3611 1987
1      3611 04
2      3611 25
Name: 3611, dtype: object
0    3612 1973
1      3612 03
2      3612 20
Name: 3612, dtype: object
0      3613 10
1      3613 03
2    3613 1983
Name: 3613, dtype: object
0    3614 1966
1      3614 03
2      3614 23
Name: 3614, dtype: object
0           3615 1959
1             3615 05
2    3615 15 00 00 00
Name: 3615, dtype: object
0    3616 1979
1      3616 03
2      3616 27
Name: 3616, dtype: object
0           3617 1956
1             3617 11
2    3617 08 00 00 00
Name: 3617, dtype: object
0    3618 1957
1      3618 03
2      3618 13
Name: 3618, dtype: object
0    3619 1966
1      3619 08
2      3619 07
Name: 3619, dtype: object
0      3620 12
1      3620 01
2    3620 1964
Name: 3620, dtype: object
0           3621 1974
1             3621 08
2    3621 24 00:00:00
Name: 3621, dtype: object
0    3622 1979
1      3622 10
2      3622 14
Name: 3622, dtype: object
0    3623 1960
1      3623 04
2      3623 20
Name: 3623, dtype: object
0    3624 1971
1      3624 06
2      3624 22
Name: 3624, dtype: object
0    3625 58
1    3625 11
2    3625 16
Name: 3625, dtype: object
0    3626 1965
1      3626 05
2      3626 10
Name: 3626, dtype: object
0    3627 1984
1      3627 02
2      3627 24
Name: 3627, dtype: object
0      3628 06
1      3628 10
2    3628 1958
Name: 3628, dtype: object
0    3629 1959
1      3629 09
2      3629 16
Name: 3629, dtype: object
0    3630 1991
1      3630 07
2      3630 29
Name: 3630, dtype: object
0    3631 1945
1      3631 03
2      3631 04
Name: 3631, dtype: object
0    3632 1964
1      3632 01
2      3632 20
Name: 3632, dtype: object
0    3633 1965
1      3633 11
2      3633 03
Name: 3633, dtype: object
0           3634 1962
1             3634 01
2    3634 15 00:00:00
Name: 3634, dtype: object
0    3635 66
1    3635 08
2    3635 10
Name: 3635, dtype: object
0    3636 1949
1      3636 01
2      3636 15
Name: 3636, dtype: object
0    3637 1946
1      3637 11
2      3637 27
Name: 3637, dtype: object
0      3638 13
1      3638 04
2    3638 1975
Name: 3638, dtype: object
0    3639 1973
1      3639 11
2      3639 02
Name: 3639, dtype: object
0    3640 1954
1      3640 06
2      3640 15
Name: 3640, dtype: object
0    3641 1986
1      3641 08
2      3641 12
Name: 3641, dtype: object
0           3642 1962
1             3642 03
2    3642 18 00 00 00
Name: 3642, dtype: object
0    3643 1972
1      3643 08
2      3643 28
Name: 3643, dtype: object
0    3644 1964
1      3644 11
2      3644 15
Name: 3644, dtype: object
0    3645 1971
1      3645 08
2      3645 11
Name: 3645, dtype: object
0    3646 1978
1      3646 03
2      3646 12
Name: 3646, dtype: object
0    3647 1968
1      3647 02
2      3647 19
Name: 3647, dtype: object
0    3648 1960
1      3648 02
2      3648 10
Name: 3648, dtype: object
0      3649 19
1      3649 10
2    3649 1980
Name: 3649, dtype: object
0    3650 1976
1      3650 03
2      3650 10
Name: 3650, dtype: object
0           3651 1960
1             3651 01
2    3651 04 00:00:00
Name: 3651, dtype: object
0           3652 1956
1             3652 11
2    3652 21 00:00:00
Name: 3652, dtype: object
0    3653 1973
1      3653 01
2      3653 13
Name: 3653, dtype: object
0    3654 1983
1      3654 05
2      3654 01
Name: 3654, dtype: object
0    3655 1965
1      3655 12
2      3655 26
Name: 3655, dtype: object
0    3656 1977
1      3656 04
2      3656 24
Name: 3656, dtype: object
0    3657 1957
1      3657 11
2      3657 15
Name: 3657, dtype: object
0    3658 1956
1      3658 12
2      3658 10
Name: 3658, dtype: object
0    3659 1981
1      3659 03
2      3659 22
Name: 3659, dtype: object
0    3660 65
1    3660 08
2    3660 13
Name: 3660, dtype: object
0    3661 1967
1      3661 10
2      3661 07
Name: 3661, dtype: object
0    3662 1974
1      3662 09
2      3662 29
Name: 3662, dtype: object
0           3663 1977
1             3663 05
2    3663 04 00 00 00
Name: 3663, dtype: object
0           3664 1962
1             3664 06
2    3664 07 00:00:00
Name: 3664, dtype: object
0    3665 1956
1      3665 01
2      3665 30
Name: 3665, dtype: object
0    3666 1972
1      3666 11
2      3666 26
Name: 3666, dtype: object
0    3667 1955
1      3667 05
2      3667 23
Name: 3667, dtype: object
0    3668 77
1    3668 02
2    3668 23
Name: 3668, dtype: object
0    3669 1959
1      3669 03
2      3669 23
Name: 3669, dtype: object
0    3670 1953
1      3670 02
2      3670 28
Name: 3670, dtype: object
0    3671 1970
1      3671 06
2      3671 22
Name: 3671, dtype: object
0    3672 1965
1      3672 12
2      3672 19
Name: 3672, dtype: object
0    3673 1965
1      3673 12
2      3673 11
Name: 3673, dtype: object
0    3674 1947
1      3674 11
2      3674 11
Name: 3674, dtype: object
0           3675 1976
1             3675 10
2    3675 13 00:00:00
Name: 3675, dtype: object
0    3676 1949
1      3676 12
2      3676 27
Name: 3676, dtype: object
0    3677 1954
1      3677 01
2      3677 03
Name: 3677, dtype: object
0           3678 1980
1             3678 05
2    3678 15 00 00 00
Name: 3678, dtype: object
0    3679 1955
1      3679 08
2      3679 06
Name: 3679, dtype: object
0    3680 1955
1      3680 06
2      3680 20
Name: 3680, dtype: object
0      3681 11
1      3681 12
2    3681 1970
Name: 3681, dtype: object
0    3682 1966
1      3682 01
2      3682 10
Name: 3682, dtype: object
0    3683 1953
1      3683 12
2      3683 24
Name: 3683, dtype: object
0           3684 1976
1             3684 01
2    3684 10 00 00 00
Name: 3684, dtype: object
0           3685 1976
1             3685 08
2    3685 02 00:00:00
Name: 3685, dtype: object
0    3686 1942
1      3686 06
2      3686 23
Name: 3686, dtype: object
0    3687 1973
1      3687 12
2      3687 13
Name: 3687, dtype: object
0    3688 1959
1      3688 08
2      3688 27
Name: 3688, dtype: object
0    3689 1979
1      3689 01
2      3689 01
Name: 3689, dtype: object
0    3690 1968
1      3690 04
2      3690 22
Name: 3690, dtype: object
0    3691 1962
1      3691 08
2      3691 07
Name: 3691, dtype: object
0    3692 1968
1      3692 09
2      3692 14
Name: 3692, dtype: object
0    3693 1959
1      3693 06
2      3693 13
Name: 3693, dtype: object
0    3694 1983
1      3694 10
2      3694 23
Name: 3694, dtype: object
0    3695 64
1    3695 11
2    3695 11
Name: 3695, dtype: object
0    3696 1968
1      3696 07
2      3696 18
Name: 3696, dtype: object
0           3697 1958
1             3697 06
2    3697 03 00:00:00
Name: 3697, dtype: object
0    3698 1993
1      3698 06
2      3698 14
Name: 3698, dtype: object
0    3699 1988
1      3699 12
2      3699 12

Name: 3699, dtype: object
0           3700 1963
1             3700 05
2    3700 21 00:00:00
Name: 3700, dtype: object
0    3701 1962
1      3701 11
2      3701 24
Name: 3701, dtype: object
0    3702 1973
1      3702 07
2      3702 06
Name: 3702, dtype: object
0    3703 1962
1      3703 04
2      3703 08
Name: 3703, dtype: object
0    3704 1972
1      3704 09
2      3704 09
Name: 3704, dtype: object
0    3705 1978
1      3705 01
2      3705 12
Name: 3705, dtype: object
0           3706 1964
1             3706 09
2    3706 16 00:00:00
Name: 3706, dtype: object
0    3707 62
1    3707 07
2    3707 10
Name: 3707, dtype: object
0    3708 1971
1      3708 04
2      3708 15
Name: 3708, dtype: object
0      3709 11
1      3709 12
2    3709 1987
Name: 3709, dtype: object
0    3710 1972
1      3710 11
2      3710 28
Name: 3710, dtype: object
0    3711 1958
1      3711 05
2      3711 31
Name: 3711, dtype: object
0    3712 1954
1      3712 01
2      3712 12
Name: 3712, dtype: object
0    3713 1967
1      3713 11
2      3713 14
Name: 3713, dtype: object
0    3714 1969
1      3714 12
2      3714 28
Name: 3714, dtype: object
0    3715 1961
1      3715 09
2      3715 19
Name: 3715, dtype: object
0           3716 1949
1             3716 01
2    3716 29 00 00 00
Name: 3716, dtype: object
0    3717 1984
1      3717 10
2      3717 16
Name: 3717, dtype: object
0    3718 1965
1      3718 11
2      3718 02
Name: 3718, dtype: object
0    3719 1976
1      3719 10
2      3719 04
Name: 3719, dtype: object
0    3720 1966
1      3720 07
2      3720 22
Name: 3720, dtype: object
0    3721 1980
1      3721 03
2      3721 22
Name: 3721, dtype: object
0      3722 26
1      3722 11
2    3722 1957
Name: 3722, dtype: object
0    3723 1964
1      3723 11
2      3723 02
Name: 3723, dtype: object
0    3724 1980
1      3724 10
2      3724 15
Name: 3724, dtype: object
0    3725 1981
1      3725 07
2      3725 12
Name: 3725, dtype: object
0    3726 74
1    3726 06
2    3726 27
Name: 3726, dtype: object
0           3727 1972
1             3727 09
2    3727 30 00 00 00
Name: 3727, dtype: object
0    3728 1949
1      3728 03
2      3728 05
Name: 3728, dtype: object
0    3729 1947
1      3729 12
2      3729 19
Name: 3729, dtype: object
0           3730 1963
1             3730 09
2    3730 23 00:00:00
Name: 3730, dtype: object
0    3731 1957
1      3731 12
2      3731 15
Name: 3731, dtype: object
0    3732 1951
1      3732 03
2      3732 07
Name: 3732, dtype: object
0    3733 1975
1      3733 11
2      3733 27
Name: 3733, dtype: object
0           3734 1991
1             3734 12
2    3734 10 00 00 00
Name: 3734, dtype: object
0    3735 1951
1      3735 10
2      3735 23
Name: 3735, dtype: object
0      3736 17
1      3736 02
2    3736 1977
Name: 3736, dtype: object
0           3737 1979
1             3737 01
2    3737 26 00 00 00
Name: 3737, dtype: object
0           3738 1939
1             3738 06
2    3738 05 00:00:00
Name: 3738, dtype: object
0           3739 1972
1             3739 07
2    3739 15 00:00:00
Name: 3739, dtype: object
0    3740 1975
1      3740 09
2      3740 14
Name: 3740, dtype: object
0    3741 1967
1      3741 07
2      3741 03
Name: 3741, dtype: object
0    3742 57
1    3742 05
2    3742 07
Name: 3742, dtype: object
0    3743 1968
1      3743 01
2      3743 25
Name: 3743, dtype: object
0    3744 1977
1      3744 09
2      3744 28
Name: 3744, dtype: object
0           3745 1965
1             3745 10
2    3745 29 00 00 00
Name: 3745, dtype: object
0           3746 1992
1             3746 10
2    3746 04 00 00 00
Name: 3746, dtype: object
0    3747 1966
1      3747 10
2      3747 27
Name: 3747, dtype: object
0    3748 1994
1      3748 07
2      3748 07
Name: 3748, dtype: object
0      3749 16
1      3749 05
2    3749 1958
Name: 3749, dtype: object
0    3750 1968
1      3750 04
2      3750 17
Name: 3750, dtype: object
0    3751 1961
1      3751 02
2      3751 17
Name: 3751, dtype: object
0      3752 26
1      3752 06
2    3752 1969
Name: 3752, dtype: object
0    3753 1976
1      3753 09
2      3753 27
Name: 3753, dtype: object
0    3754 1957
1      3754 11
2      3754 16
Name: 3754, dtype: object
0    3755 83
1    3755 09
2    3755 12
Name: 3755, dtype: object
0           3756 1983
1             3756 09
2    3756 18 00 00 00
Name: 3756, dtype: object
0    3757 1958
1      3757 04
2      3757 12
Name: 3757, dtype: object
0    3758 1989
1      3758 02
2      3758 07
Name: 3758, dtype: object
0    3759 1964
1      3759 09
2      3759 19
Name: 3759, dtype: object
0    3760 1967
1      3760 01
2      3760 19
Name: 3760, dtype: object
0    3761 1985
1      3761 11
2      3761 27
Name: 3761, dtype: object
0    3762 1978
1      3762 04
2      3762 07
Name: 3762, dtype: object
0    3763 1973
1      3763 03
2      3763 07
Name: 3763, dtype: object
0    3764 1959
1      3764 02
2      3764 01
Name: 3764, dtype: object
0           3765 1990
1             3765 06
2    3765 15 00:00:00
Name: 3765, dtype: object
0    3766 1974
1      3766 09
2      3766 02
Name: 3766, dtype: object
0    3767 68
1    3767 06
2    3767 26
Name: 3767, dtype: object
0    3768 1964
1      3768 05
2      3768 17
Name: 3768, dtype: object
0    3769 1972
1      3769 09
2      3769 08
Name: 3769, dtype: object
0    3770 1969
1      3770 02
2      3770 07
Name: 3770, dtype: object
0    3771 1976
1      3771 05
2      3771 29
Name: 3771, dtype: object
0           3772 1966
1             3772 10
2    3772 20 00 00 00
Name: 3772, dtype: object
0      3773 06
1      3773 06
2    3773 1968
Name: 3773, dtype: object
0    3774 1972
1      3774 03
2      3774 10
Name: 3774, dtype: object
0    3775 1957
1      3775 02
2      3775 24
Name: 3775, dtype: object
0    3776 1963
1      3776 09
2      3776 02
Name: 3776, dtype: object
0      3777 17
1      3777 12
2    3777 1967
Name: 3777, dtype: object
0    3778 1989
1      3778 03
2      3778 19
Name: 3778, dtype: object
0    3779 42
1    3779 04
2    3779 11
Name: 3779, dtype: object
0    3780 1973
1      3780 08
2      3780 16
Name: 3780, dtype: object
0    3781 1964
1      3781 07
2      3781 19
Name: 3781, dtype: object
0    3782 1961
1      3782 06
2      3782 03
Name: 3782, dtype: object
0    3783 1965
1      3783 01
2      3783 18
Name: 3783, dtype: object
0    3784 1957
1      3784 11
2      3784 09
Name: 3784, dtype: object
0    3785 1976
1      3785 07
2      3785 05
Name: 3785, dtype: object
0    3786 1974
1      3786 04
2      3786 20
Name: 3786, dtype: object
0    3787 1958
1      3787 08
2      3787 23
Name: 3787, dtype: object
0    3788 1939
1      3788 12
2      3788 14
Name: 3788, dtype: object
0    3789 1988
1      3789 09
2      3789 17
Name: 3789, dtype: object
0    3790 1969
1      3790 01
2      3790 13
Name: 3790, dtype: object
0    3791 1976
1      3791 02
2      3791 28
Name: 3791, dtype: object
0    3792 66
1    3792 05
2    3792 07
Name: 3792, dtype: object
0    3793 1968
1      3793 05
2      3793 26
Name: 3793, dtype: object
0    3794 68
1    3794 06
2    3794 05
Name: 3794, dtype: object
0      3795 27
1      3795 08
2    3795 1952
Name: 3795, dtype: object
0    3796 1962
1      3796 06
2      3796 20
Name: 3796, dtype: object
0           3797 1974
1             3797 03
2    3797 26 00 00 00
Name: 3797, dtype: object
0    3798 1957
1      3798 04
2      3798 01
Name: 3798, dtype: object
0    3799 1956
1      3799 04
2      3799 10
Name: 3799, dtype: object
0    3800 1970
1      3800 06
2      3800 18
Name: 3800, dtype: object
0    3801 1961
1      3801 05
2      3801 07
Name: 3801, dtype: object
0    3802 1979
1      3802 09
2      3802 02
Name: 3802, dtype: object
0    3803 1964
1      3803 09
2      3803 16
Name: 3803, dtype: object
0    3804 1959
1      3804 04
2      3804 01
Name: 3804, dtype: object
0           3805 1950
1             3805 07
2    3805 18 00 00 00
Name: 3805, dtype: object
0    3806 1983
1      3806 05
2      3806 29
Name: 3806, dtype: object
0    3807 1978
1      3807 06
2      3807 15
Name: 3807, dtype: object
0           3808 1954
1             3808 07
2    3808 01 00 00 00
Name: 3808, dtype: object
0    3809 1974
1      3809 06
2      3809 04
Name: 3809, dtype: object
0           3810 1963
1             3810 05
2    3810 03 00:00:00
Name: 3810, dtype: object
0    3811 1968
1      3811 03
2      3811 02
Name: 3811, dtype: object
0    3812 1963
1      3812 06
2      3812 12
Name: 3812, dtype: object
0    3813 1980
1      3813 02
2      3813 07
Name: 3813, dtype: object
0      3814 08
1      3814 05
2    3814 1966
Name: 3814, dtype: object

0    3815 1963
1      3815 03
2      3815 10
Name: 3815, dtype: object
0    3816 1974
1      3816 11
2      3816 02
Name: 3816, dtype: object
0    3817 1981
1      3817 12
2      3817 24
Name: 3817, dtype: object
0    3818 1971
1      3818 12
2      3818 16
Name: 3818, dtype: object
0    3819 1956
1      3819 04
2      3819 14
Name: 3819, dtype: object
0           3820 1969
1             3820 04
2    3820 01 00:00:00
Name: 3820, dtype: object
0    3821 1977
1      3821 08
2      3821 30
Name: 3821, dtype: object
0    3822 1974
1      3822 08
2      3822 20
Name: 3822, dtype: object
0    3823 1958
1      3823 12
2      3823 30
Name: 3823, dtype: object
0    3824 1971
1      3824 12
2      3824 04
Name: 3824, dtype: object
0    3825 1960
1      3825 06
2      3825 01
Name: 3825, dtype: object
0           3826 1957
1             3826 06
2    3826 10 00:00:00
Name: 3826, dtype: object
0    3827 1979
1      3827 04
2      3827 01
Name: 3827, dtype: object
0      3828 03
1      3828 04
2    3828 1957
Name: 3828, dtype: object
0    3829 1975
1      3829 11
2      3829 04
Name: 3829, dtype: object
0    3830 1962
1      3830 11
2      3830 27
Name: 3830, dtype: object
0    3831 1951
1      3831 12
2      3831 20
Name: 3831, dtype: object
0    3832 1954
1      3832 05
2      3832 30
Name: 3832, dtype: object
0    3833 1959
1      3833 06
2      3833 06
Name: 3833, dtype: object
0    3834 1959
1      3834 06
2      3834 03
Name: 3834, dtype: object
0           3835 1962
1             3835 05
2    3835 30 00 00 00
Name: 3835, dtype: object
0    3836 1975
1      3836 09
2      3836 27
Name: 3836, dtype: object
0    3837 1962
1      3837 08
2      3837 29
Name: 3837, dtype: object
0    3838 52
1    3838 05
2    3838 26
Name: 3838, dtype: object
0      3839 29
1      3839 07
2    3839 1975
Name: 3839, dtype: object
0    3840 1984
1      3840 02
2      3840 02
Name: 3840, dtype: object
0    3841 1977
1      3841 09
2      3841 07
Name: 3841, dtype: object
0    3842 1956
1      3842 12
2      3842 12
Name: 3842, dtype: object
0    3843 1960
1      3843 10
2      3843 02
Name: 3843, dtype: object
0    3844 1970
1      3844 03
2      3844 08
Name: 3844, dtype: object
0      3845 20
1      3845 08
2    3845 1956
Name: 3845, dtype: object
0      3846 22
1      3846 09
2    3846 1950
Name: 3846, dtype: object
0    3847 1955
1      3847 10
2      3847 04
Name: 3847, dtype: object
0    3848 1966
1      3848 03
2      3848 20
Name: 3848, dtype: object
0    3849 1959
1      3849 08
2      3849 10
Name: 3849, dtype: object
0    3850 1961
1      3850 02
2      3850 04
Name: 3850, dtype: object
0    3851 1948
1      3851 12
2      3851 19
Name: 3851, dtype: object
0    3852 1950
1      3852 03
2      3852 31
Name: 3852, dtype: object
0      3853 05
1      3853 05
2    3853 1959
Name: 3853, dtype: object
0    3854 1961
1      3854 12
2      3854 27
Name: 3854, dtype: object
0    3855 1957
1      3855 08
2      3855 24
Name: 3855, dtype: object
0    3856 1967
1      3856 12
2      3856 23
Name: 3856, dtype: object
0    3857 1960
1      3857 06
2      3857 18
Name: 3857, dtype: object
0           3858 1975
1             3858 09
2    3858 04 00:00:00
Name: 3858, dtype: object
0           3859 1976
1             3859 02
2    3859 05 00 00 00
Name: 3859, dtype: object
0           3860 1982
1             3860 09
2    3860 08 00 00 00
Name: 3860, dtype: object
0    3861 1965
1      3861 08
2      3861 16
Name: 3861, dtype: object
0    3862 1979
1      3862 03
2      3862 31
Name: 3862, dtype: object
0    3863 1966
1      3863 12
2      3863 21
Name: 3863, dtype: object
0    3864 39
1    3864 12
2    3864 01
Name: 3864, dtype: object
0    3865 1974
1      3865 04
2      3865 05
Name: 3865, dtype: object
0    3866 1958
1      3866 06
2      3866 14
Name: 3866, dtype: object
0    3867 1969
1      3867 07
2      3867 28
Name: 3867, dtype: object
0           3868 1965
1             3868 12
2    3868 05 00 00 00
Name: 3868, dtype: object
0    3869 1965
1      3869 03
2      3869 21
Name: 3869, dtype: object
0    3870 1977
1      3870 05
2      3870 03
Name: 3870, dtype: object
0    3871 1968
1      3871 02
2      3871 04
Name: 3871, dtype: object
0    3872 1973
1      3872 03
2      3872 17
Name: 3872, dtype: object
0    3873 65
1    3873 08
2    3873 03
Name: 3873, dtype: object
0    3874 1953
1      3874 05
2      3874 13
Name: 3874, dtype: object
0    3875 1982
1      3875 10
2      3875 11
Name: 3875, dtype: object
0    3876 1959
1      3876 08
2      3876 04
Name: 3876, dtype: object
0    3877 1963
1      3877 09
2      3877 29
Name: 3877, dtype: object
0           3878 1972
1             3878 12
2    3878 08 00 00 00
Name: 3878, dtype: object
0    3879 1966
1      3879 12
2      3879 21
Name: 3879, dtype: object
0    3880 1952
1      3880 06
2      3880 21
Name: 3880, dtype: object
0    3881 1973
1      3881 09
2      3881 08
Name: 3881, dtype: object
0      3882 07
1      3882 11
2    3882 1940
Name: 3882, dtype: object
0    3883 1953
1      3883 10
2      3883 19
Name: 3883, dtype: object
0    3884 1959
1      3884 07
2      3884 23
Name: 3884, dtype: object
0    3885 65
1    3885 12
2    3885 18
Name: 3885, dtype: object
0    3886 1954
1      3886 12
2      3886 29
Name: 3886, dtype: object
0           3887 1956
1             3887 05
2    3887 12 00 00 00
Name: 3887, dtype: object
0    3888 1989
1      3888 10
2      3888 12
Name: 3888, dtype: object
0    3889 53
1    3889 03
2    3889 14
Name: 3889, dtype: object
0    3890 1974
1      3890 08
2      3890 07
Name: 3890, dtype: object
0           3891 1954
1             3891 05
2    3891 05 00 00 00
Name: 3891, dtype: object
0    3892 79
1    3892 11
2    3892 17
Name: 3892, dtype: object
0    3893 1975
1      3893 09
2      3893 20
Name: 3893, dtype: object
0    3894 1986
1      3894 02
2      3894 15
Name: 3894, dtype: object
0    3895 1978
1      3895 07
2      3895 06
Name: 3895, dtype: object
0    3896 1948
1      3896 12
2      3896 08
Name: 3896, dtype: object
0           3897 1961
1             3897 10
2    3897 24 00:00:00
Name: 3897, dtype: object
0    3898 1941
1      3898 05
2      3898 02
Name: 3898, dtype: object
0    3899 1963
1      3899 07
2      3899 29
Name: 3899, dtype: object
0    3900 1968
1      3900 09
2      3900 27
Name: 3900, dtype: object
0    3901 1964
1      3901 10
2      3901 22
Name: 3901, dtype: object
0    3902 1969
1      3902 05
2      3902 16
Name: 3902, dtype: object
0    3903 1955
1      3903 11
2      3903 26
Name: 3903, dtype: object
0      3904 12
1      3904 04
2    3904 1973
Name: 3904, dtype: object
0    3905 1987
1      3905 06
2      3905 10
Name: 3905, dtype: object
0    3906 1959
1      3906 07
2      3906 01
Name: 3906, dtype: object
0      3907 19
1      3907 08
2    3907 1963
Name: 3907, dtype: object
0      3908 17
1      3908 07
2    3908 1965
Name: 3908, dtype: object
0    3909 81
1    3909 10
2    3909 26
Name: 3909, dtype: object
0    3910 1974
1      3910 02
2      3910 04
Name: 3910, dtype: object
0    3911 1957
1      3911 02
2      3911 02
Name: 3911, dtype: object
0    3912 1972
1      3912 06
2      3912 06
Name: 3912, dtype: object
0    3913 1960
1      3913 04
2      3913 16
Name: 3913, dtype: object
0    3914 1959
1      3914 04
2      3914 06
Name: 3914, dtype: object
0    3915 1954
1      3915 11
2      3915 22
Name: 3915, dtype: object
0           3916 1972
1             3916 08
2    3916 14 00 00 00
Name: 3916, dtype: object
0    3917 1951
1      3917 08
2      3917 16
Name: 3917, dtype: object
0           3918 1974
1             3918 04
2    3918 12 00:00:00
Name: 3918, dtype: object
0    3919 1966
1      3919 01
2      3919 14
Name: 3919, dtype: object
0      3920 08
1      3920 08
2    3920 1976
Name: 3920, dtype: object
0    3921 1965
1      3921 12
2      3921 02
Name: 3921, dtype: object
0    3922 1961
1      3922 07
2      3922 26
Name: 3922, dtype: object
0    3923 60
1    3923 06
2    3923 02
Name: 3923, dtype: object
0           3924 1973
1             3924 08
2    3924 06 00 00 00
Name: 3924, dtype: object
0    3925 1984
1      3925 11
2      3925 15
Name: 3925, dtype: object
0      3926 02
1      3926 08
2    3926 1977
Name: 3926, dtype: object

0    3927 1966
1      3927 09
2      3927 01
Name: 3927, dtype: object
0    3928 1968
1      3928 09
2      3928 22
Name: 3928, dtype: object
0    3929 1950
1      3929 11
2      3929 11
Name: 3929, dtype: object
0    3930 1988
1      3930 06
2      3930 19
Name: 3930, dtype: object
0    3931 1959
1      3931 10
2      3931 19
Name: 3931, dtype: object
0    3932 1997
1      3932 09
2      3932 25
Name: 3932, dtype: object

In [1301]:
dataP['date_of_birth']

0       1983-01-16
1       1971-09-03
2       1957-10-02
3       2002-02-27
4       1984-03-23
5       1959-01-07
6       1970-09-12
7       1976-04-18
8       1978-10-31
9       1961-01-05
10      1963-02-19
11      1969-09-24
12      1977-05-23
13      1976-08-20
14      1952-08-28
15      1967-09-13
16      1951-05-01
17      1953-12-07
18      1942-12-09
19      1961-10-20
20      1971-02-17
21      1953-03-02
22      1959-12-23
23      1992-09-24
24      1960-10-11
25      1955-04-30
26      1967-09-25
27      1978-07-21
28      1955-05-15
29      1956-03-16
           ...
3903    1955-11-26
3904    1973-04-12
3905    1987-06-10
3906    1959-07-01
3907    1963-08-19
3908    1965-07-17
3909    1981-10-26
3910    1974-02-04
3911    1957-02-02
3912    1972-06-06
3913    1960-04-16
3914    1959-04-06
3915    1954-11-22
3916    1972-08-14
3917    1951-08-16
3918    1974-04-12
3919    1966-01-14
3920    1976-08-08
3921    1965-12-02
3922    1961-07-26
3923    1960-06-02
3924    1973-08-06
3925    1984-11-15
3926    1977-08-02
3927    1966-09-01
3928    1968-09-22
3929    1950-11-11
3930    1988-06-19
3931    1959-10-19
3932    1997-09-25
Name: date_of_birth, Length: 3933, dtype: object

In [1302]:
replaced = dataP.replace(to_replace = r'[0-9]', value = 'x', regex = True)
replaced['date_of_birth'].unique()

array(['xxxx-xx-xx'], dtype=object)